@import "../builders/basic/index";


$red-app-theme: (
  basic:  tl-palette( $tl-gray, 100, 50, 200),
  primary: tl-palette( $tl-amber, 500, 400, 700),

  success: tl-palette( $tl-green, 600, 500, 700),
  danger: tl-palette( $tl-red, 600, 500, 700),
  warning: tl-palette( $tl-yellow, 600, 500, 700),
  information: tl-palette( $tl-blue, 600, 500, 700),
);

@include truly-basic-builder-theme($red-app-theme, 'amber');
