@import "../builders/basic/index";


$default-app-theme: (
  basic:  tl-palette( $tl-gray, 50, 100, 200),
  primary: tl-palette($tl-teal, 700, 600, 800),

  success: tl-palette($tl-green, 600),
  danger: tl-palette($tl-red),
  warning: tl-palette($tl-yellow),
  information: tl-palette($tl-blue),
);

@include truly-basic-builder-theme($default-app-theme, 'default');
