@import "../builders/basic/index";


$default-app-theme: (
  basic:  tl-palette( $tl-gray, 100, 50, 200),
  primary: tl-palette( $tl-cyan-green, 600, 500, 700),

  success: tl-palette($tl-green, 600, 500, 700),
  danger: tl-palette($tl-red, 600, 500, 700),
  warning: tl-palette($tl-yellow, 600, 500, 700),
  information: tl-palette($tl-blue, 600, 500, 700),
);

@include truly-basic-builder-theme($default-app-theme, 'default');
