<div class="header-title-demo">
  <h1 class="title">Input</h1>
  <p class="text-content">There's a lot of ways to create an input using Truly UI. Below, are some of those.</p>
</div>
<hr>
<div class="showcase">
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Basic</h5>
        <tl-input></tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Icon Before</h5>
        <tl-input
          [iconBefore]="'ion-printer'">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Icon After</h5>
        <tl-input
          [iconAfter]="'ion-printer'">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Icon Both Sides</h5>
        <tl-input
          [iconBefore]="'ion-card'"
          [iconAfter]="'ion-social-usd'"
        ></tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Label</h5>
        <tl-input
          [labelSize]="20"
          [label]="'Name'">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Clear Button</h5>
        <tl-input
          ngModel="Click at the button side"
          [clearButton]="true">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Disabled</h5>
        <tl-input
          [(ngModel)]="disabled"
          [disabled]="true">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>ReadOnly</h5>
        <tl-input
          [(ngModel)]="readonly"
          [readonly]="true">
        </tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Placeholder</h5>
        <tl-input
          [placeholder]="'With Placeholder'">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Text Before</h5>
        <tl-input
          textBefore="My Input">
        </tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Text After</h5>
        <tl-input
          textAfter="@domain.com"
        ></tl-input>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Many Properties</h5>
        <tl-input
          [iconBefore]="'ion-printer'"
          [placeholder]="'With Placeholder'"
          [textAfter]="'US'"
          [clearButton]="true"
          ngModel="Many Properties"
          [autocomplete]="'off'">
        </tl-input>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="setup">
  <h3 class="title">Properties</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody *ngFor="let item of dataTableProperties; let i = index">
      <tr>
        <td><b>{{ item.name }}</b></td>
        <td><span class="badge">{{ item.type }}</span></td>
        <td><code>{{ item.default }}</code></td>
        <td>{{ item.description }}</td>
        <td><code> {{ item.options }} </code></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <!--<h3 class="title">Events</h3>-->
</div>
<div class="examples">
  <h3 class="title">Examples</h3>
  <div class="group-component">
    <h5 class="title">Basic</h5>
    <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
    &nbsp;&nbsp;&nbsp;<tl-input
      ngModel="Many Properties"
      [iconBefore]="'ion-printer'"
      [placeholder]="'With Placeholder'"
      [textAfter]="'US'"
      [clearButton]="true"
      [autocomplete]="'off'">
    </tl-input>
  </textarea>
  </div>
</div>
