@import "../core/styles/theming/theming";

@mixin tl-panelgroup-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');

  .panelgroup-container {
    border: 1px solid map-deep-get($basic, "default", "border");
    background-color: map-deep-get($basic, "default", "background");
  }

  .header-group span {
    color:  map-deep-get($basic, "default", "foreground");
  }

  .header-group span.spacer:after {
    color: transparent;
    background:  map-deep-get($basic, "default", "border");
  }

}
