<div class="header-title-demo">
  <h1 class="title">Dropdown List</h1>
  <p class="text-content">There's a lot of ways to create a dropdown list using Truly UI. Below, are some of those.</p>
</div>

<hr>

<div class="showcase">
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Basic</h5>
        <tl-dropdown-list [data]="data" [text]="'textItem'" [value]="'valueItem'"
                          (itemSelect)="showItemSelected($event)"></tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected }}</span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Placeholder</h5>
        <tl-dropdown-list [data]="data" [text]="'textItem'" [value]="'valueItem'" [placeholder]="'Select item'"
                          (itemSelect)="showItemSelected2($event)"></tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected2 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Scroll</h5>
        <tl-dropdown-list [data]="data" [text]="'textItem'" [value]="'valueItem'"
                          (itemSelect)="showItemSelected4($event)" [scroll]="'3'"></tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected4 }}</span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Auto Scroll</h5>
        <tl-dropdown-list [data]="data2" [text]="'textItem'" [value]="'valueItem'"
                          (itemSelect)="showItemSelected3($event)"></tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected3 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="group-component">
        <h5>Label</h5>
        <tl-dropdown-list [data]="data"
                          [label]="'Label Text'"
                          [labelSize]="80"
                          [text]="'textItem'"
                          [value]="'valueItem'"
                          (itemSelect)="showItemSelected5($event)">
        </tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-6">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected5 }}</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="group-component">
        <h5>Select Heigth</h5>
        <tl-dropdown-list [data]="data2"
                          [selectHeight]="25"
                          [scroll]="6"
                          [text]="'textItem'"
                          [value]="'valueItem'"
                          (itemSelect)="showItemSelected6($event)">
        </tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected6 }}</span></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Simple Data</h5>
        <tl-dropdown-list [data]="simpleData"
                          (itemSelect)="showItemSelected7($event)">
        </tl-dropdown-list>
      </div>
    </div>
    <div class="col-md-3">
      <div class="group-component">
        <h5>Selected Item</h5>
        <div><span>{{ itemSelected7 }}</span></div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="setup">
  <h3 class="title">Properties</h3>
  <div class="table-responsive">
    <h5 class="title">tl-drop-down-list</h5>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      </thead>
      <!--<tbody *ngFor="let item of dataTableProperties; let i = index">-->
      <!--<tr>-->
      <!--<td><b>{{ item.name }}</b></td>-->
      <!--<td><span class="badge">{{ item.type }}</span></td>-->
      <!--<td><code>{{ item.default }}</code></td>-->
      <!--<td>{{ item.description }}</td>-->
      <!--<td><code> {{ item.options }} </code></td>-->
      <!--</tr>-->
      <!--</tbody>-->
    </table>
  </div>
  <hr>
</div>

<div class="examples">
  <h3 class="title">Examples</h3>
  <div class="group-component">
    <h5 class="title">Basic</h5>
    <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list [data]="data"
                  [label]="'textItem'"
                  [value]="'valueItem'"
                  (itemSelect)="showItemSelected($event)">
</tl-dropdown-list>
  </textarea>
  </div>
</div>
