<div class="router-outlet">
  <app-showcase-header name="OverlayPanel" module="OverlayPanelModule">
    The Overlay Panel is used to show some content as 'Modal' relative with target clicked.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonBasic">
                <div class="overlay-wrapper basic">
                  <p style="word-wrap: break-word">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.
                  </p>
                </div>
              </tl-overlay-panel>
              <tl-button [text]="'Show Basic Panel'" #buttonBasic></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonBasic">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonBasic></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonPrimary">
                <div class="overlay-wrapper primary">
                  <p style="word-wrap: break-word">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.
                  </p>
                </div>
              </tl-overlay-panel>
              <tl-button [text]="'Show Primary Panel'" #buttonPrimary></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonPrimary">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonPrimary></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonSuccess">
                <div class="overlay-wrapper success">
                  <p style="word-wrap: break-word">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.
                  </p>
                </div>
              </tl-overlay-panel>
              <tl-button [text]="'Show Success Panel'" #buttonSuccess></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonSuccess" [color]="'success'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonSuccess></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonInfo">
                <div class="overlay-wrapper info">
                  <p style="word-wrap: break-word">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.
                  </p>
                </div>
              </tl-overlay-panel>
              <tl-button [text]="'Show Information Panel'" #buttonInfo></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonInfo" [color]="'information'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonInfo></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonWarning">
                <div class="overlay-wrapper warning">
                  <p style="word-wrap: break-word">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                    exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.
                  </p>
                </div>
              </tl-overlay-panel>
              <tl-button [text]="'Show Warning Panel'" #buttonWarning></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonWarning">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonWarning></tl-button>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
          <app-card>
            <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Methods'" [icon]="'ion-md-color-wand'">
          <app-card>
            <app-showcase-table-events [data]="dataMethods"></app-showcase-table-events>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
          <app-card>
            <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
