<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">OverlayPanel <span
      class="module-name"><code><u>Module Name</u>: <strong>OverlayPanelModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>OverlayPanelModule</strong></code></p>
    <p class="text-content">The Overlay Panel is used to show some content as 'Modal' relative with target clicked.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonBasic">
                <p style="word-wrap: break-word">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                  exact original form,
                  accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </tl-overlay-panel>
              <tl-button [text]="'Show Basic Panel'" #buttonBasic></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonBasic">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonBasic></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonPrimary" [color]="'primary'">
                <p style="word-wrap: break-word">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                  exact original form,
                  accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </tl-overlay-panel>
              <tl-button [text]="'Show Primary Panel'" #buttonPrimary></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonPrimary"  [color]="'primary'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonPrimary></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonSuccess" [color]="'success'">
                <p style="word-wrap: break-word">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                  exact original form,
                  accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </tl-overlay-panel>
              <tl-button [text]="'Show Success Panel'" #buttonSuccess></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonSuccess" [color]="'success'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonSuccess></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonInfo" [color]="'information'">
                <p style="word-wrap: break-word">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                  exact original form,
                  accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </tl-overlay-panel>
              <tl-button [text]="'Show Information Panel'" #buttonInfo></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonInfo" [color]="'information'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonInfo></tl-button>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <tl-overlay-panel [elementOrigin]="buttonWarning" [color]="'warning'">
                <p style="word-wrap: break-word">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. <br>
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                  exact original form,
                  accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
              </tl-overlay-panel>
              <tl-button [text]="'Show Warning Panel'" #buttonWarning></tl-button>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-overlay-panel [elementOrigin]="buttonWarning" [color]="'warning'">
  <!--Your Content Here-->
</tl-overlay-panel>
<tl-button [text]="'Show Panel'" #buttonWarning></tl-button>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
          <app-card>
            <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Methods'" [icon]="'ion-md-color-wand'">
          <app-card>
            <app-showcase-table-events [data]="dataMethods"></app-showcase-table-events>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
          <app-card>
            <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
