<div class="router-outlet">
  <app-showcase-header name="ColorPicker" module="ColorPickerModule">
    ColorPicker is a field with color palets  that overlay it and return the selected color.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6>Inline</h6>
                  <tl-colorpicker [mode]="'inline'" [returnFormatColor]="true" [recentColors]="true" [ngModel]="'#5EC791'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'inline'" [returnFormatColor]="true" [ngModel]="'#5EC791'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
                <div class="col-md-6">
                  <h6>Input</h6>
                  <tl-colorpicker [mode]="'input'" [recentColors]="true" [returnFormatColor]="true" [openFocus]="true" [ngModel]="'#f44336'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <div class="spacer"></div>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'input'" [returnFormatColor]="true" [openFocus]="true" [ngModel]="'#f44336'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
              </div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6>Copy Button</h6>
                  <tl-colorpicker [mode]="'input'" [copyButton]="true" [recentColors]="true" [ngModel]="'#9c27b0'" [returnFormatColor]="true" [openFocus]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <div class="spacer"></div>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'input'" [copyButton]="true" [recentColors]="true" [ngModel]="'#9c27b0'" [returnFormatColor]="true" [openFocus]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
                <div class="col-md-6">
                  <h6>Label</h6>
                  <tl-colorpicker [mode]="'input'" [label]="'Color Picker'" [labelSize]="'100px'" [ngModel]="'#3f51b5'" [recentColors]="true" [returnFormatColor]="true" [openFocus]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <div class="spacer"></div>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'input'" [label]="'Color Picker'" [labelSize]="'100px'" [ngModel]="'#3f51b5'" [recentColors]="true" [returnFormatColor]="true" [openFocus]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
              </div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6>From Origin</h6>
                  <button #button><i class="fa fa-paint-brush"></i> Color Picker</button>
                  <div class="spacer"></div>
                  <tl-colorpicker [mode]="'fromOrigin'" [elementOrigin]="button" [recentColors]="true" [ngModel]="'#2196f3'" [returnFormatColor]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'fromOrigin'" [elementOrigin]="button" [recentColors]="true" [ngModel]="'#2196f3'" [returnFormatColor]="true" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
                <div class="col-md-6">
                  <h6>Only Color</h6>
                  <tl-colorpicker [mode]="'onlyColor'" [recentColors]="true" [returnFormatColor]="true" [ngModel]="'#4caf50'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  <div class="spacer"></div>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-colorpicker [mode]="'onlyColor'" [recentColors]="true" [returnFormatColor]="true" [ngModel]="'#4caf50'" (selectColor)="onSelectColor($event)"></tl-colorpicker>
                  </textarea>
                </div>
              </div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
