* {
  box-sizing: border-box;
}

.wrapper-tabcontrol {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;

  >.line-separator {
    left: 0;
    position: absolute;
    box-sizing: border-box;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    width: 100%;
  }
  >.line-separator:after {
    display: inline-block;
    width: 100%;
    content: ".";
    font-size: 0;
    color: transparent;
    height: 1px;
    top: 9px;
    position: relative;
  }
  >.tab-panel-buttons {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  >.tab-panel-buttons li {
    display: inline-block;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 1em;
    min-width: 70px;
    text-align: center;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
    box-sizing: border-box;
  }
  >.tab-panel-buttons li:hover {
    cursor: pointer;
  }

}
  .selected {
    border-bottom: 0 !important;
  }
