.list-box-container {
  position: relative;
  width: auto;
  overflow-y: auto;
  user-select: none;
  outline: none;
}

.listbox-wrapper {
  position: relative;
}

.list {
  margin: 0 !important;
  padding: 0 !important;
}

.list-box-container::-webkit-scrollbar{
  width: 10px;
}

.item {
  width: inherit;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

.item:focus {
  outline: none;
}

.item span {
  display: inherit;
}

.item h4, h6 {
  margin: 0 !important;
}

.item:hover {
  cursor: pointer;
}

.nothingToShow {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: calc(50% - 40px);
  padding: 10px;
  z-index: 100;
}

.nothingToShow i {
  font-size: 2.5em;
}

.showmore {
  position: absolute;
  height: 17px;
  left: calc(50% - 25px);
  width: 50px;
  z-index: 100;
  text-align: center;
  line-height: 17px;
}

.down {
  bottom: 0;
  border-radius: 3px 3px 0 0;
}

.up {
  top: 0;
  border-radius: 0 0 3px 3px;
}

.showmore:hover {
  cursor: pointer;
}

.showmore i {
  z-index: 150;
}
