<tl-button #button
            [text]="text"
            [width]="width"
            [height]="height"
            [disabled]="disabled"
            [buttonClass]="buttonClass"
            [iconAddonBefore]="iconAddonBefore"
            [buttonAddonBeforeClass]="buttonAddonBeforeClass"
            [iconAddonAfter]="iconAddonAfter"
            [buttonAddonAfterClass]="buttonAddonAfterClass"
            [iconBeforeText]="iconBeforeText"
            [iconBeforeTextClass]="iconBeforeTextClass"
            [iconAfterText]="iconAfterText"
            [iconAfterTextClass]="iconAfterTextClass"
            [toggle]="true"
            [toggleClass]="toggleClass"
            [buttonSelected]="buttonSelected"
            (isSelected)="onIsSelected($event)">
</tl-button>
