<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Button Group <span
      class="module-name"><code><u>Module Name</u>: <strong>ButtonGroupModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ButtonGroupModule</strong></code></p>
    <p class="text-content">There's a lot of ways to create a button group using Truly UI. Below, are some of those.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <span>Basic</span>
              <tl-button-group (itemSelect)="showItemSelected($event)">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <p class="returned-value">Returned Value: {{ itemSelected }}</p>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group (itemSelect)="showItemSelected($event)">
  <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
</textarea>
            </div>
            <div class="col-md-6">
              <span>Multiselect</span>
              <tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected2($event)">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <p class="returned-value">Returned Value: {{ itemSelected2 }}</p>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected2($event)">
  <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>Basic With Preselection</span>
              <tl-button-group (itemSelect)="showItemSelected3($event)">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'" [checkedItem]="true"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <p class="returned-value">Returned Value: {{ itemSelected3 }}</p>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group (itemSelect)="showItemSelected3($event)">
  <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'" [checkedItem]="true"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
</textarea>
            </div>
            <div class="col-md-6">
              <span>Multiselect With Preselection</span>
              <tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected4($event)">
                <tl-button-group-item [text]="'Button 1'" [checkedItem]="true"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'" [checkedItem]="true"></tl-button-group-item>
              </tl-button-group>
              <p class="returned-value">Returned Value: {{ itemSelected4 }}</p>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected4($event)">
  <tl-button-group-item [text]="'Button 1'" [checkedItem]="true"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'" [checkedItem]="true"></tl-button-group-item>
</tl-button-group>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <span>Custom Multiselect With Many Properties</span>
              <tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected5($event)" [height]="'25px'">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'" [checkedItem]="true"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <p class="returned-value">Returned Value: {{ itemSelected5 }}</p>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-button-group [multiSelect]="true" (itemSelect)="showItemSelected4($event)">
  <tl-button-group-item [text]="'Button 1'" [checkedItem]="true"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'" [checkedItem]="true"></tl-button-group-item>
</tl-button-group>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <h5>tl-button-group</h5>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
    <app-card>
      <h5>tl-button-group-item</h5>
      <app-showcase-table-properties [data]="dataTableProperties2"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
    <app-card>
      <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>
</div>
