<div class="router-outlet">
  <app-showcase-header name="Button Group" module="ButtonGroupModule">
    The ButtonGroup is a group of buttons that can be toggled.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <span>Basic</span>
              <tl-button-group (itemSelected)="showItemSelected($event)">
                <tl-button-group-item [text]="'Button 1'" [iconBeforeText]="'fa fa-home'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group>
  <tl-button-group-item [text]="'Button 1'" [iconBeforeText]="'fa fa-home'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
              </textarea>
            </div>
            <div class="col-md-6">
              <span>Multiselect</span>
              <tl-button-group [multiSelect]="true">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group>
  <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>Basic With Preselection</span>
              <tl-button-group>
                <tl-button-group-item [text]="'Button 1'" [iconAfterText]="'ion-home'"></tl-button-group-item>
                <tl-button-group-item [selected]="true" [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group>
  <tl-button-group-item [text]="'Button 1'" [iconAfterText]="'ion-home'"></tl-button-group-item>
  <tl-button-group-item [selected]="true" [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
              </textarea>
            </div>
            <div class="col-md-6">
              <span>Multiselect With Preselection</span>
              <tl-button-group [multiSelect]="true">
                <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
                <tl-button-group-item [selected]="true" [text]="'Button 2'"></tl-button-group-item>
                <tl-button-group-item [selected]="true" [text]="'Button 3'"></tl-button-group-item>
              </tl-button-group>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-button-group [multiSelect]="true">
  <tl-button-group-item [text]="'Button 1'"></tl-button-group-item>
  <tl-button-group-item [selected]="true" [text]="'Button 2'"></tl-button-group-item>
  <tl-button-group-item [selected]="true" [text]="'Button 3'"></tl-button-group-item>
</tl-button-group>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <span>Color</span>
              <tl-button-group [useSelected]="false" (itemSelect)="showItemSelected($event)">
                <tl-button-group-item [text]="'Basic'" [color]="'basic'"></tl-button-group-item>
                <tl-button-group-item [text]="'Primary'" [color]="'primary'"></tl-button-group-item>
                <tl-button-group-item [text]="'Success'" [color]="'success'"></tl-button-group-item>
                <tl-button-group-item [text]="'Danger'" [color]="'danger'"></tl-button-group-item>
                <tl-button-group-item [text]="'Warning'" [color]="'warning'"></tl-button-group-item>
                <tl-button-group-item [text]="'Information'" [color]="'information'"></tl-button-group-item>
              </tl-button-group>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button-group [useSelected]="false" (itemSelect)="showItemSelected($event)">
  <tl-button-group-item [text]="'Basic'" [color]="'basic'"></tl-button-group-item>
  <tl-button-group-item [text]="'Primary'" [color]="'primary'"></tl-button-group-item>
  <tl-button-group-item [text]="'Success'" [color]="'success'"></tl-button-group-item>
  <tl-button-group-item [text]="'Danger'" [color]="'danger'"></tl-button-group-item>
  <tl-button-group-item [text]="'Warning'" [color]="'warning'"></tl-button-group-item>
  <tl-button-group-item [text]="'Information'" [color]="'information'"></tl-button-group-item>
</tl-button-group>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <h6>tl-button-group</h6>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
    <app-card>
      <h6>tl-button-group-item</h6>
      <app-showcase-table-properties [data]="dataTableProperties2"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
    <app-card>
      <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>
</div>
