<div class="ui-schedule-slats">

  <!-- CREATE TIMES BOXES-->
  <div class="ui-schedule-times">
    <div class="ui-schedule-time-row" *ngFor="let time of timesCollection">
      <span class="ui-hour-detail">{{time | date: 'HH'}}</span>:{{time | date: 'mm'}}
    </div>
  </div>

  <!-- CREATE WIDGET CONTENT-->
  <div #scheduleSlats class="ui-schedule-widget-content">
    <div *ngFor="let time of timesCollection; let last = last" class="ui-schedule-widget-rows">
      <div class="ui-schedule-row" [ngClass]="{last: last}" (dblclick)="onRowDbClick.emit( time )"></div>
      <div class="ui-schedule-row" [ngClass]="{last: last}" (dblclick)="onRowDbClick.emit( time )"></div>
    </div>
  </div>

</div>
<div class="ui-schedule-skeleton" >
  <div class="ui-schedule-grid-events">
    <div class="ui-schedule-list-events">

      <!-- CREATE EVENTS BOXES-->
      <div class="ui-schedule-event-box"
           *ngFor="let event of events; let index = index"
           [ngStyle]="calcPositionEvent( index, event)"

           (click)="onEventClick.emit(event)"
           (dblclick)="onEventDbClick.emit(event)"
           (mouseover)="onEventMouseout.emit(event)"
           (mouseout)="onEventMouseout.emit(event)"
      >
        <div class="ui-schedule-description">
          <div class="ui-event-title">{{event.title}}</div>
          <div class="ui-event-detail">{{event.detail}}</div>
        </div>
        <div class="ui-event-hour">{{event.date.start | date: 'HH:mm'}} - {{event.date.end | date: 'HH:mm'}}</div>
      </div>

    </div>
  </div>
  <div class="ui-schedule-now-indicator ui-schedule-now-arrow"
       [tooltip]="{text: currentDate | date: 'HH:mm', placement: 'right'}"
       [ngStyle]="{top: nowIndicatorPositionTop + 'px'}">
  </div>
</div>
