<div class="router-outlet">
  <app-showcase-header name="Toaster" module="ToasterModule">
    Toasters are message service components with bunch of features that be customized.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <tl-panelgroup [backgroundColor]="'#fafafa'" [height]="'290px'" [labelGroup]="'Toaster Configuration'">
                <tl-dropdown-list [data]="data"
                                  [labelSize]="'100px'"
                                  [keyText]="'textItem'"
                                  [label]="'Position'"
                                  [keyValue]="'value'"
                                  [(ngModel)]="position">
                </tl-dropdown-list>
                <div class="spacer"></div>
                <tl-input [label]="'Title'" [(ngModel)]="title"></tl-input>
                <div class="spacer"></div>
                <tl-input [label]="'Message'" [(ngModel)]="message"></tl-input>
                <div class="spacer"></div>
                <tl-input [label]="'Width'" [textAfter]="'px'" [(ngModel)]="width"></tl-input>
                <div class="spacer"></div>
                <tl-input [label]="'Height'" [textAfter]="'px'" [(ngModel)]="height"></tl-input>
                <div class="spacer"></div>
                <tl-input [label]="'Time'" [textAfter]="'ms'" [(ngModel)]="time"></tl-input>
                <div class="spacer"></div>
                <div class="col-md-6" style="padding-left: 97px">
                  <tl-checkbox [color]="'primary'" [label]="'Progress Bar'" [(ngModel)]="progress"></tl-checkbox>
                  <tl-checkbox [color]="'primary'" [label]="'Show Icon'" [(ngModel)]="showIcon"></tl-checkbox>
                </div>
              </tl-panelgroup>
              <div class="spacer"></div>
              <div class="type-buttons">
                <tl-button [color]="'success'" (click)="success()" [text]="'Toaster Success'"></tl-button>
                <tl-button [color]="'danger'" (click)="danger()" [text]="'Toaster Danger'"></tl-button>
                <tl-button [color]="'warning'" (click)="warning()" [text]="'Toaster Warning'"></tl-button>
                <tl-button [color]="'information'" (click)="information()" [text]="'Toaster Information'"></tl-button>
              </div>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Making it Work'" [icon]="'ion ion-ios-hammer'">
          <app-card>
            <div class="col-12">
              <h4>Step One</h4>
              <h6>First of all, you must inject the <code>ToasterService</code>in
                the constructor</h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
constructor( private toasterService: ToasterService ) {}
                  </textarea>
              <hr>
              <h4>Step Two</h4>
              <h6>Create a method that call the Toaster that will wish. For example: Calling the success Toaster.</h6>
              <h6><b>Allowed Toaster Methods</b></h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
this.toasterService.success(object?)
this.toasterService.danger(object?)
this.toasterService.information(object?)
this.toasterService.warning(object?)
                </textarea>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
clickMethod() {
  this.toasterService.success({
        title: 'My title',
        message: 'My test message',
        position: 'top-right',
        width: '400px',
        height: '70px',
        progress: true,
        showIcon: true,
        time: 3000,
  });
}
                  </textarea>
              <h6>As parameter, you may have to pass the toaster config object.</h6>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
