<tl-input #tlinput
          [label]="label"
          [labelSize]="labelSize"
          [name]="name"
          (overlayOrigin)="trigger = $event"
          (focus)="onDateInputFocus()"
          (click)="isOpen = !isOpen"
          (keydown)="handleArrowKeys($event)"
          (keypress)="handleDateChange()"
          (ngModelChange)="onChange($event)"
          (completeMask)="onCompleteMask()"
          (blur)="onBlur()"
          (clear)="onClearInput($event)"
          [iconAfter]="iconAfter"
          date
          [formatDate]="formatDate"
          [textAlign]="textAlign"
          [labelPlacement]="labelPlacement"
          [readonly]="readonly ? true : null"
          [disabled]="disabled ? true : null"
          [(ngModel)]="description"
          [placeholder]="placeholder"
          [clearButton]="clearButton">
</tl-input>
<input class="hidden-input" notform [value]="value">
<ng-template cdkConnectedOverlay
            (backdropClick)="backDropClick()"
            (positionChange)="onPositionChange($event)"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
            [cdkConnectedOverlayOpen]="isOpen">
  <tl-datepicker-content
    [overlayPosition]="positionOverlay"
    [day]="day"
    [year]="year"
    [month]="month"
    [input]="tlinput"
    (selectDayContent)="onSelectDay($event)">
  </tl-datepicker-content>
</ng-template>
