<tl-input #tlinput
          [label]="label"
          [labelSize]="labelSize"
          [name]="name"
          (overlayOrigin)="trigger = $event"
          (focus)="onDateInputFocus()"
          (click)="isOpen = !isOpen"
          (keypress)="handleDateChange()"
          (clear)="onClearInput($event)"
          [iconAfter]="iconAfter"
          [textAlign]="textAlign"
          [labelPlacement]="labelPlacement"
          [readonly]="readonly ? true : null"
          [disabled]="disabled ? true : null"
          [(ngModel)]="value"
          [placeholder]="placeholder"
          [clearButton]="clearButton">
</tl-input>
<ng-template cdkConnectedOverlay
            (backdropClick)="backDropClick($event)"
            (positionChange)="onPositionChange($event)"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
            [cdkConnectedOverlayOpen]="isOpen">
  <tl-datepicker-content
    [overlayPosition]="positionOverlay"
    [day]="day"
    [year]="year"
    [month]="month"
    [input]="tlinput"
    (selectDayContent)="onSelectDay($event)">
  </tl-datepicker-content>
</ng-template>
