<div class="content">
  <div class="header-controls" style="text-align: left;float: left; padding: 5px; width: 100%">
    <tl-button [text]="'Novo'"
               mdResult="MRCUSTOM"
               (click)="newCad()"
               [buttonAddonBeforeClass]="'icon'"
               [iconAddonBefore]="'ion-checkmark'">
    </tl-button>
    <tl-button [text]="'Cancelar'"
               mdResult="MRCANCEL"
               [buttonClass]="'botao'"
               [buttonAddonBeforeClass]="'iconCadUsuario'"
               [iconAddonBefore]="'ion-close-circled'">
    </tl-button>
    <tl-button [text]="'Cancelar'"
               mdResult="MRCANCEL"
               [buttonClass]="'botao'"
               [buttonAddonBeforeClass]="'iconCadUsuario'"
               [iconAddonBefore]="'ion-close-circled'">
    </tl-button>
  </div>
  <div class="form" style="padding: 30px; text-align: center">
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
    <tl-input [labelSize]="'50'" [label]="'Nome'"></tl-input>
  </div>
</div>
