<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">CheckBox <span class="module-name"><code><u>Module Name</u>: <strong>CheckBoxModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>CheckBoxModule</strong></code></p>
    <p class="text-content">The CheckBox component allows the user to select many options.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Basic</h5>
              <tl-checkbox [label]="'Option 1'"></tl-checkbox>
              <tl-checkbox [label]="'Option 2'"></tl-checkbox>
              <tl-checkbox [label]="'Option 3'"></tl-checkbox>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-checkbox [label]="'Option 1'"></tl-checkbox>
<tl-checkbox [label]="'Option 2'"></tl-checkbox>
<tl-checkbox [label]="'Option 3'"></tl-checkbox>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Pre Selected Value</h5>
              <tl-checkbox [label]="'Option 1'"></tl-checkbox>
              <tl-checkbox [checked]="true" [label]="'Option 2'"></tl-checkbox>
              <tl-checkbox [label]="'Option 3'"></tl-checkbox>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-checkbox [label]="'Option 1'"></tl-checkbox>
<tl-checkbox [checked]="true" [label]="'Option 2'"></tl-checkbox>
<tl-checkbox [label]="'Option 3'"></tl-checkbox>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h5>Custom Color Checkbox</h5>
              <tl-checkbox [label]="'Option 1'" [color]="'basic'" [checked]="true" ></tl-checkbox>
              <tl-checkbox [label]="'Option 2'" [color]="'primary'"></tl-checkbox>
              <tl-checkbox [label]="'Option 3'" [color]="'warning'"></tl-checkbox>
              <tl-checkbox [label]="'Option 4'" [color]="'danger'"></tl-checkbox>
              <tl-checkbox [label]="'Option 5'" [color]="'success'"></tl-checkbox>
              <tl-checkbox [label]="'Option 6'" [color]="'information'"></tl-checkbox>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-checkbox [label]="'Option 1'" [color]="'basic'" [checked]="true" ></tl-checkbox>
<tl-checkbox [label]="'Option 2'" [color]="'primary'"></tl-checkbox>
<tl-checkbox [label]="'Option 3'" [color]="'warning'"></tl-checkbox>
<tl-checkbox [label]="'Option 4'" [color]="'danger'"></tl-checkbox>
<tl-checkbox [label]="'Option 5'" [color]="'success'"></tl-checkbox>
<tl-checkbox [label]="'Option 6'" [color]="'information'"></tl-checkbox>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
    <app-card>
      <h4><code>All <b>Angular Supported Events</b> can be used on this component.</code></h4>
      <app-showcase-table-events [data]="events"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>
</div>
