<div class="check-container">
    <div (mouseup)="check(checkbox.checked)"
         *ngIf="value"
         [ngStyle]="{'border-width':'1px','border-style':'solid', 'border-color':checkedColorBg,'background-color':checkedColorBg }"
         class="checkmark-wrapper">
        <div class="checkmark">
            <div class="checkmark_stem" [ngStyle]="{'background-color':checkmarkColor}"></div>
            <div class="checkmark_kick" [ngStyle]="{'background-color':checkmarkColor}"></div>
        </div>
    </div>
    <input #checkbox
           type="checkbox"
           #model="ngModel"
           (focus)="focusCheckBox()"
           (change)="onChangeCheck($event)"
           [checked]="value"
           [tabindex]="tabindex"
           [(ngModel)]="value">
    <label class="-label" (click)="check(checkbox.checked)">{{label}}</label>
</div>
