@import "../core/styles/theming/theming";

@mixin _tl-checkbox-theme-schema( $theme, $action ){

  @mixin checkbox-color() {
    background-color: map-deep-get($theme, $action, "checked", "background");
    border: 1px solid map-deep-get($theme, $action, "checked", "border");
  }

  input[type='checkbox']:checked:before {
    @include checkbox-color();
  }

  input[type='checkbox']:after {
    background-color: map-deep-get($theme, $action, "default", "background");
    border: 1px solid map-deep-get($theme, $action, "default", "border");
  }

  input[type='checkbox']:checked:after {
    @include checkbox-color();
  }

  input[type='checkbox']:checked:before {
    @include checkbox-color();
  }

  .-label {
    color: map-deep-get($theme, 'basic', "default", "foreground");
  }

  .checkmark-wrapper{
    border-color: map-deep-get($theme, $action, "checked", "border");
    background-color: map-deep-get($theme, $action, "checked", "background");
  }

  .checkmark_stem{
    background-color: map-deep-get($theme, $action, "checked", "foreground");
  }

  .checkmark_kick{
    background-color: map-deep-get($theme, $action, "checked", "foreground");
  }

}


@mixin tl-checkbox-theme($theme) {

  .check-container{
    &.basic {
      @include _tl-checkbox-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-checkbox-theme-schema($theme, 'primary')
    }

    //&.secondary {
    //  @include _tl-checkbox-theme-schema($theme,'secondary')
    //}

    &.success2 {
      @include _tl-checkbox-theme-schema($theme, 'success2')
    }

    &.danger {
      @include _tl-checkbox-theme-schema($theme, 'danger')
    }

    &.warning2 {
      @include _tl-checkbox-theme-schema($theme, 'warning2')
    }

    &.information2 {
      @include _tl-checkbox-theme-schema($theme, 'information2')
    }

    &.light {
      @include _tl-checkbox-theme-schema($theme, 'light')
    }

    &.dark {
      @include _tl-checkbox-theme-schema($theme, 'dark')
    }
  }
}
