.ui-datatable-scrollable{
  overflow: hidden;
}

.ui-box-notfound-records{
  height: 100%;
  >.ui-container{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &.ui-show{
    display: block;
  }

  &.ui-hide{
    display: none;
  }
}

.ui-datatable-content-wrap{
  overflow-y : scroll !important;
  overflow-x : auto !important;
}

.ui-datatable-content-body{
  > .ui-row{
    font-size: 1em;
    outline: none;
    margin: 0;
    content: none;
  }
  > .ui-row .ui-cel{
    box-sizing: border-box;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
  }
  >.ui-row .ui-cel.-textleft{
    text-align: left;
  }
  >.ui-row .ui-cel.-textright{
    text-align: right;
  }
  >.ui-row .ui-cel.-textcenter{
    text-align: center;
  }
}

//
//.ui-datatable-content-wrap::-webkit-scrollbar{
////  background: #F1F1F1;
//  width: 10px;
//}
//.ui-datatable-content-wrap::-webkit-scrollbar-corner{
//  background: #F1F1F1;
//}
//
//.ui-datatable-content-wrap::-webkit-scrollbar-track{
//  background: #F6F6F6;
//}
//.ui-datatable-content-wrap::-webkit-scrollbar-thumb{
//  background: #66CC99;
//}

