.ui-datatable-scrollable{
  overflow: hidden;
}

.ui-box-notfound-records{
  height: 100%;
  >.ui-container{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &.ui-show{
    display: block;
  }

  &.ui-hide{
    display: none;
  }
}

.ui-datatable-content-wrap{
  overflow-y : scroll !important;
  overflow-x : auto !important;
}
