@import "../core/styles/theming/theming";

@mixin _tl-timepicker-theme-schema( $theme, $action ) {

  $basic: map-deep-get($theme, 'basic');

  > .ui-timepicker-header {
    border: 1px solid map-deep-get($theme, $action, "default", "border");
    background: white;
  }
  > .ui-timepicker-content {
    border-left: 1px solid map-deep-get($theme, $action, "default", "border");
    border-right: 1px solid map-deep-get($theme, $action, "default", "border");
    background: white;
    > .ui-transparent-section {
      background-image: linear-gradient(to top, rgb(255, 255, 255), transparent, rgb(255, 255, 255));
    }
    > .ui-controller-section {
      border: 1px solid map-deep-get($theme, $action, "default", "border");
      background-image: linear-gradient(to top, #ececec, rgba(255, 0, 0, 0), transparent);
    }
    > .ui-hour-content {
      &:hover {
        background: map-deep-get($theme, $action, "default", "background");
      }
    }
    > .ui-minute-content {
      &:hover {
        background: map-deep-get($theme, $action, "default", "background");
      }
    }
    > .ui-ampm-content {
      &:hover {
        background: map-deep-get($theme, $action, "default", "background");
      }
    }
  }
  > .ui-title-header {
    border-left: 1px solid map-deep-get($theme, $action, "default", "border");
    border-right: 1px solid map-deep-get($theme, $action, "default", "border");
    border-bottom: 1px solid map-deep-get($theme, $action, "default", "border");
    background: map-deep-get($theme, $action, "default", "background");
  }
  > .ui-timepicker-footer {
    background: white;
  }
  .list {
    color: map-deep-get($theme, $action, "default", "foreground");
    > .ui-list-item {
      &:hover {
        color: map-deep-get($theme, 'primary', "default", "background");
      }
    }
  }
  .selectedItem {
    color: map-deep-get($theme, 'primary', "default", "background");
  }

}

@mixin tl-timepicker-theme( $theme ) {

  .ui-wrapper-content {
    &.basic {
      @include _tl-timepicker-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-timepicker-theme-schema($theme, 'primary')
    }

    &.success {
      @include _tl-timepicker-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-timepicker-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-timepicker-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-timepicker-theme-schema($theme, 'information')
    }
  }
}
