<div class="ui-timepicker-wrapper">

  <tl-input (overlayOrigin)="trigger = $event"
            (click)="changeOpened()"
            (keydown.shift.tab)="onClose()"
            (keydown.tab)="onClose()"
            (keydown.enter)="onClose()"
            [mask]="'Hh:Mm'"
            [ngModel]="selectedTime"
            (ngModelChange)="onChangeValue($event)"
            (blur)="onBlur()"
            [flatBorder]="flatBorder"
            [label]="label"
            [labelPlacement]="labelPlacement"
            [labelSize]="labelSize"
            [withBorder]="withBorder"
            [height]="height"
            [disabled]="disabled"
            [readonly]="readonly"
            [name]="name"
            [textAfter]="format === '12' ? timeZone : null"
            [iconAfter]="showTimeIcon ? 'far fa-clock' : null">
  </tl-input>
  <input notform class="hidden-control" [value]="value">

  <ng-template cdkConnectedOverlay
               (backdropClick)="onClose()"
               [cdkConnectedOverlayHasBackdrop]="true"
               [cdkConnectedOverlayOrigin]="trigger"
               [cdkConnectedOverlayOpen]="isOpen"
               [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'">
    <div  @overlay [class]="'ui-wrapper-content ' + color" (click)="onMouseDownContainer($event)">
      <div class="ui-timepicker-header">
        <div class="ui-selected-time">
          {{ format === '12' ? (value | date:'hh:mm') : (value | date:'HH:mm') }}
          {{ format === '12' ? timeZone : null }}
        </div>
        <tl-button *ngIf="steps.hour === 1 && steps.minute === 1"
                   [flatBorder]="true"
                   (click)="onClickNow()"
                   [outline]="true"
                   [width]="'50px'"
                   [text]="nowText"
                   [color]="'primary'">
        </tl-button>
      </div>
      <div class="ui-title-header">
        <span class="ui-picker-title">Hour</span>
        <span class="ui-picker-title">Minute</span>
        <span *ngIf="format === '12'" class="ui-picker-title">AM/PM</span>
      </div>
      <div class="ui-timepicker-content">
        <div class="ui-transparent-section"></div>
        <div class="ui-controller-section">
          <span [style.left]="format === '24' ? '50%' : '33%'" class="double-dot">:</span>
        </div>
        <div class="ui-hour-content">
          <div class="list" #listHour (scroll)="onScrollHour($event)">
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div
              class="ui-list-item"
              (click)="clickListItem(listHour, $event); setHour(index)"
              *ngFor="let index of hours"
              [attr.dataIndexHour]="index | leftpad:2"
              [ngClass]="{ 'selectedItem': hour === index }">{{ index | leftpad:2 }}</div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
          </div>
        </div>
        <div class="ui-minute-content">
          <div class="list" #listMinutes (scroll)="onScrollMinutes($event)">
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div
              class="ui-list-item"
              (click)="clickListItem(listMinutes, $event); setMinute(index)"
              [attr.dataIndexMinute]="index | leftpad:2"
              *ngFor="let index of minutes"
              [ngClass]="{ 'selectedItem': minute === index }">{{ index | leftpad:2 }}</div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
          </div>
        </div>
        <div *ngIf="format === '12'" class="ui-ampm-content">
          <div class="list" [style.top]="isTimeZoneAM() ? 'calc(50% - 23px)' : 'calc(50% - 54px)'">
            <div [ngClass]="{ 'selectedItem': isTimeZoneAM() }" class="ui-list-item" (click)="setAm()">AM</div>
            <div [ngClass]="{ 'selectedItem': isTimeZonePM() }" class="ui-list-item" (click)="setPm()">PM</div>
          </div>
        </div>
      </div>
      <div class="ui-timepicker-footer">
        <tl-button (click)="onClickCancel()" [flatBorder]="true" [width]="'100%'" [text]="textCancel"></tl-button>
        <tl-button (click)="onClickConfirm()" [flatBorder]="true" [outline]="true" [width]="'100%'" [text]="textConfirm" [color]="'primary'"></tl-button>
      </div>
    </div>
  </ng-template>

</div>

