.tl-avatar {
  display: inline-block;
  position: relative;
}

.tl-avatar tl-icon, span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.square {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}
