.ui-wrapper-context-menu {
  position: fixed;
  background: #fff;
  z-index: 1000;
  border: 1px solid #c3c3c3;
  border-right: 0;
  border-left: 0;
}

.ui-menu-list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.ui-context-menu {
  position: relative;
  width: 100%;
  height: 100%;
}
