<div class="ui-schedule-daylist-wrapper"
     [tlBlockui]="events?.length === 0"
     [blockuiConfig]="{'spin': false, 'icon': 'ion-calendar', 'message': 'No events to display'}"
     [dimensionsFrom]="'parent'"
>
  <div class="ui-schedule-daylist-events">
    <div class="ui-schedule-event-box"
         *ngFor="let event of events; let index = index"
         [style.borderTopColor]="statusConfig ? statusConfig[event.status]?.color : '#FFFFFF'"
         [tooltip]="{text: statusConfig ? statusConfig[event.status]?.description : '' , placement: 'left-center'}"
         (click)="onEventClick.emit(event)"
         (dblclick)="onEventDbClick.emit(event)"
         (mouseover)="onEventMouseout.emit(event)"
         (mouseout)="onEventMouseout.emit(event)"
    >
      <div class="ui-event-hour">{{event.date.start | date: 'HH:mm'}} - {{event.date.end | date: 'HH:mm'}}</div>
      <div class="ui-schedule-description">
        <div class="ui-event-title">{{event.title}}</div>
        <div class="ui-event-detail">{{event.detail}}</div>
      </div>
    </div>
  </div>
</div>
