.ui-schedule-daylist-wrapper{
  background-color: #f5f5f5;
}

.ui-schedule-daylist-events{}

.ui-schedule-event-box{
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  background-color: #FFFFFF;
  font-size: 1em;
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom: 1px #D6D6D6 solid;
  user-select: none;
  cursor: pointer;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
  box-sizing: border-box;
  > .ui-event-hour{
    justify-content: center;
    font-size: 1em;
    color: #454e58;
    align-items: center;
    display: flex;
    flex-basis: 100px;
  }
  > .ui-schedule-description{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .ui-event-title{
      font-weight: 600;
      color: #454e58;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    > .ui-event-detail{
      color: #949799;
      font-size: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}


