<button #tlbutton
        attr.tabindex="-1"
        [ngStyle]="{'min-width': width, 'height': height, 'line-height': height}"
        [ngClass]="{' disabled ': disabled}"
        [class]="'tl-button ripple '+ color"
        [disabled]="( disabled || isLoading ) ? true : null"
        >
    <span *ngIf="iconAddonBefore"
          [ngClass]="iconAddonBefore"
          [class]="color + ' iconAddonBefore'"
          [ngStyle]="{'line-height' : 'calc(' + height + ' - 1px)'}"
          [style.color]="colorIconBefore">
    </span>
    <span *ngIf="iconAddonAfter"
          [ngClass]="iconAddonAfter"
          [style.color]="colorIconAfter"
          [class]="color + ' iconAddonAfter'"
          [ngStyle]="{'line-height': 'calc(' + height + ' - 1px)'}">
    </span>

    <!-- WHEN IS LOADING-->
    <span *ngIf="isLoading"  class="textButton -isLoading" [ngStyle]="{'line-height': height}">
      <i *ngIf="isLoading" ngClass="fa fa-circle-o-notch fa-spin fa-fw"></i>
      {{ textLoading }}
    </span>
    <span *ngIf="!isLoading" class="textButton" [ngStyle]="{'line-height': height}">
      <i *ngIf="iconBeforeText" [ngClass]="iconBeforeText"></i>
        {{text}}<ng-content></ng-content>
      <i *ngIf="iconAfterText" [ngClass]="iconAfterText"></i>
    </span>
</button>

