//Default
$button-icon-padding: 15px;
$button-addon-padding: 0 7px;
$button-display: inline-block;
$button-font-size: 0.9em;
$button-font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
$button-text-align: center;

:host([disabled="true"]) {
    pointer-events: none;
}

.tl-button {
  font-family: $button-font-family;
  font-size: $button-font-size;
  padding: 0;
  margin: 0;
  outline: none;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;

  > .iconAddonBefore {
    box-sizing: border-box;
    padding: 0 15px;
    pointer-events: none;
  }
  > .iconAddonAfter {
    box-sizing: border-box;
    padding: 0 15px;
    pointer-events: none;
  }
  > .button-content {
    display: flex;
    align-items: center;
    margin: 0 8px;
    justify-content: center;
    user-select: none;
    width: 100%;
    .label {
      padding: 0 10px;
    }
    tl-loader {
      position: relative;
      width: 15px;
      box-sizing: border-box;
      margin: 0 5px;
    }
  }
  &.disabled {
    pointer-events: none;
  }
}

.iconAfterText{
  padding: 0 0 0 5px !important;
}
