<div class="router-outlet">
  <app-showcase-header name="Overview" module="TimelineModule">
    The Truly-UI Timeline displays data in a timeline format and provides a full spectrum of configuration options.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6>Basic</h6>
                  <tl-timeline [data]="dataBasic" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'"></tl-timeline>
                  <br>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-timeline [data]="dataBasic" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'"></tl-timeline>
                  </textarea>
                </div>
                <div class="col-md-6">
                  <h6>Basic with Date</h6>
                  <tl-timeline [data]="dataAdvanced" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [keyDate]="'date'"></tl-timeline>
                  <br>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-timeline [data]="dataAdvanced" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [keyDate]="'date'"></tl-timeline>
                  </textarea>
                </div>
              </div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6>Align - Right</h6>
                  <tl-timeline [data]="dataBasic" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [align]="'right'"></tl-timeline>
                  <br>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-timeline [data]="dataBasic" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [align]="'right'"></tl-timeline>
                  </textarea>
                </div>
                <div class="col-md-6">
                  <h6>Align - Center</h6>
                  <tl-timeline [data]="dataAdvanced" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [keyDate]="'date'" [align]="'center'"></tl-timeline>
                  <br>
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                    <tl-timeline [data]="dataAdvanced" [height]="'300px'" [keyTitle]="'title'" [keyText]="'text'" [keyDate]="'date'" [align]="'center'"></tl-timeline>
                  </textarea>
                </div>
              </div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
