<div class="router-outlet">
  <app-showcase-header name="Overview" module="DatatableModule">
    The DataTable displays data in a tabular format and provides a full spectrum of configuration options.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-12">
              <tl-datatable
                [data]="data"
                [allowResize]="true"
                [allowFilterColumn]="true"
                [mode]="'scrollable'"
                [height]="357"
                (rowSelect)="onRowSelect( $event )"
                (sortData)="onSortData($event)"
                (filterData)="onFilterData($event)"
              ></tl-datatable>
              <hr>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datatable
  [data]="data"
  [allowResize]="true"
  [allowFilterColumn]="true"
  [mode]="'scrollable'"
  (rowSelect)="onRowSelect( $event )"
  (sortData)="onSortData($event)"
  (filterData)="onFilterData($event)">
</tl-datatable>
            </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Datatable Features'" [icon]="'far fa-lightbulb'">
          <app-card>
            <div class="col-12">
              <h5>Row Models</h5>
              <p>Lets you work with a small or large mass of data.</p>
              <hr>
            </div>
            <div class="col-12">
              <h5>Scrolling</h5>
              <p>Allows horizontal and vertical scrolling in both Paginator and Scrollable mode.</p>
              <hr>
            </div>
            <div class="col-12">
              <h5>Column Manipulation</h5>
              <p>Column Reordering & Resizing in all modes, normal, paginator and scrollable.</p>
              <hr>
            </div>
            <div class="col-12">
              <h5>Cliente or Server Processing </h5>
              <p>Row Model Allow Client or Server side Pagination, Sorting & Filtration.</p>
              <hr>
            </div>
            <div class="col-12">
              <h5>Elastic Column</h5>
              <p>Intelligent Column Width Algorithms which allow you to resize the table automatically.</p>
              <hr>
            </div>
            <div class="col-12">
              <h5>Perfomatic Navigation</h5>
              <p>Allows you to navigate via the Keyboard( ArrowDown, ArrownUP, Home, End, etc).</p>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataTableEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
  </div>
