<div class="router-outlet">

  <div class="header-title-demo">
    <h1 class="title">Overview <span class="module-name"><code><u>Module Name</u>: <strong>DatatableModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>DatatableModule</strong></code></p>
    <p class="text-content">The DataTable displays data in a tabular format and provides a full spectrum of configuration options.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <tl-datatable
              [data]="data"
              [allowResize]="true"
              [allowFilterColumn]="true"
              [mode]="'scrollable'"
              [height]="357"
              (rowSelect)="onRowSelect( $event )"
              (sortData)="onSortData($event)"
              (filterData)="onFilterData($event)"
            ></tl-datatable>
            <hr>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datatable
  [data]="data"
  [allowResize]="true"
  [allowFilterColumn]="true"
  [mode]="'scrollable'"
  (rowSelect)="onRowSelect( $event )"
  (sortData)="onSortData($event)"
  (filterData)="onFilterData($event)">
</tl-datatable>
            </textarea>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Datatable Features'" [icon]="'far fa-lightbulb'">
          <app-card>
            <h4>Row Models</h4>
            <p>Lets you work with a small or large mass of data.</p>
          </app-card>
          <app-card>
            <h4>Scrolling</h4>
            <p>Allows horizontal and vertical scrolling in both Paginator and Scrollable mode.</p>
          </app-card>
          <app-card>
            <h4>Column Manipulation</h4>
            <p>Column Reordering & Resizing in all modes, normal, paginator and scrollable.</p>
          </app-card>
          <app-card>
            <h4>Cliente or Server Processing </h4>
            <p>Row Model Allow Client or Server side Pagination, Sorting & Filtration.</p>
          </app-card>
          <app-card>
            <h4>Elastic Column</h4>
            <p>Intelligent Column Width Algorithms which allow you to resize the table automatically.</p>
          </app-card>
          <app-card>
            <h4>Perfomatic Navigation</h4>
            <p>Allows you to navigate via the Keyboard( ArrowDown, ArrownUP, Home, End, etc).</p>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataTableEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
  </div>
