<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">ListBox <span class="module-name"><code><u>Module Name</u>: <strong>ListBoxModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ListBoxModule</strong></code></p>
    <p class="text-content">ListBox is a component where exists a list of items to search and select.</p>
    <p class="text-content">Truly UI has two different types of list, the default and with Custom Template, like shown below.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Basic Usage - Normal Mode</h5>
              <tl-input [iconAfter]="'ion-ios-search-strong'" [clearButton]="true" #inputBasic
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'"></tl-input>
              <tl-listbox
                [data]="dataBasic"
                [itemsToShow]="5"
                [searchElement]="inputBasic"
                [addNew]="true"
                [id]="'id'"
                [label]="'firstName'"
                [labelDetail]="'city'"
                [rowHeight]="50">
              </tl-listbox>
              <hr>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-listbox
  [data]="dataBasic"
  [itemsToShow]="5"
  [searchElement]="inputBasic"
  [id]="'id'"
  [label]="'firstName'"
  [labelDetail]="'city'"
  [rowHeight]="50">
</tl-listbox>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Basic Usage - Lazy Mode</h5>
              <tl-input [iconAfter]="'ion-ios-search-strong'" [clearButton]="true" #inputBasicLazy
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'"></tl-input>
              <tl-listbox
                [data]="dataLazy"
                [itemsToShow]="5"
                [lazyMode]="true"
                (lazyLoad)="onLazyLoad($event)"
                [searchElement]="inputBasicLazy"
                [id]="'id'"
                [label]="'firstName'"
                [labelDetail]="'city'"
                [rowHeight]="50">
              </tl-listbox>
              <hr>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-listbox
  [data]="dataLazy"
  [itemsToShow]="5"
  [lazyMode]="true"
  (lazyLoad)="onLazyLoad($event)"
  [searchElement]="inputBasicLazy"
  [id]="'id'"
  [label]="'firstName'"
  [labelDetail]="'city'"
  [rowHeight]="50">
</tl-listbox>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>Custom Template Normal Mode</h5>
              <tl-input [iconAfter]="'ion-ios-search-strong'" [clearButton]="true" #inputCustomNormal
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'"></tl-input>
              <tl-listbox
                [data]="dataCustom"
                [itemsToShow]="5"
                [searchElement]="inputCustomNormal"
                [id]="'id'"
                [label]="'firstName'"
                [labelDetail]="'city'"
                [rowHeight]="50">
                <ng-template let-item="item" let-index="index">
                  <li class="list-template-demo">
                    <img class="img-circle" src="../assets/img/avatar.png"
                         width="30">{{item.firstName}} - <span>{{item.lastName}}</span>
                    <span class="list-bagde badge">{{item.id}}</span>
                  </li>
                </ng-template>
              </tl-listbox>
              <hr>
              <p><code>Atention:</code> The example below needs to be interpolated <code>{{example}}</code> for example. Not allowed to used here on highlight code.</p>
<textarea highlight-js [options]="{}" [lang]="'html'">
<tl-listbox
  [data]="data"
  (onClickItem)="onClickNoItem($event)"
  [itemsToShow]="10"
  [searchElement]="input"
  [id]="'id'"
  [label]="'firstName'"
  [labelDetail]="'city'"
  [rowHeight]="50">
  <ng-template let-item="item" let-index="index">
    <li class="list-template-demo">
      <img class="img-circle" src="../assets/img/avatar.png"
           width="30"> item.firstName - <span> item.lastName </span>
      <span class="list-bagde badge"> item.id </span>
    </li>
  </ng-template>
</tl-listbox>
    </textarea>
            </div>
            <div class="col-md-6">
              <h5>Custom Template Lazy Mode</h5>
              <tl-input [iconAfter]="'ion-ios-search-strong'" [clearButton]="true" #inputCustomLazy
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'"></tl-input>
              <tl-listbox
                [data]="dataLazy"
                [itemsToShow]="5"
                [searchElement]="inputCustomLazy"
                [id]="'id'"
                [lazyMode]="true"
                (lazyLoad)="onLazyLoad($event)"
                [label]="'firstName'"
                [labelDetail]="'city'"
                [rowHeight]="50">
                <ng-template let-item="item" let-index="index">
                  <li class="list-template-demo">
                    <img class="img-circle" src="../assets/img/avatar.png"
                         width="30">{{item.firstName}} - <span>{{item.lastName}}</span>
                    <span class="list-bagde badge">{{item.id}}</span>
                  </li>
                </ng-template>
              </tl-listbox>
              <hr>
              <p><code>Atention:</code> The example below needs to be interpolated <code>{{example}}</code> for example. Not allowed to used here on highlight code.</p>
              <textarea highlight-js [options]="{}" [lang]="'html'">
<tl-listbox
  [data]="dataLazy"
  [itemsToShow]="5"
  [searchElement]="inputCustomLazy"
  [id]="'id'"
  [lazyMode]="true"
  (lazyLoad)="onLazyLoad($event)"
  [label]="'firstName'"
  [labelDetail]="'city'"
  [rowHeight]="50">
  <ng-template let-item="item" let-index="index">
    <li class="list-template-demo">
      <img class="img-circle" src="../assets/img/avatar.png"
           width="30"> item.firstName - <span> item.lastName </span>
      <span class="list-bagde badge"> item.id </span>
    </li>
  </ng-template>
</tl-listbox>
    </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <app-showcase-table-events [data]="events"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
