<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">DatePicker <span class="module-name"><code><u>Module Name</u>: <strong>DatePickerModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>DatePickerModule</strong></code></p>
    <p class="text-content">There's a lot of ways to create a DatePicker using Truly UI. Below, are some of those.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Basic</h5>
              <tl-datepicker date [(ngModel)]="date"></tl-datepicker>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datepicker date [(ngModel)]="date"></tl-datepicker>
</textarea>
            </div>
            <div class="col-md-6">
            <h5>Icon Calendar</h5>
            <tl-datepicker date [(ngModel)]="date" [iconCalendar]="true"></tl-datepicker>
            <div class="spacer"></div>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datepicker date [(ngModel)]="date" [iconCalendar]="true"></tl-datepicker>
</textarea>
          </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>AutoClose</h5>
              <tl-datepicker date [(ngModel)]="date" [autoClose]="true"></tl-datepicker>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datepicker date [(ngModel)]="date" [autoClose]="true"></tl-datepicker>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Different Formats</h5>
              <tl-datepicker date [formatDate]="'mm.dd.yyyy'" [(ngModel)]="date"></tl-datepicker>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-datepicker date [formatDate]="'mm.dd.yyyy'" [(ngModel)]="date"></tl-datepicker>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
    </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
