@mixin tl-chatlist-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary: map-deep-get($theme, 'primary');
  $light:   map-deep-get($theme, 'light');
  $dark:    map-deep-get($theme, 'dark');
  $danger:  map-deep-get($theme, 'danger');
  $success: map-deep-get($theme, 'success');
  $warning: map-deep-get($theme, 'warning');

  .ui-chat-overflow {
    border-top: 1px solid map-deep-get($basic, "default", "border");
  }

  .ui-status {
    background: map-deep-get($basic, "default", "background");
    color: map-deep-get($basic, "default", "foreground");
    border-left: 1px solid map-deep-get($basic, "default", "border");
    border-right: 1px solid map-deep-get($basic, "default", "border");
  }

  .ui-chat-template{
    border-bottom: 1px solid rgba(map-deep-get($basic, "default", "border"),0.3);
    .ui-chat-name{
      color: map-deep-get($basic, "default", "foreground");
    }
    .ui-chat-sector {
      color: rgba(map-deep-get($basic, "default", "foreground"),0.6);

    }
    .ui-status-online {
      background: map-deep-get($success, "default", "background");
    }
    .ui-status-offline {
      background: map-deep-get($dark, "default", "background");
    }
    .ui-status-busy {
      background: map-deep-get($danger, "default", "background");
    }
    .ui-status-away {
      background: map-deep-get($warning, "default", "background");
    }
  }

  .item-selected-listbox {
    & .ui-chat-name{
      color: map-deep-get($primary, "default", "foreground");
    }

    & .ui-chat-sector {
      color: rgba(map-deep-get($primary, "default", "foreground"), 0.7);
    }
  }

  .ui-chat-overflow::-webkit-scrollbar {
    background: map-deep-get($primary, "default", "foreground");
  }

  .ui-chat-overflow::-webkit-scrollbar-corner {
    background: map-deep-get($primary, "default", "foreground");
  }

  .ui-chat-overflow::-webkit-scrollbar-track {
    background: map-deep-get($basic, "default", "background");
    border-right: 1px solid map-deep-get($basic, "default", "border");
  }

  .ui-chat-overflow::-webkit-scrollbar-thumb {
    background: map-deep-get($primary, "default", "background");
  }
}
