<div class="ui-chat-wrapper">
    <div class="ui-chat-overflow">
        <div class="ui-chat-lists">
            <div class="ui-chat-content">
                <div class="ui-status">ONLINE ({{filteredOnline.length}})</div>
                <tl-listbox
                  [data]="chatListService.online"
                  [rowsClient]="itemsToShow"
                  (clickItem)="onClickItemChat($event, 'list1')"
                  (filterData)="onFilterData($event, 'list1')"
                  [label]="label"
                  [searchElement]="searchInput"
                  [height]="height / 2"
                  [showArrows]="false"
                  [dynamicFocus]="false"
                  [focusOnScroll]="false"
                  [rowHeight]="50">
                  <ng-template let-item="item" let-index="index">
                        <li class="ui-chat-template">
                            <img class="img-circle" src="{{item[avatar]}}" width="30">
                            <div class="ui-chat-infowrapper">
                                <span class="ui-chat-name">{{item[label]}}</span>
                                <span class="ui-chat-sector">{{item[labelDetail]}}</span>
                            </div>
                            <span [class]="'ui-chat-bagde ui-status-' + getStatus(item.status)"
                                  [style.margin-top]="((50 / 2) - 4) + 'px'">
                             </span>
                        </li>
                    </ng-template>
                </tl-listbox>
                <div class="ui-status">OFFLINE ({{filteredOffline.length}})</div>
                <tl-listbox
                  [data]="chatListService.offline"
                  [rowsClient]="itemsToShow"
                  (clickItem)="onClickItemChat($event, 'list2')"
                  (filterData)="onFilterData($event, 'list2')"
                  [label]="labelDetail"
                  [height]="height / 2"
                  [searchElement]="searchInput"
                  [showArrows]="false"
                  [dynamicFocus]="false"
                  [focusOnScroll]="false"
                  [rowHeight]="50">
                    <ng-template let-item="item" let-index="index">
                        <li class="ui-chat-template">
                            <img class="img-circle" src="{{item[avatar]}}" width="30">
                            <div class="ui-chat-infowrapper">
                                <span class="ui-chat-name">{{item[label]}}</span>
                                <span class="ui-chat-sector">{{item[labelDetail]}}</span>
                            </div>
                            <span [class]="'ui-chat-bagde ui-status-' + getStatus(item.status) "
                                  [style.margin-top]="((50 / 2) - 4) + 'px'">
                             </span>
                        </li>
                    </ng-template>
                </tl-listbox>
            </div>
        </div>
    </div>
</div>
