<div [class]="'chat-wrapper ' + color" [style.width]="width" [style.height]="maxHeight">
  <div class="chat-header">
    <ng-container *ngIf="!insideChat; else selectedPartner">
      <div class="chat-wrapper-status">
        <div class="chat-status-selection" [style.transform]="'translateX('+transform+')'"></div>
        <div class="chat-status" [class.selected]="selected === 'chat'" (click)="selectStatus('chat')">
          <span>Chats</span></div>
        <div class="chat-status" [class.selected]="selected === 'online'" (click)="selectStatus('online')">
          <span>Online</span>
        </div>
        <div class="chat-status" [class.selected]="selected === 'offline'" (click)="selectStatus('offline')">
          <span>Offline</span>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!insideChat; else chatContent">
    <div #content class="chat-content" (animationend)="animationContentDone($event)"
         [style.height]="'calc(' + maxHeight + ' - 35px)'">
      <ng-container *ngTemplateOutlet="contactTemplate; context: { status: selected }"></ng-container>
    </div>
  </ng-container>
</div>

<ng-template #contactTemplate let-statusSelected="status">
  <ng-container *ngFor="let item of contacts | status: ((statusSelected === offline) ? [offline] : [online, busy]);">
    <div class="chat-item" (click)="selectPartner(item)">
      <tl-avatar [size]="'45px'"
                 class="chat-img"
                 [text]="item?.name"
                 [style.border]="'2px solid ' + chatStatus[item.status]"
                 [gravatar]="item?.avatar" [shape]="'circle'">
      </tl-avatar>
      <div class="chat-item-detail">
        <span>{{ item.name }}</span>
        <span>{{ item.description }}</span>
      </div>
      <div *ngIf="getUnreadMessages(item.id)?.length > 0"
           class="chat-unread-messages">{{ getUnreadMessages(item.id)?.length }}
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #selectedPartner>
  <div class="chat-partner-wrapper">
    <div (click)="insideChat = false" class="arrow">
      <tl-icon [lib]="'ion'" [style]="'ios'">arrow-back</tl-icon>
    </div>
    <div class="chat-partner">
      <span>{{ partner?.name }}</span>
    </div>
    <tl-avatar [size]="'30px'"
               class="chat-img"
               [text]="partner?.name"
               [gravatar]="partner?.avatar" [shape]="'circle'">
    </tl-avatar>
  </div>
</ng-template>

<ng-template #chatContent>
  <tl-chat-content
    [user]="user"
    [maxHeight]="maxHeight"
    [chatStatus]="chatStatus"
    [partner]="partner"
    (message)="onMessage($event)"
    [messages]="messages">
  </tl-chat-content>
</ng-template>
