@import "../core/styles/theming/theming";

@mixin tl-listbox-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary: map-deep-get($theme, 'primary');

  .list-box-container {
    background: map-deep-get($basic, "lighter", "background");
    border: 1px solid  map-deep-get($basic, "default", "border");
    border-radius: 3px;

    &::-webkit-scrollbar{
      background:  map-deep-get($basic, "lighter", "background");
    }

    &::-webkit-scrollbar-corner{
      background: map-deep-get($primary, "default", "foreground");
    }

    &::-webkit-scrollbar-track{
      background: map-deep-get($basic, "default", "background");
      border-left: 1px solid map-deep-get($basic, "default", "border");
    }

    &::-webkit-scrollbar-thumb{
      background: map-deep-get($primary, "default", "background");
      border-radius: 10px;
    }
  }

  .listbox-wrapper{
    > .showmore {
      background-color: map-deep-get($primary, "default", "background");
    }

    > .showmore i {
      color: map-deep-get($primary, "default", "foreground");
    }
  }

  .item {
    border-bottom: 1px solid rgba(map-deep-get($basic, "default", "border"),0.3);
    color: map-deep-get($basic, "default", "foreground");
  }

  .item-selected-listbox {
    background-color: map-deep-get($primary, "default", "background") !important;
    color: map-deep-get($primary, "default", "foreground") !important;
  }

  .item.stripped:nth-of-type(odd){
    background: map-deep-get($basic, "default", "background");
  }

  .item.stripped:nth-of-type(even){
    background: map-deep-get($basic, "lighter", "background");
  }

  .nothingToShow {
    color: map-deep-get($basic, "default", "foreground");
  }

  .list li:focus {
    background-color: map-deep-get($primary, "default", "background");
    color: map-deep-get($primary, "default", "foreground");
  }

}
