.ui-listbox-wrapper {
  position: relative;
  z-index: 1;
}

.ui-list-viewport {
  overflow-y: scroll;
  width: 100%;
  border-radius: 5px;
  outline: none;
  &::-webkit-scrollbar {
    border-radius: 5px;
    width: 8px;
  }
}

.ui-list-viewport-item {
  box-sizing: border-box;
  height: 50px;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.ui-emptylist {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 1;
  > .ui-notfound {
    text-align: center;
    .message {
      bottom: 5px;
      position: relative;
      color: #7b7878;
    }
  }
}
