.tl-tag {
  display: inline-block;
  &.clickable{
    cursor: pointer;
  }
}

.tag {
  position: relative;
  display: inline-block;
  align-items: center;
  border-radius: 3px;
  user-select: none;
  text-align: center;
  padding: 0 7px;
  margin: 2.5px;

  > .icon {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
  }

  > .description {
    margin: 0 7px;
    text-align: center;
    font-size: 12px;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }

  &.customColor {
    color: white;
  }
}

.tl-tag-input-wrapper{
  display: inline-table;
}
