.check-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 2.5px 30px 2.5px 2.5px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
}

input[type='checkbox']:checked:before {
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
}

input[type='checkbox']:after {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type='checkbox']:checked:after {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type='checkbox']:checked:before {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.-label {
  font-family: 'Lato', sans-serif;
  font-size: 1em !important;
  font-weight: normal !important;
  position: relative;
  color: #737373;
  left: 25px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}

.checkmark-wrapper {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  z-index: 400;
}

.checkmark {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: -4px;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 10px;
  left: 10.5px;
  top: 5px;
}

.checkmark_kick {
  position: absolute;
  width: 4px;
  height: 3px;
  left: 8px;
  top: 12px;
}