.check-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 2.5px 30px 2.5px 2.5px;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
}

input[type='checkbox']:checked:before {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
}

input[type='checkbox']:after {
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type='checkbox']:checked:after {
  content: '\f00c';
  position: absolute;
  font-family: FontAwesome;
  padding-top: 3px;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  background-color: #66cc99;
  border: 0;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.-label {
  font-family: "Segoe UI" !important;
  font-size: 1em !important;
  font-weight: normal !important;
  position: relative;
  left: 25px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}
