.check-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 2.5px 30px 2.5px 2.5px;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
}

input[type='checkbox']:checked:before {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  outline: 1px solid #cacaca;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  outline: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;

}

input[type='checkbox']:checked:after {
  position: absolute;
  text-align: center;
  background-color: #66cc99;
  outline: 1px solid #66cc99;
  border: 0;
  line-height: 1.8;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.-label {
  font-family: "Segoe UI" !important;
  font-size: 0.8em !important;
  font-weight: normal !important;
  position: relative;
  left: 25px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}

.checked {
  position: absolute;
  z-index: 2;
  top: 7px;
  bottom: 0;
  left: 4px;
  color: #fff;
  font-size: 12px;
}

.checked:hover {
  cursor: pointer;
}