<div class="ui-editor-wrapper" #wrapper>
  <div class="ui-editor-header">
    <ul class="ui-tools-list">
      <li>
        <tl-dropdown-list [data]="dataFont"
                          (ngModelChange)="onChangeFont($event)"
                          [text]="'textItem'"
                          [valueItem]="'value'"
                          [(ngModel)]="font">
        </tl-dropdown-list>
      </li>
      <li><tl-dropdown-list [data]="dataFontSize" [(ngModel)]="fontSize"></tl-dropdown-list></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-bold" (click)="setBold()"></button></li>
      <li><button class="ui-command fa fa-italic" (click)="setItalic()"></button></li>
      <li><button class="ui-command fa fa-underline" (click)="setUnderline()"></button></li>
      <li>
        <i class="ion-paintbucket"></i>
        <input class="ui-command ui-color-component" [(ngModel)]="colorSelected" (ngModelChange)="onChangeColor($event)" type="color">
      </li>
      <li><button class="ui-command fa fa-pencil" (click)="setHighlight()"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-align-left" (click)="alignContent('justifyLeft')"></button></li>
      <li><button class="ui-command fa fa-align-center" (click)="alignContent('justifyCenter')"></button></li>
      <li><button class="ui-command fa fa-align-right" (click)="alignContent('justifyRight')"></button></li>
      <li><button class="ui-command fa fa-align-justify" (click)="alignContent('justifyFull')"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-list-ul" (click)="setUnorderedList()"></button></li>
      <li><button class="ui-command fa fa-list-ol" (click)="setOrderedList()"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-link" (click)="toggleLinkBox(); setDescriptionLink();"></button></li>
      <li><button class="ui-command fa ion-image" (click)="toggleImageBox()"></button></li>
    </ul>
  </div>
  <div #contentEditor
       tabindex="-1"
       class="ui-editor-content"
       (mouseup)="onMouseUp()"
       (click)="setCursorSelection()"
       [ngStyle]="{
         'text-align': alignment,
         'font-size': fontSize + 'px'
       }"
       [attr.contenteditable]="contentEditable">
    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,
    quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de
    Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
  </div>
  <tl-editor-link-box [descriptionLink]="descriptionLink"
                      *ngIf="toggleLink && !toggleImage"
                      (onSetLink)="setLink($event)"
                      (onToggleLink)="toggleLinkBox()">
  </tl-editor-link-box>
  <tl-editor-image-box *ngIf="toggleImage && !toggleLink"
                       [imageUrl]="imageUrl"
                       (onSetImage)="setImage($event)"
                       (onToggleImage)="toggleImageBox()">
  </tl-editor-image-box>
</div>
