<div class="router-outlet">
  <app-showcase-header name="Editor" module="EditorModule">
    Displays collapsible content panels for presenting information in a limited amount of
    space.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <tl-editor></tl-editor>
              <div class="spacer"></div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="setup">
      <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
        <app-card>
          <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
        </app-card>
        <app-card>
          <div class="col-12">
            <h6>ToolbarConfig</h6>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'json'">
font: {
    family:    { show: boolean, tooltipText: string }
    size:      { show: boolean, tooltipText: string }
    bold:      { show: boolean, tooltipText: string }
    italic:    { show: boolean, tooltipText: string }
    underline: { show: boolean, tooltipText: string }
    color:     { show: boolean, tooltipText: string }
    highlight: { show: boolean, tooltipText: string }
  }
alignment: {
    left:      { show: boolean, tooltipText: string }
    center:    { show: boolean, tooltipText: string }
    right:     { show: boolean, tooltipText: string }
    justify:   { show: boolean, tooltipText: string }
  }
lists: {
    ordered:   { show: boolean, tooltipText: string }
    unordered: { show: boolean, tooltipText: string }
  }
others: {
    link:      { show: boolean, tooltipText: string }
    imageLink: { show: boolean, tooltipText: string }
    quote:     { show: boolean, tooltipText: string }
  }
                    </textarea>
          </div>
        </app-card>
      </app-showcase-card>
      <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
        <app-card>
          <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
        </app-card>
      </app-showcase-card>
    </div>
  </div>
</div>
