
<div class="thumbnail-container">
  <ng-container *ngIf="data.length > 0; else thumbTemplate">
    <ng-container *ngFor="let item of data">
      <ng-container *ngTemplateOutlet="thumbTemplate; context: { $implicit: item }"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #thumbTemplate let-item>
  <div class="thumbnail" (click)="clickThumbnail.emit($event)"
       [style.width]="size.width"
       [style.height]="size.height"
       [class.circle-shape]="isCircle"
       [class.borderLess]="!bordered">
    <ng-container *ngIf="!item && !image; else imageTemplate">
      <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
    </ng-container>
    <ng-template #imageTemplate>
      <div *ngIf="item.type === 'png' || item.type === 'jpeg' || item.type === 'bmp' || item.type === 'jpg'"
           class="thumbnail-image-wrapper" [class.circle-shape]="isCircle">
        <img class="thumbnail-image" [class.circle-shape]="isCircle" alt="image" [src]="item.file || image">
        <div class="thumbnail-controls" *ngIf="!overlayTemplate">
          <tl-icon style="margin-right: 5px" (click)="onViewImage( image )" [lib]="'dx'">find</tl-icon>
        </div>
        <div class="thumbnail-controls" *ngIf="overlayTemplate">
          <ng-container *ngTemplateOutlet="overlayTemplate; context: { $implicit: item || image }"></ng-container>
        </div>
      </div>

      <div *ngIf="item.type === 'pdf'" class="thumbnail-image-wrapper" [class.circle-shape]="isCircle">
        <tl-icon style="margin-right: 5px" [lib]="'fa'" [style]="'fas'" [color]="'#ec7e7e'" [size]="'40px'">file-pdf</tl-icon>
        <div class="thumbnail-controls" *ngIf="!overlayTemplate">
          <tl-icon style="margin-right: 5px" (click)="onViewImage( image )" [lib]="'dx'">find</tl-icon>
        </div>
        <div class="thumbnail-controls" *ngIf="overlayTemplate">
          <ng-container *ngTemplateOutlet="overlayTemplate; context: { $implicit: item || image }"></ng-container>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>

