<div class="router-outlet">
  <app-showcase-header name="Radio Button" module="RadioButtonModule">
    There's a lot of ways to create an Radio Button using Truly UI. Below, are some of those.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <h6>Orientation Horizontal</h6>
              <tl-radio-group [name]="'Genero'" [(ngModel)]="radio" [orientation]="'horizontal'">
                <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
                <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
              </tl-radio-group>
              <app-showcase-returned-value [value]="radio"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-radio-group [name]="'Genero'" [(ngModel)]="radio" [orientation]="'horizontal'">
<tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
<tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
</tl-radio-group>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h6>Orientation Vertical</h6>
              <tl-radio-group [name]="'Genero'" [(ngModel)]="radio2" [orientation]="'vertical'">
                <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
                <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
              </tl-radio-group>
              <app-showcase-returned-value [value]="radio2"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-radio-group [name]="'Genero'" [(ngModel)]="radio2" [orientation]="'vertical'">
<tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
<tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
</tl-radio-group>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <div class="col-12">
        <h6>tl-radio-group</h6>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
        <h6>tl-radiobutton</h6>
        <app-showcase-table-properties [data]="dataTablePropertiesRadioButton"></app-showcase-table-properties>
      </div>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
    <app-card>
      <div class="col-12">
        <h4><code>All <b>Angular Supported Events</b> can be used on this component.</code></h4>
        <h6>tl-radio-group</h6>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </div>
    </app-card>
  </app-showcase-card>
</div>
