@import "../core/styles/theming/theming";

@mixin tl-radiobutton-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary: map-deep-get($theme, 'primary');

  .group-radios {

    .radio-ring {
      background: map-deep-get($basic, "default", "background");
    }

    input[type='radio']:after {
      background-color: map-deep-get($basic, "default", "border");
    }

    .-label {
      color: map-deep-get($basic, "default", "foreground");
    }

    .disabled {
      background: map-deep-get($basic, "disabled", "background");
    }

    .radio-selected {
      background-color: map-deep-get($primary, "default", "background");
      &.disabled {
        background: map-deep-get($basic, "disabled", "foreground");
        opacity: 0.2;
      }
    }

  }
}
