<div class="content-dialog" (keydown)="onkeyup($event)">
    <div class="form">
        <p>{{message}}</p>
    </div>
    <div class="header-controls">
        <tl-button #buttonDialogOk [text]="textYes"
                   mdResult="MRYES"
                   [color]="'success'"
                   [iconAddonBefore]="'ion ion-md-checkmark'">
        </tl-button>
        &nbsp;&nbsp;&nbsp;
        <tl-button #buttonDialogCancel [text]="textNo"
                   mdResult="MRNO"
                   [color]="'basic'"
                   [iconAddonBefore]="'ion ion-md-close'">
        </tl-button>
    </div>
</div>
