.tl-modal-containter {
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 10px 1px #D6D6D6;
    box-shadow: 1px 1px 10px 1px #D6D6D6;
}
