<div #modal (mousedown)="setZIndex()" class="tl-modal-container">
    <div class="header" [ngStyle]="{'background-color': color}">
        <div class="bar" (mousedown)="mouseDown($event)" (dblclick)="maximizeModal()">
            <span class="icon"><i [ngClass]="icon"></i></span>
            <span class="title">{{title}}</span>
        </div>
        <div class="controls">
            <span class="control-item" (mouseup)="minimizeModal()">
                <i class="ion-android-remove" [class.disabled]="!minimizable"></i>
            </span>

            <span class="control-item"  *ngIf="!maximized" (mouseup)="maximizeModal()">
                <i ngClass="ion-android-expand" [class.disabled]="!maximizable"></i>
            </span>

            <span class="control-item" *ngIf="maximized" (mouseup)="restoreMaximize()">
                <i ngClass="ion-android-contract"></i>
            </span>

            <span class="control-item" (mouseup)="closeModal()">
                <i class="ion-close" style="padding-right: 10px"></i>
            </span>
        </div>
    </div>
    <div class="body" #body></div>
    <ng-content></ng-content>
</div>
