.tl-modal-container {
    margin: 0 auto;
    padding: 0 auto;
    position: fixed;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: default;
    border-top: 0;

    > .header {
    user-select: none;
    height: 34px;
    }

    > .header .title {
    text-align: left;
    line-height: 34px;
    color: #fff;
    user-select: none;
    font-family: "Segoe UI";
    font-size: 13px;
    }

    > .header .bar {
    float: left;
    width: 100%;
    cursor: default;
    }

    > .header .controls {
    position: absolute;
    right: 0.1px;
    width: 90px;
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
        align-items: center;
    }

    > .header .controls .control-item {
    text-align: center;
    width: 30px;
    left: 5px;
    margin: 0;
    font-size: 13px;
    }

    > .header .controls .control-item .disabled {
        opacity: 0.4;
    }

    > .header .controls .control-item:hover {
    cursor: pointer;
    }

    > .header .controls i {
    line-height: 34px;
    color: #fff;
    text-align: center;
    }

    > .header .icon i {
        color: #fff;
        padding: 7px;

    }

}

