<div class="router-outlet">
  <app-showcase-header name="Badge" module="BadgeModule">
    Badge normally appears in proximity to notifications or user avatars with eye-catching appeal, typically displaying unread messages count.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <h6>Basic</h6>
              <div class="badge-wrapper">
                <tl-badge [count]="5" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </div>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-badge [count]="5" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Standalone</h6>
              <div class="badge-wrapper-stand">
                <tl-badge [count]="25" [color]="'danger'"></tl-badge>
              </div>
              <div class="badge-wrapper-stand">
                <tl-badge [count]="4" [color]="'basic'"></tl-badge>
              </div>
              <div class="badge-wrapper-stand">
                <tl-badge [count]="200" [color]="'success'"></tl-badge>
              </div>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-badge [count]="25" [color]="'danger'"></tl-badge>
<tl-badge [count]="4" [color]="'basic'"></tl-badge>
<tl-badge [count]="200" [color]="'success'"></tl-badge>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Overflow Count</h6>
              <div class="badge-wrapper">
                <tl-badge [count]="99" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [count]="200" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [count]="200" [maxCount]="10" [color]="'danger'"><span class="head-example"></span>
                </tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [count]="10000" [maxCount]="999" [color]="'danger'"><span class="head-example"></span>
                </tl-badge>
              </div>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-badge [count]="99" [color]="'danger'"><span class="head-example"></span></tl-badge>
<tl-badge [count]="200" [color]="'danger'"><span class="head-example"></span></tl-badge>
<tl-badge [count]="200" [maxCount]="10" [color]="'danger'"><span class="head-example"></span></tl-badge>
<tl-badge [count]="10000" [maxCount]="999" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Dynamic</h6>
              <div class="badge-wrapper">
                <tl-badge [count]="count" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </div>
              <tl-button [width]="'40px'" (click)="minCount()">
                <tl-icon [lib]="'fa'" [style]="'fas'">minus</tl-icon>
              </tl-button>
              <tl-button [width]="'40px'" (click)="addCount()">
                <tl-icon [lib]="'fa'" [style]="'fas'">plus</tl-icon>
              </tl-button>
              <br>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="onlyDot" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </div>
              <tl-switch [label]="'Dot'" [color]="'information'" [checked]="true" (toggle)="onlyDot = $event"></tl-switch>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-badge [count]="count" [color]="'danger'"><span class="head-example"></span></tl-badge>
<tl-badge [onlyDot]="true" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Status Color</h6>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'basic'"></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'primary'"></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'success'"></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'danger'"></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'warning'"></tl-badge>
              </div>
              <div class="badge-wrapper">
                <tl-badge [onlyDot]="true" [color]="'information'"></tl-badge>
              </div>
              <ul>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'basic'"></tl-badge>
                  </div>
                  Default
                </li>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'primary'"></tl-badge>
                  </div>
                  Primary
                </li>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'success'"></tl-badge>
                  </div>
                  Success
                </li>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'danger'"></tl-badge>
                  </div>
                  Error
                </li>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'warning'"></tl-badge>
                  </div>
                  Warning
                </li>
                <li>
                  <div class="badge-wrapper">
                    <tl-badge [onlyDot]="true" [color]="'information'"></tl-badge>
                  </div>
                  Information
                </li>
              </ul>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-badge [onlyDot]="true" [color]="'basic'"></tl-badge>
<tl-badge [onlyDot]="true" [color]="'primary'"></tl-badge>
<tl-badge [onlyDot]="true" [color]="'success'"></tl-badge>
<tl-badge [onlyDot]="true" [color]="'danger'"></tl-badge>
<tl-badge [onlyDot]="true" [color]="'warning'"></tl-badge>
<tl-badge [onlyDot]="true" [color]="'information'"></tl-badge>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Clickable</h6>
              <tl-badge [count]="5" [color]="'danger'"><span class="head-example"></span></tl-badge>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-badge [count]="5" [color]="'danger'"><span class="head-example"></span></tl-badge>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
