<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Tooltip <span class="module-name"><code><u>Module Name</u>: <strong>TooltipModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>TooltipModule</strong></code></p>
    <p class="text-content">The tooltip can be used in any HTML element.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Placement Top</h5>
              <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'top'}"></tl-input>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'top'}"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Placement Bottom</h5>
              <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'bottom'}"></tl-input>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
  <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'bottom'}"></tl-input>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>Placement Right</h5>
              <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'right'}"></tl-input>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
  <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'right'}"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Placement Left</h5>
              <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'left'}"></tl-input>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'left'}"></tl-input>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>Custom Background Color</h5>
              <tl-input type="text"
                        [tooltip]="{text: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.', placement: 'top', color: '#CC181E', width: '320px'}">
              </tl-input>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
  <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'top', color: '#CC181E', width: '320px'}"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Custom Font Color</h5>
              <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'bottom', color: '#167AC6', fontColor: '#000' }"></tl-input>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-input type="text" [tooltip]="{text: 'My tooltip', placement: 'right', color: '#167AC6', fontColor: '#000' }"></tl-input>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <app-showcase-table-properties [data]="tooltipProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
</div>
