<div class="chat-content-wrapper" [style.height]="'calc(' + maxHeight + ' - 35px)'">

  <div class="chat-messages-content" #messageContent [style.height]="'calc(' + maxHeight + ' - 75px)'">
    <ng-container *ngFor="let item of groupMessages">

        <div class="chat-time">  {{ currentDate(item.date) }}</div>
        <ng-container *ngFor="let msg of item.messages">

          <ng-container *ngIf="msg?.from.id === partner?.id">
            <ng-container *ngTemplateOutlet="partnerTemplate; context: { message: msg }"></ng-container>
          </ng-container>

          <ng-container *ngIf="msg?.from.id === user?.id">
            <ng-container *ngTemplateOutlet="userTemplate; context: { message: msg }"></ng-container>
          </ng-container>

      </ng-container>

    </ng-container>
  </div>

  <div class="chat-type">
   <textarea [formControl]="control" #input (keydown.enter)="$event.preventDefault(); sendMessage()"
             class="chat-input" placeholder="Digite algo"></textarea>
    <div class="icon-send" (click)="sendMessage()">
      <tl-icon [lib]="'ion'" [style]="'md'">send</tl-icon>
    </div>
  </div>
</div>

<ng-template #userTemplate let-message="message">
  <div class="chat-user">
    <div class="chat-text-content">
      <p>{{ message?.message }}</p>
      <span>{{ message.time | date:'HH:mm' }}</span>
    </div>
  </div>
</ng-template>

<ng-template #partnerTemplate let-message="message">
  <div class="chat-partner">
    <div class="chat-text-content">
      <div class="chat-arrow"></div>
      <p>{{ message?.message }}</p>
      <span>{{ message.time | date:'HH:mm' }}</span>
    </div>
  </div>
</ng-template>
