<div class="chat-content-wrapper" [style.height]="'calc(' + maxHeight + ' - 35px)'">

  <div class="chat-messages-content" #messageContent [style.height]="'calc(' + maxHeight + ' - 75px)'">

    <ng-container *ngIf="!loadingMessages; else loadMessagesTemplate">
      <ng-container *ngFor="let item of messages | filterMessage; trackBy:trackByFn">

          <div class="chat-time">  {{ currentDate(item.date) }}</div>
          <ng-container *ngFor="let msg of item.messages; trackBy:trackByFn">

            <ng-container *ngIf="msg?.from?.id === partner?.id">
              <ng-container *ngTemplateOutlet="partnerTemplate; context: { message: msg }"></ng-container>
            </ng-container>

            <ng-container *ngIf="msg?.from?.id === user?.id">
              <ng-container *ngTemplateOutlet="userTemplate; context: { message: msg }"></ng-container>
            </ng-container>

        </ng-container>

      </ng-container>
    </ng-container>

  </div>

  <div class="chat-type">
   <textarea [formControl]="control" #input (keydown.enter)="$event.preventDefault(); sendMessage()"
             class="chat-input" [placeholder]="saySomething"></textarea>
    <div class="icon-send" (click)="sendMessage()">
      <tl-icon [lib]="'ion'" [style]="'md'">send</tl-icon>
    </div>
  </div>
</div>

<ng-template #userTemplate let-message="message">
  <div class="chat-user">
    <div class="chat-text-content">
      <p>{{ message?.message }}</p>
      <span>{{ message.time | date:'HH:mm' }}</span>
    </div>
  </div>
</ng-template>

<ng-template #loadMessagesTemplate>
  <div class="chat-loader-wrapper">
    <div class="chat-loader">
      <tl-loader [strokeWidth]="3" [color]="'#6b6b6b'"></tl-loader>
    </div>
    <span class="chat-loader-message">{{ loadingMessagesLabel }}</span>
  </div>
</ng-template>

<ng-template #partnerTemplate let-message="message">
  <div class="chat-partner">
    <div class="chat-text-content">
      <div class="chat-arrow"></div>

      <p>{{ message?.message }}</p>
      <span>{{ message.time | date:'HH:mm' }}</span>
    </div>
  </div>
</ng-template>
