<div class="ui-palette-wrapper">
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FFEBEE'" [shade]="'Red 50'"></tag-color>
        <tag-color [color]="'#FFCDD2'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#EF9A9A'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#E57373'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#EF5350'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#F44336'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#E53935'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#D32F2F'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#C62828'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#B71C1C'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#FF8A80'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FF5252'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#FF1744'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#D50000'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FCE4EC'" [shade]="'Pink 50'"></tag-color>
        <tag-color [color]="'#F8BBD0'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F48FB1'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F06292'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#EC407A'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#E91E63'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#D81B60'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#C2185B'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#AD1457'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#880E4F'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#FF80AB'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FF4081'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#F50057'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#C51162'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#F3E5F5'" [shade]="'Purple 50'"></tag-color>
        <tag-color [color]="'#E1BEE7'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#CE93D8'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#BA68C8'" [shade]="'300'" [font]="'white'"></tag-color>
        <tag-color [color]="'#AB47BC'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#9C27B0'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#8E24AA'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#7B1FA2'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#6A1B9A'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#4A148C'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#EA80FC'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#E040FB'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#D500F9'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#AA00FF'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#EDE7F6'" [shade]="'Deep Purple 50'"></tag-color>
        <tag-color [color]="'#D1C4E9'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#B39DDB'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#9575CD'" [shade]="'300'" [font]="'white'"></tag-color>
        <tag-color [color]="'#7E57C2'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#673AB7'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#5E35B1'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#512DA8'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#4527A0'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#311B92'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#B388FF'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#7C4DFF'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#651FFF'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#6200EA'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E8EAF6'" [shade]="'Indigo 50'"></tag-color>
        <tag-color [color]="'#C5CAE9'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#9FA8DA'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#7986CB'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#5C6BC0'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#3F51B5'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#3949AB'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#303F9F'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#283593'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#1A237E'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#8C9EFF'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#536DFE'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#3D5AFE'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#304FFE'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E3F2FD'" [shade]="'Blue 50'"></tag-color>
        <tag-color [color]="'#BBDEFB'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#90CAF9'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#64B5F6'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#42A5F5'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#2196F3'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#1E88E5'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#1976D2'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#1565C0'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#0D47A1'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#82B1FF'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#448AFF'" [shade]="'A200'" [font]="'white'"></tag-color>
        <tag-color [color]="'#2979FF'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#2962FF'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E1F5FE'" [shade]="'Light Blue 50'"></tag-color>
        <tag-color [color]="'#B3E5FC'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#81D4FA'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#4FC3F7'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#29B6F6'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#03A9F4'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#039BE5'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#0288D1'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#0277BD'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#01579B'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#80D8FF'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#40C4FF'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00B0FF'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#0091EA'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E0F7FA'" [shade]="'Cyan 50'"></tag-color>
        <tag-color [color]="'#B2EBF2'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#80DEEA'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#4DD0E1'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#26C6DA'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00BCD4'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00ACC1'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#0097A7'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#00838F'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#006064'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#84FFFF'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#18FFFF'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00E5FF'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00B8D4'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#EDF9F3'" [shade]="'Cyan Green 50'"></tag-color>
        <tag-color [color]="'#D1F0E0'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#B3E6CC'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#94DBB8'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#7DD4A8'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#66CC99'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#5EC791'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#53C086'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#49B97C'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#38AD6B'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#F9FFFC'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#C6FFDE'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#93FFC0'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#7AFFB1'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E0F2F1'" [shade]="'Teal 50'"></tag-color>
        <tag-color [color]="'#B2DFDB'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#80CBC4'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#4DB6AC'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#26A69A'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#009688'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#00897B'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#00796B'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#00695C'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#004D40'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#A7FFEB'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#64FFDA'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#1DE9B6'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00BFA5'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#E8F5E9'" [shade]="'Green 50'"></tag-color>
        <tag-color [color]="'#C8E6C9'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#A5D6A7'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#81C784'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#66BB6A'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#4CAF50'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#43A047'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#388E3C'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#2E7D32'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#1B5E20'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#B9F6CA'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#69F0AE'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00E676'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#00C853'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#F1F8E9'" [shade]="'Light Green 50'"></tag-color>
        <tag-color [color]="'#DCEDC8'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#C5E1A5'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#AED581'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#9CCC65'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#8BC34A'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#7CB342'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#689F38'" [shade]="'700'" [font]="'black'"></tag-color>
        <tag-color [color]="'#558B2F'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#33691E'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#CCFF90'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#B2FF59'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#76FF03'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#64DD17'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#F9FBE7'" [shade]="'Lime 50'"></tag-color>
        <tag-color [color]="'#F0F4C3'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#E6EE9C'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#DCE775'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#D4E157'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#CDDC39'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#C0CA33'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#AFB42B'" [shade]="'700'" [font]="'black'"></tag-color>
        <tag-color [color]="'#9E9D24'" [shade]="'800'" [font]="'black'"></tag-color>
        <tag-color [color]="'#827717'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#F4FF81'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#EEFF41'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#C6FF00'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#AEEA00'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FFFDE7'" [shade]="'Yellow 50'"></tag-color>
        <tag-color [color]="'#FFF9C4'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFF59D'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFF176'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFEE58'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFEB3B'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FDD835'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FBC02D'" [shade]="'700'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F9A825'" [shade]="'800'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F57F17'" [shade]="'900'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FFFF8D'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FFFF00'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFEA00'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFD600'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FFF8E1'" [shade]="'Amber 50'"></tag-color>
        <tag-color [color]="'#FFECB3'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFE082'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFD54F'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFCA28'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFC107'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFB300'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFA000'" [shade]="'700'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF8F00'" [shade]="'800'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF6F00'" [shade]="'900'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FFE57F'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FFD740'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFC400'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFAB00'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FFF3E0'" [shade]="'Orange 50'"></tag-color>
        <tag-color [color]="'#FFE0B2'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFCC80'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFB74D'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFA726'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF9800'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FB8C00'" [shade]="'600'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F57C00'" [shade]="'700'" [font]="'black'"></tag-color>
        <tag-color [color]="'#EF6C00'" [shade]="'800'" [font]="'black'"></tag-color>
        <tag-color [color]="'#E65100'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#FFD180'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FFAB40'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF9100'" [shade]="'A400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF6D00'" [shade]="'A700'" [font]="'black'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FBE9E7'" [shade]="'Deep Orange 50'"></tag-color>
        <tag-color [color]="'#FFCCBC'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FFAB91'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF8A65'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF7043'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF5722'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#F4511E'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#E64A19'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#D84315'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#BF360C'" [shade]="'900'" [font]="'white'"></tag-color>

        <tag-color [color]="'#FF9E80'" [shade]="'A100'" [font]="'black'"></tag-color>

        <tag-color [color]="'#FF6E40'" [shade]="'A200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#FF3D00'" [shade]="'A400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#DD2C00'" [shade]="'A700'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#EFEBE9'" [shade]="'Brown 50'"></tag-color>
        <tag-color [color]="'#D7CCC8'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#BCAAA4'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#A1887F'" [shade]="'300'" [font]="'white'"></tag-color>
        <tag-color [color]="'#8D6E63'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#795548'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#6D4C41'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#5D4037'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#4E342E'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#3E2723'" [shade]="'900'" [font]="'white'"></tag-color>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#FAFAFA'" [shade]="'Gray 50'"></tag-color>
        <tag-color [color]="'#F5F5F5'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#EEEEEE'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#E0E0E0'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#BDBDBD'" [shade]="'400'" [font]="'black'"></tag-color>
        <tag-color [color]="'#9E9E9E'" [shade]="'500'" [font]="'black'"></tag-color>
        <tag-color [color]="'#757575'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#616161'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#424242'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#212121'" [shade]="'900'" [font]="'white'"></tag-color>
      </div>
    </div>
    <div class="ui-palette col-md-4">
      <div class="ui-palette-body">
        <tag-color [color]="'#ECEFF1'" [shade]="'Blue Gray 50'"></tag-color>
        <tag-color [color]="'#CFD8DC'" [shade]="'100'" [font]="'black'"></tag-color>
        <tag-color [color]="'#B0BEC5'" [shade]="'200'" [font]="'black'"></tag-color>
        <tag-color [color]="'#90A4AE'" [shade]="'300'" [font]="'black'"></tag-color>
        <tag-color [color]="'#78909C'" [shade]="'400'" [font]="'white'"></tag-color>
        <tag-color [color]="'#607D8B'" [shade]="'500'" [font]="'white'"></tag-color>
        <tag-color [color]="'#546E7A'" [shade]="'600'" [font]="'white'"></tag-color>
        <tag-color [color]="'#455A64'" [shade]="'700'" [font]="'white'"></tag-color>
        <tag-color [color]="'#37474F'" [shade]="'800'" [font]="'white'"></tag-color>
        <tag-color [color]="'#263238'" [shade]="'900'" [font]="'white'"></tag-color>
      </div>
    </div>
  </div>
</div>
