.ui-toolbar-wrapper {
  * {
    font-size: 20px !important;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }

  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .ui-toolbar-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    > ::ng-deep span,
      ::ng-deep h1,
      ::ng-deep h2,
      ::ng-deep h3,
      ::ng-deep h4,
      ::ng-deep h5,
      ::ng-deep h6 {
        margin: 0;
        padding: 0 16px;
    }

  }

}

