.ui-toolbar-wrapper {
  * {
    font-size: 20px !important;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }

  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .ui-toolbar-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    >  span,
       h1,
       h2,
       h3,
       h4,
       h5,
       h6,
       i {
      margin: 0;
      padding: 0 50px;
    }
  }

}
