<div class="router-outlet">
  <app-showcase-header name="TimeAvailablePicker" module="TimeAvailablePickerModule">
    The Truly-UI TimeAvailablePicker are styles for actions in forms, dialogs, and more with support for multiple sizes, states
    and many properties for customization.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h6>Basic</h6>
              <tl-time-available-picker (changeSelect)="onChangeSelect($event)" [availableTimes]="data"></tl-time-available-picker>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-time-available-picker [availableTimes]="data"></tl-time-available-picker>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Pre-Selected Value</h6>
              <tl-time-available-picker [value]="value" [availableTimes]="data"></tl-time-available-picker>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-time-available-picker [value]="value"  [availableTimes]="data"></tl-time-available-picker>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
