<div class="router-outlet">
<div class="header-title-demo">
  <h1 class="title">Input Mask <span class="module-name"><code><u>Module Name</u>: <strong>InputModule</strong></code></span></h1>
  <p class="module-name-top"><code><u>Module Name</u>: <strong>InputModule</strong></code></p>
  <p class="text-content">Mask's are very common, that's why we bring it so easy to set up.</p>
</div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-12">
              <span>Basic</span>
              <tl-input [mask]="{mask: '00/00/0000'}"
                        [(ngModel)]="basic"></tl-input>
              <span class="returned-value">Returned Value: {{basic}}</span>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input [mask]="{mask: '00/00/0000'}"
          [(ngModel)]="basic"></tl-input>
<span style="font-size: 12px; color: #9d9d9d">Returned Value: {{basic}}</span>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>Text + Number</span>
              <tl-input
                [mask]="{mask: 'AAA-0000', uppercase: true}"
                [(ngModel)]="textNumber"
                [iconBefore]="'ion-printer'">
              </tl-input>
              <span style="font-size: 12px; color: #9d9d9d">Returned Value: {{textNumber}}</span>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input
  [mask]="{mask: 'AAA-0000', uppercase: true}"
  [(ngModel)]="textNumber"
  [iconBefore]="'ion-printer'">
          </tl-input>
<span style="font-size: 12px; color: #9d9d9d">Returned Value: {{textNumber}}</span>
</textarea>
            </div>
            <div class="col-md-6">
              <span>Without Guides</span>
              <tl-input
                [mask]="{mask: 'AAA-0000', guides: false}"
                [(ngModel)]="sGuides"
                [iconAfter]="'ion-printer'">
              </tl-input>
              <span style="font-size: 12px; color: #9d9d9d">Returned Value: {{sGuides}}</span>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input
  [mask]="{mask: 'AAA-0000', guides: false}"
  [(ngModel)]="sGuides"
  [iconAfter]="'ion-printer'">
              </tl-input>
<span style="font-size: 12px; color: #9d9d9d">Returned Value: {{sGuides}}</span>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <app-showcase-card [title]="'Mask Pattern'" [icon]="'ion-android-bulb'">
        <app-card>
          <div class="pattern">
            <p>A - Alpha character (A-Z,a-z)</p>
            <p>9 - Numeric character (0-9)</p>
            <p>0 - Alpha numberic character (A-Z,a-z,0-9)</p>
          </div>
        </app-card>
      </app-showcase-card>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <app-showcase-table-properties [data]="maskDemoProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
    <app-card>
      <h4><code>All <b>Angular Supported Events</b> and <b>TlInput Events</b> can be used on this Component.</code></h4>
    </app-card>
  </app-showcase-card>
</div>
