@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.anim-wrench.animated,
.anim-wrench.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

.anim-wrench.animated.anim-fast,
.anim-wrench.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-wrench.anim-fast {
  -webkit-animation: wrench 1.2s ease infinite;
  animation: wrench 1.2s ease infinite;
}

.anim-wrench.animated.anim-slow,
.anim-wrench.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-wrench.anim-slow {
  -webkit-animation: wrench 3.7s ease infinite;
  animation: wrench 3.7s ease infinite;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.anim-ring.animated,
.anim-ring.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

.anim-ring.animated.anim-fast,
.anim-ring.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-ring.anim-fast {
  -webkit-animation: ring 1s ease infinite;
  animation: ring 1s ease infinite;
}

.anim-ring.animated.anim-slow,
.anim-ring.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-ring.anim-slow {
  -webkit-animation: ring 3s ease infinite;
  animation: ring 3s ease infinite;
}

@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  4% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  8% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  12% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  16% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  20% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  22%, 100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes vertical {
  0% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  4% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  8% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  12% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  16% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  20% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  22%, 100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.anim-vertical.animated,
.anim-vertical.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-vertical {
  -webkit-animation: vertical 2s ease infinite;
  animation: vertical 2s ease infinite;
}

.anim-vertical.animated.anim-fast,
.anim-vertical.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-vertical.anim-fast {
  -webkit-animation: vertical 1s ease infinite;
  animation: vertical 1s ease infinite;
}

.anim-vertical.animated.anim-slow,
.anim-vertical.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-vertical.anim-slow {
  -webkit-animation: vertical 4s ease infinite;
  animation: vertical 4s ease infinite;
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36%, 100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36%, 100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.anim-horizontal.animated,
.anim-horizontal.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-horizontal {
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

.anim-horizontal.animated.anim-fast,
.anim-horizontal.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-horizontal.anim-fast {
  -webkit-animation: horizontal 1s ease infinite;
  animation: horizontal 1s ease infinite;
}

.anim-horizontal.animated.anim-slow,
.anim-horizontal.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-horizontal.anim-slow {
  -webkit-animation: horizontal 3s ease infinite;
  animation: horizontal 3s ease infinite;
}

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.anim-flash.animated,
.anim-flash.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}

.anim-flash.animated.anim-fast,
.anim-flash.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-flash.anim-fast {
  -webkit-animation: flash 1s ease infinite;
  animation: flash 1s ease infinite;
}

.anim-flash.animated.anim-slow,
.anim-flash.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-flash.anim-slow {
  -webkit-animation: flash 3s ease infinite;
  animation: flash 3s ease infinite;
}

@-webkit-keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.anim-bounce.animated,
.anim-bounce.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-bounce {
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

.anim-bounce.animated.anim-fast,
.anim-bounce.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-bounce.anim-fast {
  -webkit-animation: bounce 1s ease infinite;
  animation: bounce 1s ease infinite;
}

.anim-bounce.animated.anim-slow,
.anim-bounce.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-bounce.anim-slow {
  -webkit-animation: bounce 3s ease infinite;
  animation: bounce 3s ease infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.anim-spin.animated,
.anim-spin.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.anim-spin.animated.anim-fast,
.anim-spin.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-spin.anim-fast {
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite;
}

.anim-spin.animated.anim-slow,
.anim-spin.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-spin.anim-slow {
  -webkit-animation: spin 2.2s linear infinite;
  animation: spin 2.2s linear infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.anim-float.animated,
.anim-float.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

.anim-float.animated.anim-fast,
.anim-float.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-float.anim-fast {
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite;
}

.anim-float.animated.anim-slow,
.anim-float.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-float.anim-slow {
  -webkit-animation: float 3s linear infinite;
  animation: float 3s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.anim-pulse.animated,
.anim-pulse.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.anim-pulse.animated.anim-fast,
.anim-pulse.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-pulse.anim-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.anim-pulse.animated.anim-slow,
.anim-pulse.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-pulse.anim-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}

.anim-shake.animated,
.anim-shake.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-shake {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
}

.anim-shake.animated.anim-fast,
.anim-shake.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-shake.anim-fast {
  -webkit-animation: wrench 1.2s ease infinite;
  animation: wrench 1.2s ease infinite;
}

.anim-shake.animated.anim-slow,
.anim-shake.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-shake.anim-slow {
  -webkit-animation: wrench 3.7s ease infinite;
  animation: wrench 3.7s ease infinite;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80%, 100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.anim-tada.animated,
.anim-tada.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

.anim-tada.animated.anim-fast,
.anim-tada.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-tada.anim-fast {
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}

.anim-tada.animated.anim-slow,
.anim-tada.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-tada.anim-slow {
  -webkit-animation: tada 3s linear infinite;
  animation: tada 3s linear infinite;
}

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

.anim-passing.animated,
.anim-passing.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-passing {
  -webkit-animation: passing 2s linear infinite;
  animation: passing 2s linear infinite;
}

.anim-passing.animated.anim-fast,
.anim-passing.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-passing.anim-fast {
  -webkit-animation: passing 1s linear infinite;
  animation: passing 1s linear infinite;
}

.anim-passing.animated.anim-slow,
.anim-passing.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-passing.anim-slow {
  -webkit-animation: passing 3s linear infinite;
  animation: passing 3s linear infinite;
}

@-webkit-keyframes passing-reverse {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes passing-reverse {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }
}

.anim-passing-reverse.animated,
.anim-passing-reverse.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-passing-reverse {
  -webkit-animation: passing-reverse 2s linear infinite;
  animation: passing-reverse 2s linear infinite;
}

.anim-passing-reverse.animated.anim-fast,
.anim-passing-reverse.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-passing-reverse.anim-fast {
  -webkit-animation: passing-reverse 1s linear infinite;
  animation: passing-reverse 1s linear infinite;
}

.anim-passing-reverse.animated.anim-slow,
.anim-passing-reverse.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-passing-reverse.anim-slow {
  -webkit-animation: passing-reverse 3s linear infinite;
  animation: passing-reverse 3s linear infinite;
}

@-webkit-keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.anim-burst.animated,
.anim-burst.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-burst {
  -webkit-animation: burst 2s infinite linear;
  animation: burst 2s infinite linear;
}

.anim-burst.animated.anim-fast,
.anim-burst.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-burst.anim-fast {
  -webkit-animation: burst 1s infinite linear;
  animation: burst 1s infinite linear;
}

.anim-burst.animated.anim-slow,
.anim-burst.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-burst.anim-slow {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}

.anim-falling.animated,
.anim-falling.animated-hover:hover,
.anim-parent.animated-hover:hover > .anim-falling {
  -webkit-animation: falling 2s linear infinite;
  animation: falling 2s linear infinite;
}

.anim-falling.animated.anim-fast,
.anim-falling.animated-hover.anim-fast:hover,
.anim-parent.animated-hover:hover > .anim-falling.anim-fast {
  -webkit-animation: falling 1s linear infinite;
  animation: falling 1s linear infinite;
}

.anim-falling.animated.anim-slow,
.anim-falling.animated-hover.anim-slow:hover,
.anim-parent.animated-hover:hover > .anim-falling.anim-slow {
  -webkit-animation: falling 3s linear infinite;
  animation: falling 3s linear infinite;
}
