.ui-schedule-slats{
  display: grid;
  position: relative;
  grid-template-columns: 60px auto;
}

.ui-schedule-times{
  color: #949799;
  font-weight: 300;
  background-color: #FFFFFF;
  border-right: 1px solid #D6D6D6;
}

.ui-schedule-time-row {
  box-sizing: border-box;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
  width: 100%;
  &:last-child{
    border-bottom: none;
  }
  & .ui-hour-detail{
    font-weight: bold;
    font-size: 20px;
  }
}

.ui-schedule-widget-rows{
  >.ui-schedule-row{
    background-color: #f5f5f5;
    border-bottom: 1px #D6D6D6 dotted;
    &:first-child{
      border-bottom: 1px #D6D6D6 dotted;
    }
    &:last-child:not(.last){
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

.ui-schedule-widget-content {
  width: 100%;
  & .ui-schedule-row{
    padding-left: 10px;
    content: ' ';
    box-sizing: border-box;
    &:hover{
      background-color: #EDEDED;
    }
  }
}

.ui-schedule-skeleton{
  //position: absolute;
  >.ui-schedule-now-indicator{
    margin-top: -5px;
    position: absolute;
  }

  > .ui-schedule-now-arrow{
    left: 0;
    border: 1px solid red;
    border-width: 5px 0 5px 6px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}


//GRID EVENTS
.ui-schedule-grid-events{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  height: 0;
}

.ui-schedule-list-events{
  //  padding: 2px;
  position: relative;
}

.ui-schedule-event-box{
  background-color: #FFFFFF;
  border-radius: 4px 4px 2px 2px;
  font-size: 12px;
  border-top-width: 5px;
  border-top-color: transparent;
  border-top-style: solid;
  border-left: 1px #D6D6D6 solid;
  border-right: 1px #D6D6D6 solid;
  border-bottom: 1px #D6D6D6 solid;
  user-select: none;
  margin: 2px 2px 2px 0px;
  cursor: pointer;
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";


  display: flex;
  box-sizing: border-box;
  position: absolute;

  > .ui-event-hour{
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 10px;
    color: #454e58;
    align-items: center;
    display: flex;
    width: 30%;
  }
  > .ui-schedule-description{
    padding-left: 5px;
    width: 70%;
    > .ui-event-title{
      font-weight: 600;
      color: #454e58;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    > .ui-event-detail{
      color: #949799;
      font-size: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}




