.ui-schedule-slats{
  display: grid;
  position: relative;
  grid-template-columns: 60px auto;
  border-top: 1px solid #D6D6D6;
}

.ui-schedule-times{
  color: #949799;
  font-weight: 300;
  background-color: #FFFFFF;
  border-right: 1px solid #D6D6D6;
}

.ui-schedule-time-row {
  box-sizing: border-box;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
  width: 100%;
  &:last-child{
    border-bottom: none;
  }
  & .ui-hour-detail{
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.5;
  }
}

.ui-schedule-widget-rows{
  >.ui-schedule-row{
    background-color: #f5f5f5;
    border-bottom: 1px #D6D6D6 dotted;
    &:first-child{
      border-bottom: 1px #D6D6D6 dotted;
    }
    &:last-child:not(.last){
      border-bottom: 1px #D6D6D6 solid;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}

.ui-schedule-widget-content {
  width: 100%;
  & .ui-schedule-row{
    padding-left: 10px;
    content: ' ';
    box-sizing: border-box;
    &:hover{
      background-color: #EDEDED;
    }
  }
}

.ui-schedule-skeleton{
  >.ui-schedule-now-indicator{
    margin-top: -5px;
    position: absolute;
  }

  > .ui-schedule-now-arrow{
    left: 0;
    border: 1px solid red;
    border-width: 5px 0 5px 6px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.ui-schedule-grid-events{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  height: 0;
}

.ui-schedule-list-events{
  position: relative;
}

.ui-schedule-event-box{
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  background-color: #FFFFFF;
  border-radius: 4px 4px 2px 2px;
  border-left-width: 5px;
  border-left-color: transparent;
  border-left-style: solid;
  border-top: 1px #D6D6D6 solid;
  border-right: 1px #D6D6D6 solid;
  border-bottom: 1px #D6D6D6 solid;
  user-select: none;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  > .ui-event-hour{
    font-size: 0.8em;
    color: #454e58;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    display: flex;
    width: 35%;
  }
  > .ui-schedule-description{
    padding: 2px 0 0 5px;
    width: 65%;
    line-height: 1.3em;
    > .ui-event-title{
      font-size: 0.9em;
      font-weight: 600;
      color: #454e58;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    > .ui-event-detail{
      font-size: 0.8em;
      color: #949799;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}




