.ui-schedule-slats{
  display: grid;
  position: relative;
  grid-template-columns: 60px auto;
  border-top: 1px solid #D6D6D6;
}

.ui-schedule-times{
  color: #949799;
  font-weight: 300;
  background-color: #FFFFFF;
  border-right: 1px solid #D6D6D6;
}

.ui-schedule-time-row {
  box-sizing: border-box;
  border-bottom: 1px solid #D6D6D6;
  width: 100%;
  display: flex;
  justify-content: center;
  &:last-child{
    border-bottom: none;
  }
  >.ui-schedule-time-description{
    display: flex;
    align-items: baseline;
    & .ui-hour-detail{
      font-weight: bold;
      font-size: 1.6em;
      line-height: 1.5;
    }
  }
}

.ui-schedule-widget-rows{
  >.ui-schedule-row{
    background-color: #f5f5f5;
    border-bottom: 1px #D6D6D6 dotted;
    cursor: pointer;
    &.selected {
      background-color: #EDEDED;
    }
    &:first-child{
      border-bottom: 1px #D6D6D6 dotted;
    }
    &:last-child:not(.last){
      border-bottom: 1px #D6D6D6 solid;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}

.ui-schedule-widget-content {
  width: 100%;
  & .ui-schedule-row{
    padding-left: 10px;
    content: ' ';
    box-sizing: border-box;
    &:hover{
      background-color: #EDEDED;
    }
  }
}

.ui-schedule-skeleton{
  >.ui-schedule-now-indicator{
    margin-top: -5px;
    position: absolute;
  }

  > .ui-schedule-now-arrow{
    left: 0;
    border: 1px solid red;
    border-width: 5px 0 5px 6px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.ui-schedule-grid-events{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  height: 0;
}

.ui-schedule-list-events{
  position: relative;
}

.ui-schedule-event-box{
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  background-color: #FFFFFF;
  border-radius: 4px 4px 2px 2px;
  border-left-width: 5px;
  border-left-color: transparent;
  border-left-style: solid;
  border-top: 1px #D6D6D6 solid;
  border-right: 1px #D6D6D6 solid;
  border-bottom: 1px #D6D6D6 solid;
  user-select: none;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  position: absolute;
}

.ui-schedule-event-content{
  display: flex;
  width: 65%;
  flex-flow: column;
  place-content: space-between;
  >.ui-event-data {
    padding: 2px 0 0 5px;
    line-height: 1.3em;
    > .ui-event-title{
      display: flex;
      height: 17px;
      >.title {
        font-size: 0.9em;
        font-weight: 600;
        color: #454e58;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      >.tags {
        display: flex;
        margin-left: 10px;
        >.tag-item{
          border-radius: 2px;
          margin-right: 5px;
          min-width: 85px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          font-size: 0.80em;
          white-space: nowrap;
        }
      }
    }
    > .ui-event-detail{
      font-size: 0.85em;
      color: #949799;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  >.ui-event-note{
    font-size: 0.85em;
    color: #949799;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
  }
}
.ui-schedule-event-blocked {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
      135deg,
      rgba(245, 245, 245, 0.7),
      rgba(245, 245, 245, 0.7) 10px,
      #FFFFFF 10px,
      #FFFFFF 20px
  );
  > .ui-event-title{
    font-size: 1.1em;
    font-weight: 600;
    color: #454e58;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-variant-caps: all-petite-caps;
  }
  > .ui-event-hour{
    font-size: 1.1em;
    color: #454e58;
    justify-content: center;
    margin-right: 0;
  }
}

.ui-event-hour{
  font-size: 0.85em;
  color: #454e58;
  justify-content: flex-end;
  margin-right: 10px;
  align-items: center;
  display: flex;
  width: 35%;
  text-align: center;
}
