<div class="ui-wrapper-schedule">
  <div class="ui-schedule-header"></div>
  <div  class="ui-schedule-body" [ngStyle]="{height: height}">
    <div class="ui-schedule-slats">
      <div class="ui-schedule-times">
        <div class="ui-schedule-time-row" *ngFor="let time of timesCollection">
          <span class="ui-hour-detail">{{time | date: 'HH'}}</span>:{{time | date: 'mm'}}
        </div>
      </div>
      <div #scheduleSlats class="ui-schedule-widget-content">
        <div *ngFor="let time of timesCollection" class="ui-schedule-widget-rows">
          <div class="ui-schedule-row" (dblclick)="rowClick.emit( time )"></div>
          <div class="ui-schedule-row" (dblclick)="rowClick.emit( time )"></div>
        </div>
      </div>
    </div>
    <div class="ui-schedule-skeleton" >
      <div class="ui-schedule-grid-events">
        <div class="ui-schedule-list-events">
          <div class="ui-schedule-event-box" [ngStyle]="{top: '0', left: '0', right:'50%', bottom:'-41px'}">
            <div class="ui-schedule-description">
              <div class="ui-event-title">Ivana Vale Vasques JR.</div>
              <div class="ui-event-detail">Consulta | Particular</div>
            </div>
            <div class="ui-event-hour">08:00 - 08:30</div>
          </div>
          <div class="ui-schedule-event-box" [ngStyle]="{top: '0', left: '50%', right:'0', bottom:'-41px'}">
            <div class="ui-schedule-description">
              <div class="ui-event-title">Ivana Vale Vasques JR.</div>
              <div class="ui-event-detail">Consulta | Particular</div>
            </div>
            <div class="ui-event-hour">08:00 - 08:30</div>
          </div>
          <div class="ui-schedule-event-box" [ngStyle]="{top: '86px', left: '50%', right: '0', bottom:'-200px'}">
            <div class="ui-schedule-description">
              <div class="ui-event-title">Ivana Vale Vasques JR.</div>
              <div class="ui-event-detail">Consulta | Particular</div>
            </div>
            <div class="ui-event-hour">08:00 - 08:30</div>
          </div>
          <div class="ui-schedule-event-box" [ngStyle]="{top: '86px', left: '0', right: '50%', bottom:'-150px'}">
            <div class="ui-schedule-description">
              <div class="ui-event-title">Ivana Vale Vasques JR.</div>
              <div class="ui-event-detail">Consulta | Particular</div>
            </div>
            <div class="ui-event-hour">08:00 - 08:30</div>
          </div>
        </div>
      </div>
      <div class="ui-schedule-now-indicator ui-schedule-now-arrow" [ngStyle]="{top: nowIndicatorPositionTop + 'px'}"> </div>
    </div>
  </div>
  <div class="schedule-footer"></div>
</div>
