<div class="ui-wrapper-schedule">
  <div class="ui-schedule-header"></div>
  <div class="ui-schedule-body" [ngStyle]="{height: height}">
    <div class="ui-schedule-times">
      <div class="ui-schedule-time-row" *ngFor="let time of timesCollection">
        <span class="ui-hour-detail">{{time | date: 'HH'}}</span>:{{time | date: 'mm'}}
      </div>
    </div>
    <div class="ui-schedule-slats">
      <div *ngFor="let time of timesCollection" class="ui-schedule-slat">
        <div class="ui-schedule-row" (dblclick)="rowClick.emit( time )"></div>
        <div class="ui-schedule-row" (dblclick)="rowClick.emit( time )"></div>
      </div>
    </div>
  </div>
  <div class="schedule-footer"></div>
</div>
