<div class="ui-wrapper-schedule">
  <div class="ui-schedule-header"></div>
  <div class="ui-schedule-body" [ngStyle]="{height: height}">
    <div class="ui-schedule-times">
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">08</span>:00</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">08</span>:30</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">09</span>:00</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">09</span>:30</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">10</span>:00</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">10</span>:30</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">11</span>:00</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">11</span>:30</div>
      <div class="ui-schedule-time-row"><span class="ui-hour-detail">12</span>:00</div>
    </div>
    <div class="ui-schedule-slats">
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
      <div class="ui-schedule-row ui-first">
        asdsad
      </div>
      <div class="ui-schedule-row">
        dsadsad
      </div>
    </div>
  </div>
  <div class="schedule-footer"></div>
</div>
