.ui-wrapper-schedule {
  width: 100%;
  border: 1px solid #D6D6D6;
}

.ui-schedule-body {
  display: grid;
  position: relative;
  overflow-x: auto;
  grid-template-columns: 60px auto;
}

.ui-schedule-times{
  color: #949799;
  font-weight: 300;
  border-right: 1px solid #D6D6D6;
}

.ui-schedule-time-row {
  height: 70px;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
  width: 100%;
  &:last-child{
    border-bottom: none;
  }
  & .ui-hour-detail{
    font-weight: bold;
    font-size: 20px;
  }
}

.ui-schedule-slat{
  >.ui-schedule-row{
    &:first-child{
      border-bottom: 1px #D6D6D6 dotted;
    }
    &:last-child{
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

.ui-schedule-slats {
  width: 100%;
  & .ui-schedule-row{
    padding-left: 10px;
    height: 35px;
    content: ' ';
    &:hover{
      background-color: #EDEDED;
    }
  }
}

.ui-schedule-skeleton{
  position: absolute;
  >.ui-schedule-now-indicator{
    margin-top: -5px;
    position: absolute;
  }

  > .ui-schedule-now-arrow{
    left: 0;
    border: 1px solid red;
    border-width: 5px 0 5px 6px;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}


