<div class="router-outlet">
  <app-showcase-header name="Table Modes" module="DatatableModule">
    You can use the DataGrid in several ways including Normal, Scrollable, Paginator.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Table Modes'" [icon]="'far fa-lightbulb'">
          <!-- Normal Mode -->
          <app-card>
            <div class="col-12">
              <h4>Normal Mode</h4>
              <p>
                This is the default. Simple table that shows only the records that you pass at the time of creation.
                But you can use navigation, filtering, sorting all in memory.
              </p>
              <tl-datatable [data]="dataNormal"></tl-datatable>
              <hr>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
              <tl-datatable [data]="dataNormal"></tl-datatable>
            </textarea>

              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
export class DatatableColumnFeaturesDemoComponent {

  public dataNormal = [];

  constructor( private dumpDataService: DumpDataService ) {
    this.dataNormal = this.dumpDataService.createRandomData(1000);
  }
}
            </textarea>
            </div>
          </app-card>

          <!-- Scrollable Mode -->
          <app-card>
            <div class="col-12">
              <h4>Scrollable Mode</h4>
              <p>
                With scrollable you can navigate the data in a fluid and objective way by scrolling and scrolling to view new or old data.
                But you can use navigation, filtering, sorting all in memory.
              </p>
              <tl-datatable [data]="dataNormal" [mode]="'scrollable'" (rowSelect)="onSelectRow($event)" (rowClick)="onClickRow($event)"></tl-datatable>
              <hr>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
             <tl-datatable [data]="dataNormal" [mode]="'scrollable'"></tl-datatable>
            </textarea>

              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
export class DatatableColumnFeaturesDemoComponent {

  public dataNormal = [];

  constructor( private dumpDataService: DumpDataService ) {
    this.dataNormal = this.dumpDataService.createRandomData(1000);
  }
}
            </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
