.ui-calendar-content {
  position: fixed;
  padding: 10px;
  background: #fff;
  margin-top: 9px;
  border: 1px solid #C8C8C8;
}

.ui-wrapper-calendar-content {
  position: fixed;
}

.ui-arrow {
  position: fixed;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 100;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #C8C8C8 transparent;
}

.ui-arrow:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  top: 1px;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #fff transparent;
}
