<div class="ui-datepicker-wrapper">
  <tl-input #input
            [label]="label"
            [labelSize]="labelSize"
            [name]="name"
            (focus)="onDateInputFocus()"
            (keydown)="onInputKeyUp($event)"
            (keypress)="handleDateChange()"
            (click)="onClickInput()"
            (clear)="onClearInput($event)"
            [iconAfter]="iconAfter"
            [textAlign]="textAlign"
            [labelPlacement]="labelPlacement"
            [readonly]="readonly ? true : null"
            [disabled]="disabled ? true : null"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            [clearButton]="clearButton">
  </tl-input>
  <div class="ui-wrapper-calendar-content" #calendarContent>
    <div class="ui-arrow-up" #arrow [style.display]="open && !isCalendarAbove ? 'block' : 'none'"></div>
    <div class="ui-calendar-content" #calendar [style.display]="open ? 'block' : 'none'">
      <tl-calendar [day]="day" [typingDay]="true" (click)="onClickCalendar()" [month]="month" [year]="year"
                   [inputControlFocus]="input" (selectDay)="onSelectDay($event)"></tl-calendar>
    </div>
    <div class="ui-arrow-down" [style.display]="open && isCalendarAbove ? 'block' : 'none'"></div>
  </div>
</div>
