//Colors Default

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin textInput {
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  font-size: 0.9em;
}

@mixin actionButtons {
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  cursor: pointer;
}

.tl-input-box {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;

  .addon {
    display: table-cell;
    padding: 3px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .addon.-borderleft {
    border-radius: 2px 0 0 2px;
  }
  .addon.-borderright {
    border-radius: 0 2px 2px 0;
  }
  .addon.-clearbutton {
    font-size: 11px;
    position: absolute;
    border: 0;
    top: 3px;
    right: 4px;
    cursor: pointer;
  }
  .addon.-predefined {
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }
  .addon:hover {
    cursor: pointer;
  }

  .label {
    line-height: 1;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: normal;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 0.9em;
  }
  .label.-labeltop {
    text-align: left;
    padding: 0 0 5px 0;
    display: table-caption;
  }
  .label.-labelleft {
    text-align: right;
    padding: 4px 4px 4px 0;
    display: table-cell;
  }
  .label.-validation {
    font-size: 0.7em;
  }

  > .ui-wrapper-input {
    > .field {
      display: table-cell;
      height: 23px;
      padding: 4px 6px;
      padding-right: 20px;
      font-size: 10pt;
      width: 100%;
      float: right;
      font-weight: normal;
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    }
    > .field::placeholder {
      @include textInput;
    }
    > .field.-cursorblocked {
      cursor: not-allowed;
    }
    > .field.-disabled {
      cursor: default !important;
    }
  }
}
