<tl-form [showConfirmOnChange]="true" [messageDialogConfirmation]="'Are you sure ?'" [closeShortcut]="'escape'">
    <tl-tabcontrol [height]="'200px'">
      <tl-tab [title]="'Person Information'">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <tl-input [name]="'name'" required [labelSize]="100" [ngModel]="person?.name" [label]="'Name'"></tl-input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <tl-input name="lastname" required [labelSize]="100"
                          [ngModel]="person?.lastname" [label]="'LastName'"></tl-input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <tl-input [name]="'city'" [labelSize]="100" [ngModel]="person?.city" [label]="'City'"></tl-input>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-6">
                  <tl-radio-group [nameGroup]="'gender'" [ngModel]="person?.gender">
                    <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
                    <tl-radiobutton [label]="'Female'" [value]="'F'" [checked]="true"></tl-radiobutton>
                  </tl-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <tl-input [name]="'country'" [labelSize]="100" [ngModel]="person?.country" [label]="'Country'"></tl-input>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <tl-input [name]="'birthday'" required [labelSize]="100" [ngModel]="person?.birthday"
                          [label]="'Birthday'" date [formatDate]="'dd.mm.yyyy'" ></tl-input>
            </div>
          </div>
        </div>
      </tl-tab>
    </tl-tabcontrol>
</tl-form>
