* {
  user-select: none;
}

.ui-accordion-item-header {
  display: grid;
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  font-size: 1.2em;
  box-sizing: border-box;
  grid-template-columns: 40px 1fr;

  > .ui-accordion-arrow {
    text-align: center;
    font-size: 0.9em;
  }

  &:hover {
    cursor: pointer;
  }
}

.ui-accordion-item-content {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms linear;
}


