<div class="router-outlet">
  <app-showcase-header name="Shortcut Directive" module="ShortcutModule">
    The shortcut directive is used to attach an shortcut to an Action Component (such as tl-button) or link,
    usually all combinations of keys are supported.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
    <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
        <app-card>
          <div class="col-md-6">
            <span>Single Key</span><br>
            <tl-button (click)="showDialog('You Pressed the Shortcut [ K ]')" [text]="'Press K'" [shortcut]="'k'"></tl-button>
            <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button [shortcut]="'k'" [text]="'Press K'" (click)="showDialog('You Pressed the Shortcut [ K ]')" ></tl-button>
</textarea>


          </div>
          <div class="col-md-6">
            <span>Using CTRL</span><br>
            <tl-button (click)="showDialog('You Pressed the Shortcut [ CTRL + B ]')" [text]="'Press CTRL + B'" [shortcut]="'ctrl + b'"></tl-button>
            <div class="spacer"></div>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-button [shortcut]="'ctrl + b'" [text]="'Press CTRL + B'" (click)="showDialog('You Pressed the Shortcut [ CTRL + B ]')"></tl-button>
</textarea>
          </div>
        </app-card>
        <app-card>
          <div class="col-md-6">
            <span>Using CTRL and ALT</span><br>
            <tl-button [text]="'Press CTRL + ALT + P'" (click)="showDialog('You Pressed the Shortcut [ CTRL + ALT + P ]')" [shortcut]="'ctrl + alt + p'"></tl-button>
            <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <tl-button [shortcut]="'ctrl + alt + p'" [text]="'Press CTRL + ALT + P'" (click)="showDialog('You Pressed the Shortcut [ CTRL + ALT + P ]')"></tl-button>
</textarea>
          </div>
          <div class="col-md-6">
            <span style="margin-bottom: 5px">Using it in any element</span><br>
            <a class="badge" style="color: #ececec; line-height: 20px; padding: 5px" (click)="showDialog('You Pressed the Shortcut [ CTRL + ALT + K ]')" [shortcut]="'ctrl + alt + k'">Press CTRL + ALT + K</a>
            <div class="spacer"></div>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
 <a [shortcut]="'ctrl + alt + k'" (click)="showDialog('You Pressed the Shortcut [ CTRL + ALT + K ]')">Press CTRL + ALT + K</a>
</textarea>
          </div>
        </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <h3>Shortcut Config</h3>
        <p>The shortcut config has the <code>disabledClass</code> attribute, is used to set a disabled class to control elements disabled, not allowing to execute
        it.</p>
        <textarea highlight-js [options]="{'tabReplace' : ''}" [lang]="'typescript'">
import { CommonModule } from '@angular/common';
import { FormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';
import { ShortcutModule } from 'truly-ui';

@NgModule({
  declarations: [
    ShortcutDemoComponent
  ],
  imports: [
    CommonModule,
    FormsModule,
    ShortcutModule.forRoot({ disableClass: 'ngx-disabled' }),
  ],
  exports: [
    ShortcutDemoComponent
  ]
})
export class ShortcutDemoModule {}
        </textarea>
      </app-card>
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
      </div>
    </div>
  </div>
</div>
