<div #modal (mousedown)="setZIndex(); mousemoveListener()" (mouseup)="mouseupListener()" [class]="'tl-modal-container ' + color">
    <div class="header" #headerBox>
        <div class="bar"

             [ngClass]="serviceControl.activeModal === componentRef ? '-active' : '-inactive'"
             (mousedown)="mouseDown($event);"
             (dblclick)="maximizeModal()">
            <span class="ui-icon"><i [ngClass]="icon"></i></span>
            <span class="ui-title">{{title}}</span>
        </div>
        <div class="controls" [ngClass]="serviceControl.activeModal === componentRef ? '-active' : '-inactive'">
            <div class="control-item"

                 (mouseover)="hoverMinimize()"
                 (mouseleave)="leaveMinimize()"
                 (click)="minimizeModal()">
                <i  class="ion-android-remove" [class.disabled]="!minimizable"></i>
            </div>

            <div class="control-item" *ngIf="!maximized"
                 [ngStyle]="{
                 'zIndex': modal.style.zIndex}"
                 (mouseover)="hoverMaximize()"
                 (mouseleave)="leaveMaximize()"
                 [shortcut]="maximizeShortcut"
                 (click)="maximizeModal()">
                <i ngClass="ion-android-expand" [class.disabled]="!maximizable"></i>
            </div>

            <div class="control-item" *ngIf="maximized"
                 [ngStyle]="{
                 'zIndex': modal.style.zIndex}"
                 (mouseover)="hoverRestore()"
                 (mouseleave)="leaveRestore()"
                 [shortcut]="restoreShortcut"
                 (click)="restoreMaximizeModal()">
                <i ngClass="ion-android-contract"  [class.disabled]="!restoreMaximize"></i>
            </div>

            <div class="control-item"
                 [ngStyle]="{
                  'zIndex': modal.style.zIndex}"
                 [shortcut]="closeShortcut"
                 (mouseover)="hoverClose()"
                 (mouseleave)="leaveClose()"
                 (click)="closeModal()">
                <i class="ion-close"></i>
            </div>
        </div>
    </div>
    <div class="body" #body></div>
    <ng-content></ng-content>
</div>
