<div #modal (mousedown)="setZIndex(); mousemoveListener()" (mouseup)="mouseupListener()" [ngClass]="{'tl-modal-container':true}" [class]="color">
    <div class="header" #headerBox>
        <div class="bar"
             [ngClass]="serviceControl.activeModal === componentRef ? '-active' : '-inactive'"
             (mousedown)="mouseDown($event);"
             (dblclick)="maximizeModal()">
            <span class="ui-icon"><i [ngClass]="icon"></i></span>
            <span class="ui-title">{{title}}</span>
        </div>
        <div class="controls" [ngClass]="serviceControl.activeModal === componentRef ? '-active' : '-inactive'">
            <div class="control-item"
                 [ngClass]="{'disabled': !minimizable}"
                 (click)="minimizeModal()">
                <i  class="ion-android-remove" [class.disabled]="!minimizable"></i>
            </div>

            <div class="control-item" *ngIf="!maximized"
                 [ngClass]="{'disabled': !maximizable}"
                 [ngStyle]="{'zIndex': modal.style.zIndex}"
                 [shortcut]="maximizeShortcut"
                 (click)="maximizeModal()">
                <i ngClass="ion-android-expand" [class.disabled]="!maximizable"></i>
            </div>

            <div class="control-item" *ngIf="maximized"
                 [ngClass]="{'disabled': !restoreMaximize}"
                 [ngStyle]="{'zIndex': modal.style.zIndex}"
                 [shortcut]="restoreShortcut"
                 (click)="restoreMaximizeModal()">
                <i ngClass="ion-android-contract" [class.disabled]="!restoreMaximize"></i>
            </div>

            <div class="control-item"
                 [ngClass]="{'disabled': !closable}"
                 [ngStyle]="{'zIndex': modal.style.zIndex}"
                 [shortcut]="closeShortcut"
                 (click)="closeModal()">
                <i class="ion-close" [class.disabled]="!closable"></i>
            </div>
        </div>
    </div>
    <div class="body" #body></div>
    <ng-content></ng-content>
</div>
