<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Modal <span class="module-name"><code><u>Module Name</u>: <strong>ModalModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ModalModule</strong></code></p>
    <p class="text-content">

      Below is a fixed modal example (meaning its position is related with the window). Included are the modal header and the body wrapper,
      the modal content is a component
      that you inject inside of modal component, passing on the service at the creation moment.

    </p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <tl-button [text]="'Show Modal'" [iconAddonBefore]="'ion-monitor'" (click)="modal1()"></tl-button>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Modal Features'" [icon]="'ion-android-bulb'">
          <app-card>
            <h4>Modal Container</h4>
            <p>The Modal Container is used to group all modals that are minimized.</p>
            <tl-modal-toolbar [color]="'success'"></tl-modal-toolbar>
          </app-card>
          <app-card>
            <h4>Drag And Drop</h4>
            <p>Allows user drag and drop the modal through it area.</p>
          </app-card>
          <app-card>
            <h4>Fixed by Parent</h4>
            <p>The fixed parent set the Modal Area to it parent and the drag going be only in that area.</p>
          </app-card>
          <app-card>
            <h4>Controls (Minimize, Maximize and Close)</h4>
            <p>The controls allows the user to organize their windows, combining with the Container Modal, is very usable.</p>
          </app-card>
          <app-card>
            <h4>Modal Result</h4>
            <p>According with the button and the <code>mdResult</code> the modal will dispatch the events to the origin component.</p>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Making it Work'" [icon]="'ion-hammer'">
          <app-card>
            <h4>Step One</h4>
            <h5>Declare the <code>ModalService</code> and set the <code>tlContainerModal</code> Directive on a HTML Element root, where modal going to be on it.
            For Example: </h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<div class="content-wrapper" tlContainerModal>
  <!-- Main content -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
 <!-- /.content -->
</div>
            </textarea>
            <hr>
            <h4>Step Two</h4>
            <h5>Inside of your <code>constructor</code>, you have to declare <code>ComponentFactoryResolver</code> and <code>ModalService</code>.</h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  constructor(public compiler: ComponentFactoryResolver, public modalService: ModalService) {}
        </textarea>
            <hr>
            <h4>Step Tree</h4>
            <h5>Import your custom component that will be inside the modal as entry component the property ( <code>entryComponents</code> ) in your module. In this case is <code>NewModal</code></h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">

  @NgModule({
    declarations: [
      ModalDemo,
      NewModal,
    ],
    imports:[
      CommonModule,
      FormsModule,
      ModalModule.forRoot(),
    ],
    exports: [
      ModalDemo,
      NewModal
    ],
    providers: [
      DialogService
    ],
    entryComponents: [
      NewModal
    ]
  })
  export class ModalDemoModule {}
        </textarea>
            <hr>
            <h4>Final Step</h4>
            <h5>Create an function to call the function <code>createModal</code> passing the following parameters. For example:</h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
this.modalService.createModal(NewModalComponent, this.compiler, null, (modalResult) => {
  this.modalResult = modalResult;
}).on('show', () => {
  console.log('Show Modal');
});
        </textarea>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="modalprop"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'fas fa-broadcast-tower'">
      <app-card>
        <app-showcase-table-events [data]="modalevts"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
