<div #modal (mousedown)="setZIndex(); mousemoveListener()" (mouseup)="mouseupListener()" class="tl-modal-container">
    <div class="header" [ngStyle]="{'background-color': color}">
        <div class="bar" [style.outline]="'1px solid ' + color" (mousedown)="mouseDown($event);" (dblclick)="maximizeModal()">
            <span class="icon"><i [style.color]="serviceControl.activeModal === componentRef ? fontColor : '#D9D9D9'" [ngClass]="icon"></i></span>
            <span class="title" [style.color]="serviceControl.activeModal === componentRef ? fontColor : '#D9D9D9'">{{title}}</span>
        </div>
        <div class="controls">
            <div class="control-item"
                 [ngStyle]="{'background-color': colorHoverMinimize}"
                 (mouseover)="hoverMinimize()"
                 (mouseleave)="leaveMinimize()"
                 (click)="minimizeModal()">
                <i [style.color]="fontColor" class="ion-android-remove" [class.disabled]="!minimizable"></i>
            </div>

            <div class="control-item" *ngIf="!maximized"
                 [ngStyle]="{'background-color': colorHoverMaximize,
                 'zIndex': modal.style.zIndex}"
                 (mouseover)="hoverMaximize()"
                 (mouseleave)="leaveMaximize()"
                 [shortcut]="maximizeShortcut"
                 (click)="maximizeModal()">
                <i [style.color]="fontColor" ngClass="ion-android-expand" [class.disabled]="!maximizable"></i>
            </div>

            <div class="control-item" *ngIf="maximized"
                 [ngStyle]="{'background-color': colorHoverRestore,
                 'zIndex': modal.style.zIndex}"
                 (mouseover)="hoverRestore()"
                 (mouseleave)="leaveRestore()"
                 [shortcut]="restoreShortcut"
                 (click)="restoreMaximizeModal()">
                <i [style.color]="fontColor" ngClass="ion-android-contract"  [class.disabled]="!restoreMaximize"></i>
            </div>

            <div class="control-item"
                 [ngStyle]="{'background-color': colorHoverClose,
                  'zIndex': modal.style.zIndex}"
                 [shortcut]="closeShortcut"
                 (mouseover)="hoverClose()"
                 (mouseleave)="leaveClose()"
                 (click)="closeModal()">
                <i [style.color]="fontColor" class="ion-close"></i>
            </div>
        </div>
    </div>
    <div class="body" #body></div>
    <ng-content></ng-content>
</div>
