<div class="router-outlet">
  <app-showcase-header name="ChatList" module="ChatListModule">
    The ChatList component is used to create/handle an chat conversation.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-4">
              <app-chat2 (send)="onSendMessage($event)" [user]="user2" [contacts]="contacts"></app-chat2>
              usuario > BAIANO para partner > WILLIAM
            </div>
            <div class="col-md-4">
              <app-chat3 (send)="onSendMessage($event)" [user]="user3" [contacts]="contacts"></app-chat3>
              usuario > WILLIAM para partner > BAIANO
            </div>
            <div class="col-md-4">

              usuario > GENESSON para
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Methods'" [icon]="'ion-md-color-wand'">
    <app-card>
      <!--<app-showcase-table-events [data]="dataMethods"></app-showcase-table-events>-->
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <!--<app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>-->
    </app-card>
  </app-showcase-card>
</div>
