<div class="router-outlet">
  <app-showcase-header name="ChatList" module="ChatListModule">
    The ChatList component is used to create/handle an chat conversation.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-4">
              <app-chat2 (send)="onSendMessage($event)" [user]="userONE" [contacts]="contacts"></app-chat2>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-chatlist
   (sendMessage)="send.emit($event)"
   [contacts]="contacts"
   [id]="'CHAT-ONE'"
   [user]="user">
</tl-chatlist>
              </textarea>
            </div>
            <div class="col-md-4">
              <app-chat3 (send)="onSendMessage($event)" [user]="userTWO" [contacts]="contacts"></app-chat3>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-chatlist
   (sendMessage)="send.emit($event)"
   [contacts]="contacts"
   [id]="'CHAT-TWO'"
   [user]="user">
</tl-chatlist>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Methods'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <h5 style="padding: 0 15px;"><i>ChatService</i></h5>
      <app-showcase-table-events [data]="dataTableEvents"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>

  <app-showcase-card [title]="'Interfaces'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <h5 style="padding: 0 15px;"><i>ChatContact</i></h5>
      <app-showcase-table-properties [hasDefault]="false" [hasOptions]="false" [data]="[
          {
            name: 'id',
            type: 'string | number',
            description: 'The ID of contact'
          },
          {
            name: 'name',
            type: 'string',
            description: 'The Name of Contact'
          },
          {
            name: 'description',
            type: 'string',
            description: 'The description shown bellow the NickName'
          },
          {
            name: 'status',
            type: 'Status | string',
            description: 'The status of contact'
          },
          {
            name: 'gravatar?',
            type: 'string',
            description: 'The Gravatar email'
          },
          {
            name: 'image?',
            type: 'string',
            description: 'The image url'
          }
      ]">
      </app-showcase-table-properties>
    </app-card>
    <app-card>
      <h5 style="padding: 0 15px;"><i>ChatMessage</i></h5>
      <app-showcase-table-properties [hasDefault]="false" [hasOptions]="false" [data]="[
          {
            name: 'id',
            type: 'string',
            description: 'The ID of message'
          },
          {
            name: 'to',
            type: 'ChatContact',
            description: 'The recipient of message'
          },
          {
            name: 'from',
            type: 'ChatContact',
            description: 'The owner message, the sender.'
          },
          {
            name: 'message',
            type: 'string',
            description: 'The message itself.'
          },
          {
            name: 'time',
            type: 'Date',
            description: 'The time of message, was send most of the times generated by the server.'
          },
          {
            name: 'viewed',
            type: 'boolean',
            description: 'A property to control if the message was viewed or not'
          }
      ]">
      </app-showcase-table-properties>
    </app-card>
    <app-card>
      <h5 style="padding: 0 15px;"><i>ChatStatus</i></h5>
      <app-showcase-table-properties [hasDefault]="false" [hasOptions]="false" [data]="[
          { name: 'BUSY', type: 'string', description: 'Hex color of busy status' },
          { name: 'ONLINE', type: 'string', description: 'Hex color of online status' },
          { name: 'OFFLINE', type: 'string', description: 'Hex color of offline status' } ]">
      </app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
</div>
