.ui-chat-wrapper {
  position: relative;;
  > .ui-chat-overflow {
    position: relative;
    overflow: auto;
    > .ui-chat-lists {
      position: relative;
      width: 100%;
      > .ui-chat-content {
        > .ui-status {
          background: #efefef;
          color: #6f6f6f;
          height: 25px;
          padding-left: 10px;
          border-left: 1px solid #CACACA;
          border-right: 1px solid #CACACA;
          font-family: "Segoe UI", Helvetica;
          line-height: 25px;
        }
        > .ui-status:first-child {
          border-top: 1px solid #CACACA;
        }
      }
    }
  }

  > .ui-chat-overflow::-webkit-scrollbar {
    background: #F1F1F1;
    width: 13px;
  }

  > .ui-chat-overflow::-webkit-scrollbar-corner {
    background: #F1F1F1;
  }

  > .ui-chat-overflow::-webkit-scrollbar-track {
    background: #F6F6F6;
    border-right: 1px solid #CACACA;
  }

  > .ui-chat-overflow::-webkit-scrollbar-thumb {
    background: #66CC99;
  }
}

.ui-chat-template {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  >.ui-chat-infowrapper {
    display: inline-grid;
    position: absolute;
    top: 20%;
    >.ui-chat-name {
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      color: #565656;
    }
    >.ui-chat-sector {
      font-family: 'Lato', sans-serif;
      font-size: 10px;
      color: #858585;
    }
  }
}

.ui-chat-template {
  >.ui-chat-infowrapper {
    >.ui-chat-name {
      color: #99a1a4;
    }
    >.ui-chat-sector {
      color: #99a1a4;
      opacity: 0.8;
    }
  }
}

.ui-chat-template img {
  margin: 10px
}

.ui-chat-bagde {
  float: right;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 12px;
  transition: linear background-color 0.1s;
}

.selected {
  background-color: #13BBB6;
  outline: none;
}

.selected span {
  color: #fff !important;
}


