<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">ChatList <span class="module-name"><code><u>Module Name</u>: <strong>ChatListModule</strong></code></span>
    </h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ChatModule</strong></code></p>
    <p class="text-content">The ChatList component is used to create/handle an chat conversation.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-3">
              <tl-button [text]="'Change to Online'" [color]="'success'" (click)="changeOnline()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Busy'" [color]="'danger'" (click)="changeBusy()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Away'" [color]="'warning'" (click)="changeAway()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Offline'" [color]="'basic'" (click)="changeOffline()"></tl-button>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <tl-chatlist [itemsToShow]="3"
                           (clickItem)="clickChat($event)"
                           [searchQuery]="'firstName'"
                           [searchInput]="input"
                           [avatar]="'avatar'"
                           [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
                           [data]="dataSource">
              </tl-chatlist>
              <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
            </div>
            <div class="col-md-6">
<textarea highlight-js [options]="{}" [lang]="'html'">
<tl-chatlist
  [itemsToShow]="3"
 (clickItem)="clickChat($event)"
 [searchQuery]="'firstName'"
 [searchInput]="input"
 [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
 [data]="dataSource">
</tl-chatlist>
<tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
</textarea>
<textarea highlight-js [options]="{}" [lang]="'typescript'">
  constructor( public chatListService: ChatListService ) {}

  setOffline() {
     this.chatListService.changeStatus( this.selected, 'Offline' );
  }

  setOnline() {
     this.chatListService.changeStatus( this.selected, 'Online' );
  }

</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Methods'" [icon]="'ion-md-color-wand'">
    <app-card>
      <app-showcase-table-events [data]="dataMethods"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
</div>
