.ui-chat-wrapper {
  position: relative;
  > .ui-chat-overflow {
    position: relative;
    overflow: auto;
    > .ui-chat-lists {
      position: relative;
      width: 100%;
      > .ui-chat-content {
        > .ui-status {
          height: 25px;
          padding-left: 10px;
          font-family: "Segoe UI", Helvetica;
          line-height: 25px;
        }
        > .ui-status:first-child {
          border-top: 0;
        }
      }
    }
  }
  > .ui-chat-overflow::-webkit-scrollbar {
    width: 13px;
  }
}

.ui-chat-template {
  cursor: pointer;
  >.ui-chat-infowrapper {
    display: inline-grid;
    position: absolute;
    top: 20%;
    >.ui-chat-name {
      font-family: 'Lato', sans-serif;
      font-size: 13px;
    }
    >.ui-chat-sector {
      font-family: 'Lato', sans-serif;
      font-size: 10px;
    }
  }
}

.ui-chat-template img {
  margin: 10px
}

.ui-chat-bagde {
  float: right;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 12px;
  transition: linear background-color 0.1s;
}


