@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}


@function tl-contrast($palette, $hue) {
  @return map-get(map-get($palette, contrast), $hue);
}

@function tl-palette($base-palette, $default: 500, $lighter: 100, $darker: 700) {
  @return (
    default: map-get($base-palette, $default),
    lighter: map-get($base-palette, $lighter),
    darker: map-get($base-palette, $darker),
    default-contrast: tl-contrast($base-palette, $default),
    lighter-contrast: tl-contrast($base-palette, $lighter),
    darker-contrast: tl-contrast($base-palette, $darker)
  );
}

@function tl-color($palette, $hue: default, $opacity: null) {
  // If hueKey is a number between zero and one, then it actually contains an
  // opacity value, so recall this function with the default hue and that given opacity.
  @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
    @return tl-color($palette, default, $hue);
  }

  $color: map-get($palette, $hue);
  $opacity: if($opacity == null, opacity($color), $opacity);

  @return rgba($color, $opacity);
}
