.info-boxcard {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #DEDEDE;
  box-shadow: 1px 1px 5px 1px #DEDEDE;
}


.info-boxcard span {
  padding: 10px;
}

.info-boxcard h2 {
  margin: 0 !important;
}

.info-boxcard p {
  line-height: 25px;
}
