<div class="tl-input-box" #inputBox>
  <label *ngIf="label" class="label -label{{labelPlacement}}" [ngStyle]="{'width' : labelSize}">{{label}}<b
    *ngIf="required" style="color: #FF6666">*</b></label>
  <span *ngIf="iconBefore" (click)="onClickAddon($event, 'before')" class="addon -borderleft"><i
    [ngClass]="iconBefore"></i></span>
  <span *ngIf="textBefore" class="addon -borderleft" [ngClass]="{'predefined' : textBefore}">{{textBefore}}</span>

  <div class="ui-wrapper-input" [style.height]="height">
    <input [style.padding-right]="clearButton ? '20px' : '12px'"
           [style.height]="height"
           #input
           [attr.type]="type"
           cdkOverlayOrigin
           [tabindex]="tabindex"
           [style.text-align]="textAlign"
           [disabled]="disabled || isDisabled"
           class="field"
           [ngClass]="{
             'invalid': controlName?.control.errors || model?.control.errors,
             'withValidators': hasValidator,
             'withoutValidators': !hasValidator,
             '-borderleft': iconBefore || textBefore,
             '-borderright': iconAfter || textAfter
             }"
           [attr.readonly]="readonly ? true : null"
           [attr.autocomplete]="autocomplete"
           [attr.maxlength]="maxlength"
           [attr.name]="name"
           [placeholder]="placeholder"
           [(ngModel)]="value"
           (blur)="onInputBlur($event)"
           (focus)="onInputFocus($event)">
  </div>

  <span #afterIcon *ngIf="iconAfter" (click)="onClickAddon($event, 'after')" class="addon -borderright"><i
    [ngClass]="iconAfter"></i></span>
  <span *ngIf="textAfter" #afterText class="addon -borderright"
        [ngClass]="{'-predefined' : textAfter}">{{textAfter}}</span>
  <i *ngIf="clearButton && value" [style.lineHeight]="height" (click)="clearInput($event)" class="-clearbutton ion-close-round"
     [style.right]="clearButtonPosition + 'px'"></i>
</div>


<ng-template cdkConnectedOverlay
             *ngIf="showValidations"
             [cdkConnectedOverlayHasBackdrop]="false"
             [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
             [cdkConnectedOverlayOpen]="isShowingMessages">
<tl-messagevalidation [errors]="controlName?.control.errors || model?.control.errors" [width]="input.offsetWidth + 'px'"></tl-messagevalidation>
</ng-template>
