<div class="tl-input-box" #inputBox>

  <tl-label *ngIf="label" [labelTitle]="label" [labelPlacement]="labelPlacement" [labelSize]="labelSize"></tl-label>

  <span *ngIf="iconBefore" (click)="onClickAddon($event, 'before')"
        [ngClass]="{ 'withoutBorder' : !withBorder }" class="addon -borderleft"><i
    [ngClass]="iconBefore"></i></span>
  <span *ngIf="textBefore" class="addon -borderleft"
        [ngClass]="
        {
        'predefined' : textBefore,
        'withBorder': withBorder,
        'withoutBorder' : !withBorder
        }">
    {{textBefore}}
  </span>

  <div class="ui-wrapper-input" [style.height]="height" [style.border-radius]="flatBorder ? '0' : '3px'">
    <input [style.padding-right]="clearButton ? '20px' : '12px'"
           [style.height]="height"
           [style.border-radius]="flatBorder ? '0' : '3px'"
           #input
           [type]="type"
           cdkOverlayOrigin
           [tabindex]="tabindex"
           [style.text-align]="textAlign"
           [disabled]="disabled || isDisabled"
           class="field"
           [ngClass]="{
             'invalid': controlName?.control.errors || model?.control.errors,
             'withValidators': hasValidator,
             'withoutValidators': !hasValidator,
             '-borderleft': iconBefore || textBefore,
             'withBorder': withBorder,
             'withoutBorder' : !withBorder,
             '-borderright': iconAfter || textAfter
             }"
           [attr.readonly]="readonly ? true : null"
           [attr.autocomplete]="autocomplete"
           [attr.maxlength]="maxlength"
           [attr.name]="name"
           [placeholder]="placeholder"
           [(ngModel)]="value"
           (click)="onInputClick($event)"
           (blur)="onInputBlur($event)"
           (focus)="onInputFocus($event)">
    <i *ngIf="clearButton && value" [style.lineHeight]="height" (click)="clearInput($event)"
       class="clearButton ion-close-round"></i>
  </div>

  <span #afterIcon *ngIf="iconAfter"
        (click)="onClickAddon($event, 'after')" class="addon -borderright"
        [ngClass]="{ 'withoutBorder' : !withBorder }"><i [ngClass]="iconAfter"></i></span>

  <span *ngIf="textAfter" #afterText class="addon -borderright"
        [ngClass]="{ '-predefined' : textAfter,'withoutBorder' : !withBorder}">{{textAfter}}</span>
</div>


<ng-template cdkConnectedOverlay
             *ngIf="showValidations"
             [cdkConnectedOverlayHasBackdrop]="false"
             [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
             [cdkConnectedOverlayOpen]="isShowingMessages">
  <tl-messagevalidation [errors]="controlName?.control.errors || model?.control.errors"
                        [width]="input.offsetWidth + 'px'"></tl-messagevalidation>
</ng-template>
