//Colors Default

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin textInput {
  font-family: Segoe UI, Lato, 'sans-serif', "Arial";
  font-size: 1em;
}

@mixin actionButtons {
  font-family: Segoe UI, Lato, 'sans-serif', "Arial";
  cursor: pointer;
}

.tl-input-box {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;

  .addon {
    display: table-cell;
    padding: 3px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  .addon.-borderleft {
    border-radius: 3px 0 0 3px;
  }
  .addon.-borderright {
    border-radius: 0 3px 3px 0;
  }
  .addon.-clearbutton {
    font-size: 11px;
    position: absolute;
    border: 0;
    top: 3px;
    right: 4px;
    cursor: pointer;
  }
  .addon.-flatborders {
    border-radius: 0;
  }
  .addon.-predefined {
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }
  .addon:hover {
    cursor: pointer;
  }

  > .ui-wrapper-input {
    position: relative;
    > .field {
      display: table-cell;
      height: 23px;
      padding: 4px 6px;
      padding-right: 20px;
      @include textInput;
      width: 100%;
      font-weight: normal;
      border-radius: 3px;
      transition: background-color 230ms ease-in-out;
      &.-borderleft{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.-borderright {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.-flatborders {
        border-radius: 0;
      }
    }
    > .field::placeholder {
      @include textInput;
    }
    > .field.-disabled {
      cursor: default !important;
    }
    > .clearButton {
      position: absolute;
      top: 3px;
      right: 0;
      line-height: 40px;
      font-size: 1em;
      padding-right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
