<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">ChatList <span class="module-name"><code><u>Module Name</u>: <strong>ChatListModule</strong></code></span>
    </h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ChatModule</strong></code></p>
    <p class="text-content">The ChatList component is used to create/handle an chat conversation.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-3">
              <tl-button [text]="'Change to Online'"
                         [buttonClass]="'infoDialog'" (click)="changeOnline()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Busy'"
                         [buttonClass]="'busy'" (click)="changeBusy()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Away'"
                         [buttonClass]="'alertDialog'"
                         (click)="changeAway()"></tl-button>
            </div>
            <div class="col-md-3">
              <tl-button [text]="'Change to Offline'"
                         [buttonClass]="'errorDialog'"
                         (click)="changeOffline()"></tl-button>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <tl-chatlist [itemsToShow]="3" (clickItem)="clickChat($event)" [searchQuery]="'firstName'" [searchInput]="input" [data]="dataSource"></tl-chatlist>
              <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
            </div>
            <div class="col-md-6">
<textarea highlight-js [options]="{}" [lang]="'html'">
<tl-chatlist
  [data]="dataSource"
  [itemsToShow]="3"
  (clickItem)="clickChat($event)"
  [searchQuery]="'firstName'"
  [searchInput]="input">
</tl-chatlist>
<tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
</div>
