<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">ChatList <span class="module-name"><code><u>Module Name</u>: <strong>ChatListModule</strong></code></span>
    </h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ChatModule</strong></code></p>
    <p class="text-content">The ChatList component is used to create/handle an chat conversation.</p>
  </div>

  <hr>

  <div class="showcase">
    <div class="row">
      <div class="col-md-4">
        <tl-chatlist (onClickItem)="clickChat($event)" [searchInput]="input" [data]="dataSource"></tl-chatlist>
        <tl-input #input [placeholder]="'Search...'"></tl-input>
      </div>
      <div class="col-md-1">
        <br>
        <tl-button (click)="changeBusy()" [text]="'Busy'"></tl-button>
        <tl-button (click)="changeOnline()" [text]="'Online'"></tl-button>
        <tl-button (click)="changeOffline()" [text]="'Offline'"></tl-button>
        <tl-button (click)="changeAway()" [text]="'Away'"></tl-button>
      </div>
    </div>
    <div class="row">
      Selected: {{selected | json}}
    </div>
    <hr>
  </div>

  <div class="setup">
    <h3 class="title">Properties</h3>
    <h5>tl-button</h5>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of dataTableProperties; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td><span class="badge">{{ item.type }}</span></td>
          <td><code>{{ item.default }}</code></td>
          <td>{{ item.description }}</td>
          <td><code> {{ item.options }} </code></td>
        </tr>
        </tbody>

      </table>
    </div>
    <hr>
  </div>

  <div class="examples">
    <h3 class="title">Examples</h3>
  </div>
</div>
