<ul class="ui-simple-sub-menu-list" [ngClass]="{'docked': docked}"
    [style.left]="getWidth()"
    [style.width]="width"
    [style.top]="'-' + dockWidth" #subMenuList>
  <li #elementList class="ui-simple-list-item" [style.height]="dockWidth" [style.line-height]="dockWidth" *ngFor="let item of items">
    <i [style.height]="dockWidth" [style.line-height]="dockWidth" [class]="'icon ' + item[icon]"></i>
    <span [style.height]="dockWidth" [style.line-height]="dockWidth" class="label">{{item[label]}}</span>
    <i [style.height]="dockWidth" [style.line-height]="dockWidth" *ngIf="item[subItem]" [ngClass]="{'anchor': setAnchorElement(item, elementList)}"
       class="ion-ios-arrow-right icon"></i>
  </li>
</ul>
