@font-face {
  font-family: "Dimitri Swank";
  src: url("../../assets/fonts/dimitri.ttf");
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home-page {
    margin-bottom: 100px;
    padding: 0;
    margin: 0;
  }
  .banner {
    .logo {
      position: relative;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #444444;
      color: #66CC99;
      > .name {
        margin-bottom: 15px;
      }
      > .description {
        font-family: "Segoe UI";
        color: #fff;
        font-size: 26px;
      }
      > .description p {
        line-height: 1.3em;
        margin: 0;
      }
      > .description p:last-child {
        font-size: 20px;
        text-align: right;
      }
    }
    .btn-get-started {
      background-color: #66CC99;
      margin-bottom: 20px;
    }
    .btn-get-started:hover {
      background-color: #5DBA8C;
      color: #fff;
      cursor: pointer;
    }
    .desk {
      padding-top: 35px;
      background-color: #4c4c4c;
      z-index: 1;
      > img {
        margin: 25px auto 0 auto;
      }
    }
    .desk:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: -25%;
      z-index: -1;
      width: 150%;
      height: 50%;
      background: inherit;
      transform: rotate(4deg);
      transform-origin: 80% 0;
    }
    .info-version {
      font-family: "Segoe UI";
      text-align: center;
      color: #8c8c8c;
      margin-bottom: 10px;
      font-size: 11px;
    }
  }
  .why-truly-ui {
    padding-top: 50px;
    padding-bottom: 35px;
    .logo img {
      width: 50%;
      margin: 0 auto;
    }
    .why-tl {
      text-align: center;
      font-family: "Segoe UI";
      h1 {
        margin-bottom: 15px;
      }
      p {
        font-size: 1.7em;
        line-height: 1.7em;
        color: #444;
        font-weight: 300;
        word-break: normal;
      }
    }
    .feature-box {
      font-family: "Segoe UI";
      h3 {
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 5px;
        line-height: 1.1em;
      }
      h3 i {
        color: #66CC99;
        padding-right: 5px;
      }
      p {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 400;
        color: #817f7f;
        letter-spacing: -.02em;
        margin-bottom: 15px;
      }
    }
  }
  .web-components {
    display: block;
    background: #66CC99;
    padding-top: 30px;
    padding-bottom: 25px;
    h1 {
      color: #FFF;
      margin-bottom: 25px;
    }
    h3 {
      color: #FFF;
      opacity: 0.6;
      margin-bottom: 25px;
    }
    .web-components-list {
      margin-bottom: 25px;
      i {
        margin-left: -20px;
        color: #626060;
        font-size: 3em;
      }
      p {
        font-family: 'Segoe UI';
        color: #fff;
        font-size: 16px;
        margin: 0;
        line-height: 1.8em;
      }
    }
  }
  .git-and-getstarted {
    padding-top: 50px;
    padding-bottom: 25px;
    .list {
      margin-bottom: 25px;
      h2 {
        margin-top: 0;
        color: #8c8c8c;
      }
      i {
        margin-left: -20px;
        color: #626060;
        font-size: 3em;
      }
      p {
        font-family: 'Segoe UI';
        color: #aeafb1;
        font-size: 16px;
        margin: 0;
        line-height: 1.8em;
      }
    }
  }
  .fix-padding {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .banner {
    .info-version {
      font-size: 13px;
    }
  }
  .web-components {
    .web-components-list {
      i {
        font-size: 5em;
      }
    }
  }
  .git-and-getstarted {
    .list {
      i {
        font-size: 5em;
      }

    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .home-page {
    margin: 0;
  }
  .fix-padding {
    padding-right: 0;
    padding-left: 0;
  }
  img {
    border: 1px solid green;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .home-page {
    margin: 0;
  }
  .fix-padding {
    padding-right: 0;
    padding-left: 0;
  }
  img {
    border: 1px solid black;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .home-page {
    margin: 0;
  }
  .fix-padding {
    padding-right: 0;
    padding-left: 0;
  }
  img {
    border: 1px solid orange;
  }
}
