<div class="home-page" style="padding: 0">
  <div class="row">
    <div class="col-md-12">
      <div class="banner-home">
        <div class="col-md-6">
          <span class="logo-typo">Truly UI</span>
          <span class="logo-description">The Real Desktop Web Framework<br> for <b>Angular</b></span>
        </div>
        <div class="banner-separator"></div>
        <div class="banner-footer">
          <div class="col-md-6">
            <div class="col-md-5">
              <div class="button-getStarted"><a href="gettingstarted" class="getstarted">Get Started</a></div>
            </div>
            <div class="col-md-7">
              <div class="info-version">
                <span>
                  <a href="{{lastRelease?.html_url}}" target="_blank">{{lastRelease?.name}}</a> /
                  {{lastRelease?.published_at | date:'yyyy-MM-dd'}} /
                  <a href="https://github.com/TemainfoSistemas/truly-ui/blob/master/LICENSE.md" target="_blank">MIT Licensed</a> /
                  <a href="{{lastRelease?.html_url}}" target="_blank">Release Notes</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-image">
          <div class="image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12 body-box-homepage">
        <div class="row" style="padding-bottom: 100px;">
          <div class="col-md-5 col-md-offset-2" style="margin-top: 15px;">
            <h1 class="title-box">Why TrulyUI ?</h1>
            <p class="box-description">TrulyUI is an <strong>Angular</strong> Framework especially developed for Desktop
              Applications based on
              Web Components using the greatest technologies of the world.</p>
          </div>
          <div class="col-md-2">
            <img src="../../assets/img/logo-high-trulyui.png" width="200">
          </div>
        </div>
        <div class="row box-features">
          <div class="col-md-4">
            <div class="col-md-10 col-md-offset-2">
              <h3 class="title-box"><i class="ion-checkmark"></i>Free & Open Source</h3>
              <p class="feature-description">TrulyUI Framework is a 100% free and open source project, licensed under GPL.
                It will always remain free to use, powered by a massive world-wide community.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-10 col-md-offset-1">
              <h3 class="title-box"><i class="ion-checkmark"></i>Based on Angular</h3>
              <p class="feature-description">TrulyUI is based on Angular, maintained by world-wide community. By the way,
                we believe that Angular is the most promising Web Framework.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-10">
              <h3 class="title-box"><i class="ion-checkmark"></i>Desktop Applications</h3>
              <p class="feature-description">We developed TrulyUI thinking to fill a gap on
                open-source Web Technologies that's poor when it's about applications on Desktop.<br><i>Ex: Electron, App.js and NW.js</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row box-framework">
    <div class="container-fluid">
      <div class="col-md-12 body-box-homepage">
        <div class="row">
          <div class="col-md-12 box-features">
            <h1 class="text-center">The Most Complete Open Source UI Library for Desktop Applications</h1>
            <h3 class="text-center box-features-sub-header">Everything you need to create a complete based on desktop application.</h3>
          </div>
          <div class="row box-features text-boxes-features">
            <div class="col-md-4">
              <div class="col-md-10 col-md-offset-2">
                <div class="box-framework-features">
                  <i class="fa fa-terminal"></i>
                  <p class="framework-description">
                    <strong>TL-INPUT</strong> Are fields which allow for an input of data, based on a specific and predefined format.
                    With many properties that can be used to different's kind of data or treatment.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-10 col-md-offset-1">
                <div class="box-framework-features">
                  <i class="fa fa-window-maximize"></i>
                  <p class="framework-description">
                    <strong>TL-FORM</strong>
                    It's a rich modal component with many features such as intelligence tabbing,
                    validation of the internal components, window controls and more.
                    </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-10">
                <div class="box-framework-features">
                  <i class="ion-chatbox"></i>
                  <p class="framework-description">
                    <strong>TL-DIALOG</strong>
                    It's a service that has your own set up according with it function such as Dialog Info, Alert, Confirm and Error.
                    The dialog's have all control window functions as well.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row box-features text-boxes-features">
            <div class="col-md-4">
              <div class="col-md-10 col-md-offset-2">
                <div class="box-framework-features">
                  <i class="fa fa-table"></i>
                  <p class="framework-description">
                    <strong>TL-DATATABLE</strong> As the name describes, represents massive grid data,
                    with nice features such as a Intelligence LazyLoad Order, Filter and Keyboard Navigation.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-10 col-md-offset-1">
                <div class="box-framework-features">
                  <i class="fa ion-ios-bookmarks"></i>
                  <p class="framework-description">
                    <strong>TL-SCHEDULE</strong>
                    Displays appointments across the timetable and allows a user to quickly
                    change between different timetable views using the View Selector and navigate using the Date Navigator.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-10">
                <div class="box-framework-features">
                  <i class="fa fa-minus-square"></i>
                  <p class="framework-description">
                    <strong>TL-BUTTON</strong>
                    The buttons have many properties to be used, and custom behavior can be attached. It's intelligence when used with Dialog and Form, creating own actions to return for them.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid box-footer-buttons">
      <div class="col-md-6">
        <div class="col-md-1 col-md-offset-2">
          <i class="fa ion-play icon-boxes-bottom" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 box-getting-footer">
          <a href="/gettingstarted"><h2 class="title-boxes-bottom">Getting Started</h2></a>
          <p class="text-boxes-bottom">Learn more about how to install TrulyUI Framework. We'll cover the basics and get you started from the ground up.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="separator"></div>
      </div>
      <div class="col-md-6">
        <div class="col-md-1 col-md-offset-2">
          <i class="fa fa-github icon-boxes-bottom" aria-hidden="true"></i>
        </div>
        <div class="col-md-8 box-getting-footer" style="margin-left: 40px">
          <a href="https://github.com/TemainfoSistemas/truly-ui" target="_blank"><h2 class="title-boxes-bottom">Fork us on Github</h2></a>
          <p class="text-boxes-bottom">Fork us on Github and Contribute with the project.</p>
        </div>
      </div>
    </div>
  </div>
</div>

