<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Stopwatch<span
      class="module-name"><code><u>Module Name</u>: <strong>StopwatchModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>StopwatchModule</strong></code></p>
    <p class="text-content">
      It is a digital countdown timer
    </p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-12">
              <h5>Basic</h5>
              <tl-stopwatch [width]="'240px'" [height]="'45px'" [resetOnStop]="true" [initialTime]="'00:59:58'" (returnTime)="onStop($event)" #timer></tl-stopwatch>
              <br>
              <button (click)="stopWatchService.start()" class="btn-demo">Start</button>
              <button (click)="stopWatchService.stop()" class="btn-demo">Stop</button>
              <button (click)="stopWatchService.reset()" class="btn-demo">Reset</button>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-stopwatch [width]="'240px'" [height]="'45px'" (returnTime)="onStop($event)" #timer></tl-stopwatch>
<button (click)="stopWatchService.start()">Start</button>
<button (click)="stopWatchService.stop()">Stop</button>
<button (click)="stopWatchService.reset()">Reset</button>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'fas fa-broadcast-tower'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
