<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Dropdown Icon <span class="module-name"><code><u>Module Name</u>: <strong>DropDownIconModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>DropDownListModule</strong></code></p>
    <p class="keyText-content">The DropdownIcon is a component that list a bunch of options represented as icons.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Basic</h5>
              <tl-dropdown-icon [data]="data"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [keyIcon]="'icon'"
                                [(ngModel)]="itemSelected">
              </tl-dropdown-icon>
              <app-showcase-returned-value [value]="itemSelected | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-icon
  [data]="data"
  [keyText]="'textItem'"
  [(ngModel)]="itemSelected">
</tl-dropdown-icon>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Diferent Dimensions</h5>
              <tl-dropdown-icon [data]="data"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [keyIcon]="'icon'"
                                [widthIcon]="'50px'"
                                [heightIcon]="'40px'"
                                [(ngModel)]="itemSelected2">
              </tl-dropdown-icon>
              <app-showcase-returned-value [value]="itemSelected2 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-icon [data]="data"
                  [keyText]="'textItem'"
                  [keyValue]="'value'"
                  [keyIcon]="'icon'"
                  [widthIcon]="'50px'"
                  [heightIcon]="'40px'"
                  [(ngModel)]="itemSelected2">
</tl-dropdown-icon>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Important'" [icon]="'ion-information-circled'">
          <app-card>
            <h4>Use DropdownList As Simple Array</h4>
            <h5>There's <code>TWO</code> ways to use DropdownList, the first one is using an <code>Simple Array of Objects</code>, passing only the data that
              you want to. For Example:</h5>
            <textarea highlight-js [options]="{}" [lang]="'typescript'">
[
  { 'William', 'King', 'contact@domain.com' },
  { 'James', 'King', 'contact@domain.com' },
  { 'Anne', 'King', 'contact@domain.com' },
];
    </textarea>
            <hr>
            <h4>Use DropdownList As Complex Array</h4>
            <h5>The other one is a <code>Complex Array of Objects</code> where you <code>must</code> pass a pattern to the component.</h5>
            <code> Note: The Keys inside those objects can be custom, referenced through the properties.</code>
            <textarea highlight-js [options]="{}" [lang]="'typescript'">
[
  { id: 1, firstName: 'Antonio', lastName: 'King', email: 'contact@domain.com' },
  { id: 2, firstName: 'Junior', lastName: 'King', email: 'contact@domain.com' },
  { id: 3, firstName: 'Murilo', lastName: 'King', email: 'contact@domain.com' },
  { id: 4, firstName: 'Sara', lastName: 'King', email: 'contact@domain.com', },
  { id: 5, firstName: 'Claudia', lastName: 'King', email: 'contact@domain.com' }
];
    </textarea>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'fas fa-broadcast-tower'">
      <app-card>
        <h4><code>All <b>Angular Supported Events</b> can be used on this component.</code></h4>
      </app-card>
    </app-showcase-card>
  </div>
</div>
