<div class="ui-arrow-up" *ngIf="overlayPosition === 'bottom'"></div>
<div class="ui-wrapper-colorpicker-content">
  <div #content class="ui-colorpicker-content">
    <div class="ui-colorpicker-scheme" [style.background-color]="hueSliderColor">

    </div>
    <div class="ui-colorpicker-alpha">
      <div class="left">
        <div class="selected-color-background"></div>
      </div>
      <div class="right">
        <div #hueSlider class="hue" (mousedown)="onMouseDown($event, 'hue')" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event, 'hue')">
          <div class="cursor" [style.left.px]="positionHue"></div>
        </div>
        <div #alphaSlider class="alpha" (mousedown)="onMouseDown($event, 'alpha')" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event, 'alpha')">
          <div class="cursor" [style.left.px]="positionAlpha"></div>
        </div>
      </div>
    </div>
    <div #footer class="ui-colorpicker-footer">
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
      <div class="preset-color"></div>
    </div>
  </div>
  <div class="ui-arrow-down" *ngIf="overlayPosition === 'top'"></div>
</div>
