<div [class]="'tl-multiselect-container '+ color">
  <div class="-labelTag" [style.width]="labelSize">{{label}}</div>
  <div class="multiselect-wrapper">
    <div
      class="input-wrapper-multiselect"  #element (click)="setInputFocus()"
      [ngClass]="
      {
      'focused':focused, 'noFocused':!focused,
      'invalid': controlName?.control.errors || model?.control.errors,
      'withValidators': hasValidator,
      'inputFormOpenFilter': isOpen && filteredItens.length !== 0
      }">
      <div class="group-tags" *ngIf="hasKeySource">
        <div class="tag" *ngFor="let tag of tags; let i = index"
             (click)="selectTagClick($event,i, tag)"
             [ngStyle]="changeColorTag(tag)">
          <span>{{tag?.source[labelTag]}}</span>
          <small *ngIf="detailOnTag && detail !== undefined" class="tags-detail">
            <{{tag?.source[detail]}}>
          </small>
          <span (click)="removeTag(i, tag)">X</span>
        </div>
      </div>
      <div class="group-tags" *ngIf="!hasKeySource">
        <div class="tag" *ngFor="let tag of tags; let i = index" (click)="selectTagClick($event, i, tag)"
             [ngStyle]="changeColorTag(tag)">
          <span>{{tag[labelTag]}}</span>
          <small *ngIf="detailOnTag && detail !== undefined"
                 class="tags-detail"><{{tag[detail]}}>
          </small>
          <span (click)="removeTag(i, tag)">X</span>
        </div>
      </div>
      <input [attr.autocomplete]="'off'"
             [ngClass]="
             {
              'input-empty': isTagsEqualsZero(),
              'input': !isTagsEqualsZero(),
              'invalid': controlName?.control.errors || model?.control.errors,
              'withValidators': hasValidator,
              'withoutValidators': !hasValidator
              }"
             #input width="300"
             [(ngModel)]="value"
             (blur)="closeList( $event )"
             (focus)="handleInputFocus()"
             [attr.placeholder]="placeholder"
             (keyup)="searchItem($event.target.value, $event)"
             (keydown)="handleKeyDown($event)"
             type="text">
    </div>
    <div *ngIf="hasKeySource" [style.display]="isOpen ? 'block' : 'none'">
      <ul #ul class="select-options"
          [style.position]="'fixed'"
          [style.display]="filteredItens.length > 0 ? 'block' : 'none'"
          [style.left]="listPosition + 'px'"
          [style.top]="listTopPosition + 25 + 'px'"
          [ngStyle]="calcHeightWidthItem()">
        <li
          [ngStyle]=" {'padding': itemHeight }"
          [ngClass]="{selectedItem:item?.selected}"
          (blur)="closeList($event)"
          tabindex="-1"
          *ngFor="let item of filteredItens; let i = index"
          class="itens" (click)="addTag(item)">

          <i *ngIf="defaultIconTag" style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{defaultIconTag}}"></i>
          <i *ngIf="showIcon && !defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{item?.effect[icon]}}"></i>

          {{item?.source[query]}}
          <small [ngClass]="{selectedItem:item?.selected}">{{item?.source[detail]}}</small>
        </li>
      </ul>
    </div>
    <div *ngIf="!hasKeySource" [style.display]=" isOpen ? 'block' : 'none' ">
      <ul #ul class="select-options"
          [style.display]="filteredItens.length > 0 ? 'block' : 'none'"
          [style.position]="'fixed'"
          [style.left]="listPosition + 'px'"
          [style.top]="listTopPosition + 25 + 'px'"
          [ngStyle]="calcHeightWidthItem()">
        <li [ngStyle]="{'padding': itemHeight}"
            [ngClass]="{selectedItem:item?.selected}"
            (blur)="closeList($event)" tabindex="-1"
            (keydown)="handleKeyDown( $event )"
            *ngFor="let item of filteredItens; let i = index"
            class="itens" (click)="addTag(item)">

          <i *ngIf="defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{defaultIconTag}}">
          </i>
          <i *ngIf="showIcon && !defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{item?.effect[icon]}}">
          </i>

          {{item[query]}}
          <small [ngClass]="{selectedItem:item?.selected}">{{item[detail]}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>
