@import "../core/styles/theming/theming";

@mixin tl-multiselect-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary:   map-deep-get($theme, 'primary');
  $warning:   map-deep-get($theme, 'warning');

  .tl-multiselect-container {

    > .-labelTag {
      color: map-deep-get($basic, "default", "foreground");
    }

    >.multiselect-wrapper{
      & .selectedItem {
        background-color: map-deep-get($primary, "default", "background") !important;
        color: map-deep-get($primary, "default", "foreground")  !important;
      }

      & .input-wrapper-multiselect {
        border: 1px solid  map-deep-get($basic, "lighter", "border");
        background:  map-deep-get($basic, "lighter", "background");
        -webkit-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
        box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
      }

      & .input-wrapper-multiselect input::placeholder {
        color:map-deep-get($basic, "default", "foreground");
      }

      & .input {
        background: map-deep-get($basic, "lighter", "background");
        color: map-deep-get($basic, "lighter", "foreground");
      }

      & .input-empty {
        background: map-deep-get($basic, "lighter", "background");
        color: map-deep-get($basic, "lighter", "foreground");
      }

      & .inputFormOpenFilter {
        border-top: 1px solid  map-deep-get($basic, "default", "border");
        border-left: 1px solid  map-deep-get($basic, "default", "border");
        border-right: 1px solid  map-deep-get($basic, "default", "border");
        border-bottom: 0 !important;
      }

      & .select-options {
        //border: 1px solid  map-deep-get($basic, "default", "border")
      }
      & .select-options::-webkit-scrollbar-thumb {
        background-color: map-deep-get($primary, "default", "background");
        outline: 1px solid map-deep-get($primary, "default", "background");
      }

      & .group-tags span {
        color: map-deep-get($primary, "default", "foreground");
      }

      & .group-tags span b {
        border-left: 1px solid map-deep-get($primary, "default", "foreground");
      }

      & .select-options {
        background: map-deep-get($basic, "lighter", "background");
      }

      & .select-options .itens {
        background: map-deep-get($basic, "lighter", "background");
        color: map-deep-get($basic, "lighter", "foreground");
        border-top:1px solid rgba( map-deep-get($basic, "default", "border"),0.3);
      }

      & .select-options small {
        color: map-deep-get($basic, "lighter", "foreground");
      }

      & .select-options .itens:last-child {
        border-bottom: 1px solid rgba(map-deep-get($basic, "default", "border"),0.3);
      }

      & .select-options .itens:hover {
        background: map-deep-get($basic, "hover", "background");
        outline: none;
      }
    }
  }
}
