<div [class]="'tl-multiselect-container '+ color">
  <div class="-labelTag" [style.width]="labelSize">{{label}}<b
    *ngIf="required" style="color: #FF6666">*</b></div>
  <div class="multiselect-wrapper">
    <div
      class="input-wrapper-multiselect"
      cdkOverlayOrigin #trigger="cdkOverlayOrigin"
      #element (click)="setInputFocus();"
      [ngClass]="
      {
      'ng-touched': touched,
      'invalid': controlName?.control.errors || model?.control.errors,
      'withValidators': hasValidator,
      'inputFormOpenFilter': isOpen && filteredItens.length !== 0
      }">
      <div class="group-tags">
        <div class="tag" *ngFor="let tag of tags; let i = index" (click)="selectTagClick($event, i, tag)"
             [ngStyle]="changeColorTag(tag)">
          <span>{{ isSimpleData() ? tag : tag[labelTag] }}</span>
          <small *ngIf="detailOnTag && detail !== undefined && !isSimpleData()"
                 class="tags-detail"><{{tag[detail]}}>
          </small>
          <span (click)="removeTag(i, tag)">X</span>
        </div>
        <input autocomplete="off"
               class="input-field"
               [ngClass]="
             {
              'invalid': controlName?.control.errors || model?.control.errors,
              'withValidators': hasValidator,
              'withoutValidators': !hasValidator
              }"
               #input
               [(ngModel)]="value"
               (focus)="handleInputFocus(); isOpen = !isOpen"
               [attr.placeholder]="placeholder"
               (keydown.backspace)="isOpen = true"
               (keydown.arrowDown)="handleArrowDown($event)"
               (keyup)="searchItem($event.target.value)"
               (keydown)="handleKeyDown($event)">
      </div>
    </div>

    <ng-template cdkConnectedOverlay
                 (backdropClick)="isOpen = false"
                 [cdkConnectedOverlayHasBackdrop]="true"
                 [cdkConnectedOverlayOrigin]="trigger"
                 [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                 [cdkConnectedOverlayOpen]="isOpen">
      <tl-overlay-list
        @overlay
        (selectOption)="addTag($event)"
        (search)="handleKeyDown($event)"
        [customInput]="input"
        [typeOfData]="typeOfData"
        [datasource]="filteredItens"
        [itemHeight]="itemHeight"
        [width]="element.offsetWidth + 'px'"
        [icon]="icon"
        [keyText]="query">
      </tl-overlay-list>
    </ng-template>
  </div>
</div>
