<div class="router-outlet">
  <app-showcase-header name="Input Validators " module="InputModule + ValidatorsModule">
    Improve overall data quality by validating user input for accuracy and completeness. Truly has several validations that makes easy to use and control the data of your form application.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <span>CPF</span>
              <form [formGroup]="form">
                <tl-input name="cpf" [mask]="'999.999.999-99'" showValidations cpf [formControlName]="'cpf'"></tl-input>
              </form>
              <app-showcase-returned-value [value]="form.value | json"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="cpf" showValidations cpf [(ngModel)]="cpf"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <span>CNPJ</span>
              <tl-input cnpj showValidations name="cnpj" [(ngModel)]="cnpj"></tl-input>
              <app-showcase-returned-value [value]="cnpj"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input cnpj name="cnpj" showValidations [(ngModel)]="cnpj"></tl-input>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>DATE</span>
              <tl-input name="date" date formatDate="DD/MM/YYYY" required showValidations [(ngModel)]="date"></tl-input>
              <app-showcase-returned-value [value]="date"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="date" date formatDate="DD/MM/YYYY" required showValidations [(ngModel)]="date"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <span>NUMBER</span>
              <tl-input name="number" number required showValidations [clearButton]="true" maxlength="5" [(ngModel)]="number"></tl-input>
              <app-showcase-returned-value [value]="number"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="number" number showValidations required [clearButton]="true" maxlength="5" [(ngModel)]="number"></tl-input>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>EMAIL</span>
              <tl-input name="email" showValidations email [(ngModel)]="email"></tl-input>
              <app-showcase-returned-value [value]="email"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="email" email showValidations [(ngModel)]="email"></tl-input>
</textarea>
            </div>
            <div class="col-md-6">
              <span>PATTERN<code>(ex: Tacomah1, ab2cdefH, 123Abcde)</code></span>
              <tl-input messageValidation name="pattern" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="pattern"></tl-input>
              <app-showcase-returned-value [value]="pattern"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input showValidations name="pattern" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="pattern"></tl-input>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <span>PASSWORD</span>
              <tl-input name="password" minlength="5" required showValidations [passwordRule]="{digits: true, uppercase : true, special : true}" password [(ngModel)]="password"></tl-input>
              <app-showcase-returned-value [value]="password"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="password" minlength="5"  [passwordRule]="{digits: true, uppercase : true, special : true}" required showValidations password [(ngModel)]="password"></tl-input>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Available Validators'" [icon]="'far fa-lightbulb'">
          <app-card>
            <div class="pattern" style="line-height: 20px">
              <p><code>required</code> - Validate if the field has value.</p>
              <p><code>minlength</code> - Value field must have the length specified of characters.</p>
              <p><code>pattern</code> - Value field must match with expression (Regex) specified.</p>
              <p><code>cpf</code> - Validate Individual Registration. [Brazil]</p>
              <p><code>date</code> - Validate Date Format.</p>
              <p style="padding-left: 10px"><code>[formatDate]</code> - dd.mm.yyyy or mm.dd.yyyy with any mask.</p>
              <p style="padding-left: 10px"><code>[isoDate]</code> - boolean to control if the model of field will be ISO date or not.</p>
              <p><code>email</code> - Validate Email expression.</p>
              <p><code>cnpj</code> - Validate employer code. [Brazil]</p>
              <p><code>number</code> - Field allowed only numbers.</p>
              <p><code>password</code> - Validate password field type.</p>
              <p style="padding-left: 10px"><code>[passwordRule]</code> - Object of boolean properties to set rules - <code>digits | uppercase | specials</code></p>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Message Validation Property'" [icon]="'fas fa-wrench'">
          <app-card>
            <div class="pattern" style="line-height: 20px">
              <p style="font-size: 1.2em; line-height: 1.5em">The <code>showValidations</code> property is used on <code>tl-input</code> to show error messages. The box of errors messages only will appears
                if the input is <code>dirty</code> and that has validation error.</p>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-input name="password" minlength="5" required showValidations password [passwordRule]="{digits: true,special: true }" [(ngModel)]="password"></tl-input>
</textarea>
              <img src="assets/images/messagevalidation.png">
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
          <app-card>
            <h4><code>All <b>Angular Input Events</b> can be used too.</code></h4>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>

