<div class="tl-dropdown-list-box">
    <label *ngIf="label" class="labeltext -label{{labelPlacement}}" [ngStyle]="{'width' : labelSize}">{{label}}
        <b *ngIf="required" class="required">*</b>
    </label>
    <div class="wrapper" #wrapper (click)="changeShowStatus($event)">
        <div *ngIf="showOnlyIcon"
             class="ui-overlap"
             (keydown)="onListOpened($event)"
             tabindex="-1"
             [ngStyle]="{'height' : height, 'line-height' : height, 'width': '35px'}">
            <i #dropdownShow class="{{placeholderIcon}}"></i>
        </div>
        <input #dropdown
               class="select"
               attr.tabindex="-1"
               placeholder="{{ placeholder?.valueOf() }}"
               #model="ngModel"
               readonly
               [ngClass]="{
                   'disabled': disabled,
                   'without-icon':!showOnlyIcon,
                   '-hasValidation': hasValidation()
               }"
               [(ngModel)]="modelValue"
               [required]="validations.required"
               [maxlength]="validations.maxLength"
               [minlength]="validations.minLength"
               [ngStyle]="{'height' : height, 'line-height' : height, 'width': !showOnlyIcon ? width : '35px'}"
               [disabled]="disabled ? true : null">

        <div *ngIf="!showOnlyIcon" class="dropdown-list-icon"
             [style.line-height]="height"
             [ngClass]="{' disabled ': disabled}">
            <i class="ion-chevron-down"></i>
        </div>
    </div>
    <div class="wrapper">
        <div class="dropdown-list-wrapper-select"
             *ngIf="!disabled"
             [style.zIndex]="1000"
             [@enterAnimation]="showHide"
             [ngStyle]="{
               'width': showOnlyIcon ? width: wrapper?.offsetWidth + 'px',
               'left': listLeftPosition + 'px',
               'top': listTopPosition + 'px'
             }">

            <div class="search-input" *ngIf="searchOnList">
                <i class="search-input-icon ion-ios-search-strong"></i>
                <input #searchInput class="search-input-field"
                       (keyup)="onKeyDownSearchInput($event);onListOpened($event)"
                       [ngStyle]="{'width': showOnlyIcon ? width : (wrapper.offsetWidth - 22)+'px'}">
            </div>

            <div class="-placeholder"
                 [style.display]="placeholder && showHide ? 'block' : 'none'"
                #defaultPlaceholder
                [style.zIndex]="1000"
                [ngStyle]="{'line-height' : height}"
                (keydown)="placeholderEnter($event)"
                (click)="selectPlaceholder()" tabindex="-1">
               <i *ngIf="placeholderIcon && icon" [class]="'ui-icon '+placeholderIcon"> </i> <span> {{ placeholder }}</span>
           </div>

           <ul class="dropdown-list-select"
               (keydown)="onListOpened($event)"
               #list
               [ngStyle]="calcHeightItem()"
               [style.display]="showHide ? 'block' : 'none'">
               <li *ngFor="let item of datasource; let i = index"
                   (click)="selectOption(item, i)"
                   tabindex="{{ i }}"
                   [ngStyle]="{'line-height' : height}">
                   <i *ngIf="item[icon]" [class]="'ui-icon '+item[icon]"> </i> <span> {{ item[text] }}</span>
               </li>
           </ul>
       </div>
   </div>
</div>
