.tl-dropdown-list-box {
  display: table;
  border-collapse: separate;
  box-sizing: unset; }
  .tl-dropdown-list-box > .labeltext {
    font-family: "Segoe UI", sans-serif;
    font-size: 0.9em;
    color: #737373;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle; }
    .tl-dropdown-list-box > .labeltext > b.required {
      color: #FF6666; }
  .tl-dropdown-list-box > .labeltext.-labeltop {
    display: table-caption;
    text-align: left;
    padding: 0 0 5px 0; }
  .tl-dropdown-list-box > .labeltext.-labelleft {
    display: table-cell;
    text-align: right;
    padding: 5px 5px 5px 0; }
  .tl-dropdown-list-box > .wrapper {
    box-sizing: unset;
    position: relative;
    display: table;
    margin: 0;
    padding: 0; }
    .tl-dropdown-list-box > .wrapper > .select {
      overflow: hidden;
      background: #E8E8E8;
      font-family: "Segoe UI", sans-serif;
      font-size: 0.9em;
      color: #616161;
      cursor: pointer;
      border: 1px solid #C8C8C8;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      user-select: none;
      box-sizing: border-box; }
    .tl-dropdown-list-box > .wrapper > .select.without-icon {
      box-sizing: unset;
      padding-left: 10px;
      padding-right: 30px; }
    .tl-dropdown-list-box > .wrapper > .select:hover {
      background-color: #dedede; }
    .tl-dropdown-list-box > .wrapper > .select:active {
      background-color: #d8d8d8; }
    .tl-dropdown-list-box > .wrapper > .select:focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto; }
    .tl-dropdown-list-box > .wrapper > .select.-hasValidation.ng-invalid.ng-touched:not(dropdown) {
      border: 1px solid #FF6666;
      background-color: #FFF1F1; }
    .tl-dropdown-list-box > .wrapper > .select.-hasValidation.ng-valid[required], .tl-dropdown-list-box > .wrapper .select.-hasValidation.ng-valid.required {
      border: 1px solid #66CC99;
      background-color: #E3F5EC; }
    .tl-dropdown-list-box > .wrapper > .dropdown-list-icon {
      box-sizing: unset;
      position: absolute;
      display: table-cell;
      cursor: pointer;
      line-height: 37px;
      top: 0;
      right: 0; }
    .tl-dropdown-list-box > .wrapper > .dropdown-list-icon i {
      font-size: 0.9em;
      color: #6A6A6A;
      padding: 0 9.3px; }
    .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select {
      z-index: 10;
      outline: none;
      cursor: pointer;
      padding: 0;
      left: 0;
      margin: 0;
      width: 100%;
      border-top: 1px solid #C8C8C8;
      text-align: left; }
      .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select {
        background-color: #E8E8E8;
        border: 1px solid #C8C8C8;
        color: #616161;
        border-top: 0;
        padding: 0;
        margin: 0;
        list-style: none; }
        .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select > li {
          font-family: "Segoe UI", sans-serif;
          font-size: 0.9em;
          color: #616161;
          outline: none;
          padding: 0 10px; }
        .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select > li:hover {
          background-color: #dedede; }
        .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select > li:focus {
          background-color: #53C68C;
          color: #FFFFFF; }
        .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select > li:active {
          background-color: #d8d8d8;
          color: #616161; }
        .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select > li span {
          font-weight: normal; }
      .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select::-webkit-scrollbar {
        width: 0.4em; }
      .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .dropdown-list-select::-webkit-scrollbar-thumb {
        background-color: #CCCCCC; }
      .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select > .-placeholder {
        box-sizing: unset;
        font-family: "Segoe UI", sans-serif;
        font-size: 0.9em;
        font-weight: normal;
        color: #616161;
        background-color: #E8E8E8;
        cursor: default;
        outline: none;
        border: 1px solid #C8C8C8;
        border-bottom: 0;
        border-top: 0;
        padding: 0 10px; }
      .tl-dropdown-list-box > .wrapper > .dropdown-list-wrapper-select .-placeholder:focus {
        background-color: #53C68C;
        color: #FFFFFF; }
    .tl-dropdown-list-box > .wrapper > .disabled::placeholder, .tl-dropdown-list-box > .wrapper .disabled {
      opacity: 0.45;
      color: #000000;
      cursor: default; }

.search-input > .search-input-icon {
  position: absolute;
  font-size: 1em;
  line-height: 25px;
  padding-left: 7px;
  color: #737373; }
.search-input > .search-input-field {
  padding-left: 20px;
  height: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #737373;
  border: 1px solid #C8C8C8;
  border-bottom: 0;
  border-top: 0; }

.selected {
  background: #53C68C !important;
  color: #fff !important; }

.ui-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block; }

.ui-overlap {
  position: absolute;
  color: #616161;
  cursor: pointer;
  padding: 0px;
  text-align: center;
  border: 1px solid #C8C8C8;
  box-sizing: border-box;
  background-color: #E8E8E8; }

/*# sourceMappingURL=dropdownlist.css.map */
