//Default
$default-fontSize: 0.9em;
$default-fontFamily: 'Segoe UI', sans-serif;
$default-height: 39px;
$default-cursorHover: pointer;
$default-cursor: default;
$default-outline: none;


.tl-dropdown-list-box {
  display: table;
  border-collapse: separate;
  > .labeltext {
    font-family: $default-fontFamily;
    box-sizing: border-box;
    font-size: $default-fontSize;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    > b.required {
    }
  }
  > .labeltext.-labeltop {
    display: table-caption;
    text-align: left;
    padding: 0 0 5px 0;
  }
  > .labeltext.-labelleft {
    display: table-cell;
    text-align: right;
    padding: 5px 5px 5px 0;
  }
  > .wrapper {
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    > .select {
      overflow: hidden;
      font-family: $default-fontFamily;
      font-size: $default-fontSize;
      cursor: $default-cursorHover;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      user-select: none;
      box-sizing: border-box;
    }
    > .select.without-icon {
      padding-left: 10px;
      padding-right: 30px;
    }
    > .select:focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }

    > .dropdown-list-icon {
      position: absolute;
      display: table-cell;
      cursor: $default-cursorHover;
      top: 0;
      right: 0;
    }
    > .dropdown-list-icon i {
      font-size: $default-fontSize;
      padding: 0 9.3px;
    }
    > .dropdown-list-wrapper-select {
      z-index: 10;
      position: fixed;
      outline: $default-outline;
      cursor: $default-cursorHover;
      padding: 0;
      left: 0;
      margin: 0;
      width: 100%;
      text-align: left;
      > .dropdown-list-select {
        border-top: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
          font-family: $default-fontFamily;
          font-size: $default-fontSize;
          outline: $default-outline;
          padding: 0 10px;
        }
        > li span {
          font-weight: normal;
        }
      }
      > .dropdown-list-select::-webkit-scrollbar {
        width: 0.4em;
      }
      > .-placeholder {
        font-family: $default-fontFamily;
        font-size: $default-fontSize;
        font-weight: normal;
        cursor: $default-cursor;
        outline: $default-outline;
        border-bottom: 0;
        border-top: 0;
        padding: 0 10px;
      }
    }
  }
}

.search-input {
  box-sizing: border-box;
  >.search-input-icon {
    position: absolute;
    font-size: 1em;
    line-height: 25px;
    padding-left: 7px;
  }
  >.search-input-field {
    padding-left: 20px;
    height: 23px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    border-bottom: 0;
    border-top: 0;
  }
}

.ui-icon{
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

.ui-overlap{
  position: absolute;
  cursor: pointer;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}
