<div class="router-outlet">
  <app-showcase-header name="Dropdown List" module="DropDownListModule">
    The DropdownList is a component that can be selected and filtered
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <h6>Basic</h6>
              <tl-dropdown-list [data]="data"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [keyText]="'textItem'"
  [(ngModel)]="itemSelected">
</tl-dropdown-list>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Auto Scroll</h6>
              <tl-dropdown-list [data]="bigData"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected4">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected4 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="bigData"
  [keyText]="'textItem'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected4">
</tl-dropdown-list>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Scroll</h6>
              <tl-dropdown-list [data]="data"
                                [keyText]="'textItem'"
                                [(ngModel)]="itemSelected3"
                                [keyValue]="'value'">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected3 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [keyText]="'textItem'"
  [(ngModel)]="itemSelected3"
  [keyValue]="'value'">
</tl-dropdown-list>
  </textarea>
            </div>
            <div class="col-md-6">
              <h6>Placeholder</h6>
              <tl-dropdown-list [data]="data"
                                [keyText]="'textItem'"
                                [placeholder]="'Select item'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected2">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected2 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [keyText]="'textItem'"
  [placeholder]="'Select item'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected2">
</tl-dropdown-list>
  </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Label</h6>
              <tl-dropdown-list [data]="data"
                                [label]="'Label'"
                                [labelSize]="'80px'"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected5">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected5 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [label]="'Label'"
  [labelSize]="'80px'"
  [keyText]="'textItem'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected5">
</tl-dropdown-list>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Custom Height</h6>
              <tl-dropdown-list [data]="data"
                                [placeholder]="'Select item'"
                                [itemHeight]="'30px'"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected6">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected6 | json"></app-showcase-returned-value>
              <div class="spacer" style="padding: 13px"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [placeholder]="'Select item'"
  [itemHeight]="'30px'"
  [keyText]="'textItem'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected6">
</tl-dropdown-list>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Custom Width + Filter</h6>
              <tl-dropdown-list [data]="data"
                                [placeholder]="'Select item'"
                                [width]="'180px'"
                                [searchOnList]="true"
                                [groupBy]="'olhos'"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [(ngModel)]="itemSelected7">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected7 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [placeholder]="'Select item'"
  [width]="'120px'"
  [searchOnList]="true"
  [keyText]="'textItem'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected7">
</tl-dropdown-list>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Required</h6>
              <tl-dropdown-list [data]="data"
                                [placeholder]="'Select Item'"
                                [labelSize]="'80px'"
                                [labelPlacement]="'top'"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                required
                                [(ngModel)]="itemSelected9">
              </tl-dropdown-list>
              <app-showcase-returned-value [value]="itemSelected9 | json"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="data"
  [label]="'Label'"
  [labelSize]="'80px'"
  [labelPlacement]="'top'"
  required
  [keyText]="'textItem'"
  [keyValue]="'value'"
  [(ngModel)]="itemSelected9">
</tl-dropdown-list>
  </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Disabled</h6>
              <tl-dropdown-list [data]="data"
                                [placeholder]="'Select item'"
                                [keyText]="'textItem'"
                                [keyValue]="'value'"
                                [disabled]="true">
              </tl-dropdown-list>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list [data]="data" [placeholder]="'Select item'" [keyText]="'textItem'" [disabled]="true"></tl-dropdown-list>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Simple Data</h6>
              <tl-dropdown-list [data]="[ 'Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5' ]" [(ngModel)]="itemSelected8"></tl-dropdown-list>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list [data]="[ 'Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5' ]" [(ngModel)]="itemSelected8"></tl-dropdown-list>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>GroupBy</h6>
              <tl-dropdown-list [data]="groupData"
                                [placeholder]="'Select item'"
                                [keyText]="'textItem'"
                                [groupBy]="'gender'"
                                [keyValue]="'value'">
              </tl-dropdown-list>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="groupData"
  [placeholder]="'Select item'"
  [keyText]="'textItem'"
  [groupBy]="'gender'"
  [keyValue]="'value'">
</tl-dropdown-list>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Custom With Icon</h6>
              <tl-dropdown-list [data]="dataWithIcon"
                                [placeholder]="'Select item'"
                                [keyText]="'textItem'"
                                [icon]="'icon'"
                                [groupBy]="'gender'"
                                [keyValue]="'value'">
              </tl-dropdown-list>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-dropdown-list
  [data]="groupData"
  [placeholder]="'Select item'"
  [keyText]="'textItem'"
  [icon]="'icon'"
  [groupBy]="'gender'"
  [keyValue]="'value'">
</tl-dropdown-list>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Important'" [icon]="'ion ion-ios-information-circle'">
          <app-card>
            <div class="col-12">
              <h5>Use DropdownList As Simple Array</h5>
              <h6>There's <code>TWO</code> ways to use DropdownList, the first one is using an <code>Simple Array of Objects</code>, passing only the data that
                you want to. For Example:</h6>
              <textarea highlight-js [options]="{}" [lang]="'typescript'">
[ 'William', 'James', 'Anne', 'Sara' ]
    </textarea>
              <hr>
              <h5>Use DropdownList As Complex Array</h5>
              <h6>The other one is a <code>Complex Array of Objects</code> where you <code>must</code> pass a pattern to the component.</h6>
              <code> Note: The Keys inside those objects can be custom, referenced through the properties.</code>
              <textarea highlight-js [options]="{}" [lang]="'typescript'">
[
  { id: 1, firstName: 'Antonio', lastName: 'King', email: 'contact@domain.com' },
  { id: 2, firstName: 'Junior', lastName: 'King', email: 'contact@domain.com' },
  { id: 3, firstName: 'Murilo', lastName: 'King', email: 'contact@domain.com' },
  { id: 4, firstName: 'Sara', lastName: 'King', email: 'contact@domain.com', },
  { id: 5, firstName: 'Claudia', lastName: 'King', email: 'contact@domain.com' }
];
    </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataTableEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
