<tl-form [mode]="'modal'" [formGroup]="form">
  <tl-panelgroup [labelGroup]="'General'">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="form-group">
          <tl-input fxFlex="30" formControlName="id" [labelSize]="100" [label]="'ID'"></tl-input>
        </div>
        <div class="form-group">
          <tl-input formControlName="name" [showValidations]="true" [labelSize]="100" [label]="'Name'"></tl-input>
        </div>
      </div>
    </div>
  </tl-panelgroup>
</tl-form>
