<div *ngIf="nothingToShow" class="nothingToShow"><i class="ion-sad-outline"></i><br>{{filterEmptyMessage}}</div>

<div class="listbox-wrapper">
    <div [@onCreateElement]="true" *ngIf="scrollTop >= 12" (mouseleave)="onShowMoreMouseOut()" (mouseenter)="onShowMoreMouseIn('up')" class="showmore up">
        <i class="ion-chevron-up"></i>
    </div>
    <div #itemContainer class="list-box-container">
        <ul #list class="list" [style.position]="'relative'"
            [style.height]="filtering ? (filtredData.length * rowHeight) + 'px' : (data.length * rowHeight) + 'px'"></ul>
    </div>
    <div [@onCreateElement]="true" *ngIf="showMore" (mouseleave)="onShowMoreMouseOut()" (mouseenter)="onShowMoreMouseIn('down')" class="showmore down">
        <i class="ion-chevron-down"></i>
    </div>
</div>







