@import "../../../core/styles/theming/theming";

@mixin _tl-modal-toolbar-theme-scheme( $theme, $action ){
  .container-modals {
    > .wrapper-container-modals {
      > .container-modal-box {
        background-color: map-deep-get($theme, $action, "default", "background");
        border: 1px solid map-deep-get($theme, $action, "default", "border");
        color:  map-deep-get($theme, $action, "default", "foreground");
      }
    }
  }
}

@mixin tl-modal-toolbar-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $success: map-deep-get($theme, 'success');

  .container-wrapper {

    > .arrow-right {
      background:map-deep-get($success, "default", "background");
      border: 1px solid map-deep-get($success, "default", "border");
      color: map-deep-get($success, "default", "foreground");
    }
    > .arrow-left {
      background: map-deep-get($success, "default", "background");
      border: 1px solid map-deep-get($success, "default", "border");
      color: map-deep-get($success, "default", "foreground");
    }

    .container-modals {
      background-color: map-deep-get($basic, 'darker', "background");
      border: 1px solid map-deep-get($basic, 'darker', "border");
      //
      //&::-webkit-scrollbar {
      //  background: $scrollbar-background;
      //}
      //&::-webkit-scrollbar-corner {
      //  background: $scrollbar-background;
      //}
      //&::-webkit-scrollbar-track {
      //  background: $scrollbar-track;
      //  border-left: 1px solid $borders;
      //}
      //&::-webkit-scrollbar-thumb {
      //  background: $scrollbar-thumb;
      //}
    }

    &.basic {
      @include _tl-modal-toolbar-theme-scheme($theme, 'basic')
    }

    &.primary {
      @include _tl-modal-toolbar-theme-scheme($theme, 'primary')
    }

    //&.secondary {
    //  @include _tl-button-theme-schema($theme,'secondary')
    //}

    &.success {
      @include _tl-modal-toolbar-theme-scheme($theme, 'success')
    }

    &.danger {
      @include _tl-modal-toolbar-theme-scheme($theme, 'danger')
    }

    &.warning {
      @include _tl-modal-toolbar-theme-scheme($theme, 'warning')
    }

    &.information {
      @include _tl-modal-toolbar-theme-scheme($theme, 'information')
    }
  }
}
