<ul class="ui-simple-sub-menu-list" [ngClass]="{'docked': docked}"
    [style.left]="getWidth()"
    [style.width]="width"
    [style.top]="'-' + itemHeight" #subMenuList>
  <li #elementList class="ui-simple-list-item" [style.height]="itemHeight"
      [style.line-height]="itemHeight"
      (keydown.enter)="callbackListElement($event, item)"
      (click)="callbackListElement($event, item)"
      *ngFor="let item of items">
    <i [style.height]="itemHeight" [style.line-height]="itemHeight" [class]="'icon fa ' + item[icon]"></i>
    <span [style.height]="itemHeight" [style.line-height]="itemHeight" class="label">{{item[label]}}</span>
    <i [style.height]="itemHeight" [style.line-height]="itemHeight" *ngIf="item[subItem]" [ngClass]="{'anchor': setAnchorElement(item, elementList)}"
       class="ion-ios-arrow-right icon"></i>
  </li>
</ul>
