<div class="router-outlet">
  <app-showcase-header name="PopupMenu" module="PopupMenuModule">
    PopupMenu is a list that lists over some content as a menu.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <h6>Basic</h6>
                <tl-button #target1 [text]="'Target Element'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [target]="target1">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button #target1 [text]="'Target Element'"></tl-button>
<tl-popupmenu [target]="target1" [items]="menuItems" [label]="'label'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>With Trigger</h6>
              <a #trigger class="trigger-element"> Trigger </a>
              <tl-button #target2 [text]="'Target Element'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [trigger]="trigger"
                [target]="target2">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<a #trigger class="trigger-element"> Trigger </a>
<tl-button #target2 [text]="'Target Element'"></tl-button>
<tl-popupmenu  [target]="target2" [trigger]="trigger" [items]="menuItems" [label]="'label'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Position Bellow</h6>
                <tl-button #bellow [text]="'Target Element Bellow'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [positionY]="'bellow'"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [target]="bellow">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button #bellow [text]="'Target Element Bellow'"></tl-button>
<tl-popupmenu [target]="bellow" [items]="menuItems" [positionY]="'bellow'" [label]="'label'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Position Above</h6>
              <tl-button #above [text]="'Target Element Above'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [positionY]="'above'"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [target]="above">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button #above [text]="'Target Element Above'"></tl-button>
<tl-popupmenu [target]="above" [items]="menuItems" [positionY]="'above'" [label]="'label'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Position Before</h6>
                <tl-button #before [text]="'Target Element Before'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [positionX]="'before'"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [target]="before">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button #before [text]="'Target Element Before'"></tl-button>
<tl-popupmenu [target]="before" [items]="menuItems" [positionX]="'before'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
            <div class="col-md-6">
              <h6>Position After</h6>
              <tl-button #after [text]="'Target Element After'"></tl-button>
              <br><br>
              <tl-popupmenu
                [items]="menuItems"
                [positionX]="'after'"
                [label]="'label'"
                [subItem]="'subMenu'"
                [icon]="'icon'"
                [target]="after">
              </tl-popupmenu>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-button #after [text]="'Target Element After'"></tl-button>
<tl-popupmenu [target]="after" [items]="menuItems" [positionX]="'after'" [label]="'label'" [subItem]="'subMenu'" [icon]="'icon'"></tl-popupmenu>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Menu Configuration'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
this.items = [
  { label: 'The Target 2 Context Menu Item 1', icon: '', callBack: this.functionContext2 },
  { label: 'The Target 2 Context Menu Item 2', icon: '',
  subMenu: [
      { label: 'The Target 2 Context Menu Item 3', icon: '' },
      { label: 'The Target 2 Context Menu Item 4', icon: '' },
      { label: 'The Target 2 Context Menu Item 5', icon: '' }
    ]
  },
];
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
    </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
