<div class="tl-navigator">
  <div tabindex="-1"
       (click)="onClickPrevious()"
       [ngClass]="{'ui-button': true, 'ui-with-border': withBorder}"
       [ngStyle]="{height:height, lineHeight: height}">
    <tl-icon [lib]="'fa'" [style]="'fas'" [icon]="'chevron-left'"></tl-icon>
  </div>
  <div tabindex="-1"
       [ngClass]="{'ui-navigator': true,'ui-with-border': withBorder}"
       (click)="onClickNavigator()"
       [ngStyle]="{'max-width':width, height:height, lineHeight: height, width: width}">
    {{description}}
  </div>
  <div tabindex="-1"
       (click)="onClickNext()"
       [ngClass]="{'ui-button': true, 'ui-with-border': withBorder}"
       [ngStyle]="{height:height, lineHeight: height}">
    <tl-icon [lib]="'fa'" [style]="'fas'" [icon]="'chevron-right'"></tl-icon>
  </div>
</div>
