//Default
$default-backgroundColor: #E8E8E8;
$default-backgroundHoverColor: #dedede;
$default-backgroundActiveColor: #d8d8d8;
$default-backgroundFocusColor: #53C68C;
$default-color: #616161;
$default-focusColor: #FFFFFF;
$default-fontSize: 0.9em;
$default-fontFamily: 'Segoe UI', sans-serif;
$default-height: 39px;
$default-border: 1px solid #C8C8C8;
$default-cursorHover: pointer;
$default-cursor: default;
$default-iconColor: #6A6A6A;
$default-outline: none;
$error-field: #FF6666;
$error-placeholder: #FFB9B9;
$error-background-color: #FFF1F1;
$success-field: #66CC99;
$success-background-color: #E3F5EC;

.tl-dropdown-list-box {
  display: table;
  border-collapse: separate;
  box-sizing: unset;
  > .labeltext {
    font-family: $default-fontFamily;
    font-size: $default-fontSize;
    color: #737373;
    font-weight: normal;
    line-height: 1;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    > b.required {
      color: #FF6666;
    }
  }
  > .labeltext.-labeltop {
    display: table-caption;
    text-align: left;
    padding: 0 0 5px 0;
  }
  > .labeltext.-labelleft {
    display: table-cell;
    text-align: right;
    padding: 5px 5px 5px 0;
  }
  > .wrapper {
    box-sizing: unset;
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    > .select {
      box-sizing: unset;
      overflow: hidden;
      background: $default-backgroundColor;
      font-family: $default-fontFamily;
      font-size: $default-fontSize;
      color: $default-color;
      cursor: $default-cursorHover;
      border: $default-border;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      padding-right: 30px;
      vertical-align: middle;
      user-select: none;
    }
    > .select:hover {
      background-color: $default-backgroundHoverColor;
    }
    > .select:active {
      background-color: $default-backgroundActiveColor;
    }
    > .select:focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }

    > .select.-hasValidation.ng-invalid.ng-touched:not(dropdown) {
      border: 1px solid $error-field;
      background-color: $error-background-color;
      //outline: none;
    }

    > .select.-hasValidation.ng-valid[required], .select.-hasValidation.ng-valid.required {
      border: 1px solid $success-field;
      background-color: $success-background-color;
      //outline: none;
    }
    > .dropdown-list-icon {
      box-sizing: unset;
      position: absolute;
      display: table-cell;
      cursor: $default-cursorHover;
      line-height: $default-height - 2;
      top: 0;
      right: 0;
    }
    > .dropdown-list-icon i {
      font-size: $default-fontSize;
      color: $default-iconColor;
      padding: 0 9.3px;
    }
    > .dropdown-list-wrapper-select {
      position: absolute;
      outline: $default-outline;
      cursor: $default-cursorHover;
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      > .dropdown-list-select {
        background-color: $default-backgroundColor;
        border: $default-border;
        color: $default-color;
        border-top: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
          font-family: $default-fontFamily;
          font-size: $default-fontSize;
          color: $default-color;
          outline: $default-outline;
          padding: 0 10px;
        }
        > li:hover {
          background-color: $default-backgroundHoverColor;
        }
        > li:focus {
          background-color: $default-backgroundFocusColor;
          color: $default-focusColor;
        }
        > li:active {
          background-color: $default-backgroundActiveColor;
          color: $default-color;
        }
      }
      > .dropdown-list-select::-webkit-scrollbar {
        width: 0.4em;
      }
      > .dropdown-list-select::-webkit-scrollbar-thumb {
        background-color: #CCCCCC;
      }
      > .-placeholder {
        box-sizing: unset;
        font-family: $default-fontFamily;
        font-size: $default-fontSize;
        color: $default-color;
        background-color: $default-backgroundColor;
        cursor: $default-cursor;
        outline: $default-outline;
        border: $default-border;
        border-bottom: 0;
        border-top: 0;
        padding: 0 10px;
      }
      .-placeholder:focus {
        background-color: $default-backgroundFocusColor;
        color: $default-focusColor;
      }
    }
    > .disabled::placeholder, .disabled {
      opacity: 0.45;
      color: #000000;
      cursor: $default-cursor;
    }
  }
}
