@import "../core/core";

//Default
$button-height: 39px;
$border-default: 1px solid #C8C8C8;
$background-color: #E8E8E8;
$color: #616161;
$icon-color: #6A6A6A;
$hover-background-color: #dedede;
$active-background-color: #d8d8d8;
$font-size: 0.9em;
$button-font-family: 'Segoe UI', sans-serif;

.tl-dropdown-list-box {
  display: table;
  border-collapse: separate;
  > .labeltext {
    line-height: 1;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    color: #737373;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    > b.required {
      color: #FF6666;
    }
  }
  > .labeltext.-labeltop {
    text-align: left;
    padding: 0 0 5px 0;
    display: table-caption;
  }
  > .labeltext.-labelleft {
    text-align: right;
    padding: 5px 5px 5px 0;
    display: table-cell;
  }
  > .wrapper {
    width: 125px;
    position: relative;
    > .select {
      cursor: pointer;
      display: table-cell;
      border: $border-default;
      height: $button-height;
      background: $background-color;
      font-size: $font-size;
      width: 100%;
      color: transparent;
      text-shadow: 0 0 0 $color;
      font-family: $button-font-family;
      margin: 0;
      position: relative;
      overflow: hidden;
      padding: 0;
      padding-left: 10px;
      padding-right: 30px;
      height: $button-height - 2;
      line-height: $button-height - 2;
    }
    > .select:hover {
      background-color: $hover-background-color;
    }
    > .select:active {
      background-color: $active-background-color;
    }
    > .select:focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
    > .dropdown-list-icon {
      height: $button-height;
      line-height: $button-height;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    > .dropdown-list-icon i {
      font-size: .9em;
      color: $icon-color;
    }
    > .dropdown-list-wrapper-select {
      position: absolute;
      left: 0;
      width: 100%;
      outline: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      > .dropdown-list-select {
        color: $color;
        background-color: $background-color;
        border: $border-default;
        border-top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          font-family: $button-font-family;
          outline: none;
          padding: 0 10px;
        }
        > li:hover {
          background-color: $hover-background-color;
        }
        > li:focus {
          background-color: #53C68C;
          color: #FFF;
        }
        > li:active {
          color: $color;
          background-color: $active-background-color;
        }
      }
      > .dropdown-list-select::-webkit-scrollbar {
        width: 0.4em;
      }
      > .dropdown-list-select::-webkit-scrollbar-thumb {
        background-color: #cccccc;
      }
      > .-placeholder {
        z-index: 123123;
        font-family: $button-font-family;
        font-size: $font-size;
        cursor: default;
        background-color: $background-color;
        border: $border-default;
        border-bottom: 0;
        border-top: 0;
        outline: none;
        padding: 0 10px;
        color: $color;
      }
      .-placeholder:focus {
        color: #FFF;
        background-color: #53C68C;
      }
    }
    > .disabled {
      opacity: 0.35;
      filter: Alpha(Opacity=35);
      background-image: none;
      cursor: default !important;
    }
  }

}



