<div  class="tl-dropdown-list" *ngIf="datasource" (valueChange)="valueChange($event)">

    <div class="dropdown-list-wrapper" #dropbox tabindex="-1" (keydown)="onKeyDownList($event)">

        <div class="dropdown-list-container" (click)="changeShowStatus($event.stopPropagation())">
            <div class="dropdown-list-input" >
                <span *ngIf="placeholder">{{ placeholder }}</span>
                {{ itemSelected?.textItem }}
            </div>
            <div class="dropdown-list-icon">
                <i class="ion-chevron-down"></i>
            </div>
        </div>

        <ul class="dropdown-list-select"
            (keydown)="onKeyDownList($event)"
            #list
            [ngStyle]="calcHeightItem()"
            [style.zIndex] = "zIndex"
            [style.display] = "showHide === true ? 'block' : 'none'"
            [@enterAnimation]>
            <li *ngFor="let item of datasource; let i = index" (click)="selectOption(item, i)" tabindex="{{i}}">
                {{ item.textItem }}
            </li>
        </ul>

    </div>
</div>