@import "../core/core";

//Default
$button-height: 39px;
$border-default: 1px solid #C8C8C8;
$background-color: #E8E8E8;
$color: #616161;
$icon-color: #6A6A6A;
$hover-background-color: #dedede;
$active-background-color: #d8d8d8;

.tl-drop-down-list-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  > .tl-drop-down-list-wrapper {
    position: relative;
    min-width: 125px;
    > .tl-drop-down-list-container {
      background-color: $background-color;
      line-height: $button-height;
      height: $button-height;
      border: $border-default;
      > .drop-down-list-input {
        height: $button-height;
        float: left;
        position: relative;
        overflow: hidden;
        width: auto;
        padding: 0 10px;
      }
      > .drop-down-list-icon {
        float: right;
        line-height: $button-height;
        position: relative;
      }
      > .drop-down-list-icon i {
        color: $icon-color;
      }
    }
    > .tl-drop-down-list-container:hover {
      background-color: $hover-background-color;
    }
    > .tl-drop-down-list-container:active {
      background-color: $active-background-color;
    }
    > .drop-down-list-select {
      position: absolute;
      top: $button-height;
      left: 0;
      width: 100%;
      background-color: $background-color;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
      border: $border-default;
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        padding: 0 10px;
        line-height: $button-height;
      }
      > li:hover {
        background-color: $hover-background-color;
      }
      > li:active {
        background-color: $active-background-color;
      }
    }
  }
}

