@font-face {
  font-family: 'DXIcons';
  src: url('dxicons.woff') format('woff'),url('dxicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

.dx-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0)
}

.dx-icon-add {
  font: 14px/1 DXIcons
}

.dx-icon-add:before {
  content: ''
}

.dx-icon-airplane {
  font: 14px/1 DXIcons
}

.dx-icon-airplane:before {
  content: ''
}

.dx-icon-bookmark {
  font: 14px/1 DXIcons
}

.dx-icon-bookmark:before {
  content: ''
}

.dx-icon-box {
  font: 14px/1 DXIcons
}

.dx-icon-box:before {
  content: ''
}

.dx-icon-car {
  font: 14px/1 DXIcons
}

.dx-icon-car:before {
  content: ''
}

.dx-icon-card {
  font: 14px/1 DXIcons
}

.dx-icon-card:before {
  content: ''
}

.dx-icon-cart {
  font: 14px/1 DXIcons
}

.dx-icon-cart:before {
  content: ''
}

.dx-icon-chart {
  font: 14px/1 DXIcons
}

.dx-icon-chart:before {
  content: ''
}

.dx-icon-check {
  font: 14px/1 DXIcons
}

.dx-icon-check:before {
  content: ''
}

.dx-icon-clear {
  font: 14px/1 DXIcons
}

.dx-icon-clear:before {
  content: ''
}

.dx-icon-clock {
  font: 14px/1 DXIcons
}

.dx-icon-clock:before {
  content: ''
}

.dx-icon-close {
  font: 14px/1 DXIcons
}

.dx-icon-close:before {
  content: ''
}

.dx-icon-coffee {
  font: 14px/1 DXIcons
}

.dx-icon-coffee:before {
  content: ''
}

.dx-icon-comment {
  font: 14px/1 DXIcons
}

.dx-icon-comment:before {
  content: ''
}

.dx-icon-doc {
  font: 14px/1 DXIcons
}

.dx-icon-doc:before {
  content: ''
}

.dx-icon-download {
  font: 14px/1 DXIcons
}

.dx-icon-download:before {
  content: ''
}

.dx-icon-dragvertical {
  font: 14px/1 DXIcons
}

.dx-icon-dragvertical:before {
  content: ''
}

.dx-icon-edit {
  font: 14px/1 DXIcons
}

.dx-icon-edit:before {
  content: ''
}

.dx-icon-email {
  font: 14px/1 DXIcons
}

.dx-icon-email:before {
  content: ''
}

.dx-icon-event {
  font: 14px/1 DXIcons
}

.dx-icon-event:before {
  content: ''
}

.dx-icon-favorites {
  font: 14px/1 DXIcons
}

.dx-icon-favorites:before {
  content: ''
}

.dx-icon-find {
  font: 14px/1 DXIcons
}

.dx-icon-find:before {
  content: ''
}
.dx-icon-filter-operation-equals
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-equals:before
{
  content: "\f044 ";
}

.dx-icon-filter {
  font: 14px/1 DXIcons
}
.dx-icon-filter-operation-default:before
{
  content: "\f027 ";
}

.dx-icon-filter-operation-not-equals
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-not-equals:before
{
  content: "\f045 ";
}

.dx-icon-filter-operation-less
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-less:before
{
  content: "\f046 ";
}

.dx-icon-filter-operation-less-equal
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-less-equal:before
{
  content: "\f048 ";
}

.dx-icon-filter-operation-greater
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-greater:before
{
  content: "\f047 ";
}

.dx-icon-filter-operation-greater-equal
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-greater-equal:before
{
  content: "\f049 ";
}

.dx-icon-filter-operation-contains
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-contains:before
{
  content: "\f063 ";
}

.dx-icon-filter-operation-not-contains
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-not-contains:before
{
  content: "\f066 ";
}

.dx-icon-filter-operation-starts-with
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-starts-with:before
{
  content: "\f064 ";
}

.dx-icon-filter-operation-ends-with
{
  font: 14px/1 DXIcons;
}

.dx-icon-filter-operation-ends-with:before
{
  content: "\f065 ";
}

.dx-icon-filter:before {
  content: ''
}

.dx-icon-folder {
  font: 14px/1 DXIcons
}

.dx-icon-folder:before {
  content: ''
}

.dx-icon-food {
  font: 14px/1 DXIcons
}

.dx-icon-food:before {
  content: ''
}

.dx-icon-gift {
  font: 14px/1 DXIcons
}

.dx-icon-gift:before {
  content: ''
}

.dx-icon-globe {
  font: 14px/1 DXIcons
}

.dx-icon-globe:before {
  content: ''
}

.dx-icon-group {
  font: 14px/1 DXIcons
}

.dx-icon-group:before {
  content: ''
}

.dx-icon-help {
  font: 14px/1 DXIcons
}

.dx-icon-help:before {
  content: ''
}

.dx-icon-home {
  font: 14px/1 DXIcons
}

.dx-icon-home:before {
  content: ''
}

.dx-icon-image {
  font: 14px/1 DXIcons
}

.dx-icon-image:before {
  content: ''
}

.dx-icon-info {
  font: 14px/1 DXIcons
}

.dx-icon-info:before {
  content: ''
}

.dx-icon-key {
  font: 14px/1 DXIcons
}

.dx-icon-key:before {
  content: ''
}

.dx-icon-like {
  font: 14px/1 DXIcons
}

.dx-icon-like:before {
  content: ''
}

.dx-icon-map {
  font: 14px/1 DXIcons
}

.dx-icon-map:before {
  content: ''
}

.dx-icon-menu {
  font: 14px/1 DXIcons
}

.dx-icon-menu:before {
  content: ''
}

.dx-icon-message {
  font: 14px/1 DXIcons
}

.dx-icon-message:before {
  content: ''
}

.dx-icon-money {
  font: 14px/1 DXIcons
}

.dx-icon-money:before {
  content: ''
}

.dx-icon-music {
  font: 14px/1 DXIcons
}

.dx-icon-music:before {
  content: ''
}

.dx-icon-overflow {
  font: 14px/1 DXIcons
}

.dx-icon-overflow:before {
  content: ''
}

.dx-icon-percent {
  font: 14px/1 DXIcons
}

.dx-icon-percent:before {
  content: ''
}

.dx-icon-photo {
  font: 14px/1 DXIcons
}

.dx-icon-photo:before {
  content: ''
}

.dx-icon-plus {
  font: 14px/1 DXIcons
}

.dx-icon-plus:before {
  content: ''
}

.dx-icon-preferences {
  font: 14px/1 DXIcons
}

.dx-icon-preferences:before {
  content: ''
}

.dx-icon-product {
  font: 14px/1 DXIcons
}

.dx-icon-product:before {
  content: ''
}

.dx-icon-pulldown {
  font: 14px/1 DXIcons
}

.dx-icon-pulldown:before {
  content: ''
}

.dx-icon-refresh {
  font: 14px/1 DXIcons
}

.dx-icon-refresh:before {
  content: ''
}

.dx-icon-remove {
  font: 14px/1 DXIcons
}

.dx-icon-remove:before {
  content: ''
}

.dx-icon-revert {
  font: 14px/1 DXIcons
}

.dx-icon-revert:before {
  content: ''
}

.dx-icon-runner {
  font: 14px/1 DXIcons
}

.dx-icon-runner:before {
  content: ''
}

.dx-icon-save {
  font: 14px/1 DXIcons
}

.dx-icon-save:before {
  content: ''
}

.dx-icon-search {
  font: 14px/1 DXIcons
}

.dx-icon-search:before {
  content: ''
}

.dx-icon-tags {
  font: 14px/1 DXIcons
}

.dx-icon-tags:before {
  content: ''
}

.dx-icon-tel {
  font: 14px/1 DXIcons
}

.dx-icon-tel:before {
  content: ''
}

.dx-icon-tips {
  font: 14px/1 DXIcons
}

.dx-icon-tips:before {
  content: ''
}

.dx-icon-todo {
  font: 14px/1 DXIcons
}

.dx-icon-todo:before {
  content: ''
}

.dx-icon-toolbox {
  font: 14px/1 DXIcons
}

.dx-icon-toolbox:before {
  content: ''
}

.dx-icon-trash {
  font: 14px/1 DXIcons
}

.dx-icon-trash:before {
  content: ''
}

.dx-icon-user {
  font: 14px/1 DXIcons
}

.dx-icon-user:before {
  content: ''
}

.dx-icon-upload {
  font: 14px/1 DXIcons
}

.dx-icon-upload:before {
  content: ''
}

.dx-icon-floppy {
  font: 14px/1 DXIcons
}

.dx-icon-floppy:before {
  content: ''
}

.dx-icon-arrowleft {
  font: 14px/1 DXIcons
}

.dx-icon-arrowleft:before {
  content: ''
}

.dx-icon-arrowdown {
  font: 14px/1 DXIcons
}

.dx-icon-arrowdown:before {
  content: ''
}

.dx-icon-arrowright {
  font: 14px/1 DXIcons
}

.dx-icon-arrowright:before {
  content: ''
}

.dx-icon-arrowup {
  font: 14px/1 DXIcons
}

.dx-icon-arrowup:before {
  content: ''
}

.dx-icon-spinleft {
  font: 14px/1 DXIcons
}

.dx-icon-spinleft:before {
  content: ''
}

.dx-icon-spinright {
  font: 14px/1 DXIcons
}

.dx-icon-spinright:before {
  content: ''
}

.dx-icon-spinnext {
  font: 14px/1 DXIcons
}

.dx-icon-spinnext:before {
  content: ''
}

.dx-rtl .dx-icon-spinnext:before {
  content: ''
}

.dx-icon-spinprev {
  font: 14px/1 DXIcons
}

.dx-icon-spinprev:before {
  content: ''
}

.dx-rtl .dx-icon-spinprev:before {
  content: ''
}

.dx-icon-spindown {
  font: 14px/1 DXIcons
}

.dx-icon-spindown:before {
  content: ''
}

.dx-icon-spinup {
  font: 14px/1 DXIcons
}

.dx-icon-spinup:before {
  content: ''
}

.dx-icon-chevronleft {
  font: 14px/1 DXIcons
}

.dx-icon-chevronleft:before {
  content: ''
}

.dx-icon-chevronright {
  font: 14px/1 DXIcons
}

.dx-icon-chevronright:before {
  content: ''
}

.dx-icon-chevronnext {
  font: 14px/1 DXIcons
}

.dx-icon-chevronnext:before {
  content: ''
}

.dx-rtl .dx-icon-chevronnext:before {
  content: ''
}

.dx-icon-chevronprev {
  font: 14px/1 DXIcons
}

.dx-icon-chevronprev:before {
  content: ''
}

.dx-rtl .dx-icon-chevronprev:before {
  content: ''
}

.dx-icon-chevrondown {
  font: 14px/1 DXIcons
}

.dx-icon-chevrondown:before {
  content: ''
}

.dx-icon-chevronup {
  font: 14px/1 DXIcons
}

.dx-icon-chevronup:before {
  content: ''
}

.dx-icon-chevrondoubleleft {
  font: 14px/1 DXIcons
}

.dx-icon-chevrondoubleleft:before {
  content: ''
}

.dx-icon-chevrondoubleright {
  font: 14px/1 DXIcons
}

.dx-icon-chevrondoubleright:before {
  content: ''
}

.dx-icon-equal {
  font: 14px/1 DXIcons
}

.dx-icon-equal:before {
  content: ''
}

.dx-icon-notequal {
  font: 14px/1 DXIcons
}

.dx-icon-notequal:before {
  content: ''
}

.dx-icon-less {
  font: 14px/1 DXIcons
}

.dx-icon-less:before {
  content: ''
}

.dx-icon-greater {
  font: 14px/1 DXIcons
}

.dx-icon-greater:before {
  content: ''
}

.dx-icon-lessorequal {
  font: 14px/1 DXIcons
}

.dx-icon-lessorequal:before {
  content: ''
}

.dx-icon-greaterorequal {
  font: 14px/1 DXIcons
}

.dx-icon-greaterorequal:before {
  content: ''
}

.dx-icon-sortup {
  font: 14px/1 DXIcons
}

.dx-icon-sortup:before {
  content: ''
}

.dx-icon-sortdown {
  font: 14px/1 DXIcons
}

.dx-icon-sortdown:before {
  content: ''
}

.dx-icon-sortuptext {
  font: 14px/1 DXIcons
}

.dx-icon-sortuptext:before {
  content: ''
}

.dx-icon-sortdowntext {
  font: 14px/1 DXIcons
}

.dx-icon-sortdowntext:before {
  content: ''
}

.dx-icon-sorted {
  font: 14px/1 DXIcons
}

.dx-icon-sorted:before {
  content: ''
}

.dx-icon-expand {
  font: 14px/1 DXIcons
}

.dx-icon-expand:before {
  content: ''
}

.dx-icon-collapse {
  font: 14px/1 DXIcons
}

.dx-icon-collapse:before {
  content: ''
}

.dx-icon-columnfield {
  font: 14px/1 DXIcons
}

.dx-icon-columnfield:before {
  content: ''
}

.dx-icon-rowfield {
  font: 14px/1 DXIcons
}

.dx-icon-rowfield:before {
  content: ''
}

.dx-icon-datafield {
  font: 14px/1 DXIcons
}

.dx-icon-datafield:before {
  content: ''
}

.dx-icon-fields {
  font: 14px/1 DXIcons
}

.dx-icon-fields:before {
  content: ''
}

.dx-icon-fieldchooser {
  font: 14px/1 DXIcons
}

.dx-icon-fieldchooser:before {
  content: ''
}

.dx-icon-columnchooser {
  font: 14px/1 DXIcons
}

.dx-icon-columnchooser:before {
  content: ''
}

.dx-icon-pin {
  font: 14px/1 DXIcons
}

.dx-icon-pin:before {
  content: ''
}

.dx-icon-unpin {
  font: 14px/1 DXIcons
}

.dx-icon-unpin:before {
  content: ''
}

.dx-icon-pinleft {
  font: 14px/1 DXIcons
}

.dx-icon-pinleft:before {
  content: ''
}

.dx-icon-pinright {
  font: 14px/1 DXIcons
}

.dx-icon-pinright:before {
  content: ''
}

.dx-icon-contains {
  font: 14px/1 DXIcons
}

.dx-icon-contains:before {
  content: ''
}

.dx-icon-startswith {
  font: 14px/1 DXIcons
}

.dx-icon-startswith:before {
  content: ''
}

.dx-icon-endswith {
  font: 14px/1 DXIcons
}

.dx-icon-endswith:before {
  content: ''
}

.dx-icon-doesnotcontain {
  font: 14px/1 DXIcons
}

.dx-icon-doesnotcontain:before {
  content: ''
}

.dx-icon-range {
  font: 14px/1 DXIcons
}

.dx-icon-range:before {
  content: ''
}

.dx-icon-export {
  font: 14px/1 DXIcons
}

.dx-icon-export:before {
  content: ''
}

.dx-icon-exportxlsx {
  font: 14px/1 DXIcons
}

.dx-icon-exportxlsx:before {
  content: ''
}

.dx-icon-exportpdf {
  font: 14px/1 DXIcons
}

.dx-icon-exportpdf:before {
  content: ''
}

.dx-icon-exportselected {
  font: 14px/1 DXIcons
}

.dx-icon-exportselected:before {
  content: ''
}

.dx-icon-warning {
  font: 14px/1 DXIcons
}

.dx-icon-warning:before {
  content: ''
}

.dx-icon-more {
  font: 14px/1 DXIcons
}

.dx-icon-more:before {
  content: ''
}

.dx-icon-square {
  font: 14px/1 DXIcons
}

.dx-icon-square:before {
  content: ''
}

.dx-icon-clearsquare {
  font: 14px/1 DXIcons
}

.dx-icon-clearsquare:before {
  content: ''
}

.dx-icon-back {
  font: 14px/1 DXIcons
}

.dx-icon-back:before {
  content: ''
}

.dx-rtl .dx-icon-back:before {
  content: ''
}

.dx-icon-repeat {
  font: 14px/1 DXIcons
}

.dx-icon-repeat:before {
  content: ''
}

.dx-icon-selectall {
  font: 14px/1 DXIcons
}

.dx-icon-selectall:before {
  content: ''
}

.dx-icon-unselectall {
  font: 14px/1 DXIcons
}

.dx-icon-unselectall:before {
  content: ''
}

.dx-icon-print {
  font: 14px/1 DXIcons
}

.dx-icon-print:before {
  content: ''
}
