<div [class]="'ui-wrapper-date ' + color">
  <tl-label [required]="required" [labelTitle]="label" [labelSize]="labelSize" [labelPlacement]="labelPlacement"></tl-label>
  <div class="ui-input-wrapper">
    <input #input
           class="ui-input-date"
           [placeholder]="placeholder"
           (focus)="touched = true"
           [ngClass]="{
             'withBorder': withBorder,
             'withoutBorder' : !withBorder,
             'ng-touched': touched,
             'ng-valid': model?.valid ||  controlName?.valid,
             'ng-invalid': model?.invalid || controlName?.invalid,
             'ng-dirty': model?.dirty || controlName?.dirty,
             'flatBorders': flatBorders
           }"
           [attr.disabled]="disabled ? true : null"
           [attr.readonly]="readonly ? true : null"
           (blur)="focusOut()"
           [attr.value]="mockValue">
    <input date [formatDate]="formatDate"
           [isoDate]="isoDate" [(ngModel)]="value" notform class="ui-input" type="text">
  </div>
</div>
