<div [class]="'ui-wrapper-date ' + color">
  <tl-label [required]="required" [labelTitle]="label" [labelSize]="labelSize" [labelPlacement]="labelPlacement"></tl-label>
  <div class="ui-input-wrapper">
    <input #input
           class="ui-input-date"
           [placeholder]="placeholder"
           (focus)="touched = true"
           [ngClass]="{
             'withBorder': withBorder,
             'withoutBorder' : !withBorder,
             'ng-touched': touched,
             'ng-valid': hiddenModel?.valid,
             'ng-invalid': hiddenModel?.invalid,
             'ng-dirty': hiddenModel?.dirty,
             'flatBorders': flatBorders
           }"
           [attr.disabled]="disabled ? true : null"
           [attr.readonly]="readonly ? true : null"
           [attr.value]="mockValue">
    <input [formatDate]="formatDate"
           [isoDate]="isoDate"
           [(ngModel)]="value"
           date
           notform
           class="ui-input"
           type="text">
  </div>
</div>
