
.ui-wrapper-switch {

  display: inline-block;
  position: relative;
  height: auto;
  padding: 2.5px 60px 2.5px 2.5px;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .2s;
    transition: .2s;
    border: 1px solid transparent;
  }

  .label {
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 1em;
    color: #616161;
    padding-left: 40px;
    font-weight: normal;
    cursor: pointer;
    display: block;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    transition: .2s;
    top: 1px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}

