@import "../core/styles/theming/theming";

@mixin _tl-switch-theme-schema( $theme, $action ){

  input:checked + .slider {
    background-color: map-deep-get($theme, $action, "checked", "background");
    border: 1px solid map-deep-get($theme, $action, "default", "border");
  }

}

@mixin tl-switch-theme($theme) {
  $basic:   map-deep-get($theme, 'basic');

  .ui-wrapper-switch {

    .slider {
      background-color: map-deep-get($basic, "darker", "background");
    }

    .slider:before {
      background-color: map-deep-get($basic, "lighter", "background");
    }

    .disabled:before {
      background-color: map-deep-get($basic, "disabled", "foreground");
      opacity: 0.1;
    }

    &.basic {
      @include _tl-switch-theme-schema($theme, 'basic');
    }

    &.primary {
      @include _tl-switch-theme-schema($theme, 'primary')
    }

    &.success {
      @include _tl-switch-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-switch-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-switch-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-switch-theme-schema($theme, 'information')
    }
  }

}
