<div class="tl-colorpicker" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <div *ngIf="mode !== 'inline' && mode !== 'fromOrigin'" #colorBox class="ui-color-box" (click)="isOpen = !isOpen" [style.background]="selectedColor"></div>
  <div class="ui-input-wrapper">
    <div *ngIf="mode === 'input'">
      <tl-input #tlinput
                [label]="label"
                [labelSize]="labelSize"
                [name]="name"
                (click)="isOpen = !isOpen"
                [textAlign]="textAlign"
                [labelPlacement]="labelPlacement"
                [(ngModel)]="selectedColor"
                [readonly]="readonly ? true : null"
                [disabled]="disabled ? true : null"
                [placeholder]="placeholder"
                [iconAfter]="(copyButton) ? 'fa fa-clipboard' : null"
                (clickAddon)="copyInputColor(tlinput)">
      </tl-input>
      <div class="ui-saved-content-message" [@enterAnimation]="saved" *ngIf="saved">
        <i class="ion-ios-checkmark-outline"></i>
        <span>Copied!</span>
      </div>
    </div>
    <ng-template cdkConnectedOverlay
                 (backdropClick)="closeColorPicker(selectedColor)"
                 (positionChange)="onPositionChange($event)"
                 [cdkConnectedOverlayHasBackdrop]="true"
                 [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                 [cdkConnectedOverlayOpen]="isOpen">
      <tl-colorpicker-content
        [selectedColor]="selectedColor"
        (selectColor)="emitSelectColor($event)"
        [overlayPosition]="positionOverlay"
        [recentColors]="recentColors"
        [returnFormatColor]="returnFormatColor">
      </tl-colorpicker-content>
    </ng-template>
  </div>
</div>

<div class="inline" *ngIf="mode === 'inline'">
  <tl-colorpicker-content
    [selectedColor]="selectedColor"
    (selectColor)="emitSelectColor($event)"
    [recentColors]="recentColors"
    [returnFormatColor]="returnFormatColor">
  </tl-colorpicker-content>
</div>
