@import "../core/styles/theming/theming";

@mixin _tl-colorpicker-theme-schema( $theme, $action ){
  //SKELETON COMPONENT HERE
}

@mixin tl-colorpicker-theme( $theme ) {

  $basic: map-deep-get($theme, 'basic');
  $danger: map-deep-get($theme, 'danger');
  $success: map-deep-get($theme, 'success');
  $warning: map-deep-get($theme, 'warning');

  .tl-colorpicker{
    .label {
      color: map-deep-get($basic, "default", "foreground");
      &.-validation {
        color: map-deep-get($danger, "default", "background");
      }
    }

    &.basic {
      @include _tl-colorpicker-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-colorpicker-theme-schema($theme, 'primary')
    }

    &.success {
      @include _tl-colorpicker-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-colorpicker-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-colorpicker-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-colorpicker-theme-schema($theme, 'information')
    }
  }
}
