
<tl-button [text]="'Show Dialog Info'" [iconAddonBefore]="'ion-information-circled'" [buttonClass]="'infoDialog'" (click)="info()"></tl-button>
<tl-button [text]="'Show Dialog Confirmation'" [iconAddonBefore]="'ion-checkmark'" [buttonClass]="'successDialog'" (click)="confirmation()"></tl-button>

<tl-button [text]="'Show Dialog Alert'" [iconAddonBefore]="'ion-alert-circled'" [buttonClass]="'alertDialog'" (click)="alert()"></tl-button>
<tl-button [text]="'Show Dialog Error'" [iconAddonBefore]="'ion-close-circled'" [buttonClass]="'errorDialog'" (click)="error()"></tl-button>

<footer class="minimize-box">
  <span *ngFor="let item of modals; let i = index" (click)="show(item, i)" >{{item.instance.label}}</span>
</footer>
