<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Sidebar <span class="module-name"><code><u>Module Name</u>: <strong>SidebarModule</strong></code></span>
    </h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>SidebarModule</strong></code></p>
    <p class="text-content">There's a lot of ways to create a Sidebar using Truly UI. Below, are some of those.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Push Usage</h5>
              <!--sidebar-->
              <div class="sidebar-demo">
                <div class="bar-buttons">
                  <div class="trigger left-right" (click)="sidebarLeft.toggle()">
                    <i [class]="'ion-android-menu'"></i></div>
                  <div class="trigger right-button"
                       (click)="sidebarRight.toggle();"><i
                    class="ion-ios-chatboxes"></i></div>
                </div>
                <tl-sidebar-container>
                  <tl-sidebar #sidebar [position]="'start'" #sidebarLeft>
                    <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebar.docked}">
                      <li><i class="ion-coffee"></i><span *ngIf="!sidebar.docked">Home</span></li>
                      <li><i class="ion-icecream"></i><span *ngIf="!sidebar.docked">Input</span></li>
                      <li><i class="ion-chatboxes"></i><span *ngIf="!sidebar.docked">Button</span></li>
                      <li><i class="ion-images"></i><span *ngIf="!sidebar.docked">Panels</span></li>
                    </ul>
                  </tl-sidebar>
                  <tl-sidebar-content [height]="'300px'" #sidebarContent style="background-color: #5c94e2;">
                    <p style="padding: 20px; color: #fff; font-size: 20px; line-height: 30px; text-align: justify">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                      essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages,
                      and more recently with desktop publishing software like Aldus PageMaker including versions of
                      Lorem Ipsum.
                    </p>
                  </tl-sidebar-content>
                  <tl-sidebar [position]="'end'" #sidebarRight>
                    <tl-chatlist [itemsToShow]="4"
                                 [height]="325"
                                 [searchQuery]="'firstName'"
                                 [searchInput]="input"
                                 [avatar]="'avatar'"
                                 [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
                                 [data]="dataSource">
                    </tl-chatlist>
                    <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                  </tl-sidebar>
                </tl-sidebar-container>
              </div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  <tl-sidebar-container>
    <tl-sidebar [position]="'start'">
      <!-- Sidebar Start Content -->
    </tl-sidebar>
    <tl-sidebar-content [height]="'300px'">
      <!-- Content -->
    </tl-sidebar-content>
    <tl-sidebar [position]="'end'">
      <!-- Sidebar End Content -->
    </tl-sidebar>
</tl-sidebar-container>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Slide Usage</h5>
              <div class="bar-buttons">
                <div class="trigger left-right" (click)="sidebarSlide.toggle()">
                  <i [class]="'ion-android-menu'"></i></div>
                <div class="trigger right-button"
                     (click)="sidebarRightSlide.toggle();"><i
                  class="ion-ios-chatboxes"></i></div>
              </div>
              <tl-sidebar-container>
                <tl-sidebar #sidebarSlide [position]="'start'" [mode]="'slide'">
                  <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarSlide.docked}">
                    <li><i class="ion-coffee"></i><span *ngIf="!sidebarSlide.docked">Home</span></li>
                    <li><i class="ion-icecream"></i><span *ngIf="!sidebarSlide.docked">Input</span></li>
                    <li><i class="ion-chatboxes"></i><span *ngIf="!sidebarSlide.docked">Button</span></li>
                    <li><i class="ion-images"></i><span *ngIf="!sidebarSlide.docked">Panels</span></li>
                  </ul>
                </tl-sidebar>
                <tl-sidebar-content [height]="'300px'" #sidebarContent style="background-color: #5c94e2;">
                  <p style="padding: 20px; color: #fff; font-size: 20px; line-height: 30px; text-align: justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                  </p>
                </tl-sidebar-content>
                <tl-sidebar [position]="'end'" [mode]="'slide'" #sidebarRightSlide>
                  <tl-chatlist [itemsToShow]="4"
                               [height]="325"
                               [searchQuery]="'firstName'"
                               [searchInput]="input"
                               [avatar]="'avatar'"
                               [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
                               [data]="dataSource">
                  </tl-chatlist>
                  <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                </tl-sidebar>
              </tl-sidebar-container>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<tl-sidebar-container>
  <tl-sidebar [position]="'start'" [mode]="'slide'">
    <!-- Sidebar Start Content -->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content -->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
    <!-- Sidebar End Content -->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>Dock Usage</h5>
              <div class="bar-buttons">
                <div class="trigger left-right" (click)="sidebarDock.toggle()">
                  <i [class]="sidebarDock.docked ? 'ion-android-menu' : 'ion-chevron-right'"></i></div>
                <div class="trigger right-button"
                     (click)="sidebarDockRight.toggle();"><i
                  class="ion-ios-chatboxes"></i></div>
              </div>
              <tl-sidebar-container>
                <tl-sidebar #sidebarDock [position]="'start'" [mode]="'slide'" [dock]="true">
                  <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarDock.docked}">
                    <li><i class="ion-coffee"></i><span *ngIf="!sidebarDock.docked">Home</span></li>
                    <li><i class="ion-icecream"></i><span *ngIf="!sidebarDock.docked">Input</span></li>
                    <li><i class="ion-chatboxes"></i><span *ngIf="!sidebarDock.docked">Button</span></li>
                    <li><i class="ion-images"></i><span *ngIf="!sidebarDock.docked">Panels</span></li>
                  </ul>
                </tl-sidebar>
                <tl-sidebar-content [height]="'300px'" #sidebarContent style="background-color: #5c94e2;">
                  <p style="padding: 20px; color: #fff; font-size: 20px; line-height: 30px; text-align: justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                  </p>
                </tl-sidebar-content>
                <tl-sidebar [position]="'end'" [mode]="'slide'" #sidebarDockRight>
                  <tl-chatlist [itemsToShow]="4"
                               [height]="325"
                               [searchQuery]="'firstName'"
                               [searchInput]="input"
                               [avatar]="'avatar'"
                               [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
                               [data]="dataSource">
                  </tl-chatlist>
                  <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                </tl-sidebar>
              </tl-sidebar-container>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<tl-sidebar-container>
  <tl-sidebar [position]="'start'" [mode]="'slide'" [dock]="true">
    <!-- Sidebar Start Content -->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content -->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
    <!-- Sidebar End Content -->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
            </div>
            <div class="col-md-6">
              <h5>Over Usage</h5>
              <div class="bar-buttons">
                <div class="trigger left-right" (click)="sidebarOver.toggle()">
                  <i [class]="'ion-android-menu'"></i></div>
                <div class="trigger right-button"
                     (click)="sidebarOverRight.toggle();"><i
                  class="ion-ios-chatboxes"></i></div>
              </div>
              <tl-sidebar-container>
                <tl-sidebar #sidebarOver [position]="'start'" [mode]="'over'">
                  <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarOver.docked}">
                    <li><i class="ion-coffee"></i><span *ngIf="!sidebarOver.docked">Home</span></li>
                    <li><i class="ion-icecream"></i><span *ngIf="!sidebarOver.docked">Input</span></li>
                    <li><i class="ion-chatboxes"></i><span *ngIf="!sidebarOver.docked">Button</span></li>
                    <li><i class="ion-images"></i><span *ngIf="!sidebarOver.docked">Panels</span></li>
                  </ul>
                </tl-sidebar>
                <tl-sidebar-content [height]="'300px'" #sidebarContent style="background-color: #5c94e2;">
                  <p style="padding: 20px; color: #fff; font-size: 20px; line-height: 30px; text-align: justify">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                  </p>
                </tl-sidebar-content>
                <tl-sidebar [position]="'end'" [mode]="'over'" #sidebarOverRight>
                  <tl-chatlist [itemsToShow]="4"
                               [height]="325"
                               [searchQuery]="'firstName'"
                               [searchInput]="input"
                               [avatar]="'avatar'"
                               [statusConfig]="{busy: 'Busy', online: 'Online', offline: 'Offline', away: 'Away'}"
                               [data]="dataSource">
                  </tl-chatlist>
                  <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                </tl-sidebar>
              </tl-sidebar-container>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<tl-sidebar-container>
  <tl-sidebar [position]="'start'" [mode]="'over'">
    <!--Sidebar Start Content-->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content-->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'over'">
   <!-- Sidebar End Content-->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="setup">
      <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
        <app-card>
          <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
        </app-card>
      </app-showcase-card>
    </div>
  </div>
</div>
