//Default
$default-fontSize: 14px;
$default-fontFamily: "Segoe UI", Lato, 'sans-serif', "Arial";
$default-height: 39px;
$default-cursorHover: pointer;
$default-cursor: default;
$default-outline: none;

$button-font-size: 1em;
$button-font-family: "Segoe UI", Lato, 'sans-serif', "Arial";

* {
  box-sizing: border-box;
}

.ui-dropdown-box {
  width: 100%;
  position: relative;
  display: table;

  >.ui-dropdown-wrapper {
    position: relative;
    >.ui-dropdown {
      border-radius: 3px;
      width: 100%;
      color: #666;
      padding-left: 5px;
      cursor: pointer;
      font-size: $default-fontSize;
      font-family: $default-fontFamily;
      font-weight: normal;
      user-select: none;
      -webkit-user-select: none;
    }
    >.ui-dropdown-icon {
      position: absolute;
      top: 0;
      width: 20px;
      right: 10px;
      text-align: center;
      font-size: $default-fontSize;
      font-family: $default-fontFamily;
      font-weight: normal;
      transition: transform linear 200ms;
      pointer-events: none;
      i {
        padding: 0;
      }
    }
  }

  >.ui-hidden-input {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 0;
    bottom: 0;
  }

  .ui-loading-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    z-index: 1;
    margin: 0;
    right: 35px;
  }

  tl-icon {
    position: absolute;
    right: 5px;
    opacity: 0.5;
  }

}


