@import "../core/styles/theming/theming";

@mixin tl-dropdonwlist-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $danger:  map-deep-get($theme, 'danger');

  .ui-dropdown-box {
    > .labeltext {
      color: map-deep-get($basic, "default", "foreground");
      > b.required {
        color: map-deep-get($danger, "default", "foreground");
      }
    }
  }

}
