//Default
$default-fontSize: 14px;
$default-fontFamily: "Segoe UI", Lato, 'sans-serif', "Arial";
$default-height: 39px;
$default-cursorHover: pointer;
$default-cursor: default;
$default-outline: none;

$button-font-size: 0.9em;
$button-font-family: "Segoe UI", Lato, 'sans-serif', "Arial";

* {
  box-sizing: border-box;
}

.ui-dropdown-box {
  display: table;
}

.ui-dropdown-wrapper-list {
  border-radius:3px;
  grid-template-columns: 1fr 30px;
  display: grid;
  label {
    margin: 0;
    font-size: $default-fontSize;
    font-family: $default-fontFamily;
    font-weight: normal;
    padding-left: 10px;
  }
  > .dropdown-list-icon {
    text-align: center;
    font-size: $default-fontSize;
    font-family: $default-fontFamily;
    font-weight: normal;
    i {
      padding: 0;
    }
  }
}

.select {
  height: 20px;
  width: 100%;
  border: 0;
  background: transparent;
  outline: none;
}

.ui-hidden-input {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 0;
  bottom: 0;
}

.ui-icon{
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}
