.tl-container-modals {
  width: 100%;
  min-height: 40px;
  border: 1px solid #C8C8C8;
  > .minimized-windows {
    display: inline-flex;
    position: relative;
    > .box {
      cursor: pointer;
      color: #fff;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: #66CC99;
      margin: 5px;
      height: 28px;
      line-height: 28px;
      margin-right: 0;
      border: 1px solid #54a378;
      > .item {
        padding: 10px;
      }
      > .item:first-child {
        padding: 0 0 0 10px;
      }
    }
  }
}
