<div class="router-outlet">
  <app-showcase-header name="Modal Form " module="FormModule">
    The form component uses Modal, the difference between them is tabbing, and the default
    buttons that act as a submit form.<br><br>
    The way of the form appears (fullscreen) on window is relative with the parent HTML element.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-12">
              <tl-button [text]="'Open Modal Form'" (click)="openModalForm()"></tl-button>
            </div>
          </app-card>
          <app-card>
           <div class="col-12">
             <div class="box-component-viewer">
               <div class="header">
                 <ul>
                   <li [ngClass]="{ selected: reactive === 'HTML' }" (click)="reactive = 'HTML'">
                     newperson.component.html
                   </li>
                   <li [ngClass]="{ selected: reactive === 'TYPESCRIPT' }" (click)="reactive = 'TYPESCRIPT'">
                     newperson.component.ts
                   </li>
                 </ul>
               </div>
               <tl-multiview [modelValue]="reactive" (selectedChange)="reactive = $event" [backdroungColor]="'#282C34'">
                 <tl-view [value]="'HTML'">
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-form [mode]="'modal'" [formGroup]="form">

  <tl-panelgroup [labelGroup]="'General'">

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <tl-input fxFlex="30" formControlName="id" [labelSize]="100" [label]="'ID'"></tl-input>
        <tl-input formControlName="name" showValidations [labelSize]="100" [label]="'Name'"></tl-input>
      </div>
      <tl-input formControlName="nickname" showValidations [labelSize]="100" [label]="'Nickname'"></tl-input>
      <tl-input formControlName="email" showValidations [labelSize]="100" [label]="'Email'"></tl-input>
    </div>

  </tl-panelgroup>

  <tl-panelgroup [labelGroup]="'Access Informations'" fxLayout="column">

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
      <tl-input formControlName="user" showValidations [labelSize]="100" [label]="'User'"></tl-input>
      <tl-input password formControlName="password" showValidations [labelSize]="100"
                [label]="'Password'"></tl-input>
    </div>

  </tl-panelgroup>

</tl-form>

                  </textarea>
                 </tl-view>
                 <tl-view [value]="'TYPESCRIPT'">
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
import { Component, Input, OnChanges, OnInit, SimpleChanges } from '@angular/core';
import { Modal } from 'truly-ui';
import { Validators, FormGroup, FormControl } from '@angular/forms';

@Modal({
  title: 'Form Modal Example',
  icon: 'ion-stats-bars',
  draggable: true,
  width: '500px',
  color: 'primary',
  height: 'auto',
  maximizable: true,
  minimizable: true,
  fullscreen: false,
  closeOnOK: true
})
@Component( {
  selector: 'app-new-person',
  templateUrl: './newperson.component.html',
  styleUrls: [ './newperson.component.scss' ]
} )
export class NewPersonComponent {

  public form = new FormGroup({
    id: new FormControl(''),
    name: new FormControl('',  Validators.required),
    nickname: new FormControl('',  Validators.required),
    email: new FormControl('', [Validators.email, Validators.required]),
    user: new FormControl('', Validators.required),
    password: new FormControl('', [
      Validators.required,
      Validators.minLength(8)
    ])
  });

  constructor() {
    this.form.get('id').disable();
  }
}
                  </textarea>
                 </tl-view>
               </tl-multiview>
             </div>
           </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Making it work'" [icon]="'ion ion-ios-hammer'">
          <app-card>
            <div class="col-12">
              <h4>The First Step</h4>
              <p>The First Step of the form creation is declare in your application the <code>tlContainerModal</code> directive and its Module that calls <code>ContainerModalModule</code>.In this demo application its declared on app.component.html. This directive is used to place the modal on the window, it will lock the modal on that region while dragging for example.</p>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<!--app.component.html-->
                <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" tlContainerModal>
    <!-- Main content -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <!-- /.content -->
  </div>
                <!-- /.content-wrapper -->
            </textarea>
              <h6>App Module</h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
import { CoreModule, ContainerModalModule } from 'truly-ui';
import { FormsModule } from '@angular/forms';
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserAnimationsModule,
    FormsModule,
    BrowserModule,
    CoreModule.forRoot({
      theme: 'default',
      language: en_US
    }),
    ContainerModalModule,
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }
            </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <h4>Imports and Declarations</h4>
              <p>Import <code>ModalModule</code> and <code>ModalService</code> in module of the component that going to
                call the modal method. (In this case is FormModalDemoComponent).
                Declare as provider the <code>ModalService</code> in the Module</p>
              <p>Note that <code>NewPersonComponent</code> was declared as <code>entryComponent</code> as well.</p>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
import { ModalService, ModalModule } from 'truly-ui';

@NgModule({
  declarations:[
    FormModalDemoComponent,
    NewPersonComponent
  ],
  imports: [
    ModalModule
  ],
  exports: [
    FormModalDemoComponent
    NewPersonComponent
  ],
  entryComponents: [ NewPersonComponent ]
})
export class FormModalDemoModule {}
            </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <h4>The Component Injected</h4>
              <p>After import, the component injected should be specified as Modal, for that, we use the annotations
                <code>@Modal</code> of Truly-UI like bellow.</p>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
            import { Component, Input, OnChanges, OnInit, SimpleChanges } from '@angular/core';
import { Modal } from 'truly';
import { Validators, FormGroup, FormControl } from '@angular/forms';

@Modal({
  title: 'Form Modal Example',
  icon: 'ion-stats-bars',
  draggable: true,
  width: '500px',
  color: 'primary',
  height: 'auto',
  maximizable: true,
  minimizable: true,
  fullscreen: false,
  closeOnOK: true
})
@Component( {
  selector: 'app-new-person',
  templateUrl: './newperson.component.html',
  styleUrls: [ './newperson.component.scss' ]
} )
export class NewPersonComponent {

  public form = new FormGroup({
    id: new FormControl(''),
    name: new FormControl('',  Validators.required),
    nickname: new FormControl('',  Validators.required),
    email: new FormControl('', [Validators.email, Validators.required]),
    user: new FormControl('', Validators.required),
    password: new FormControl('', [
      Validators.required,
      Validators.minLength(8)
    ])
  });

  constructor() {
    this.form.get('id').disable();
  }
}
            </textarea>
            </div>
          </app-card>
          <app-card>
           <div class="col-12">
             <h4>Modal Annotation (@Modal) </h4>
             <app-showcase-table-properties [data]="dataModalOptions"></app-showcase-table-properties>
           </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <h4>Creating the Modal Form</h4>
              <p>Firstly, you must inject the <code>ComponentFactoryResolver</code> class and the
                <code>ModalService</code>. Create an method that calls the createModal method, as described bellow</p>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
import { Component, ComponentFactoryResolver, OnInit } from '@angular/core';
import { ModalService } from 'truly-ui';
import { NewPersonComponent } from './newperson/newperson.component';

@Component({
  selector: 'app-form-modaldemo',
  templateUrl: './form-modaldemo.component.html',
  styleUrls: ['./form-modaldemo.component.scss']
})
export class FormModaldemoComponent {

  public reactive = 'HTML';

  constructor( private factory: ComponentFactoryResolver, private modalService: ModalService ) { }

  openModalForm() {
    this.modalService.createModal(NewPersonComponent, this.factory).then((result) => {
      console.log('Result', result);
    })
  }
}
            </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <h4>The Method Create</h4>
              <p>The method <code>createModal</code> of ModalService returns a Promisse, that can be be used to get the
                values of modal form, such as modal result and form values.</p>
              <p>The First Parameter is the component that going to be injected in the modal, in this case is <code>NewPersonComponent</code>
              </p>
              <p>The Second Parameter is going to be the factory (<code>ComponentFactoryResolver</code>) that got injected
                in constructor</p>
              <textarea highlight-js [options]="{'tabReplace' : ''}" [lang]="'typescript'">
                           <!--The Component Created-->
this.modalService.createModal(NewPersonComponent, this.factory).then((result) => {
  console.log('Result', result);
})
            </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
