<div class="content-dialog" (keydown)="onKeyDown($event)">
    <div class="form">
        <p>{{message}}</p>
    </div>
    <div class="controls">
        <tl-button [text]="textOk"
                   mdResult="MROK"
                   #button
                   [color]="'basic'"
                   [defaultFocus]="true"
                   [iconAddonBefore]="'ion-close'">
        </tl-button>
    </div>
    <div title="Show More" class="arrow-log-error" (click)="open(errorlog)" >
        <i [ngClass]="{'ion-chevron-down': !errorlog, 'ion-chevron-up': errorlog}" class="ion-chevron-down"></i>
    </div>
    <div [@enterAnimation]="errorlog" *ngIf="errorlog" class="error-log">
        <pre>Exception Name/Code: {{exceptionName}}</pre>
        <code>
           {{exceptionMessage}}
        </code>
    </div>
</div>
