.form {
  padding: 30px;
  text-align: center;
}

.controls {
  text-align: center;
  padding: 0 10px 20px 10px;
  width: 100%;
}

.arrow-log-error {
  text-align: center;
  margin: 0 auto;
  border-bottom: 0;
  padding: 2px;
  width: 70px;
  -webkit-border-radius: 7px 7px 0 0;
}

.arrow-log-error span {
  padding: 10px;
}

.arrow-log-error:hover {
  cursor: pointer;
}

.error-log {
  padding: 10px;
}

