<div [class]="'ui-time-available-picker ' + color" [style.width]="width">
  <div class="ui-time-header">
    <div class="ui-date-selected">
      <span class="ui-day">{{ dateValue | date:'dd' }}</span>
      <span class="ui-day-week">{{ dateValue | date:'EEEE' }}</span>
    </div>
    <div class="ui-time-selected">
      <span *ngIf="selectedTime.length > 1">{{ selectedTime[0]?.range.start | date: 'HH:mm' }} - {{ selectedTime[1]?.range.end | date: 'HH:mm' }}</span>
      <span *ngIf="selectedTime.length === 1">{{ selectedTime[0]?.range.start | date: 'HH:mm' }} - {{ selectedTime[0]?.range.end | date: 'HH:mm' }}</span>
    </div>
  </div>
  <div *ngIf="!filterTimes || filterTimes.length === 0" class="ui-empty-data">
    <tl-icon [lib]="'ion'" [style]="'md'">sad</tl-icon>
    <span>{{ notFoundMessage }}</span>
  </div>
  <div *ngIf="filterTimes.length > 0" class="ui-time-content" [style.maxHeight]="maxHeight">
    <div *ngIf="loading" class="ui-loader-wrapper">
      <div class="ui-loader">
        <tl-loader></tl-loader>
      </div>
    </div>
    <div *ngFor="let item of filterTimes; let i = index" class="ui-time-item">
      <div  (keydown.enter)="setSelectedTime(item, i)"
            class="ui-range-wrapper"
            (click)="setSelectedTime(item, i)"
            [ngClass]="{ 'ui-selected': item.selected }"
            tabindex="-1">
        <span class="item-range">{{ item.range.start | date: 'HH:mm' }}</span>
      </div>
    </div>
  </div>
</div>
