@import "../core/styles/theming/theming";

@mixin _tl-button-theme-schema( $theme, $action ){

  background-color: map-deep-get($theme, $action, "default", "background");
  border: 1px solid map-deep-get($theme, $action, "default", "border");
  color:  map-deep-get($theme, $action, "default", "foreground");

  & .iconAddonAfter {
    border-left: 1px solid map-deep-get($theme, $action, "default", "border");
  }
  & .iconAddonBefore {
    border-right: 1px solid map-deep-get($theme, $action, "default", "border");
  }


  &:hover{
    background-color: map-deep-get($theme, $action, "hover", "background");
    border: 1px solid map-deep-get($theme, $action, "hover", "border");
    color: map-deep-get($theme, $action, "hover", "foreground");

    & .iconAddonAfter{
      border-left: 1px solid map-deep-get($theme, $action, "hover", "border");
    }
    & .iconAddonBefore {
      border-right: 1px solid map-deep-get($theme, $action,"hover", "border");
    }
  }

  &.disabled{
    background-color: map-deep-get($theme, $action, "hover", "background");
    border: 1px solid map-deep-get($theme, $action, "hover", "border");
    color: map-deep-get($theme, $action, "hover", "foreground");
    opacity: 0.45;
    cursor: default;
  }
}

@mixin tl-button-theme( $theme ) {

  .tl-button{

    &.basic {
      @include _tl-button-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-button-theme-schema($theme, 'primary')
    }

    //&.secondary {
    //  @include _tl-button-theme-schema($theme,'secondary')
    //}

    &.success {
      @include _tl-button-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-button-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-button-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-button-theme-schema($theme, 'information')
    }

    &.light {
      @include _tl-button-theme-schema($theme, 'light')
    }

    &.dark {
      @include _tl-button-theme-schema($theme, 'dark')
    }

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }

    &:active, .-toggle {
      //  outline: none;
      // background-color: $active !important;
    }

  //  &.disabled{
  ////   color: $disable;
  //  }
  }

}
