<button #tlbutton
        attr.tabindex="-1"
        [ngStyle]="{'min-width': width, 'height': height, 'line-height': height}"
        [ngClass]="{' disabled ': disabled}"
        [class]="' tl-button '+toggleClassName"
        [disabled]="disabled ? true : null"
        (click)="clickToggle()"
        (keydown)="keydown($event)">
    <span *ngIf="iconAddonBefore"
          [ngClass]="iconAddonBefore"
          [class]="'iconAddonBefore'"
          [ngStyle]="{'line-height' : 'calc('+height+' - 1px)'}"
          [style.color]="colorIconBefore">
    </span>
    <span *ngIf="iconAddonAfter"
          [ngClass]="iconAddonAfter"
          [style.color]="colorIconAfter"
          [class]="'iconAddonAfter'"
          [ngStyle]="{'height': height, 'line-height': 'calc('+height+' - 1px)'}">
    </span>
    <span class="textButton" [ngStyle]="{'line-height': height}">
          <i *ngIf="iconBeforeText" [ngClass]="iconBeforeText"></i>
            {{text}}<ng-content></ng-content>
          <i *ngIf="iconAfterText" [ngClass]="iconAfterText"></i>
    </span>
</button>
