<div class="router-outlet">
  <app-showcase-header name="Tag" module="TagModule">
   Tag's are stylized labels to improve the design concept and give the user the perception of care of project. It can be used on others components as well to bring it more usability.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
              <div class="col-md-6">
                <h6>Basic Usage</h6>
                <tl-tag [color]="'basic'"></tl-tag>
                <tl-tag [color]="'primary'"></tl-tag>
                <tl-tag [color]="'warning'"></tl-tag>
                <tl-tag [color]="'information'"></tl-tag>
                <tl-tag [color]="'success'"></tl-tag>
                <tl-tag [color]="'danger'"></tl-tag>
                <br>
                <div class="spacer"></div>
                <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'"></tl-tag>
<tl-tag [color]="'primary'"></tl-tag>
<tl-tag [color]="'warning'"></tl-tag>
<tl-tag [color]="'information'"></tl-tag>
<tl-tag [color]="'success'"></tl-tag>
<tl-tag [color]="'danger'"></tl-tag>
              </textarea>
              </div>
            <div class="col-md-6">
              <h6>Icon</h6>
              <tl-tag [color]="'basic'" [icon]="'fas fa-tag'"></tl-tag>
              <tl-tag [color]="'primary'" [icon]="'fas fa-tag'" ></tl-tag>
              <tl-tag [color]="'warning'" [icon]="'fas fa-tag'"></tl-tag>
              <tl-tag [color]="'information'" [icon]="'fas fa-tag'"></tl-tag>
              <tl-tag [color]="'success'" [icon]="'fas fa-tag'"></tl-tag>
              <tl-tag [color]="'danger'" [icon]="'fas fa-tag'"></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'" [icon]="'fas fa-tag'"></tl-tag>
<tl-tag [color]="'primary'" [icon]="'fas fa-tag'" ></tl-tag>
<tl-tag [color]="'warning'" [icon]="'fas fa-tag'"></tl-tag>
<tl-tag [color]="'information'" [icon]="'fas fa-tag'"></tl-tag>
<tl-tag [color]="'success'" [icon]="'fas fa-tag'"></tl-tag>
<tl-tag [color]="'danger'" [icon]="'fas fa-tag'"></tl-tag>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>With Close Mode</h6>
              <tl-tag [color]="'basic'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'primary'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'warning'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'information'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'success'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'danger'" [mode]="'closeable'"></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'primary'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'warning'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'information'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'success'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'danger'" [mode]="'closeable'"></tl-tag>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Default Mode</h6>
              <tl-tag [color]="'basic'"></tl-tag>
              <tl-tag [color]="'primary'"></tl-tag>
              <tl-tag [color]="'warning'"></tl-tag>
              <tl-tag [color]="'information'" ></tl-tag>
              <tl-tag [color]="'success'" ></tl-tag>
              <tl-tag [color]="'danger'" ></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'" ></tl-tag>
<tl-tag [color]="'primary'" ></tl-tag>
<tl-tag [color]="'warning'" ></tl-tag>
<tl-tag [color]="'information'"></tl-tag>
<tl-tag [color]="'success'" ></tl-tag>
<tl-tag [color]="'danger'" ></tl-tag>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Editable Mode</h6>
              <tl-tag [color]="'basic'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'"
                      [charcase]="'lowercase'"></tl-tag>
              <tl-tag [color]="'primary'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'"
                      [charcase]="'lowercase'"></tl-tag>
              <tl-tag [color]="'warning'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'"
                      [charcase]="'lowercase'"></tl-tag>
              <tl-tag [color]="'information'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'"
                      [charcase]="'lowercase'"></tl-tag>
              <tl-tag [color]="'danger'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'"
                      [charcase]="'lowercase'"></tl-tag>
              <tl-tag [title]="'Add tag'" [closeOnValueEmited]="false" (tagValue)="onTagValue($event)" [height]="'25px'" [color]="'primary'"
                      [charcase]="'lowercase'" [icon]="'fas fa-plus'" [mode]="'editable'"></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'" [charcase]="'lowercase'"></tl-tag>
<tl-tag [color]="'primary'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'" [charcase]="'lowercase'"></tl-tag>
<tl-tag [color]="'warning'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'" [charcase]="'lowercase'"></tl-tag>
<tl-tag [color]="'information'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'" [charcase]="'lowercase'"></tl-tag>
<tl-tag [color]="'danger'" [height]="'25px'" [icon]="'fas fa-tag'" [mode]="'closeable'" [charcase]="'lowercase'"></tl-tag>

<tl-tag [title]="'Add tag'" [closeOnValueEmited]="false" (tagValue)="onTagValue($event)" [height]="'25px'" [color]="'primary'" [icon]="'fas fa-plus'" [mode]="'editable'"></tl-tag>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>With Clickable Mode</h6>
              <tl-tag [color]="'basic'" [mode]="'clickable'"></tl-tag>
              <tl-tag [color]="'primary'" [mode]="'clickable'"></tl-tag>
              <tl-tag [color]="'warning'" [mode]="'clickable'"></tl-tag>
              <tl-tag [color]="'information'" [mode]="'clickable'"></tl-tag>
              <tl-tag [color]="'success'" [mode]="'clickable'"></tl-tag>
              <tl-tag [color]="'danger'" [mode]="'clickable'"></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'basic'" [mode]="'clickable'"></tl-tag>
<tl-tag [color]="'primary'" [mode]="'clickable'"></tl-tag>
<tl-tag [color]="'warning'" [mode]="'clickable'"></tl-tag>
<tl-tag [color]="'information'" [mode]="'clickable'"></tl-tag>
<tl-tag [color]="'success'" [mode]="'clickable'"></tl-tag>
<tl-tag [color]="'danger'" [mode]="'clickable'"></tl-tag>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h6>Custom Color</h6>
              <tl-tag [color]="'#9a5ac2'" [title]="'#9a5ac2'"></tl-tag>
              <tl-tag [color]="'#2db7f5'" [title]="'#2db7f5'"></tl-tag>
              <tl-tag [color]="'#87d068'" [title]="'#87d068'"></tl-tag>
              <tl-tag [color]="'#108ee9'" [title]="'#108ee9'"></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'#9a5ac2'" [title]="'#9a5ac2'"></tl-tag>
<tl-tag [color]="'#2db7f5'" [title]="'#2db7f5'"></tl-tag>
<tl-tag [color]="'#87d068'" [title]="'#87d068'"></tl-tag>
<tl-tag [color]="'#dc1b1b'" [title]="'#dc1b1b'"></tl-tag>
              </textarea>
            </div>
            <div class="col-md-6">
              <h6>Custom Measures</h6>
              <tl-tag [color]="'#e53935'" [title]="'Height - 30px'" [height]="'30px'"></tl-tag>
              <tl-tag [color]="'#5a79e5'" [title]="'Width - 120px'"  [width]="'120px'"></tl-tag>
              <tl-tag [color]="'#e53935'" [title]="'Height - 30px'" [height]="'30px'" [mode]="'closeable'"></tl-tag>
              <tl-tag [color]="'#5a79e5'" [title]="'Width - 120px'"  [width]="'120px'" [mode]="'closeable'">></tl-tag>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tag [color]="'#e53935'" [title]="'Height - 30px'" [height]="'30px'"></tl-tag>
<tl-tag [color]="'#5a79e5'" [title]="'Width - 120px'"  [width]="'120px'"></tl-tag>
<tl-tag [color]="'#e53935'" [title]="'Height - 30px'" [height]="'30px'" [mode]="'closeable'"></tl-tag>
<tl-tag [color]="'#5a79e5'" [title]="'Width - 120px'"  [width]="'120px'" [mode]="'closeable'">></tl-tag>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
