<div class="router-outlet">
  <!--<span class="returned-value">Returned Value:  <label class="label label-info" (click)="show()">Show</label></span>-->
  <div class="header-title-demo">
    <h1 class="title"> MultiSelect <span class="module-name"><code><u>Module Name</u>: <strong>MultiSelectModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>MultiSelectModule</strong></code></p>
    <p class="text-content">MultiSelect is a component where exists a list of itens to search and select like tags.</p>
  </div>
  <hr>
  <div class="showcase">
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <tl-multiselect
              [data]="dataBasic"
              (getSelecteds)="getSelecteds($event)"
              (onClickTag)="onClickTag($event)"
              (onRemoveTag)="onRemoveTag($event)"
              [labelTag]="'firstName'"
              [label]="'Basic Usage'"
              [detail]="'email'"
              [(ngModel)]="dataBasicModel"
              [query]="'firstName'">
          </tl-multiselect>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <tl-multiselect
            [data]="dataBasic"
            [color]="'color'"
            [label]="'With Custom Color'"
            [labelTag]="'firstName'"
            [detail]="'email'"
            [query]="'firstName'">
          </tl-multiselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <tl-multiselect
          [data]="dataBasic"
          [detailOnTag]="true"
          [label]="'With Detail on Tag'"
          [labelTag]="'firstName'"
          [detail]="'email'"
          [query]="'firstName'">
        </tl-multiselect>
      </div>
      <div class="col-md-6">
        <tl-multiselect
          [data]="dataBasic"
          [color]="'color'"
          [icon]="'icon'"
          [label]="'With Icon'"
          [labelTag]="'firstName'"
          [detail]="'email'"
          [query]="'firstName'">
        </tl-multiselect>
      </div>
    </div>
  </div>
  <hr>
  <h3 class="title">Important</h3>
  <p> The MultiSelect Component Data <code><strong>MUST</strong></code> be passed with a pattern. The Keys <code>[source]</code> and <code>[effect]</code> are required like so :</p>
  <textarea highlight-js [options]="{}" [lang]="'typescript'">
this.dataBasic =
  [{
    source:
     {
       id: 1,
       firstName: 'William',
       lastName: 'King',
       email: 'contact@domain.com',
     },
    effect:
      {
        icon: 'ion-gear-a',
        color: '#dd6c6c'
      }
  }];
    </textarea>
  <p> The Keys inside those objects can be custom, referenced through the properties.</p>

  <div class="setup">
    <h3 class="title">Properties</h3>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of dataTableProperties; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td><span class="badge">{{ item.type }}</span></td>
          <td><code>{{ item.default }}</code></td>
          <td>{{ item.description }}</td>
          <td><code> {{ item.options }} </code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <h3 class="title">Events</h3>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of events; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td>{{ item.description }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="examples">
    <h3 class="title">Examples</h3>
    <div class="group-component">
      <h5 class="title">Basic Usage</h5>
      <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-multiselect
  [data]="dataBasic"
  [label]="'firstName'"
  [detail]="'email'"
  [query]="'firstName'">
</tl-multiselect>
    </textarea>
    </div>
    <div class="group-component">
      <h5 class="title">With Custom Color</h5>
      <textarea highlight-js [options]="{}" [lang]="'html'">
 <tl-multiselect
   [data]="dataBasic"
   [color]="'color'"
   [label]="'firstName'"
   [detail]="'email'"
   [query]="'firstName'">
</tl-multiselect>
    </textarea>
    </div>
    <div class="group-component">
      <h5 class="title">With Detail on Tag</h5>
      <textarea highlight-js [options]="{}" [lang]="'html'">
<tl-multiselect
   [data]="dataBasic"
   [detailOnTag]="true"
   [label]="'firstName'"
   [detail]="'email'"
   [query]="'firstName'">
</tl-multiselect>
    </textarea>
    </div>
    <div class="group-component">
      <h5 class="title">With Icon</h5>
      <textarea highlight-js [options]="{}" [lang]="'html'">
<tl-multiselect
   [data]="dataBasic"
   [color]="'color'"
   [icon]="'icon'"
   [label]="'firstName'"
   [detail]="'email'"
   [query]="'firstName'">
</tl-multiselect>
    </textarea>
    </div>
  </div>
</div>
