.list-template-demo {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.list-template-demo:focus {
  background-color: #13BBB6;
  outline: none;
  color: #fff;
}

.list-template-demo img {
  margin: 10px
}

.list-bagde {
  float: right;
  margin: 12px
}


