.tl-skeleton{
  display: block;
  background-color: hsl(0deg 0% 0% / 11%);
  &.circle{
    border-radius: 50%;
  }
  &.text{
    width: 100%;
    height: auto !important;
    transform: scale(1, 0.60);
    margin-top: 0;
    border-radius: 4px;
    margin-bottom: 0;
    transform-origin: 0 60%;
    &:before {
      content: "\00a0";
    }
  }
  &.animation-none{
    animation: none;
  }
  &.animation-pulse{
    animation: animation-pulse 1.5s ease-in-out 0.5s infinite;
  }
  &.animation-wave{
    overflow: hidden;
    position: relative;
    &:after{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      animation: animation-wave 1.6s linear 0.5s infinite;
      transform: translateX(-100%);
      background: linear-gradient(90deg, hsl(0deg 0% 0% / 0%), hsl(0deg 0% 0% / 4%), hsl(0deg 0% 0% / 0%));
    }
  }
}

@-webkit-keyframes animation-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-wave {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
