<div #wrapper class="wrapper-calendar" tabindex="-1">
  <div class="header-calendar">
    <div class="date">
      <tl-navigator [type]="'monthyear'"
                    *ngIf="!displayMonths && !displayYears"
                    (clickPrevious)="decreaseDate($event)"
                    (clickNext)="increaseDate($event)"
                    [withBorder]="false"
                    [date]="dateNavigator"
                    (clickNavigator)="changeMonth()"
                    [width]="'100px'">
      </tl-navigator>
      <tl-navigator [type]="'year'"
                    [date]="dateNavigator"
                    *ngIf="displayMonths && !displayYears"
                    (clickPrevious)="decreaseYear($event)"
                    [withBorder]="false"
                    (clickNext)="increaseYear($event)"
                    (clickNavigator)="changeYear($event)"
                    [width]="'100px'">
      </tl-navigator>
      <tl-navigator [type]="'rangeyear'"
                    *ngIf="displayYears"
                    [date]="dateNavigator"
                    [withBorder]="false"
                    [range]="11"
                    (clickPrevious)="decreaseYearRange($event)"
                    (clickNext)="increaseYearRange($event)"
                    [width]="'100px'">
      </tl-navigator>
    </div>
    <span class="todayButton"  (click)="getToday()">TODAY</span>
  </div>
  <table #table border="0">
    <thead *ngIf="!displayMonths && !displayYears">
      <tr>
        <th *ngFor="let item of dayOfWeek">{{item}}</th>
      </tr>
    </thead>
    <tbody #tbody align="right"></tbody>
  </table>
</div>
