<div #wrapper class="wrapper-calendar" tabindex="-1">
  <div class="header-calendar">
    <div class="date">
      <div *ngIf="!displayMonths">
        <span (click)="changeYear()">{{months[month].name}}  {{year}}</span>
      </div>
      <div *ngIf="displayMonths"><span>{{year}}</span></div>
    </div>
    <div class="arrows">
      <label  (click)="decreaseDate()" *ngIf="!displayMonths"><i class="ion-chevron-up"></i></label>
      <label  (click)="increaseDate()" *ngIf="!displayMonths"><i class="ion-chevron-down"></i></label>
    </div>
  </div>
  <table #table class="ui-calendar" border="0">
    <thead *ngIf="!displayMonths">
      <tr>
        <th *ngFor="let item of dayOfWeek">{{item}}</th>
      </tr>
    </thead>
    <tbody #tbody align="right"></tbody>
  </table>
  <div class="footer-calendar" (click)="getToday()">
    <span>TODAY</span>
  </div>
</div>
