.wrapper-calendar {
  width: 260px;
  border: 1px solid #d6d6d6;
}

.decrease {
  float: left;
}

.increase {
  float: right;
}

.header-calendar {
  text-align: left;
  font-size: 1.2em;
  padding-left: 5px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  color: #7a7a7a;
}

.header-calendar span:last-child {
  position: relative;
  float: right;
  padding-right: 7px;
  color: #66cc99;
  cursor: pointer;
}

.ui-calendar {
  position: relative;
  padding: 20px;
}

.today {
  background-color: #66CC99;
  color: #fff !important;
  -webkit-border-radius: 25%;
}

table {
  width: 100%;
  position: absolute;
}

table td {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #616161;
}

/*table td:hover {
  cursor: pointer;
  -webkit-border-radius: 25%;
  border: 1px solid #d6d6d6;
}*/

thead th {
  text-align: center;
  color: #a6a6a6;
}

thead {
  width: 100%;
  font-size: 0.8em;
}

td {
  text-align: center;
  padding: 5px;
}
