<div class="split-wrapper" [ngClass]="color" (click)="onButtonClick($event)">
  <div class="split-content" #split>
    <tl-button cdkOverlayOrigin #trigger="cdkOverlayOrigin"
               [color]="color"
               [text]="text"
               [disabled]="disabled"
               [width]="width"
               [height]="height">
    </tl-button>
    <div [class.active]="isOpen"
         (click)="open($event)"
         [class.disabled]="disabledActions"
         class="split-button-actions"
         [ngStyle]="{'height': height, 'line-height': height}">
      <div class="icon-arrow" [style.transform]="isOpen ? 'rotate(180deg)' : 'rotate(0)'">
        <tl-icon [lib]="'fa'" [style]="'fas'">chevron-down</tl-icon>
      </div>
      <ng-template cdkConnectedOverlay
                   (backdropClick)="isOpen = false"
                   (positionChange)="onPositionChange($event)"
                   [cdkConnectedOverlayHasBackdrop]="true"
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                   [cdkConnectedOverlayOpen]="isOpen">
        <ul @overlay
            [style.minWidth]="split.offsetWidth + 'px'"
            [class.margin-top]="positionOverlay === 'bottom'"
            [class.margin-bottom]="positionOverlay === 'top'"
            [class.border-top]="positionOverlay === 'bottom'"
            class="actions-menu">
            <ng-container *ngFor="let item of listItems">
              <ng-container *ngTemplateOutlet="item"></ng-container>
            </ng-container>
        </ul>
      </ng-template>
    </div>
  </div>
</div>

