@import "../core/styles/theming/theming";

@mixin _tl-splitbutton-theme-schema($theme, $action) {

  .split-button-actions {
    background-color: map-deep-get($theme, $action, "default", "background");
    border-top: 1px solid map-deep-get($theme, $action, "default", "border");
    border-right: 1px solid map-deep-get($theme, $action, "default", "border");
    border-bottom: 1px solid map-deep-get($theme, $action, "default", "border");
    color: map-deep-get($theme, $action, "default", "foreground");
  }

  .split-button-actions:hover, .split-button-actions.active {
    background-color: map-deep-get($theme, $action, "hover", "background");
  }

  .split-button-actions:active {
    background-color: map-deep-get($theme, $action, "active", "background");
  }

  .split-button-actions i {
    color: map-deep-get($theme, $action, "default", "foreground");
  }

  .border-top {
    border-top: 1px solid map-deep-get($theme, $action, "default", "border") !important;
  }

  .ui-button {
    background-color: map-deep-get($theme, $action, "default", "background");
    border: 1px solid map-deep-get($theme, $action, "default", "border");
    color:  map-deep-get($theme, $action, "default", "foreground");

  }

}

@mixin tl-splitbutton-theme( $theme ) {

  .actions-menu {
    background-color: map-deep-get($theme, 'basic', "default", "background");
    border: 1px solid map-deep-get($theme, 'basic', "default", "border");
  }

  .split-wrapper {

    &.basic {
      @include _tl-splitbutton-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-splitbutton-theme-schema($theme, 'primary')
    }

    &.success {
      @include _tl-splitbutton-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-splitbutton-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-splitbutton-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-splitbutton-theme-schema($theme, 'information')
    }

    &:focus {
      border-color: #40a9ff;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
      border-right-width: 1px !important;
    }
  }
}
