//Default
$button-height: 37px;
$button-font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
$button-font-size: 1em;

.tl-button {
  border-radius: 3px 0 0 3px;
}

.split-wrapper {
  font-family: $button-font-family;
  font-size: $button-font-size;
  display: inline-block;
  position: relative;

  > .split-content {
    display: flex;
    > ::ng-deep tl-button {
      button {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
    > .split-button-actions {
      margin: 0;
      padding: 0;
      line-height: $button-height;
      cursor: pointer;
      float: right;
      user-select: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    > .split-button-actions tl-icon {
      padding: 0 15px;
    }

    > .ui-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

}

.icon-arrow {
  transition: transform 250ms ease-in-out;
}

.actions-menu {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  height: auto;
  display: inline;
  overflow: hidden;
  list-style: none;
  box-shadow: 0px 0px 3px #c1c1c16e;
  z-index: 1;
  cursor: auto;
  border-radius: 3px;
  box-sizing: border-box;
  top: 2px;
}

.border-top {
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}
