<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">TabControl <span class="module-name"><code><u>Module Name</u>: <strong>TabControlModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>TabControlModule</strong></code></p>
    <p class="text-content">TabControl and Tabs are used to organize components in the view.</p>
  </div>
  <hr>
  <div class="showcase">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" style="padding-bottom: 10px">
          <h5>Basic Usage</h5>
        </div>
        <div class="form-group">
          <tl-tabcontrol [height]="'160px'">
            <tl-tab [title]="'Profile'">
              <div class="form-group">
                <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}" [readonly]="true"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}" [readonly]="true"></tl-input>
              </div>
            </tl-tab>
            <tl-tab [title]="'Account'">
              <div class="form-group">
                <span style="color: #737373">Client: James Bond</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Account Number: 151848</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Balance: $ 12.503</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Last Query: {{today | date:'MM/dd/yy - HH:mm:ss '}}</span>
              </div>
            </tl-tab>
          </tl-tabcontrol>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" style="padding-bottom: 10px">
          <h5>Stylized Background</h5>
        </div>
        <div class="form-group">
          <tl-tabcontrol [height]="'160px'" [background]="'#f4f6f6'">
            <tl-tab [title]="'Profile'">
              <div class="form-group">
                <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}" [readonly]="true"></tl-input>
              </div>
              <div class="form-group">
                <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}" [readonly]="true"></tl-input>
              </div>
            </tl-tab>
            <tl-tab [title]="'Account'">
              <div class="form-group">
                <span style="color: #737373">Client: James Bond</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Account Number: 151848</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Balance: $ 12.503</span>
              </div>
              <div class="form-group">
                <span style="color: #737373">Last Query: {{today | date:'MM/dd/yy - HH:mm:ss '}}</span>
              </div>
            </tl-tab>
          </tl-tabcontrol>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="setup">
    <h3 class="title">Properties</h3>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of dataTableProperties; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td><span class="badge">{{ item.type }}</span></td>
          <td><code>{{ item.default }}</code></td>
          <td>{{ item.description }}</td>
          <td><code> {{ item.options }} </code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
  <div class="examples">
    <h3 class="title">Examples</h3>
    <div class="group-component">
      <h5 class="title">Basic Usage</h5>
      <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tabcontrol [height]="'160px'">
  <tl-tab [title]="'Profile'">
    <div class="form-group">
      <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}" [readonly]="true"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}" [readonly]="true"></tl-input>
    </div>
  </tl-tab>
  <tl-tab [title]="'Account'">
    <div class="form-group">
      <span style="color: #737373">Client: James Bond</span>
    </div>
    <div class="form-group">
      <span style="color: #737373">Account Number: 151848</span>
    </div>
    <div class="form-group">
      <span style="color: #737373">Balance: $ 12.503</span>
    </div>
  </tl-tab>
</tl-tabcontrol>
    </textarea>
    </div>
    <div class="group-component">
      <h5 class="title">Nested PanelGroups</h5>
      <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tabcontrol [height]="'160px'" [background]="'#f4f6f6'">
  <tl-tab [title]="'Profile'">
    <div class="form-group">
      <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}" [readonly]="true"></tl-input>
    </div>
    <div class="form-group">
      <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}" [readonly]="true"></tl-input>
    </div>
  </tl-tab>
  <tl-tab [title]="'Account'">
    <div class="form-group">
      <span>Client: James Bond</span>
    </div>
    <div class="form-group">
      <span>Account Number: 151848</span>
    </div>
    <div class="form-group">
      <span>Balance: $ 12.503</span>
    </div>
  </tl-tab>
</tl-tabcontrol>
    </textarea>
    </div>
  </div>
</div>
