@import "../core/styles/theming/theming";

@mixin _tl-clockpicker-theme-schema( $theme, $action ) {


  .ui-wrapper-clockpicker-content {

    .ui-arrow-up {
      border-color: transparent transparent map-deep-get($theme, $action, "default", "border") transparent;
    }

    .ui-arrow-up:after {
      border-color: transparent transparent map-deep-get($theme, 'basic', "lighter", "background") transparent;
    }
  }

  .ui-clockpicker-wrapper {
    border: 1px solid map-deep-get($theme, $action, "default", "border");
    background: map-deep-get($theme, 'basic', "default", "background");


    > .ui-clockpicker-header {
      background: map-deep-get($theme, 'basic', "lighter", "background");
      color: rgba(map-deep-get($theme, 'basic', "lighter", "foreground"), 0.2);
    }

    > .ui-clockpicker-content {
      background: map-deep-get($theme, 'basic', "default", "background");
      border-top: 1px solid map-deep-get($theme, $action, "default", "border");
      border-bottom: 1px solid map-deep-get($theme, $action, "default", "border");
      .ui-clock {
        background: map-deep-get($theme, 'basic', "lighter", "background");
        color: rgba(map-deep-get($theme, 'basic', "lighter", "foreground"), 0.2);
        border: 1px solid map-deep-get($theme, $action, "default", "border");
      }
    }

    > .ui-clockpicker-footer {
      background: map-deep-get($theme, 'basic', "lighter", "background");
      color: map-deep-get($theme, 'basic', "lighter", "foreground");
      &:hover {
        background: map-deep-get($theme, 'basic', "hover", "background");
        color: map-deep-get($theme, 'basic', "hover", "foreground");
      }
    }

    .selected-time {
      color: map-deep-get($theme, $action, "default", "background");
    }


    .clock-number {
      color:  map-deep-get($theme, 'basic', "lighter", "foreground");
      &:hover {
        background: map-deep-get($theme, $action, "default", "background");
        color: map-deep-get($theme, 'basic', "default", "foreground");
        cursor: pointer;
      }
    }

    .ui-point-center {
      background-color:  map-deep-get($theme, $action, "default", "background");
    }

    .ui-clock-line, .ui-clock-line-circle {
      background:  map-deep-get($theme, $action, "default", "background");
    }

    .ui-arrow-down {
      border-color: transparent transparent map-deep-get($theme, $action, "default", "border") transparent;
    }

    .ui-arrow-down:after {
      border-color: transparent transparent map-deep-get($theme, 'basic', "lighter", "background") transparent;
    }

  }
}

@mixin tl-clockpicker-theme( $theme ) {

  .tl-clockpicker {

    &.basic {
      @include _tl-clockpicker-theme-schema($theme, 'basic')
    }

    &.primary {
      @include _tl-clockpicker-theme-schema($theme, 'primary')
    }

    &.success {
      @include _tl-clockpicker-theme-schema($theme, 'success')
    }

    &.danger {
      @include _tl-clockpicker-theme-schema($theme, 'danger')
    }

    &.warning {
      @include _tl-clockpicker-theme-schema($theme, 'warning')
    }

    &.information {
      @include _tl-clockpicker-theme-schema($theme, 'information')
    }

    &:focus {
      border-color: #40a9ff;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
      border-right-width: 1px !important;
    }
  }
}
