<div class="router-outlet">
  <app-showcase-header name="BlockUI" module="BlockUIModule">
    The BlockUI is used to block some content for a determined time.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <span>Basic</span>
                </div>
                <div class="col-md-6">
                  <tl-switch [label]="'Toggle Visibility'" (toggle)="toggleBasic()"></tl-switch>
                </div>
              </div>
              <div class="blockui" [tlBlockui]="basic">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <div class="blockui" [tlBlockui]="basic"></div>
              </textarea>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <span>With Message</span>
                </div>
                <div class="col-md-6">
                  <tl-switch [label]="'Toggle Visibility'" (toggle)="toggleMessage()"></tl-switch>
                </div>
              </div>
              <div class="blockui" [tlBlockui]="message" [blockuiConfig]="{'spin': true, 'icon': 'ion ion-ios-sync', 'message': 'Loading...'}">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                 <div class="blockui" [tlBlockui]="message" [blockuiConfig]="{'spin': true, 'icon': 'ion ion-ios-sync', 'message': 'Loading...'}"></div>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <span>Spin OFF</span>
                </div>
                <div class="col-md-6">
                  <tl-switch  [label]="'Toggle Visibility'" (toggle)="toggleSpinOff()"></tl-switch>
                </div>
              </div>
              <div class="blockui" [tlBlockui]="spinOff" [blockuiConfig]="{'spin': false, 'icon': 'fas fa-times-circle'}">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                 <div class="blockui" [tlBlockui]="spinOff" [blockuiConfig]="{'spin': false, 'icon': 'fas fa-times-circle'}"></div>
              </textarea>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <span>Message & Spin false</span>
                </div>
                <div class="col-md-6">
                  <tl-switch [label]="'Toggle Visibility'" (toggle)="toggleSpinOffMessage()"></tl-switch>
                </div>
              </div>
              <div class="blockui" [tlBlockui]="spinOffMessage" [blockuiConfig]="{'spin': false, 'icon': 'fas fa-exclamation-triangle', 'message': 'Content Blocked'}">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                 <div class="blockui" [tlBlockui]="spinOffMessage" [blockuiConfig]="{'spin': false, 'icon': 'fas fa-exclamation-triangle', 'message': 'Content Blocked'}"></div>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
          <app-card>
            <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
