<div class="router-outlet">
  <app-showcase-header name="Textarea" module="TextareaModule">
    Input specifies an input field where the user can enter text.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-12">
              <h5>Basic</h5>
              <tl-input [label]="'Name'" [labelSize]="'20px'" [labelPlacement]="'top'" [clearButton]="true"></tl-input>
              <br>
              <tl-textarea [label]="'Descrição'"
                           [labelSize]="'20px'"
                           [labelPlacement]="'top'"
                           [name]="'descricao'"
                           [placeholder]="'Descrição'"
                           [textAlign]="'justify'"
                           [color]="'primary'"
                           [showCount]="false"></tl-textarea>
              <br>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-textarea></tl-textarea>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
