* {
  box-sizing: border-box;
}

:host {
  width: 100%;
}

.ui-editor-footer {
  display: flex;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background: #e9e9e9;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 4px;
    width: 0;
  }
}

.ui-hashtag {
  padding: 0px 8px;
  margin: 5px;
  border-radius: 5px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.ui-editor {
  width: 100%
}

.ui-link {
  text-decoration: underline;
}

.ui-editor-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ui-image-editor {
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
  }
}

.ui-saved-content-message {
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  display: grid;
  grid-template-columns: 25px 1fr;
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 20px;
}

.ui-color-component {
  position: absolute;
  height: 12px;
  border: 0;
  top: 25px;
}

.ui-editor-content {
  height: 300px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  word-break: break-word;
}
