* {
  box-sizing: border-box;
}

.ui-link {
  text-decoration: underline;
}

.ui-editor-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ui-image-editor {
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
  }
}

.ui-saved-content-message {
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  display: grid;
  grid-template-columns: 25px 1fr;
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 20px;
}

.ui-editor-header {
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  .ui-tools-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    height: inherit;
    line-height: inherit;
    li:not(.dropdown) {
      padding: 0;
      width: 40px;
    }
    li {
      display: flex;
      transition: all 200ms ease-in;
      align-items: center;
      justify-content: center;
      padding: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.ui-command {
  background: transparent;
  padding: 0;
  border: 0;
  height: 40px;
  width: 40px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.ui-color-component {
  position: absolute;
  height: 12px;
  border: 0;
  top: 25px;
}

.ui-editor-content {
  height: 300px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
