<div class="ui-editor">
  <tl-label *ngIf="label" [labelTitle]="label" [labelSize]="labelSize" [labelPlacement]="labelPlacement"></tl-label>
  <div [class]="'ui-editor-wrapper ' + color" #wrapper>
    <tl-editor-header [toolbarConfig]="toolbarConfig"
                      [activeTools]="activeTools"
                      [cursorHighlight]="cursorHighlight"
                      [color]="color"
                      [colorSelected]="colorSelected"
                      [fontSelected]="font"
                      [fontSizeSelected]="fontSize"
                      [fontCollection]="fontCollection"
                      [fontSizeCollection]="fontSizeCollection"
                      (changeColor)="onChangeColor($event)"
                      (changeFont)="onChangeFont($event)"
                      (changeFontSize)="onChangeFontSize($event)"
                      (clickBold)="setBold()"
                      (clickItalic)="setItalic()"
                      (clickHighlight)="setHighlight()"
                      (clickOrderedList)="setOrderedList()"
                      (clickAlignContent)="alignContent($event)"
                      (clickLink)="toggleLinkBox(); setDescriptionLink()"
                      (clickUnorderedList)="setUnorderedList()"
                      (clickUnderline)="setUnderline()"
                      (clickImage)="toggleImageBox()"
                      (clickQuote)="setQuote()"
                      (clickClear)="clearContent()">
    </tl-editor-header>
    <div #contentEditor
         class="ui-editor-content"
         [style.height]="height"
         (input)="change($event)"
         (focusout)="setAnchorNode()"
         (click)="setCursorSelection()"
         (focus)="setCursorSelection()"
         (keydown.enter)="$event.stopPropagation()"
         (keydown.ArrowUp)="$event.stopPropagation()"
         (keydown.ArrowDown)="$event.stopPropagation()"
         (keydown)="onKeyDownSave($event)"
         (mouseup)="onMouseUp()"
         [attr.contenteditable]="contentEditable"
         [innerHTML]="content">
    </div>
    <div class="ui-saved-content-message" [@enterAnimation]="saved" *ngIf="saved">
      <i class="ion-ios-checkmark-outline"></i>
      <span>Saved !</span>
    </div>
    <tl-editor-link-box [descriptionLink]="descriptionLink"
                        *ngIf="toggleLink && !toggleImage"
                        (onSetLink)="setLink($event)"
                        (onToggleLink)="toggleLinkBox()">
    </tl-editor-link-box>
    <tl-editor-image-box *ngIf="toggleImage && !toggleLink"
                         [imageUrl]="image.imageUrl"
                         (onSetImage)="setImage($event)"
                         (onToggleImage)="toggleImageBox()">
    </tl-editor-image-box>
    <div class="ui-editor-footer" *ngIf="tags.length > 0">
      <div *ngFor="let item of tags" (click)="addTag(item)" class="ui-hashtag">{{ item }}</div>
    </div>
  </div>
</div>
