<div class="ui-editor-wrapper" #wrapper>
  <div class="ui-editor-header">
    <ul class="ui-tools-list">
      <li>
        <tl-dropdown-list [data]="dataFont"
                          (ngModelChange)="onChangeFont($event)"
                          [text]="'textItem'"
                          [valueItem]="'value'"
                          [(ngModel)]="font">
        </tl-dropdown-list>
      </li>
      <li><tl-dropdown-list [data]="dataFontSize" (ngModelChange)="onChangeFontSize($event)" [(ngModel)]="fontSize"></tl-dropdown-list></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-bold" [ngClass]="{'ui-active-tool': activeTools.bold}" (click)="setBold()"></button></li>
      <li><button class="ui-command fa fa-italic" [ngClass]="{'ui-active-tool': activeTools.italic}" (click)="setItalic()"></button></li>
      <li><button class="ui-command fa fa-underline" [ngClass]="{'ui-active-tool': activeTools.underline}" (click)="setUnderline()"></button></li>
      <li>
        <button class="ui-command fa fa-font"></button>
        <input class="ui-command ui-color-component" [(ngModel)]="colorSelected" (ngModelChange)="onChangeColor($event)" type="color">
      </li>
      <li><button class="ui-command fa fa-pencil" [ngClass]="{'ui-active-tool': cursorHighlight}" (click)="setHighlight()"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-align-left" [ngClass]="{'ui-active-tool': activeTools.alignLeft}" (click)="alignContent('justifyLeft')"></button></li>
      <li><button class="ui-command fa fa-align-center" [ngClass]="{'ui-active-tool': activeTools.alignCenter}" (click)="alignContent('justifyCenter')"></button></li>
      <li><button class="ui-command fa fa-align-right" [ngClass]="{'ui-active-tool': activeTools.alignRight}" (click)="alignContent('justifyRight')"></button></li>
      <li><button class="ui-command fa fa-align-justify" [ngClass]="{'ui-active-tool': activeTools.alignJustify}" (click)="alignContent('justifyFull')"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-list-ul" [ngClass]="{'ui-active-tool': activeTools.listUnordered}" (click)="setUnorderedList()"></button></li>
      <li><button class="ui-command fa fa-list-ol" [ngClass]="{'ui-active-tool': activeTools.listOrdered}" (click)="setOrderedList()"></button></li>
      <li><span class="ui-separator"></span></li>
      <li><button class="ui-command fa fa-link" (click)="toggleLinkBox(); setDescriptionLink();"></button></li>
      <li><button class="ui-command fa ion-image" (click)="toggleImageBox()"></button></li>
      <li><button class="ui-command fa ion-quote" [ngClass]="{'ui-active-tool': activeTools.blockQuote}" (click)="setQuote()"></button></li>
    </ul>
  </div>
  <div #contentEditor
       tabindex="-1"
       class="ui-editor-content"
       (mouseup)="onMouseUp()"
       (click)="setCursorSelection()"
       [attr.contenteditable]="contentEditable" [innerHTML]="content">
  </div>
  <tl-editor-link-box [descriptionLink]="descriptionLink"
                      *ngIf="toggleLink && !toggleImage"
                      (onSetLink)="setLink($event)"
                      (onToggleLink)="toggleLinkBox()">
  </tl-editor-link-box>
  <tl-editor-image-box *ngIf="toggleImage && !toggleLink"
                       [imageUrl]="image.imageUrl"
                       (onSetImage)="setImage($event)"
                       (onToggleImage)="toggleImageBox()">
  </tl-editor-image-box>
</div>
