<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">ProgressBar <span class="module-name"><code><u>Module Name</u>: <strong>ProgressBarModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ProgressBarModule</strong></code></p>
    <p class="text-content">Is a horizontal progress-bar for indicating progress and activity, can be used as determinate or indeterminate mode, see bellow:</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <span>Determinate</span>
            <input type="range" min="0" [value]="startValue" (input)="increase($event)" max="500" step="0.01">
            <div class="spacer"></div>
            <tl-progressbar [mode]="'determinate'" [color]="'information'" [end]="500" [start]="startValue" [progress]="startValue"></tl-progressbar>
            <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-progressbar [mode]="'determinate'" [color]="'information'" [end]="500" [start]="startValue" [progress]="startValue"></tl-progressbar>
</textarea>

            <div class="spacer"></div>
            <span>Indeterminate</span>
            <tl-progressbar [mode]="'indeterminate'"></tl-progressbar>
            <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-progressbar [mode]="'indeterminate'"></tl-progressbar>
</textarea>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
</div>
