<table class="datatable"  (keydown)="onKeydown($event)">
    <thead class="datatableHeader">
    <tr class="row">
        <th *ngFor="let column of datatable.columns;" [class]="' cel ' + datatable.getClassAlignment(column.alignment)">{{column.title}}</th>
    </tr>
    </thead>

    <tbody #datatableTbody class="datatableBody">
        <tr #tbody class="row" [tabindex]="i"  [@enterAnimation]="'in'" *ngFor="let row of  dataSourceService.datasource; let i = index" [ngStyle]="{'height': datatable._rowHeight+'px'}"
            (click)="datatable.onRowClick(dataSourceService.datasource[i],i)"
            (focus)="datatable.onRowSelect(dataSourceService.datasource[i],i)"
            (dblclick)="datatable.onRowDblclick(dataSourceService.datasource[i],i)"
        >
            <td *ngFor="let column of datatable.columns;" [class]="'cel ' + datatable.getClassAlignment(column.alignment)">{{row[column.field]}}</td>
        </tr>
    </tbody>
</table>