.tl-stopwatch {
  border-radius: 3px;
  display: flex;
  box-sizing: border-box;
}

.tl-stopwatch .icon {
  position: relative;
  width: 25%;
}

.tl-stopwatch .icon tl-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tl-stopwatch .time {
  position: relative;
  width: 75%;
  font-size: 2.4em;
}

.tl-stopwatch .time p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
