<ng-template ngFor let-column let-index [ngForOf]="tlColumnFilter">
    <th class="ui-cel ui-filter-cel">
        <div class="ui-filter">
            <div class="ui-dropdown"
                 *ngIf="column?.showFilterOptions && column?.filterOptions.length"
                 [ngClass]="{'-without-dropdown': !column?.showFilterOptions}">
                <tl-dropdown-list
                    [data]="column?.filterOptions"
                    [text]="'description'"
                    [icon]="'icon'"
                    [width]="'175px'"
                    [height]="'23px'"
                    [showOnlyIcon]="true"
                    [placeholder]="'Reset'"
                    [placeholderIcon]="'ion-search'"
                    [ngModel]="filters.matchMode[column.field]"
                    (ngModelChange)="onChangeFilter(filters.matchMode[column.field] = $event)"
                >
                </tl-dropdown-list>
            </div>
            <div  class="ui-input">
                <tl-input *ngIf="column?.showFilter"
                          [clearButton]="true"
                          [ngModel]="filters.value[column.field]"
                          (ngModelChange)="onChangeFilter(filters.value[column.field] = $event)"
                          [placeholder]="'Filter..'"
                          [type]="column?.type" >
                </tl-input>
            </div>
        </div>
    </th>
</ng-template>


