@charset "UTF-8";
@font-face {
  font-family: 'DXIcons';
  src: url(icons/dxicons.woff) format("woff"), url(icons/dxicons.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
.dx-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

.dx-icon-add {
  font: 14px/1 DXIcons; }

.dx-icon-add:before {
  content: "´Çï"; }

.dx-icon-airplane {
  font: 14px/1 DXIcons; }

.dx-icon-airplane:before {
  content: "´ÇÇ"; }

.dx-icon-bookmark {
  font: 14px/1 DXIcons; }

.dx-icon-bookmark:before {
  content: "´Çù"; }

.dx-icon-box {
  font: 14px/1 DXIcons; }

.dx-icon-box:before {
  content: "´Çÿ"; }

.dx-icon-car {
  font: 14px/1 DXIcons; }

.dx-icon-car:before {
  content: "´Çø"; }

.dx-icon-card {
  font: 14px/1 DXIcons; }

.dx-icon-card:before {
  content: "´ÇÖ"; }

.dx-icon-cart {
  font: 14px/1 DXIcons; }

.dx-icon-cart:before {
  content: "´ÇÜ"; }

.dx-icon-chart {
  font: 14px/1 DXIcons; }

.dx-icon-chart:before {
  content: "´Ç£"; }

.dx-icon-check {
  font: 14px/1 DXIcons; }

.dx-icon-check:before {
  content: "´Çà"; }

.dx-icon-clear {
  font: 14px/1 DXIcons; }

.dx-icon-clear:before {
  content: "´Çê"; }

.dx-icon-clock {
  font: 14px/1 DXIcons; }

.dx-icon-clock:before {
  content: "´ÇØ"; }

.dx-icon-close {
  font: 14px/1 DXIcons; }

.dx-icon-close:before {
  content: "´Çè"; }

.dx-icon-coffee {
  font: 14px/1 DXIcons; }

.dx-icon-coffee:before {
  content: "´Ç¬"; }

.dx-icon-comment {
  font: 14px/1 DXIcons; }

.dx-icon-comment:before {
  content: "´Ç×"; }

.dx-icon-doc {
  font: 14px/1 DXIcons; }

.dx-icon-doc:before {
  content: "´Çí"; }

.dx-icon-download {
  font: 14px/1 DXIcons; }

.dx-icon-download:before {
  content: "´Çó"; }

.dx-icon-dragvertical {
  font: 14px/1 DXIcons; }

.dx-icon-dragvertical:before {
  content: "´Ç©"; }

.dx-icon-edit {
  font: 14px/1 DXIcons; }

.dx-icon-edit:before {
  content: "´Çú"; }

.dx-icon-email {
  font: 14px/1 DXIcons; }

.dx-icon-email:before {
  content: "´Çñ"; }

.dx-icon-event {
  font: 14px/1 DXIcons; }

.dx-icon-event:before {
  content: "´Çª"; }

.dx-icon-favorites {
  font: 14px/1 DXIcons; }

.dx-icon-favorites:before {
  content: "´ÇÑ"; }

.dx-icon-find {
  font: 14px/1 DXIcons; }

.dx-icon-find:before {
  content: "´Çº"; }

.dx-icon-filter-operation-equals {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-equals:before {
  content: "\f044 "; }

.dx-icon-filter {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-default:before {
  content: "\f027 "; }

.dx-icon-filter-operation-not-equals {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-not-equals:before {
  content: "\f045 "; }

.dx-icon-filter-operation-less {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-less:before {
  content: "\f046 "; }

.dx-icon-filter-operation-less-equal {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-less-equal:before {
  content: "\f048 "; }

.dx-icon-filter-operation-greater {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-greater:before {
  content: "\f047 "; }

.dx-icon-filter-operation-greater-equal {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-greater-equal:before {
  content: "\f049 "; }

.dx-icon-filter-operation-contains {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-contains:before {
  content: "\f063 "; }

.dx-icon-filter-operation-not-contains {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-not-contains:before {
  content: "\f066 "; }

.dx-icon-filter-operation-starts-with {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-starts-with:before {
  content: "\f064 "; }

.dx-icon-filter-operation-ends-with {
  font: 14px/1 DXIcons; }

.dx-icon-filter-operation-ends-with:before {
  content: "\f065 "; }

.dx-icon-filter:before {
  content: "´üÉ"; }

.dx-icon-folder {
  font: 14px/1 DXIcons; }

.dx-icon-folder:before {
  content: "´Ç¿"; }

.dx-icon-food {
  font: 14px/1 DXIcons; }

.dx-icon-food:before {
  content: "´Ç®"; }

.dx-icon-gift {
  font: 14px/1 DXIcons; }

.dx-icon-gift:before {
  content: "´Ç½"; }

.dx-icon-globe {
  font: 14px/1 DXIcons; }

.dx-icon-globe:before {
  content: "´Ç¼"; }

.dx-icon-group {
  font: 14px/1 DXIcons; }

.dx-icon-group:before {
  content: "´Ç«"; }

.dx-icon-help {
  font: 14px/1 DXIcons; }

.dx-icon-help:before {
  content: "´Ç»"; }

.dx-icon-home {
  font: 14px/1 DXIcons; }

.dx-icon-home:before {
  content: "´Ç░"; }

.dx-icon-image {
  font: 14px/1 DXIcons; }

.dx-icon-image:before {
  content: "´Ç▒"; }

.dx-icon-info {
  font: 14px/1 DXIcons; }

.dx-icon-info:before {
  content: "´Ç▓"; }

.dx-icon-key {
  font: 14px/1 DXIcons; }

.dx-icon-key:before {
  content: "´Ç│"; }

.dx-icon-like {
  font: 14px/1 DXIcons; }

.dx-icon-like:before {
  content: "´Ç┤"; }

.dx-icon-map {
  font: 14px/1 DXIcons; }

.dx-icon-map:before {
  content: "´ÇÁ"; }

.dx-icon-menu {
  font: 14px/1 DXIcons; }

.dx-icon-menu:before {
  content: "´Çî"; }

.dx-icon-message {
  font: 14px/1 DXIcons; }

.dx-icon-message:before {
  content: "´Çñ"; }

.dx-icon-money {
  font: 14px/1 DXIcons; }

.dx-icon-money:before {
  content: "´ÇÂ"; }

.dx-icon-music {
  font: 14px/1 DXIcons; }

.dx-icon-music:before {
  content: "´ÇÀ"; }

.dx-icon-overflow {
  font: 14px/1 DXIcons; }

.dx-icon-overflow:before {
  content: "´Çì"; }

.dx-icon-percent {
  font: 14px/1 DXIcons; }

.dx-icon-percent:before {
  content: "´Ç╣"; }

.dx-icon-photo {
  font: 14px/1 DXIcons; }

.dx-icon-photo:before {
  content: "´Ç║"; }

.dx-icon-plus {
  font: 14px/1 DXIcons; }

.dx-icon-plus:before {
  content: "´Çï"; }

.dx-icon-preferences {
  font: 14px/1 DXIcons; }

.dx-icon-preferences:before {
  content: "´Ç╗"; }

.dx-icon-product {
  font: 14px/1 DXIcons; }

.dx-icon-product:before {
  content: "´Ç╝"; }

.dx-icon-pulldown {
  font: 14px/1 DXIcons; }

.dx-icon-pulldown:before {
  content: "´üó"; }

.dx-icon-refresh {
  font: 14px/1 DXIcons; }

.dx-icon-refresh:before {
  content: "´Ç¢"; }

.dx-icon-remove {
  font: 14px/1 DXIcons; }

.dx-icon-remove:before {
  content: "´Çè"; }

.dx-icon-revert {
  font: 14px/1 DXIcons; }

.dx-icon-revert:before {
  content: "´üî"; }

.dx-icon-runner {
  font: 14px/1 DXIcons; }

.dx-icon-runner:before {
  content: "´üÇ"; }

.dx-icon-save {
  font: 14px/1 DXIcons; }

.dx-icon-save:before {
  content: "´üü"; }

.dx-icon-search {
  font: 14px/1 DXIcons; }

.dx-icon-search:before {
  content: "´Çº"; }

.dx-icon-tags {
  font: 14px/1 DXIcons; }

.dx-icon-tags:before {
  content: "´Çë"; }

.dx-icon-tel {
  font: 14px/1 DXIcons; }

.dx-icon-tel:before {
  content: "´Çâ"; }

.dx-icon-tips {
  font: 14px/1 DXIcons; }

.dx-icon-tips:before {
  content: "´Çä"; }

.dx-icon-todo {
  font: 14px/1 DXIcons; }

.dx-icon-todo:before {
  content: "´Çà"; }

.dx-icon-toolbox {
  font: 14px/1 DXIcons; }

.dx-icon-toolbox:before {
  content: "´Çç"; }

.dx-icon-trash {
  font: 14px/1 DXIcons; }

.dx-icon-trash:before {
  content: "´Ç¥"; }

.dx-icon-user {
  font: 14px/1 DXIcons; }

.dx-icon-user:before {
  content: "´Ç¡"; }

.dx-icon-upload {
  font: 14px/1 DXIcons; }

.dx-icon-upload:before {
  content: "´Çå"; }

.dx-icon-floppy {
  font: 14px/1 DXIcons; }

.dx-icon-floppy:before {
  content: "´ü│"; }

.dx-icon-arrowleft {
  font: 14px/1 DXIcons; }

.dx-icon-arrowleft:before {
  content: "´Çæ"; }

.dx-icon-arrowdown {
  font: 14px/1 DXIcons; }

.dx-icon-arrowdown:before {
  content: "´Çò"; }

.dx-icon-arrowright {
  font: 14px/1 DXIcons; }

.dx-icon-arrowright:before {
  content: "´ÇÄ"; }

.dx-icon-arrowup {
  font: 14px/1 DXIcons; }

.dx-icon-arrowup:before {
  content: "´Çô"; }

.dx-icon-spinleft {
  font: 14px/1 DXIcons; }

.dx-icon-spinleft:before {
  content: "´üÅ"; }

.dx-icon-spinright {
  font: 14px/1 DXIcons; }

.dx-icon-spinright:before {
  content: "´üÄ"; }

.dx-icon-spinnext {
  font: 14px/1 DXIcons; }

.dx-icon-spinnext:before {
  content: "´üÄ"; }

.dx-rtl .dx-icon-spinnext:before {
  content: "´üÅ"; }

.dx-icon-spinprev {
  font: 14px/1 DXIcons; }

.dx-icon-spinprev:before {
  content: "´üÅ"; }

.dx-rtl .dx-icon-spinprev:before {
  content: "´üÄ"; }

.dx-icon-spindown {
  font: 14px/1 DXIcons; }

.dx-icon-spindown:before {
  content: "´Çü"; }

.dx-icon-spinup {
  font: 14px/1 DXIcons; }

.dx-icon-spinup:before {
  content: "´Çé"; }

.dx-icon-chevronleft {
  font: 14px/1 DXIcons; }

.dx-icon-chevronleft:before {
  content: "´ÇÆ"; }

.dx-icon-chevronright {
  font: 14px/1 DXIcons; }

.dx-icon-chevronright:before {
  content: "´ÇÉ"; }

.dx-icon-chevronnext {
  font: 14px/1 DXIcons; }

.dx-icon-chevronnext:before {
  content: "´ÇÉ"; }

.dx-rtl .dx-icon-chevronnext:before {
  content: "´ÇÆ"; }

.dx-icon-chevronprev {
  font: 14px/1 DXIcons; }

.dx-icon-chevronprev:before {
  content: "´ÇÆ"; }

.dx-rtl .dx-icon-chevronprev:before {
  content: "´ÇÉ"; }

.dx-icon-chevrondown {
  font: 14px/1 DXIcons; }

.dx-icon-chevrondown:before {
  content: "´Çû"; }

.dx-icon-chevronup {
  font: 14px/1 DXIcons; }

.dx-icon-chevronup:before {
  content: "´Çö"; }

.dx-icon-chevrondoubleleft {
  font: 14px/1 DXIcons; }

.dx-icon-chevrondoubleleft:before {
  content: "´üé"; }

.dx-icon-chevrondoubleright {
  font: 14px/1 DXIcons; }

.dx-icon-chevrondoubleright:before {
  content: "´üâ"; }

.dx-icon-equal {
  font: 14px/1 DXIcons; }

.dx-icon-equal:before {
  content: "´üä"; }

.dx-icon-notequal {
  font: 14px/1 DXIcons; }

.dx-icon-notequal:before {
  content: "´üà"; }

.dx-icon-less {
  font: 14px/1 DXIcons; }

.dx-icon-less:before {
  content: "´üå"; }

.dx-icon-greater {
  font: 14px/1 DXIcons; }

.dx-icon-greater:before {
  content: "´üç"; }

.dx-icon-lessorequal {
  font: 14px/1 DXIcons; }

.dx-icon-lessorequal:before {
  content: "´üê"; }

.dx-icon-greaterorequal {
  font: 14px/1 DXIcons; }

.dx-icon-greaterorequal:before {
  content: "´üë"; }

.dx-icon-sortup {
  font: 14px/1 DXIcons; }

.dx-icon-sortup:before {
  content: "´üæ"; }

.dx-icon-sortdown {
  font: 14px/1 DXIcons; }

.dx-icon-sortdown:before {
  content: "´üÆ"; }

.dx-icon-sortuptext {
  font: 14px/1 DXIcons; }

.dx-icon-sortuptext:before {
  content: "´üô"; }

.dx-icon-sortdowntext {
  font: 14px/1 DXIcons; }

.dx-icon-sortdowntext:before {
  content: "´üö"; }

.dx-icon-sorted {
  font: 14px/1 DXIcons; }

.dx-icon-sorted:before {
  content: "´üò"; }

.dx-icon-expand {
  font: 14px/1 DXIcons; }

.dx-icon-expand:before {
  content: "´üè"; }

.dx-icon-collapse {
  font: 14px/1 DXIcons; }

.dx-icon-collapse:before {
  content: "´üï"; }

.dx-icon-columnfield {
  font: 14px/1 DXIcons; }

.dx-icon-columnfield:before {
  content: "´üù"; }

.dx-icon-rowfield {
  font: 14px/1 DXIcons; }

.dx-icon-rowfield:before {
  content: "´üÿ"; }

.dx-icon-datafield {
  font: 14px/1 DXIcons; }

.dx-icon-datafield:before {
  content: "´üû"; }

.dx-icon-fields {
  font: 14px/1 DXIcons; }

.dx-icon-fields:before {
  content: "´üÖ"; }

.dx-icon-fieldchooser {
  font: 14px/1 DXIcons; }

.dx-icon-fieldchooser:before {
  content: "´üÜ"; }

.dx-icon-columnchooser {
  font: 14px/1 DXIcons; }

.dx-icon-columnchooser:before {
  content: "´üì"; }

.dx-icon-pin {
  font: 14px/1 DXIcons; }

.dx-icon-pin:before {
  content: "´üø"; }

.dx-icon-unpin {
  font: 14px/1 DXIcons; }

.dx-icon-unpin:before {
  content: "´ü£"; }

.dx-icon-pinleft {
  font: 14px/1 DXIcons; }

.dx-icon-pinleft:before {
  content: "´üØ"; }

.dx-icon-pinright {
  font: 14px/1 DXIcons; }

.dx-icon-pinright:before {
  content: "´ü×"; }

.dx-icon-contains {
  font: 14px/1 DXIcons; }

.dx-icon-contains:before {
  content: "´üú"; }

.dx-icon-startswith {
  font: 14px/1 DXIcons; }

.dx-icon-startswith:before {
  content: "´üñ"; }

.dx-icon-endswith {
  font: 14px/1 DXIcons; }

.dx-icon-endswith:before {
  content: "´üÑ"; }

.dx-icon-doesnotcontain {
  font: 14px/1 DXIcons; }

.dx-icon-doesnotcontain:before {
  content: "´üª"; }

.dx-icon-range {
  font: 14px/1 DXIcons; }

.dx-icon-range:before {
  content: "´ü¬"; }

.dx-icon-export {
  font: 14px/1 DXIcons; }

.dx-icon-export:before {
  content: "´üƒ"; }

.dx-icon-exportxlsx {
  font: 14px/1 DXIcons; }

.dx-icon-exportxlsx:before {
  content: "´üá"; }

.dx-icon-exportpdf {
  font: 14px/1 DXIcons; }

.dx-icon-exportpdf:before {
  content: "´üí"; }

.dx-icon-exportselected {
  font: 14px/1 DXIcons; }

.dx-icon-exportselected:before {
  content: "´ü¡"; }

.dx-icon-warning {
  font: 14px/1 DXIcons; }

.dx-icon-warning:before {
  content: "´ü½"; }

.dx-icon-more {
  font: 14px/1 DXIcons; }

.dx-icon-more:before {
  content: "´ü¼"; }

.dx-icon-square {
  font: 14px/1 DXIcons; }

.dx-icon-square:before {
  content: "´üº"; }

.dx-icon-clearsquare {
  font: 14px/1 DXIcons; }

.dx-icon-clearsquare:before {
  content: "´ü¿"; }

.dx-icon-back {
  font: 14px/1 DXIcons; }

.dx-icon-back:before {
  content: "´ÇÆ"; }

.dx-rtl .dx-icon-back:before {
  content: "´ÇÉ"; }

.dx-icon-repeat {
  font: 14px/1 DXIcons; }

.dx-icon-repeat:before {
  content: "´ü®"; }

.dx-icon-selectall {
  font: 14px/1 DXIcons; }

.dx-icon-selectall:before {
  content: "´ü░"; }

.dx-icon-unselectall {
  font: 14px/1 DXIcons; }

.dx-icon-unselectall:before {
  content: "´ü▒"; }

.dx-icon-print {
  font: 14px/1 DXIcons; }

.dx-icon-print:before {
  content: "´ü▓"; }

/*# sourceMappingURL=dx-icons.css.map */
