<div class="ui-wrapper-list">
  <div class="dropdown-list-wrapper-select" [ngStyle]="{'width': width}">

    <div class="search-input" *ngIf="searchOnList && !customFocus">
      <tl-input
        (keyup)="handleKeyUp($event)"
        (keydown)="handleKeyEvents($event)"
        (keydown.enter)="emitSelectOption(); $event.preventDefault()"
        [iconBefore]="'ion-ios-search-strong'">
      </tl-input>
    </div>

    <section class="dropdown-list-select"
        (keydown)="handleKeyEvents($event)"
        (keydown.space)="$event.preventDefault()"
        (keydown.enter)="emitSelectOption(); $event.preventDefault()"
        [style.maxHeight]="maxHeight"
        tabindex="0">
        <div class="ui-label-notfound" *ngIf="notFound">{{ emptyList }}</div>
        <tl-list-item *ngFor="let item of datasource; let i = index"
                      (searchEmit)="searching()"
                      [searchOnList]="searchOnList"
                      [height]="itemHeight"
                      (keydown.enter)="handleClickOption(i)"
                      (click)="handleClickOption(i)"
                      [item]="item">
          {{ typeOfData === 'simple' ? item : item[keyText] }}
        </tl-list-item>
    </section>
  </div>
</div>
