* {
  user-select: none;
  cursor: pointer;
}

.ui-multiview-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}


.ui-multiview-container {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.ui-multiview-translate {
  position: relative;
  display: flex;
}
