<div [class]="'tl-permissions ' + color" [style.height]="height">
  <div class="ui-wrapper-permissions" [style.height]="height">
    <div class="ui-permissions-header">
      <div class="ui-panel-search-1">
        <tl-input #filterGroup
                  (input)="inputFilterGroup($event.target.value)"
                  (keydown.ArrowDown)="setFirstGroupSelected()"
                  (clear)="setUpDataSource(); setFirstGroupSelected()"
                  [flatBorder]="true"
                  [withBorder]="false"
                  [iconBefore]="'ion ion-ios-search'" [placeholder]="searchGroup"
                  [clearButton]="true" [height]="'30px'">
        </tl-input>
      </div>
      <div class="ui-panel-search-2">
        <div class="ui-panel-search">
          <tl-input
            #filterPermission
            (input)="inputFilterPermissions($event.target.value)"
            (keydown.ArrowDown)="setFirstPermissionSelected()"
            (clear)="setSelectedGroup(); setFirstPermissionSelected()"
            [flatBorder]="true"
            [withBorder]="false"
            [iconBefore]="'ion ion-ios-search'"
            [placeholder]="searchFunctionality"
            [clearButton]="true" [height]="'30px'">
          </tl-input>
        </div>
        <div class="ui-check-header">
          <div><span>{{ allowColumn }}</span></div>
        </div>
      </div>
    </div>
    <div class="ui-container-permissions">
      <div class="ui-permissions-panel">
        <div class="nothing-shown" *ngIf="dataSource?.length === 0">
          <span class="not-found-text">{{ notFound }}</span>
        </div>
        <ul #listGroup class="ui-permission-list" [style.display]="dataSource?.length > 0 ? 'block' : 'none'">
          <li tabindex="-1" *ngFor="let item of dataSource; let i = index"
              permissionGroup
              [permissions]="item[keyPermissions]"
              (selectGroup)="selectGroup($event, i)"
              (click)="keyManagerPermissionGroup.setActiveItem(i)"
              (keydown)="handleKeyManager($event, keyManagerPermissionGroup)"
              (keydown.ArrowRight)="setRightListFocus()"
              (keydown.space)="handleSpaceSelect($event, item)">
            <span>{{ item[keyGroup] }}</span>
            <span class="ui-checkbox">
            <tl-checkbox [label]="' '"
                         (checkBox)="onCheckGroup($event)"
                         [(ngModel)]="item.checked"
                         [indeterminate]="item.checked === 'indeterminate'"
                         [color]="'primary'">
            </tl-checkbox>
          </span>
          </li>
        </ul>
      </div>
      <div class="ui-permissions-detail-panel">
        <div class="nothing-shown" *ngIf="!selected || dataSourceSelected?.length === 0">
          <i *ngIf="dataSourceSelected?.length !== 0 && !selected" class="ion-android-time"></i>
          <span *ngIf="dataSourceSelected?.length === 0" class="not-found-text">{{ notFound }}</span>
        </div>
        <ul #listPermission class="ui-permission-list" [style.display]="selected ? 'block' : 'none'">
          <li tabindex="-1" *ngFor="let item of dataSourceSelected; let i = index"
              role="option"
              (click)="keyManagerPermissionList.setActiveItem(i)"
              (keydown)="handleKeyManager($event, keyManagerPermissionList)"
              (keydown.space)="handleSelectPermission($event, item)"
              (keydown.ArrowLeft)="setLeftListFocus()"
              class="ui-detail-list">
            <span>{{ item[keyPermissionDescription] }}</span>
            <div class="ui-checkbox permission">
              <tl-checkbox [label]="' '"
                           [(ngModel)]="item.allow"
                           (checkBox)="handleCheckPermission(); emitChange()"
                           [color]="'primary'">
              </tl-checkbox>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
