.ui-toaster-wrapper {
  margin: 10px;
  height: auto;
  width: 300px;
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1) 0.1s;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  .ui-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 0.8em;
    &:hover {
      cursor: pointer;
    }
  }

  .ui-toaster-content {
    display: grid;
    align-items: center;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 1.1em;
    height: 100%;
    box-sizing: border-box;

    > .ui-toaster-icon {
      text-align: center;
      font-size: 1.5em;
    }

    > .ui-toaster-description {
      word-break: break-all;
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    }

  }

  p {
    margin: 0;
  }

}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: calc(50% - 150px);
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: calc(50% - 150px);
}

.top-right {
  top: 0;
  right: 0;
}
