.ui-toaster-wrapper {
  margin: 10px;
  height: auto;
  width: 300px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  box-sizing: border-box;
  animation: toasterIn 0.3s;

  &:hover {
    cursor: pointer;
  }

  .ui-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 0.8em;
    &:hover {
      cursor: pointer;
    }
  }

  .ui-toaster-content {
    display: grid;
    align-items: center;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 1.1em;
    height: 100%;
    box-sizing: border-box;
    place-content: center;

    > .ui-toaster-icon {
      text-align: center;
      font-size: 1.2em;
    }

    > .ui-toaster-description {
      word-break: break-word;
      text-align: justify;
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
      white-space: pre-wrap;
      &:first-child {
        font-size: 16px;
      }
      &:last-child {
        font-size: 14px;
      }
    }
  }

  p {
    margin: 0;
  }

}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: calc(50% - 150px);
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: calc(50% - 150px);
}

.top-right {
  top: 0;
  right: 0;
}

@keyframes toasterIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toasterOut {
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}
