<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">TimePicker <span class="module-name"><code><u>Module Name</u>: <strong>TimePickerModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>TimePickerModule</strong></code></p>
    <p class="text-content">Timepicker can parse the most used time representations allowing you and your users to enter time using their preferred way for writing it.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-6">
              <h5>Basic</h5>
              <tl-timepicker [(ngModel)]="time"></tl-timepicker>
              <div class="spacer"></div>
            </div>
            <div class="col-md-6">
              <h5>Icon Time Picker</h5>
              <tl-timepicker [(ngModel)]="timeIcon" [iconTimepicker]="true"></tl-timepicker>
              <div class="spacer"></div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-6">
              <h5>Without Button Done</h5>
              <tl-timepicker [(ngModel)]="timeButton" [showButtonDone]="false"></tl-timepicker>
              <div class="spacer"></div>
            </div>
            <div class="col-md-6">
              <h5>AutoClose</h5>
              <tl-timepicker [(ngModel)]="timeClose" [autoClose]="true"></tl-timepicker>
              <div class="spacer"></div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
  <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
    <app-card>
      <app-showcase-table-properties [data]="dataProperties"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'fas fa-broadcast-tower'">
    <app-card>
      <app-showcase-table-events [data]="dataPropertiesEvents"></app-showcase-table-events>
    </app-card>
  </app-showcase-card>
</div>
