.content-head {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #66cc99;
  color: #FFFFFF;
}

.content-head .content-title {
  font-size: 14px;
  font-weight: bold;
}

.content-body {
  border: 1px solid #DDDDDD;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.content-body .content-text {
  padding: 5px 10px;
  font-size: 12px;
}
