<div class="ui-schedule-heading-wrapper">
  <div class="ui-schedule-heading-views">
    <div class="ui-schedule-views-choices">
      <tl-button-group [height]="'30px'" >
        <tl-button-group-item *ngFor="let view of views"
                              [width]="'100px'"
                              [text]="texts.views[view]"
                              [selected]="view === defaultView"
                              (click)="changeView.emit(view)"
        >
        </tl-button-group-item>
      </tl-button-group>

    </div>
  </div>
  <div class="ui-schedule-heading-navigator">
    <tl-navigator
      [type]="'day'"
      [date]="currentDate"
      (clickNext)="changeDate.emit($event)"
      (clickPrevious)="changeDate.emit($event)">
    </tl-navigator>
  </div>
  <div class="ui-schedule-heading-tools">
    <ng-container *ngTemplateOutlet="eventButtonTemplate?eventButtonTemplate:defaultButton"></ng-container>
    <ng-template #defaultButton>
      <tl-button (click)="newEventClick.emit()" [text]="texts.buttons.addEvent" [iconBeforeText]="'fas fa-plus'" color="primary"></tl-button>
    </ng-template>
  </div>
</div>
