.ui-schedule-heading-wrapper{
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.ui-schedule-heading-views{
  height: 100%;
  flex-basis: 50%;
  text-align: left;
}

.ui-schedule-heading-navigator{
  height: 34px;
  flex-basis: 185px;
}

.ui-schedule-heading-tools{
  height: 34px;
  flex-basis: 50%;
  text-align: right;
}
