.tl-datatable-box{
  width: 100%;
  box-sizing: border-box;
}

.ui-datatable-table{
  font-family: "RobotoRegular",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
