<div class="tl-datatable-box" #datatableBox
     [ngClass]="{'-borderleft': true}"
     [ngStyle]="{width: width}">
    <tl-datatable-header [dt]="this"
                         (filterEvent)="onChangeFilter($event)"
                         (sortEvent)="onChangeSort($event)"
                         (keydownFilterEvent)="onKeydownFilter($event)"
    >
    </tl-datatable-header>
    <tl-datatable-content
      [dataSource]="dataSource"
      [data]="data"
      [rowHeight]="rowHeight"
      [heightViewPort]="heightViewPort"
      [columns]="columns"
      [contextMenuItems]="contextMenuItems"
      (rowSelect)="onRowSelect( $event.row, $event.index )"
      (rowDbClick)="onRowDblclick( $event.row, $event.index )"
      (rowClick)="onRowClick( $event.row, $event.index )">
    </tl-datatable-content>
</div>

