* {
  box-sizing: border-box;
}

.ui-loading {
  position: absolute;
  width: 20px;
  right: 5px;
}

.ui-close {
  position: absolute;
  right: 5px;
  top: 4px;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  place-content: center;
  font-size: 1.6em;
  opacity: 0.3;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.ui-autocomplete-box {
  display: table;
  width: 100%;
}

.scrollOpenedAbove {
  border-bottom: 0 !important;
  -webkit-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
}

.ui-scroll-view {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-stop: always;
  overflow-x: hidden;
  width: 100%;
  outline: none;
  height: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  outline: 0;
  top: -3px;
  box-sizing: content-box;
  background: #ffffff;

  &::-webkit-scrollbar {
    background: #fff;
    width: 8px;
  }

  &::-webkit-scrollbar-corner {
    background: #DCDCDC;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background: #66cc99;
    border-radius: 5px;
  }
}

.scrollOpened {
  -webkit-animation: slide-in-top 0.2s both;
  animation: slide-in-top 0.2s both;
}

.ui-selected-wrapper {
  display: table-cell;
  position: absolute;
  background: #c3c3c3;
  width: calc(100% - 6px);
  box-sizing: border-box;
  border-radius: 3px;
  height: calc(100% - 6px);
  padding: 0 5px;
  pointer-events: none;
  opacity: .2;
  margin: 3px;
  z-index: 0;
  top: 0;
}

.ui-wrapper-filter {
  height: 30px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;

  .ui-input {
    border: 0;
    outline: none;
    height: 100%;
    width: 100%;
  }
  .ui-model-input {
    left: 0;
    position: absolute;
    visibility: hidden;
  }
}

.openedAbove {
  -webkit-border-radius: 0 0 3px 3px !important;
  border-radius: 0 0 3px 3px !important;
  border: 1px solid #40a9ff !important;
}

.opened {
  outline: 0;
  -webkit-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  border-right-width: 1px !important;
  pointer-events: none;
}

.ui-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  outline: none;
  border-top: 1px solid #cccccc2e;
  color: #000000c4;
  > .ui-icon {
    padding-right: 5px;
  }
  &:focus:not(.selected) {
    opacity: 1;
    background: #d5d5d56b !important;
    color: #000000c4 !important;
  }

  &:hover {
    background: #eeeeee;
  }

  &.selected {
    opacity: 1;
    background: #6c9;
    color: #ffff !important;
    /deep/ span {
      background: transparent !important;
    }
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
