<div class="ui-autocomplete-box">
  <tl-label *ngIf="label" [labelTitle]="label" [labelPlacement]="labelPlacement" [labelSize]="labelSize"></tl-label>
  <div class="ui-autocomplete-wrapper">
    <div class="ui-wrapper-filter"
         #input
         [style.height]="height"
         [class.opened]="isOpen && positionOverlay !== 'top'"
         [class.openedAbove]="positionOverlay === 'top' && isOpen">
      <input #input
             #trigger="cdkOverlayOrigin"
             cdkOverlayOrigin
             (click)="isOpen = !isOpen"
             [attr.placeholder]="placeholder"
             [value]="selected"
             [formControl]="searchControl"
             (keydown.ArrowDown)="setActiveItemFirst()"
             (keydown.escape)="$event.stopPropagation(); isOpen = false"
             (keydown.tab)="handleBlur()"
             (focus)="handleFocus()"
             (focusout)="focused = false"
             (input)="filtering = true"
             class="ui-input">
      <input readonly notform class="ui-model-input" [(ngModel)]="value">
      <div class="ui-selected-wrapper" *ngIf="selected && !focused"></div>
    </div>
    <tl-filter-container [searchTerm]="searchControl.value"
                         [debounceTime]="debounceTime"
                         [lazyMode]="lazyMode"
                         [source]="data"
                         [searchBy]="searchBy"
                         (filter)="onFilter($event)">
      <ng-template cdkConnectedOverlay
                   (backdropClick)="isOpen = false; filtering = false"
                   (positionChange)="onPositionChange($event)"
                   [cdkConnectedOverlayHasBackdrop]="true"
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                   [cdkConnectedOverlayOpen]="isOpen">
        <cdk-virtual-scroll-viewport *ngIf="isOpen"
                                     class="ui-scroll-view"
                                     [itemSize]="itemSize"
                                     [style.width]="input.offsetWidth + 'px'"
                                     (scrolledIndexChange)="filtering = false"
                                     [tlBlockui]="nothingFound"
                                     [blockuiConfig]="{ 'message': 'Nothing Found' }"
                                     [class.scrollOpenedAbove]="positionOverlay === 'top' && isOpen"
                                     [class.scrollOpened]="isOpen && positionOverlay !== 'top'">
          <div *cdkVirtualFor="let item of dataSource; let i = index" [style.height]="itemSize + 'px'" role="option"
               tabindex="0"
               [class.selected]="selectedIndex === i"
               (keydown)="handleKeyEvents($event)"
               (keydown.enter)="selectItem(item, i);"
               (click)="selectItem(item, i)"
               class="ui-list-item">
            <tl-icon class="ui-icon" *ngIf="!getItemDescription(item)" [lib]="'fa'" [animation]="'spin'">spinner</tl-icon>
            {{ getItemDescription(item) || messageLoading }}
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-template>
    </tl-filter-container>
  </div>
</div>
