<div class="ui-autocomplete-box">

  <tl-label *ngIf="label" [labelTitle]="label" [labelPlacement]="labelPlacement" [labelSize]="labelSize"></tl-label>
  <div [class]="'ui-autocomplete-wrapper ' + color">
    <div class="ui-wrapper-filter"
         [class.disabled]="disabled || isDisabled"
         [style.height]="height"
         [class.opened]="isOpen && positionOverlay !== 'top'"
         [class.openedAbove]="positionOverlay === 'top' && isOpen">
      <div *ngIf="loading" class="ui-loading" [style.height]="height">
        <tl-loader></tl-loader>
      </div>
      <div *ngIf="selected && !loading" class="ui-close" (click)="onClickClose()" (mouseover)="onHoverClose()" (mouseleave)="onLeaveClose()">
        <i [class]="!closeHover ? 'ion ion-ios-close-circle-outline' : 'ion ion-ios-close-circle'"></i>
      </div>
      <input #input
             #trigger="cdkOverlayOrigin"
             cdkOverlayOrigin
             [attr.disabled]="disabled || isDisabled ? true : null"
             (click)="toggleIsOpen()"
             [attr.placeholder]="placeholder"
             [formControl]="searchControl"
             (keydown.ArrowUp)="handleKeyArrowUp($event)"
             (keydown.ArrowDown)="handleKeyArrowDown($event)"
             (keydown.escape)="handleKeyEscape($event)"
             (blur)="handleBlur()"
             (keyup.enter)="handleBlur()"
             (focus)="handleFocus()"
             (focusout)="focused = false"
             (input)="onInput()"
             class="ui-input">
      <input readonly notform class="ui-model-input" [(ngModel)]="value">
    </div>
    <tl-filter-container [searchTerm]="searchControl.value"
                         [debounceTime]="debounceTime"
                         [lazyMode]="lazyMode"
                         [source]="data"
                         [searchBy]="searchBy"
                         (filter)="onFilter($event)">
      <ng-template cdkConnectedOverlay
                   (backdropClick)="onBackdropClick()"
                   (positionChange)="onPositionChange($event)"
                   [cdkConnectedOverlayHasBackdrop]="true"
                   [cdkConnectedOverlayOrigin]="trigger"
                   [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                   [cdkConnectedOverlayOpen]="isOpen">
        <cdk-virtual-scroll-viewport class="ui-scroll-view"
                                     [itemSize]="rowHeight"
                                     [style.width]="input.offsetWidth + 'px'"
                                     (scrolledIndexChange)="onScrollIndexChange($event)"
                                     [tlBlockui]="nothingFound"
                                     [blockuiConfig]="{ 'message': nothingFoundMessage }"
                                     [class.scrollOpenedAbove]="positionOverlay === 'top' && isOpen"
                                     [class.scrollOpened]="isOpen && positionOverlay !== 'top'">
          <div [style.height]="rowHeight + 'px'"
               [itemSelected]="item"
               [indexSelected]="i"
               #select="selectItem"
               *cdkVirtualFor="let item of dataSource; let i = index"
               (mousedown)="selectItem(item, select)"
               class="ui-list-item">
            <span *ngIf="item; else loadingMessage">
              {{ getItemText(item) }}
            </span>
          </div>
        </cdk-virtual-scroll-viewport>
      </ng-template>
      <ng-template #loadingMessage>
        {{ messageLoading }}
      </ng-template>
    </tl-filter-container>
  </div>
</div>
