#blockui {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.blockui-content {
  display: inline-block;
  text-align: center;
}

.blockui-content span {
  position: relative;
  font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  color: #a5a3a2;
}

.blockui-content tl-icon {
  display: flex;
  width: 150px;
  color: #a5a3a2;
  align-items: center;
  justify-content: center;
}

.spin {
  -webkit-animation: rotation 800ms infinite linear;
  transform-origin: 50% 50% !important;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
