:host {
  position: relative;
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.ui-sidebar {
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 800;
  transition:
    left  200ms cubic-bezier(0.69, 0.01, 0, 1),
    right 200ms cubic-bezier(0.69, 0.01, 0, 1),
    width 200ms cubic-bezier(0.69, 0.01, 0, 1);
}

.start {
  left: -1000px;
  visibility: hidden;
}

.end {
  right: -1000px;
  visibility: hidden;
}

.animate-start {
  visibility: visible;
  left: 0;
}

.animate-dock {
  visibility: visible;
  left: 0;
}

.animate-end {
  visibility: visible;
  right: 0;
}

