.info-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 2px;
  -webkit-box-shadow: 1px 1px 5px 1px #DEDEDE;
  box-shadow: 1px 1px 5px 1px #DEDEDE;
}

.header {
  margin-top: 20px;
  -webkit-border-radius: 5px 5px 0 0;
  line-height: 45px;
}

.title-feature {
  font-size: 2em;
}

.info-box span {
  padding: 10px;
}

.info-box i {
  font-size: 2em;
}

.info-box h2 {
  margin: 0 !important;
}

.info-box p {
  line-height: 25px;
}
