@import "../core/core";

//Default
$button-height: 39px;
$button-min-width: 100px;
$button-icon-padding: 0.2em;
$button-addon-padding: 0 15px;
$button-display: inline-block;
$button-font-size: 15px;
$button-font-family: 'Segoe UI', sans-serif;
$button-text-align: center;

.tl-button-box {
  height: $button-height;
  font-family: $button-font-family;
  font-size: $button-font-size;
  outline: none;
  cursor: pointer;
  text-align: $button-text-align;
  display: $button-display;
  background-color:#E8E8E8;
  border: 1px solid #C8C8C8;
  color: #616161;

  &.-disabled{
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default !important;
  }

  > .addon {
    font-weight: 400;
    height: $button-height - 2;
    display: $button-display;
  }

  > .addon.-iconbefore {
    float: left;
    padding: $button-addon-padding;
    border-right: 1px solid #C8C8C8;
  }

  > .addon.-iconbefore > i {
    margin: 0;
    padding: 0;
    line-height: $button-height;
  }

  > .addon.-iconafter {
    float: right;
    padding: $button-addon-padding;
    border-left: 1px solid #C8C8C8;
  }

  > .addon.-iconafter > i {
    margin: 0;
    padding: 0;
    line-height: $button-height;
  }
}

.tl-button-box:hover{
  background-color: #dedede;
}

.tl-button-box:active{
  background-color: #d8d8d8;
}

.button {
  border: 0;
  margin: 0 auto;
  display: $button-display;
  background: transparent;
  height: $button-height;
  min-width: $button-min-width;
  text-align: $button-text-align;

  > .iconLeftTextButton{
    padding-right: $button-icon-padding;
  }

  > .iconRightTextButton{
    padding-left: $button-icon-padding;
  }
}

.button:active, .button:focus, .button:any-link {
  outline: none;
}
