<div #buttonBox class="tl-button-box" [ngStyle]="getStyle()" [ngClass]="{'-disabled': disabled}">

    <div *ngIf="iconBefore.icon" class="addon -iconbefore" [ngStyle]="getAddonStyle('left')">
        <i [ngClass]="iconBefore.icon" [ngStyle]="{'color': iconBefore.fontColor}" id="iconLeft"></i>
    </div>

    <button #button
            [type]="type"
            [ngStyle]="{'width': width}"
            class="button"
            [disabled]="disabled ? true : null">

        <span *ngIf="iconLeftTextButton" [ngClass]="iconLeftTextButton" class="iconLeftTextButton" ></span>

        {{textButton}}

        <span *ngIf="iconRightTextButton" [ngClass]="iconRightTextButton" class="iconRightTextButton" ></span>

    </button>

    <div *ngIf="iconAfter.icon" class="addon -iconafter" [ngStyle]="getAddonStyle('right')">
        <i [ngClass]="iconAfter.icon" [ngStyle]="{'color': iconAfter.fontColor}" id="iconRight"></i>
    </div>

</div>