@import "../core/core";

//Default
$button-height: 39px;
$button-min-width: 100px;
$button-icon-padding: 15px;
$button-icon-color: #6A6A6A;
$button-addon-padding: 0 7px;
$button-display: inline-block;
$button-font-size: 15px;
$button-font-family: 'Segoe UI', sans-serif;
$button-text-align: center;

.tl-button-box {
  font-family: $button-font-family;
  font-size: $button-font-size;
  background-color:#E8E8E8;
  display: table;
  cursor: pointer;
  border: 1px solid #C8C8C8;

  >.tl-button{
    line-height: $button-height;
    min-width: $button-min-width;
    padding: 0 15px;
    text-align: $button-text-align;
    outline: none;
    margin: 0;
    border: 0;
    background-color:transparent;
    color: #616161;
    cursor: pointer;
    > .iconLeftTextButton{
      padding-right: 7px;
    }
    > .iconRightTextButton{
      padding-left: 7px;
    }
  }
  >.addon {
    font-size: $button-font-size;
    font-weight: 400;
    color: #616161;
    margin: 0;
    padding: 0;
  }
  >.addon.-iconbefore{
    display: table-cell;
    padding: $button-addon-padding;
    border-right: 1px solid #C8C8C8;
  }
  > .addon.-iconbefore > i {
    color: #616161;
  }
  >.addon.-iconafter{
    display: table-cell;
    padding: $button-addon-padding;
    border-left: 1px solid #C8C8C8;
  }
  > .addon.-iconafter > i {
    color: #616161;
  }
}
.tl-button-box:focus {
  outline: 1px solid #a8bfc3;
}
.tl-button-box:hover{
  background-color: #dedede;
}
.tl-button-box:active, .-toggle{
  background-color: #d8d8d8;
}
//.disabled{
//  opacity: 0.35;
//  filter: Alpha(Opacity=35);
//  background-image: none;
//  cursor: default !important;
//}
