table{
  border-collapse: inherit;
}

$border-color : #DCDCDC;


.tl-datatable-box{
  border-left: 1px $border-color solid;
  border-top: 1px $border-color solid;
  border-bottom: 1px $border-color solid;
  box-sizing: content-box;
  &.-borderleft{
    border-right: 1px $border-color solid;
  }

}

.datatable{
  border-spacing: 0;
  border-right: 1px $border-color solid;
  width: 100%;
  font-family: "RobotoRegular",Helvetica,Arial,sans-serif;
  text-align: center;
  table-layout: fixed;
}

.datatableHeader{
  color: #7a838b;
  font-size: 13px;
  table-layout: fixed;

  > .row{
    height: 30px;
    width: 100%;
    background: #E9E9E9;
    border: 1px #6E6E6E solid;
    box-sizing: content-box;
    margin:0px
  }
  > .row .cel{
    width: 100%;
    border-right: 1px $border-color solid;
    border-bottom: 1px $border-color solid;

  }
  >.row .cel.-textleft{
    text-align: left;
  }
  >.row .cel.-textright{
    text-align: right;
  }
  >.row .cel.-textcenter{
    text-align: center;
  }
  > .row .cel:last-child{
    border-right: none
  }
}

.datatableBody{
  table-layout: fixed;

  > .row{
    height: 25px;
    font-size: 13px;
    background: #E9E9E9;
    outline: none;
    color: #7a838b;
    margin:0px
  }
  > .row .cel{
    width: 200px;

    border-right: 1px $border-color solid;
  }
  >.row .cel.-textleft{
    text-align: left;
  }
  >.row .cel.-textright{
    text-align: right;
  }
  >.row .cel.-textcenter{
    text-align: center;
  }
  > .row .cel:last-child{
    border-right: none
  }
  > .row:nth-child(odd){
   background: #FFFFFF;
  }
  > .row:focus{
    background: #66CC99 !important;
    color: #FFF;
  }
}