<div class="tl-datatable-box">
    <table class="datatable" (keydown)="onKeydown($event)">
        <thead class="datatableHeader">
            <tr class="row">
                <th class="cel" *ngFor="let column of columns;" [ngClass]="getClassAlignment(column.alignment)">{{column.title}}</th>
            </tr>
        </thead>
        <tbody #tbody class="datatableBody">
            <tr #tbody class="row" [tabindex]="i" *ngFor="let row of data; let i = index"
                (click)="rowClick(data[i],i)"
                (focus)="rowSelect(data[i])">
                <td  class="cel" *ngFor="let column of columns;" [ngClass]="getClassAlignment(column.alignment)">{{row[column.field]}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Sum</td>
                <td>$180</td>
                <td>$180</td>
                <td>$180</td>
                <td>$180</td>
            </tr>
        </tfoot>
    </table>
</div>

