$border-color : #DCDCDC;

.tl-datatable-box{
  width: 100%;
  border-left: 1px $border-color solid;
  border-top: 1px $border-color solid;
  border-bottom: 1px $border-color solid;
}

.ui-datatable-table{
  font-family: "RobotoRegular",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.ui-datatable-table-head{
  color: #7A838B;
  font-size: 13px;


  > .row{
    background: #E9E9E9;
    height: 25px;
    margin: 0;
  }
  > .row .cel{
    box-sizing: border-box;
    border-right: 1px $border-color solid;
    padding: 0px;
    height: 25px;
    align-items: center;
  }
  >.row .cel.-textleft{
    text-align: left;
  }
  >.row .cel.-textright{
    text-align: right;
  }
  >.row .cel.-textcenter{
    text-align: center;
  }
  > .row .cel:last-child{
    border-right: none
  }
}

.ui-datatable-content-body{
  > .row{
    font-size: 13px;
    background: #E9E9E9;
    outline: none;
    color: #7a838b;
    margin: 0;
  }
  > .row .cel{
    border-right: 1px $border-color solid;
    box-sizing: border-box;
    padding: 0px;
    align-items: center;
  }
  >.row .cel.-textleft{
    text-align: left;
  }
  >.row .cel.-textright{
    text-align: right;
  }
  >.row .cel.-textcenter{
    text-align: center;
  }
  > .row .cel:last-child{
    border-right: 1px $border-color solid;
  }
  > .row:nth-child(odd){
   background: #FFFFFF;
  }
  > .row:focus{
    background: #66CC99 !important;
    color: #FFF;
  }
}