<div class="tl-datatable-box" *ngIf="datasource">
    <table class="datatable" (keydown)="onKeydown($event)">
        <thead class="datatableHeader">
            <tr class="row">
                <th *ngFor="let column of columns;" [class]="' cel ' + getClassAlignment(column.alignment)">{{column.title}}</th>
            </tr>
        </thead>
        <tbody #tbody class="datatableBody">
            <tr #tbody class="row" [tabindex]="i" *ngFor="let row of datasource; let i = index"
                (click)="onRowClick(datasource[i],i)"
                (focus)="onRowSelect(datasource[i],i)"
                (dblclick)="onRowDblclick(datasource[i],i)"
            >
                <td *ngFor="let column of columns;" [class]="'cel ' + getClassAlignment(column.alignment)">{{row[column.field]}}</td>
            </tr>
        </tbody>
        <!--<tfoot>-->
            <!--<tr>-->
                <!--<td>Sum</td>-->
                <!--<td>$180</td>-->
                <!--<td>$180</td>-->
                <!--<td>$180</td>-->
                <!--<td>$180</td>-->
            <!--</tr>-->
        <!--</tfoot>-->
    </table>
</div>

