$border-color : #DCDCDC;

.tl-datatable-box{
  width: 100%;
  border-left: 1px $border-color solid;
  border-top: 1px $border-color solid;
  border-bottom: 1px $border-color solid;
  box-sizing: content-box;
}

.ui-datatable-table{
  font-family: "RobotoRegular",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
