.header {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 2px;
  -webkit-box-shadow: 1px 1px 5px 1px #DEDEDE;
  box-shadow: 1px 1px 5px 1px #DEDEDE;
  -webkit-border-radius: 5px 5px 0 0;
}

.header i {
  font-size: 1.7em;
}

.header span {
  padding: 10px;
}

.title-feature {
  font-size: 2em;
}
