


.ui-toolbar-wrapper {
  * {
    font-size: 20px !important;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
  }

  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  .ui-toolbar-content {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }

}

