<div class="wrapper-content-progress">
  <div class="ui-progressbar-wrapper" [class.border-rounded]="shape === 'rounded'" [ngClass]="color">
    <div *ngIf="mode === 'determinate'" class="ui-progress-description" [style.lineHeight]="height">
      <span *ngIf="progressInfo === 'percentage' || progressInfo === 'detailed'">{{getProgressDescription()}} %</span>
      <span class="ui-progress-detail" *ngIf="progressInfo === 'detailed'" [style.lineHeight]="height">({{position}} {{unit}} / {{max}} {{unit}})</span>
    </div>
    <div class="ui-progressbar" [style.height]="height">
      <div *ngIf="mode === 'determinate'" [style.transformOrigin]="'left'"
           [style.transform]="'scaleX(' + (position - min) / (max - min) + ')'"
           class="determinate-progress">
      </div>
      <div *ngIf="mode === 'indeterminate'" [style.transform]="'translate3d(' + (position - min / 100) + ', 0, 0)'"
           class="indeterminate-progress">
      </div>
    </div>
  </div>
</div>
