:host {
  width: 100%;
  height: 100%;
}

.ui-wrapper-years {
  width: 100%;
  height: 100%;
  > .ui-calendar-years {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    > .ui-calendar-cell {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-basis: calc(100% / 3);
      color: #5a5a5a;
      align-items: center;
      place-content: center;
      &:hover {
        cursor: pointer;
        background: rgba(102, 204, 153, 0.15);
      }
    }
  }
}


