<div class="router-outlet">
  <app-showcase-header name="Sidebar" module="SidebarModule">
    A sidebar hides additional content beside a page.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <h6>Push Usage</h6>
              <!--sidebar-->
              <div class="sidebar-demo">
                <div class="buttons">
                  <div class="trigger" (click)="sidebarLeft.toggle()">Toggle Left</div>
                  <div class="trigger" (click)="sidebarRight.toggle();">Toggle Right</div>
                </div>
                <tl-sidebar-container>
                  <tl-sidebar [position]="'start'" #sidebarLeft [mode]="'push'">
                    <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarLeft.docked}">
                      <li><i class="ion-md-cafe"></i><span *ngIf="!sidebarLeft.docked">Home</span></li>
                      <li><i class="ion-md-ice-cream"></i><span *ngIf="!sidebarLeft.docked">Input</span></li>
                      <li><i class="ion-md-chatbubbles"></i><span *ngIf="!sidebarLeft.docked">Button</span></li>
                      <li><i class="ion-md-images"></i><span *ngIf="!sidebarLeft.docked">Panels</span></li>
                    </ul>
                  </tl-sidebar>
                  <tl-sidebar-content [height]="'300px'" #sidebarContent class="content-border">
                    <p class="content-text">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                      essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages,
                      and more recently with desktop publishing software like Aldus PageMaker including versions of
                      Lorem Ipsum.
                    </p>
                  </tl-sidebar-content>
                  <tl-sidebar [position]="'end'" #sidebarRight [mode]="'push'">
                    Chat Content
                    <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                  </tl-sidebar>
                </tl-sidebar-container>
              </div>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  <tl-sidebar-container>
    <tl-sidebar [position]="'start'" [mode]="'push'">
      <!-- Sidebar Start Content -->
    </tl-sidebar>
    <tl-sidebar-content [height]="'300px'">
      <!-- Content -->
    </tl-sidebar-content>
    <tl-sidebar [position]="'end'" [mode]="'push'">
      <!-- Sidebar End Content -->
    </tl-sidebar>
</tl-sidebar-container>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h6>Slide Usage</h6>
              <div class="row">
                <div class="col-12">
                  <div class="buttons">
                    <div class="trigger" (click)="sidebarSlide.toggle()">Toggle Left</div>
                    <div class="trigger" (click)="sidebarRightSlide.toggle();">Toggle Right</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <tl-sidebar-container>
                    <tl-sidebar #sidebarSlide [position]="'start'" [mode]="'slide'" >
                      <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarSlide.docked}">
                        <li><i class="ion-md-cafe"></i><span *ngIf="!sidebarSlide.docked">Home</span></li>
                        <li><i class="ion-md-ice-cream"></i><span *ngIf="!sidebarSlide.docked">Input</span></li>
                        <li><i class="ion-md-chatbubbles"></i><span *ngIf="!sidebarSlide.docked">Button</span></li>
                        <li><i class="ion-md-images"></i><span *ngIf="!sidebarSlide.docked">Panels</span></li>
                      </ul>
                    </tl-sidebar>
                    <tl-sidebar-content [height]="'300px'" #sidebarContent class="content-border">
                      <p class="content-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                      </p>
                    </tl-sidebar-content>
                    <tl-sidebar [position]="'end'" [mode]="'slide'" #sidebarRightSlide>
                      Chat Content
                      <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                    </tl-sidebar>
                  </tl-sidebar-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<tl-sidebar-container>
  <tl-sidebar [position]="'start'" [mode]="'slide'">
    <!-- Sidebar Start Content -->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content -->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
    <!-- Sidebar End Content -->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
                </div>
              </div>
              <div class="spacer"></div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h6>Dock Usage</h6>
              <div class="row">
                <div class="col-12">
                  <div class="buttons">
                    <div class="trigger" (click)="sidebarDock.toggle()">Toggle Left</div>
                    <div class="trigger" (click)="sidebarDockRight.toggle();">Toggle Right</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <tl-sidebar-container>
                    <tl-sidebar
                      (open)="onOpen()"
                      (close)="onClose()"
                      (openedChange)="changeOpened($event)"
                      [opened]="openedDemo"
                      #sidebarDock
                      [position]="'start'"
                      [width]="200"
                      [mode]="'slide'"
                      [dock]="true">
                      <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarDock.docked}">
                        <li><i class="ion-md-cafe"></i><span *ngIf="!sidebarDock.docked">Home</span></li>
                        <li><i class="ion-md-ice-cream"></i><span *ngIf="!sidebarDock.docked">Input</span></li>
                        <li><i class="ion-md-chatbubbles"></i><span *ngIf="!sidebarDock.docked">Button</span></li>
                        <li><i class="ion-md-images"></i><span *ngIf="!sidebarDock.docked">Panels</span></li>
                      </ul>
                    </tl-sidebar>
                    <tl-sidebar-content [height]="'300px'" #sidebarContent class="content-border">
                      <p class="content-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                      </p>
                    </tl-sidebar-content>
                    <tl-sidebar [position]="'end'" [mode]="'slide'" #sidebarDockRight>
                      Content Chat
                      <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                    </tl-sidebar>
                  </tl-sidebar-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                 <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<div class="trigger left-right" (click)="sidebar.toggle()"></div>
<tl-sidebar-container #sidebar>
  <tl-sidebar [position]="'start'" [mode]="'slide'" [dock]="true">
    <!-- Sidebar Start Content -->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content -->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
    <!-- Sidebar End Content -->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
                </div>
              </div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h6>Over Usage</h6>
              <div class="row">
                <div class="col-12">
                  <div class="buttons">
                    <div class="trigger" (click)="sidebarOver.toggle()">Toggle Left</div>
                    <div class="trigger" (click)="sidebarOverRight.toggle()">Toggle Right</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <tl-sidebar-container>
                    <tl-sidebar #sidebarOver [position]="'start'" [mode]="'over'">
                      <ul class="list-sidebar" [ngClass]="{'notDocket': !sidebarOver.docked}">
                        <li><i class="ion-md-cafe"></i><span *ngIf="!sidebarOver.docked">Home</span></li>
                        <li><i class="ion-md-ice-cream"></i><span *ngIf="!sidebarOver.docked">Input</span></li>
                        <li><i class="ion-md-chatbubbles"></i><span *ngIf="!sidebarOver.docked">Button</span></li>
                        <li><i class="ion-md-images"></i><span *ngIf="!sidebarOver.docked">Panels</span></li>
                      </ul>
                    </tl-sidebar>
                    <tl-sidebar-content [height]="'300px'" #sidebarContent class="content-border">
                      <p class="content-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                      </p>
                    </tl-sidebar-content>
                    <tl-sidebar [position]="'end'" [mode]="'slide'" #sidebarOverRight>
                      Chat Content
                      <tl-input #input [placeholder]="'Search...'" [clearButton]="true"></tl-input>
                    </tl-sidebar>
                  </tl-sidebar-container>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
<tl-sidebar-container>
  <tl-sidebar [position]="'start'" [mode]="'over'" [dock]="true">
    <!--Sidebar Start Content-->
  </tl-sidebar>
  <tl-sidebar-content [height]="'300px'">
    <!-- Content-->
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
   <!-- Sidebar End Content-->
  </tl-sidebar>
</tl-sidebar-container>
</textarea>
                </div>
              </div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="setup">
      <app-showcase-card [title]="'Methods'" [icon]="'ion-md-color-wand'">
        <app-card>
          <app-showcase-table-events [data]="dataMethods"></app-showcase-table-events>
        </app-card>
      </app-showcase-card>
      <app-showcase-card [title]="'Properties Sidebar'" [icon]="'fas fa-clipboard-list'">
        <app-card>
          <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
        </app-card>
      </app-showcase-card>
      <app-showcase-card [title]="'Properties Sidebar Content'" [icon]="'fas fa-clipboard-list'">
        <app-card>
          <app-showcase-table-properties [data]="dataTablePropertiesContent"></app-showcase-table-properties>
        </app-card>
      </app-showcase-card>
      <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
        <app-card>
          <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
        </app-card>
      </app-showcase-card>
    </div>
  </div>
</div>
