<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-truly">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Truly UI</a>
    </div>
  </div>
</nav>
<div class="container-fluid container-truly">
  <div class="row">
    <div class="col-sm-3 col-md-2 menu-container">
      <ul class="menu">
        <li routerLink="input" routerLinkActive="active"><i class="ion-android-arrow-dropright"></i>Input</li>
        <li><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>MultiSelect</li>
        <li><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>Tooltip</li>
        <li><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>DataGrid</li>
        <li><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>Button</li>
      </ul>
      <!--<span class="git-logo"><img width="40" height="40" title="Fork me on GitHub" src="../assets/giticon.png"></span>-->
    </div>
    <div class="col-sm-9 col-md-10 router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


