<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-truly" style="z-index: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Truly UI</a>
    </div>
  </div>
</nav>
<div class="container-fluid container-truly">
  <div class="row">
    <div class="col-sm-3 col-md-2 menu-container">
      <ul class="menu">
        <li routerLinkActive="active"><i class="ion-android-arrow-dropright"></i>Input
          <ul>
            <li routerLink="input" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>InputText
            </li>
            <li routerLink="inputmask" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>InputMask
            </li>
          </ul>
        </li>
        <li routerLinkActive="active"><i class="ion-android-arrow-dropright"></i>Button
          <ul>
            <li routerLink="button" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>Button
            </li>
            <li routerLink="buttongroup" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>Button Group
            </li>
            <li routerLink="splitbutton" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>SplitButton
            </li>
          </ul>
        </li>
        <li routerLinkActive="active"><i class="ion-android-arrow-dropright"></i>Dropdown
          <ul>
            <li routerLink="dropdownlist" routerLinkActive="activegi"><i
              class="ion-android-arrow-dropright"></i>Dropdown List
            </li>
          </ul>
        </li>

        <li routerLinkActive="active"><i class="ion-android-arrow-dropright"></i>Overlay
          <ul>
            <li routerLink="modal" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>Modal
            </li>
            <li routerLink="dialog" routerLinkActive="active"><i
              class="ion-android-arrow-dropright"></i>Dialog
            </li>
          </ul>
        </li>
        <li routerLinkActive="active" routerLink="tooltip"><i class="ion-android-arrow-dropright" ></i>Tooltip</li>
        <li><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>MultiSelect</li>
        <li routerLinkActive="active" routerLink="datatable"><i class="ion-android-arrow-dropright" routerLinkActive="active"></i>DataTable</li>
      </ul>
      <!--<span class="git-logo"><img width="40" height="40" title="Fork me on GitHub" src="../assets/giticon.png"></span>-->
    </div>
    <div id="content" class="col-sm-9 col-md-10 router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


