* {
  box-sizing: border-box;
}

.wrapper-tabcontrol {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  >.line-separator {
    box-sizing: border-box;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    width: 100%;
    position: absolute;
  }
  >.line-separator:after {
    display: inline-block;
    width: 100%;
    content: ".";
    font-size: 0;
    color: transparent;
    height: 1px;
    top: 9px;
    position: relative;
  }
  >.tab-panel-buttons {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  >.tab-panel-buttons li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    min-width: 70px;
    text-align: center;
    padding: 0 10px;
    line-height: 25px;
    height: 26px;
  }
  >.tab-panel-buttons li:hover {
    cursor: pointer;
  }

}
  .selected {
    border-bottom: 0 !important;
  }
