<div class="router-outlet">
  <app-showcase-header name="TabControl" module="TabControlModule">
    TabControl and Tabs are used to organize components in the view.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-6">
              <h6>Basic Usage</h6>
              <tl-tabcontrol [height]="'160px'">
                <tl-tab [title]="'Profile'">
                  <div class="form-group">
                    <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
                  </div>
                  <div class="form-group">
                    <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
                  </div>
                  <div class="form-group">
                    <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}"
                              [readonly]="true"></tl-input>
                  </div>
                  <div class="form-group">
                    <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}"
                              [readonly]="true"></tl-input>
                  </div>
                </tl-tab>
                <tl-tab [title]="'Account'">
                  <div class="form-group">
                    <span style="color: #737373">Client: James Bond</span>
                  </div>
                  <div class="form-group">
                    <span style="color: #737373">Account Number: 151848</span>
                  </div>
                  <div class="form-group">
                    <span style="color: #737373">Balance: $ 12.503</span>
                  </div>
                  <div class="form-group">
                    <span style="color: #737373">Last Query: {{today | date:'MM/dd/yy - HH:mm:ss '}}</span>
                  </div>
                </tl-tab>
              </tl-tabcontrol>
            </div>
            <div class="col-md-6">
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-tabcontrol [height]="'160px'">
  <tl-tab [title]="'Profile'">
      <tl-input [label]="'FirstName'" [readonly]="true" ngModel="James"></tl-input>
      <tl-input [label]="'LastName'" ngModel="Bond" [readonly]="true"></tl-input>
      <tl-input [label]="'Birthday'" ngModel="12/05/1971" [mask]="{mask: '00/00/0000'}" [readonly]="true"></tl-input>
      <tl-input [label]="'Phone'" ngModel="0007-007-0017" [mask]="{mask: '000-000-0000'}" [readonly]="true"></tl-input>
  </tl-tab>
  <tl-tab [title]="'Account'">
      <span style="color: #737373">Client: James Bond</span>
      <span style="color: #737373">Account Number: 151848</span>
      <span style="color: #737373">Balance: $ 12.503</span>
      <span style="color: #737373">Last Query: today | date:'MM/dd/yy - HH:mm:ss '</span>
  </tl-tab>
</tl-tabcontrol>
</textarea>
            </div>
          </app-card>
        </app-showcase-card>
     </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
  </div>
</div>
