.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tab-panel-buttons {
  margin: 0;
  padding: 0;
}

.tab-panel-buttons li {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: #848484;
  min-width: 70px;
  background: #f1f1f1;
  text-align: center;
  padding: 5.5px 10px;
  height: 25px;
  border: 1px solid #cacaca;
  border-right: 0;
}

.tab-panel-buttons li:last-child {
  border-right: 1px solid #cacaca;
}

.tab-panel-buttons li:hover {
  cursor: pointer;
}

.line-separator {
  font-size: 12px;
  color: #777;
  overflow: hidden;
  display: table-cell;
  top: 15px;
  width: 100%;
  vertical-align: middle;
  position: absolute;
}

.line-separator:after {
  display: inline-block;
  width: 100%;
  content: ".";
  font-size: 0;
  color: transparent;
  height: 1px;
  background: #ccc !important;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.selected {
  border-bottom: 0 !important;
  background: #fff !important;
}
