<div class="ui-wrapper-schedule">

  <!-- SCHEDULE HEADER -->
  <div class="ui-schedule-header">
    <tl-schedule-heading
      [views]="views"
      [defaultView]="defaultView"
      [currentDate]="currentDate"
      (changeView)="onChangeView($event)"
      (changeDate)="onChangeDate($event)"
    ></tl-schedule-heading>
  </div>

  <!-- SCHEDULE BODY -->
  <div  class="ui-schedule-body" [ngStyle]="{height: 'calc(' + height +' - 52px)'}" [ngSwitch]="defaultView">
    <tl-view-day
      *ngSwitchCase="'day'"
      [duration]="duration"
      [currentDate]="currentDate"
      [events]="eventsOfDay"
      [startDayMilliseconds]="startDayMilliseconds"
      [endDayMilliseconds]="endDayMilliseconds"
      [showNowIndicator]="showNowIndicator"
      [statusConfig]="statusConfig"

      [slatHightRows]="slatHightRows"
      [slatNumberRows]="slatNumberRows"
      [slatNumberRowsAsArray]="slatNumberRowsAsArray"

      (onRowDbClick)="rowDbClick.emit($event)"
      (onEventClick)="eventClick.emit($event)"
      (onEventDbClick)="eventDbClick.emit($event)"
      (onEventMouseover)="eventMouseover.emit($event)"
      (onEventMouseout)="eventMouseout.emit($event)"
    ></tl-view-day>

    <tl-day-list
      *ngSwitchCase="'dayList'"
      [events]="eventsOfDay"
      [currentDate]="currentDate"
      [statusConfig]="statusConfig"
      (onEventClick)="eventClick.emit($event)"
      (onEventDbClick)="eventDbClick.emit($event)"
      (onEventMouseover)="eventMouseover.emit($event)"
      (onEventMouseout)="eventMouseout.emit($event)"
    ></tl-day-list>
  </div>

  <!-- SCHEDULE FOOTER -->
  <div class="schedule-footer"></div>
</div>
