<div class="ui-wrapper-schedule">

  <!-- SCHEDULE HEADER -->
  <div class="ui-schedule-header">
    <tl-schedule-heading
      [texts]="texts"
      [views]="views"
      [defaultView]="defaultView"
      [currentDate]="currentDate"
      [eventButtonTemplate]="eventButtonTemplate"
      (changeView)="onChangeView($event)"
      (changeDate)="onChangeDate($event)"
      (newEventClick)="newEventClick.emit()"
    ></tl-schedule-heading>
  </div>

  <!-- SCHEDULE BODY -->

  <div  class="ui-schedule-body" [ngStyle]="{height: 'calc(' + height +' - 52px)'} " [ngSwitch]="defaultView">
    <div class="loading" *ngIf="isLoading">
      <div class="loader">
        <tl-loader></tl-loader>
      </div>
    </div>
    <div class="ui-schedule-views" [tlBlockui]="!workScale || !existsScale"
         [blockuiConfig]="{ message: texts.scaleNotFound, icon: 'fas fa-address-book', color: '#ccc' }"
         [ngStyle]="{overflowY: !existsScale ? 'hidden' : 'visible'}">
      <tl-view-day
        *ngSwitchCase="'day'"
        [currentDate]="currentDate"
        [showNowIndicator]="showNowIndicator"
        [statusConfig]="statusConfig"
        [events]="events"
        [slotSettings]="slotSettings"
        [slatNumberRowsAsArray]="slatNumberRowsAsArray"
        [workScale]="workScale"
        (onEventContextmenu)="eventContextmenu.emit($event)"
        (onRowDbClick)="rowDbClick.emit($event)"
        (onEventClick)="eventClick.emit($event)"
        (onEventDbClick)="eventDbClick.emit($event)"
        (onEventMouseover)="eventMouseover.emit($event)"
        (onEventMouseout)="eventMouseout.emit($event)"
      ></tl-view-day>

      <!--<tl-day-list-->
      <!--*ngSwitchCase="'dayList'"-->
      <!--[events]="eventsOfDay"-->
      <!--[currentDate]="currentDate"-->
      <!--[statusConfig]="statusConfig"-->
      <!--(onEventClick)="eventClick.emit($event)"-->
      <!--(onEventDbClick)="eventDbClick.emit($event)"-->
      <!--(onEventMouseover)="eventMouseover.emit($event)"-->
      <!--(onEventMouseout)="eventMouseout.emit($event)"-->
      <!--&gt;</tl-day-list>-->
    </div>
  </div>

  <!-- SCHEDULE FOOTER -->
  <div class="schedule-footer"></div>
</div>
