<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Modal <span class="module-name"><code><u>Module Name</u>: <strong>ModalModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>ModalModule</strong></code></p>
    <p class="text-content">Modals are pretty cool stuff, so TRULY-UI have it.</p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-2">
              <tl-button [text]="'Show Modal'" [iconAddonBefore]="'ion-monitor'" (click)="modal1()"></tl-button>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Modal Features'" [icon]="'ion-android-bulb'">
          <app-card>
            <h4>Modal Container</h4>
            <p>The Modal Container is used to group all modals that are minimized.</p>
            <tl-container-modal></tl-container-modal>
          </app-card>
          <app-card>
            <h4>Drag And Drop</h4>
            <p>Allows user drag and drop the modal through it area.</p>
          </app-card>
          <app-card>
            <h4>Fixed by Parent</h4>
            <p>The fixed parent set the Modal Area to it parent and the drag going be only in that area.</p>
          </app-card>
          <app-card>
            <h4>Controls (Minimize, Maximize and Close)</h4>
            <p>The controls allows the user to organize their windows, combining with the Container Modal, is very usable.</p>
          </app-card>
          <app-card>
            <h4>Modal Result</h4>
            <p>According with the button and the <code>mdResult</code> the modal will dispatch the events to the origin component.</p>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Making it Work'" [icon]="'ion-hammer'">
          <app-card>
            <h4>Step One</h4>
            <h5>Declare the <code>ModalService</code> and the <code>ViewContainerRef</code> in your <code>constructor</code>.</h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  constructor(public view: ViewContainerRef, public modalService: ModalService) {}
        </textarea>
            <hr>
            <h4>Step Two</h4>
            <h5>Inside of your <code>constructor</code>, set your view calling the method of the Modal Service.</h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  constructor(public view: ViewContainerRef, public modalService: ModalService) {
       this.modalService.setView(this.view);
  }
        </textarea>
            <hr>
            <h4>Step Tree</h4>
            <h5>Import your custom component that will be inside the modal as entry component the property ( <code>entryComponents</code> ) in your module. In this case is <code>NewModal</code></h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">

  @NgModule({
    declarations: [
      ModalDemo,
      NewModal,
    ],
    imports:[
      CommonModule,
      FormsModule,
      ModalModule.forRoot(),
    ],
    exports: [
      ModalDemo,
      NewModal
    ],
    providers: [
      DialogService
    ],
    entryComponents: [
      NewModal
    ]
  })
  export class ModalDemoModule {}
        </textarea>
            <hr>
            <h4>Final Step</h4>
            <h5>Create an function to call the function <code>createModal</code> passing the following parameters. For example:</h5>
            <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  this.modalService.createModal(NewModal, this.modalOptions, (modalResult) => {
        console.log('Return',modalResult);
  });
        </textarea>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <div class="table-box">
          <table class="table table-truly">
            <thead class="table-truly-head">
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody class="table-truly-body" *ngFor="let item of modalprop; let i = index">
            <tr>
              <td><span>{{ item.name }}</span></td>
              <td><span class="badge">{{ item.type }}</span></td>
              <td><code>{{ item.default }}</code></td>
              <td>{{ item.description }}</td>
              <td><code> {{ item.options }} </code></td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <div class="table-box">
          <table class="table table-truly">
            <thead class="table-truly-head">
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody class="table-truly-body" *ngFor="let item of modalevts; let i = index">
            <tr>
              <td><span>{{ item.name }}</span></td>
              <td>{{ item.description }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </app-showcase-card>
  </div>
</div>
