<ng-content></ng-content>
<div class="group-radios" [style.display]="orientation == 'vertical' ? 'grid' : 'inline-flex'">
    <div *ngFor="let item of listRadioButton.toArray()" class="radio-container" [style.padding-top]="orientation === 'vertical' ? '10px' : '0'">
        <input attr.id="{{id}}"
               attr.name="{{name}}"
               #radiobutton
               #model="ngModel"
               type="radio"
               (click)="checkRadio(item)"
               [tabindex]="tabindex"
               [value]="item.value"
               (focus)="focusRadio(item)"
               [(ngModel)]="modelValue">
        <span class="radio-ring"></span>
        <span [style.top]="orientation == 'vertical' ? '13px' : '3px'" *ngIf="itemSelected === item" [style.background-color]="item.colorSelected" class="radio-selected"></span>
        <label (click)="checkRadio(item)" class="-label" attr.for="{{id}}">{{item.label}}</label>
    </div>
</div>
