
.radio-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding-right: 10px;
}

input[type='radio'] {
  width: 18px;
  height: 17px;
  position: absolute;
  margin: 0 !important;
  left: 3px;
}

input[type='radio']:checked:before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type='radio']:checked:after {
  content: '';
  width: 9px;
  position: absolute;
  height: 9px;
  top: 4px;
  left: 4px;
  background-color: #66cc99;
  border: 0;
}

input[type=radio]:hover {
  cursor: pointer;
}

.-label {
  font-family: "Segoe UI" !important;
  font-size: 14px !important;
  font-weight: normal !important;
  position: relative;
  padding-left: 25px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}
