
.radio-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding-right: 10px;
}

input[type='radio'] {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  left: 3px;
  top: 4px;
}

input[type='radio']:before {
  left: -1px;
}

input[type='radio']:checked:before {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
}

input[type='radio']:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: 0;
  left: -1px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type=radio]:hover {
  cursor: pointer;
}

.-label {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em !important;
  font-weight: normal !important;
  color: #737373;
  position: relative;
  padding-left: 22px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}

.radio-selected {
  width: 10px;
  height: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  z-index: 500;
  position: absolute;
  font-size: 10px;
  left: 5px;
  top: 5px;
}
