
.radio-container {
  display: inline-block;
  position: relative;
  height: auto;
  padding-right: 10px;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  left: 3px;
  top: 3px;
}

input[type='radio']:checked:before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #cacaca;
  transition: background 0.15s ease-in-out;
}

input[type='radio']:checked:after {
  content: '';
  width: 9px;
  position: absolute;
  height: 9px;
  top: 3px;
  left: 3px;
  background-color: #66cc99;
  border: 0;
}

input[type=radio]:hover {
  cursor: pointer;
}

.-label {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em !important;
  font-weight: normal !important;
  color: #737373;
  position: relative;
  padding-left: 22px;
  margin: 0 !important;
}

.-label:hover {
  cursor: pointer;
}
