<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Timeline<span
      class="module-name"><code><u>Module Name</u>: <strong>TimelineModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>TimelineModule</strong></code></p>
    <p class="text-content">
      The Truly-UI Timeline are styles for actions in forms, dialogs, and more with support for multiple sizes, states
      and many properties for customization
    </p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'ion-monitor'">
          <app-card>
            <div class="col-md-12">

               <tl-timeline
                 [data]="dataLazy.data"
                 (lazyLoad)="onLazyLoad($event)"
                 [height]="'500px'"
                 [align]="'left'">
                <ng-template let-item="item" let-index="index">
                  <div class="content-head">
                    <span class="content-title">{{ item.title }}</span>
                    <span class="content-time"><i class="ion ion-clock"></i> {{ item.duration }} Minutos de Atendimento</span>
                  </div>
                  <div class="content-body">
                    <test-comp [data]="item.category"></test-comp>
                  </div>
                </ng-template>
              </tl-timeline>

            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'ion-clipboard'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion-radio-waves'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
