<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">Radio Button</h1>
    <p class="text-content">There's a lot of ways to create an Radio Button using Truly UI. Below, are some of
      those.</p>
  </div>
  <hr>
  <div class="showcase">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h5>Orientation Horizontal</h5>
          <tl-radio-group [nameGroup]="'Genero'" [(ngModel)]="radio" [orientation]="'horizontal'">
            <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
            <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
          </tl-radio-group>
        </div>
        <span class="returned-value">Returned Value: {{ radio }}</span>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <h5>Orientation Vertical</h5>
          <tl-radio-group [nameGroup]="'Genero'" [(ngModel)]="radio2" [orientation]="'vertical'">
            <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
            <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
          </tl-radio-group>
        </div>
        <span class="returned-value">Returned Value: {{ radio2 }}</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="setup">
    <h3 class="title">Properties</h3>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of dataTableProperties; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td><span class="badge">{{ item.type }}</span></td>
          <td><code>{{ item.default }}</code></td>
          <td>{{ item.description }}</td>
          <td><code> {{ item.options }} </code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <h3 class="title">Events</h3>
    <div class="table-box">
      <table class="table table-truly">
        <thead class="table-truly-head">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody class="table-truly-body" *ngFor="let item of dataEvents; let i = index">
        <tr>
          <td><span>{{ item.name }}</span></td>
          <td>{{ item.description }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--<h3 class="title">Events</h3>-->
  </div>
  <div class="examples">
    <h3 class="title">Examples</h3>
    <div class="group-component">
      <h5 class="title">Horizontal Grouping</h5>
      <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-radio-group [nameGroup]="'Genero'" [(ngModel)]="radio" [orientation]="'horizontal'">
  <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
  <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
</tl-radio-group>
    </textarea>
    </div>
    <div class="group-component">
      <h5 class="title">Vertical Grouping</h5>
      <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-radio-group [nameGroup]="'Genero'" [(ngModel)]="radio2" [orientation]="'vertical'">
  <tl-radiobutton [label]="'Male'" [value]="'M'"></tl-radiobutton>
  <tl-radiobutton [label]="'Female'" [value]="'F'"></tl-radiobutton>
</tl-radio-group>
    </textarea>
    </div>
  </div>
</div>
