.header-menu-title {
  text-align: center;
  font-size: 1.2em;
  height: 40px;
  background: #f5f5f5;
  line-height: 40px;
  color: #9e9d9d;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.header-menu-title span {
  float: right;
}

.header-menu-title h3 {
  margin: 0;
  line-height: 40px;
}
