<ng-template ngFor let-column let-index [ngForOf]="tlColumnFilter">
    <th class="ui-cel ui-filter-cel">
        <div class="ui-filter">
            <div class="ui-dropdown"
                 *ngIf="column?.showFilterOptions && column?.filterOptions.length"
                 [ngClass]="{'-without-dropdown': !column?.showFilterOptions}">

              <tl-dropdownicon
                [data]="column?.filterOptions"
                [widthItems]="'175px'"
                [heightItems]="'25px'"
                [keyText]="'description'"
                [keyValue]="'valueItem'"
                [defaultOptionText]="dropdownResetPlaceholder"
                [ngModel]="filters.matchMode[column.field]"
                (ngModelChange)="onChangeFilter(filters.matchMode[column.field] = $event)">
              </tl-dropdownicon>

            </div>
            <div  class="ui-input">
                <tl-input *ngIf="column?.showFilter"
                          [clearButton]="true"
                          [ngModel]="filters.value[column.field]"
                          (ngModelChange)="onChangeFilter(filters.value[column.field] = $event)"
                          [placeholder]="filterPlaceholder"
                          [type]="column?.type" >
                </tl-input>
            </div>
        </div>
    </th>
</ng-template>


