$border-color : #DCDCDC;

.ui-cel{
 // box-sizing: border-box;
  padding: 0;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.ui-cel:last-child{
  border-right: none
}

.ui-dropdown{
  text-align: left;
  width: 35px;
  display: table-cell;
  &.-without-dropdown {
    width: 0;
  }
}

.ui-input {
  width: 100%;
  padding-left: 1px;
}

.ui-filter-cel {
  padding: 4px;
}

.ui-filter{
  width: 100%;
  display: flex;
}
