#overlay {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  display: inline-block;
  text-align: center;
}

.overlay-content span {
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #a5a3a2;
}

.overlay-content i {
  display: flex;
  font-size: 3em;
  width: 150px;
  color: #a5a3a2;
  align-items: center;
  justify-content: center;
}

.fastSpin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}