<div class="container-fluid" style="padding: 20px">
  <div class="header-title-demo">
    <h1 class="title">Getting Started</h1>
    <p class="text-content">We'll cover the basics and get you started from the ground up.</p>
  </div>
    <app-showcase-card [title]="'Prerequisites'" [icon]="'ion-document-text'">
      <app-card>
        <h3>Prerequisites</h3>
        <hr>
        <span class="description">We assume that you have already installed the following packages at least and are already running an AngularIO project.</span>
        <ul>
          <li><a href="https://nodejs.org">NodeJS >= 7</a></li>
          <li><a href="https://cli.angular.io">Angular Cli >= 1.5.0</a></li>
          <li><a href="https://angular.io">Angular >= 5.0.0</a></li>
        </ul>
      </app-card>
      <app-card>
        <h3>Installation</h3>
        <hr>
        <span class="description">1. Having NPM installation run the following command on your terminal to install it:</span>
        <div class="code-area">
         <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'bash'">
  $ npm install truly-ui --save
  </textarea>
          <span class="description">2. Configure styles of used font packages (Icon Packages are already installed when running npm install truly-ui):</span>
          <p>Inside the <code>.angular-cli.json</code> file add the following paths to the <code>styles</code> key</p>
          <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
"styles": [
  "../node_modules/font-awesome/css/font-awesome.min.css",
  "../node_modules/ionicons-npm/css/ionicons.min.css",
  "../node_modules/truly-ui/css/icons/dx-icons/dx-icons.scss",
]
      </textarea>
          <span class="description">3. Configure CoreModule on your <code>AppModule</code>:</span>
          <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
      import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';

import { CoreModule } from 'truly-ui/components/core'; //CoreModule

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    CoreModule.forRoot({theme: 'default'}) // Configurations
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
      </textarea>
          <hr>
          <h3>Usage</h3>
          <hr>
          <span class="description">Import the TrulyUI module in your AppModule.</span>
          <div class="code-area">
      <textarea highlight-js [options]="{'tabReplace': ''}" lang="'typescript'">
      import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';

// Import your library, for example the InputComponent:
import { InputModule } from 'truly-ui/truly-ui';         //Import of all Modules
import { ButtonModule } from 'truly-ui/components/button';//Only the specific Module imports

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    InputModule,
    ButtonModule
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
    </textarea>
          </div>
        </div>
        <span class="description">Once your library is imported, you can use its components, directives and pipes in your Angular application:</span>
        <div class="code-area">
    <textarea highlight-js [options]="{'tabReplace': ''}" lang="'html'">
      <!-- You can now use your library component in app.component.html or other component what you want -->
   <tl-input
     ngModel="Many Properties"
     [iconBefore]="'ion-printer'"
     [placeholder]="'With Placeholder'"
     [textAfter]="'US'"
     [clearButton]="true"
     [autocomplete]="'off'">
    </tl-input>
    </textarea>
        </div>
      </app-card>
    </app-showcase-card>
</div>
