i {
  color: #454545;
  font-size: 1em;
  padding: 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  color: #686a6a;
  margin: 0;
  padding-bottom: 10px;
}

.text-content {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.header-truly {
  border: 0;
  background: #66CC99;
  z-index:  0!important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.header-truly a {
  color: #fff;
  text-decoration: none;
}

.container-truly {
  margin-top: 50px;
  background: #F9F9FA;
}

.container-truly .menu-container {
  padding: 0 !important;
  height: 100vw;
}

.container-truly .menu {
  list-style: none;
  padding: 0 0 0 0 ;
  background: #FFF;
  height: 100vw;
  -webkit-box-shadow: 1px 1px 10px 1px #D6D6D6;
  box-shadow: 1px 1px 10px 1px #D6D6D6;
  margin: 0;
}

.container-truly .menu li {
  padding: 10px 10px 10px 15px;
  border-bottom: dashed 1px #ccc;
  outline: none;
  transition: background linear 500ms;
}

.container-truly .menu li a {
  text-decoration: none;
  padding-left: 10px;
  color: #454545;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
}

.container-truly .menu li:hover {
  cursor: pointer;
  color: #fff;
  background: #81D5AB;
}

.container-truly .menu li:hover i {
  color: #fff;
}

.router-outlet {
  padding: 20px;
  height: calc(100vh - 70px);
}

.active {
  background: #81D5AB;
  color: #fff;
}

.active i {
  color: #fff;
}

.group-component {
  padding: 15px;
}

.header-title-demo {
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
}

.git-logo {
  top: 90vh;
  padding-left: 10px;
  opacity: 0.8;
  position: fixed;
}

.git-logo:hover {
  cursor: pointer;
}

.menu li ul {
  padding-left: 10px;
  display: none;
  list-style: none;
}

.menu li:hover ul {
  display: block;
}
/** BUTTON - CUSTOM STYLE **/
.buttonClass1{
  background-color: #81D5AB !important;
  color: #FFF !important;
  font-size: 12px !important;
  border: 1px solid #6FB793 !important;
}
.buttonClass1:hover{
  background-color: #7acda3 !important;
}
.buttonClass1:active{
  background-color: #74c79d !important;
}
.buttonClass2{
  background-color: #1B95E0 !important;
  color: #FFF !important;
  font-size: 16px !important;
  border: 1px solid #1778b9 !important;
}
.buttonClass2:hover{
  background-color: #1b8ad6 !important;
}
.buttonClass2:active, .toggleClass2{
  background-color: #1b86d0 !important;
}
.buttonAddonBeforeClass2{
  background-color: #FFF !important;
  border-right: 1px solid #1778b9 !important;
}
.buttonAddonBeforeClass2 i{
  color: #1B95E0 !important;
}
/** SPLIT BUTTON - CUSTOM STYLE **/
.buttonClass3{
  background-color: #e0e000 !important;
  color: #222 !important;
  font-size: 16px !important;
  border: 1px solid #b9b900 !important;
}
.buttonClass3:hover{
  background-color: #d6d600 !important;
}
.buttonClass3:active{
  background-color: #d0d000 !important;
}
.buttonAddonBeforeClass3{
  border-right: 1px solid #b9b900 !important;
}
.buttonAddonBeforeClass3 i{
  color: #222 !important;
}
.splitButtonClass3, .actionMenuClass3{
  background-color:#e0e000 !important;
  border-top: 1px solid #b9b900 !important;
  border-right: 1px solid #b9b900 !important;
  border-bottom: 1px solid #b9b900 !important;
}
.splitButtonClass3:hover, .splitButtonClass3.ativo, .actionMenuClass3 li:hover{
  background-color: #d6d600 !important;
}
.splitButtonClass3:active, .actionMenuClass3 li:active, .toggleClass3{
  background-color: #d0d000 !important;
}
.splitButtonClass3 i, .actionMenuClass3 li{
  color: #222 !important;
}
.actionMenuClass3 li.separator{
  border-bottom: 1px solid #b9b900 !important;
}
/** MODAL - CUSTOM STYLE **/
.botao {
  color: #616161;
}
.iconCadUsuario i {
  color: #616161 !important;
}

.overlay-modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.infoDialog {
  background-color: #0090D9 !important;
  color: #fff !important;
}

.infoDialog i {
  color: #fff !important;
}

.errorDialog {
  background-color: #F25757 !important;
  color: #fff !important;
}

.errorDialog i {
  color: #fff !important;
}

.alertDialog {
  background-color: #FFC284 !important;
  color: #fff !important;
}

.alertDialog i {
  color: #fff !important;
}

.successDialog {
  background-color: #A8DBA8 !important;
  color: #fff !important;
}

.successDialog i {
  color: #fff !important;
}

