i {
  color: #454545;
  font-size: 1em;
  padding: 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  color: #686a6a;
  margin: 0;
  padding-bottom: 10px;
}

.text-content {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.header-truly {
  background: #53c68c;
  border: 0;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.header-truly a {
  color: #fff;
  text-decoration: none;
}

.container-truly {
  margin-top: 50px;
  background: #F9F9FA;
}

.container-truly .menu-container {
  padding: 0 !important;
  height: 100vw;
}

.container-truly .menu {
  list-style: none;
  padding: 0 0 0 0 ;
  background: #FFF;
  height: 100vw;
  -webkit-box-shadow: 0 0 5px 0 #7f7f7f;
  -moz-box-shadow: 0 0 5px 0 #7f7f7f;
  margin: 0;
}

.container-truly .menu li {
  padding: 10px 10px 10px 15px;
  border-bottom: dashed 1px #ccc;
  outline: none;
  transition: background linear 500ms;
}

.container-truly .menu li a {
  text-decoration: none;
  padding-left: 10px;
  color: #454545;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
}

.container-truly .menu li:hover {
  cursor: pointer;
  color: #fff;
  background: #81D5AB;
}

.container-truly .menu li:hover i {
  color: #fff;
}

.router-outlet {
  padding: 20px;
}

.active {
  background: #81D5AB;
  color: #fff;
}

.active i {
  color: #fff;
}


.group-component {
  padding: 15px;
}

.header-title-demo {
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
}

.git-logo {
  top: 90vh;
  padding-left: 10px;
  opacity: 0.8;
  position: fixed;
}

.git-logo:hover {
  cursor: pointer;
}
