.ui-table-calendar {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;

  >.ui-calendar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  >.ui-calendar-week {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    >.ui-header-item {
      width: 100%;
      font-variant: all-petite-caps;
      font-size: 1em;
      font-weight: 600;
      padding: 0 4px;
      text-align: center;
    }
  }

  >.ui-calendar-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

}
