<div class="ui-wrapper-calendar">
  <div class="ui-table-calendar" [style.height]="height" [style.width]="width">
    <div class="ui-calendar-header">
      <tl-navigator
        [date]="date"
        [withBorder]="false"
        (clickPrevious)="onClickPrevious($event)"
        (clickNavigator)="onClickNavigator($event)"
        (clickNext)="onClickNext($event)"
        [width]="todayButton ? 'calc(' + width + ' / 2 - 20px)' : 'calc(' + width + ' - 80px)'"
        [type]="typeNavigator">
      </tl-navigator>
      <tl-button (click)="clickToday()"
                 style="margin-left: 5px;"
                 [outline]="true"
                 *ngIf="todayButton"
                 [text]="todayDescription"
                 [color]="'primary'">
      </tl-button>
    </div>
    <div class="ui-calendar-week">
      <ng-container *ngIf="selectedPanel === 'days'">
        <div class="ui-header-item" *ngFor="let item of dayOfWeek">{{item}}</div>
      </ng-container>
    </div>
    <div class="ui-calendar-body" [style.height]="'calc(' + height + ' - 80px)'">
      <tl-days *ngIf="selectedPanel === 'days'"
               (selectDay)="onSelectDay($event)"
               [borders]="borders"
               [currentDate]="date">
      </tl-days>
      <tl-months *ngIf="selectedPanel === 'months'"
                 (selectMonth)="onSelectMonth($event)"
                 [currentDate]="date">
      </tl-months>
      <tl-years *ngIf="selectedPanel === 'years'"
                (selectYear)="onSelectYear($event)"
                [currentRange]="currentRange"
                [currentDate]="date">
      </tl-years>
    </div>
  </div>
</div>
