@mixin tl-calendar-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary: map-deep-get($theme, 'primary');
  $danger:  map-deep-get($theme, 'danger');

  .wrapper-calendar {
    border: 1px solid map-deep-get($basic, "default", "border");
    background-color: map-deep-get($basic, "default", "background");

    >.header-calendar {
      color: map-deep-get($basic, "default", "foreground");
      border-bottom: 1px solid  map-deep-get($basic, "default", "border");

      >.date {
        & span:hover {
          background: map-deep-get($basic, "hover", "background");
        }
      }
      >.todayButton {
        color: map-deep-get($primary, "default", "background");;
        &:hover{
          background-color: map-deep-get($basic, "hover", "background");
        }
      }
    }

    .ui-cell-status {
      &.primary {
       background: map-deep-get($primary, "default", "background");
      }
      &.danger {
        background: map-deep-get($danger, "default", "background");
      }
    }

    & .ui-table-calendar {
      & .ui-table-thead {
        & .ui-table-th {
          color: map-deep-get($basic, "default", "foreground");
          &:first-child {
            color: map-deep-get($danger, "default", "background");
          }
        }
      }

      & .ui-table-line .ui-table-cell {
        color: map-deep-get($basic, "default", "foreground");
        &:first-child:not(.notDay) {
          color: map-deep-get($danger, "default", "background");
        }
        &:hover:not(.ui-table-cell-empty) {
          border: 1px solid map-deep-get($basic, "default", "border") !important;
          border-radius: 20%;
        }
      }
    }
    & .today {
      color: map-deep-get($primary, "default", "background") !important;
    }

    & .navigator {
      border: 1px solid map-deep-get($basic, "default", "border") !important;
      border-radius: 20%;
    }

    & .selected {
      background-color: map-deep-get($primary, "default", "background");
      color: map-deep-get($primary, "default", "foreground") !important;
      border-radius: 20%;
    }
  }
}
