@mixin tl-calendar-theme($theme) {

  $basic:   map-deep-get($theme, 'basic');
  $primary: map-deep-get($theme, 'primary');
  $danger:  map-deep-get($theme, 'danger');

  .ui-table-calendar {
    background: map-deep-get($basic, "default", "background");
    border: 1px solid map-deep-get($basic, "default", "border");

    > .ui-calendar-week {
      border-top: 1px solid map-deep-get($basic, "default", "border");
      border-bottom: 1px solid map-deep-get($basic, "default", "border");
      background: map-deep-get($basic, "default", "background");
      > .ui-header-item {
        color: rgba(map-deep-get($basic, "default", "foreground"), 0.5);
      }
    }
  }
}
