<tl-form [mode]="'modal'" [formGroup]="form">
  <tl-panelgroup [labelGroup]="'General'">
    <div class="form-group">
      <tl-input formControlName="id" [labelSize]="'100px'" [label]="'ID'"></tl-input>
    </div>
    <div class="form-group">
      <tl-input formControlName="name" showValidations [labelSize]="'100px'" [label]="'Name'"></tl-input>
    </div>
    <div class="form-group">
      <tl-input formControlName="nickname" showValidations [labelSize]="'100px'" [label]="'Nickname'"></tl-input>
    </div>
    <div class="form-group">
      <tl-input formControlName="email" showValidations [label]="'Email'"></tl-input>
    </div>
    <div class="form-group">
      <tl-textarea formControlName="description" [label]="'Description'" [labelSize]="'100px'" [showCount]="true" showValidations></tl-textarea>
    </div>
  </tl-panelgroup>
  <div class="spacer"></div>
  <tl-panelgroup [labelGroup]="'Access Informations'">
    <div class="form-group">
      <div class="form-group">
        <tl-input formControlName="user" showValidations [labelSize]="'100px'" [label]="'User'"></tl-input>
      </div>
      <div class="form-group">
        <tl-input password formControlName="password" showValidations [labelSize]="'100px'"
                  [label]="'Password'"></tl-input>
      </div>
    </div>
  </tl-panelgroup>
</tl-form>
