@font-face {
  font-family: "Dimitri Swank";
  src: url("/assets/fonts/dimitri.TTF");
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/segoeui.ttf");
}

body{
  font-size: 14px;
}

.box-component-viewer {
  margin: 10px 0;
  border: 1px solid #c5c5c5;
  > .header {
    height: 40px;
    > ul {
      margin: 0;
      display: inline-flex;
      list-style: none;
      padding: 0;
      > li {
        background: #f1f1f1;
        height: 40px;
        text-align: center;
        cursor: pointer;
        color: #868686;
        line-height: 40px;
        padding: 0 20px;
        border-right: 1px solid #c5c5c5;
        .selected {
          border-top: 1px solid #66cc99;
        }
      }
    }
  }
}


blockquote {
  padding: 10px 20px;
  margin: 20px;
  color: #8a8a8a;
  border-left: 5px solid #59c7a4;
}

.hljs {
  margin: 0 !important;
  border-radius: 0 !important;
  border: 0;
}

.title {
  color: #626464;
  padding-bottom: 10px;
}

.text-content {
  font-size: 1.2em;
}

.table-truly-body:nth-child(odd) {
  background: #fff;
  border-top: none;

}

.table-truly-body:nth-child(even) {
  background: #f7f9f9;
  border-top: none;
}

.table-box {
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  
  overflow: hidden;
}

.table-truly-head {
  background-color: #fff;
  color: #525252;
}

.table-truly {
  margin: 0;
  border-collapse: collapse;
}

.spacer {
  padding-bottom: 10px; height: 10px;
}

.router-outlet {
  padding: 20px;
}

.group-component {
  padding: 15px;
}
