@font-face {
  font-family: "Dimitri Swank";
  src: url("/assets/fonts/dimitri.TTF");
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/segoeui.ttf");
}

.title {
  color: #626464;
  padding-bottom: 10px;
}

.text-content {
  font-size: 1.2em;
}

.table-truly-body:nth-child(odd) {
  background: #fff;
}

.table-truly-body:nth-child(even) {
  background: #f7f9f9;
}

.table-box {
  border: 1px solid #dbdddd;
}

.table-truly-head {
  background-color: #fff;
  color: #525252;
}

.table-truly {
  margin: 0;
  border-collapse: inherit;
}

.spacer {
  padding-bottom: 10px; height: 10px;
}

.router-outlet {
  padding: 20px;
}

.group-component {
  padding: 15px;
}

.header-title-demo {
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
}

.link-copy {
  color: #81D5AB;
}

.buttonClass1 {
  background-color: #81D5AB !important;
  border: 1px solid #6FB793 !important;
  color: #FFF !important;
  font-size: 12px !important;
}

.buttonClass1:hover {
  background-color: #7acda3 !important;
}

.buttonClass1:active {
  background-color: #74c79d !important;
}

.buttonClass2 {
  background-color: #1B95E0 !important;
  color: #FFF !important;
  font-size: 16px !important;
  border: 1px solid #1778b9 !important;
}

.buttonClass2:hover {
  background-color: #1b8ad6 !important;
}

.buttonClass2:active, .toggleClass2 {
  background-color: #1b86d0 !important;
}

.buttonAddonBeforeClass2 {
  background-color: #FFF !important;
  color: #1B95E0 !important;
  border-right: 1px solid #1778b9 !important;
}

.textIconAfterClass2 {
  color: #02f5f3 !important;
}

/** SPLIT BUTTON - CUSTOM STYLE **/
.buttonClass3 {
  background-color: #81D5AB !important;
  color: #656767 !important;
  font-size: 14px !important;
  border: 1px solid #6eb895 !important;
}

.buttonClass3:hover {
  background-color: #67ad8b !important;
}

.buttonClass3:active {
  background-color: #67ad8b !important;
}

.buttonAddonBeforeClass3 {
  border-right: 1px solid #6eb895 !important;
}

.splitButtonClass3, .actionMenuClass3 {
  background-color: #81D5AB !important;
  border-top: 1px solid #6eb895 !important;
  border-right: 1px solid #6eb895 !important;
  border-bottom: 1px solid #6eb895 !important;
}

.splitButtonClass3:hover, .splitButtonClass3.active, .actionMenuClass3 li:hover {
  background-color: #67ad8b !important;
}

.splitButtonClass3:active, .actionMenuClass3 li:active, .toggleClass3 {
  background-color: #67ad8b !important;
}

.splitButtonClass3 i, .actionMenuClass3 li {
  color: #858585 !important;
}

.actionMenuClass3 li.separator {
  border-bottom: 1px solid #6eb895 !important;
}

/** MODAL - CUSTOM STYLE **/
.botao {
  color: #616161;
}

.iconCadUsuario i {
  color: #616161 !important;
}

.overlay-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

.infoDialog {
  background-color: #0090D9 !important;
  color: #fff !important;
}

.infoDialog i {
  color: #fff !important;
}

.errorDialog {
  background-color: #F25757 !important;
  color: #fff !important;
}

.errorDialog i {
  color: #fff !important;
}

.alertDialog {
  background-color: #FFC284 !important;
  color: #fff !important;
}

.alertDialog i {
  color: #fff !important;
}

.busy {
  background-color: #b8c97c !important;
  color: #fff !important;
}

.busy i {
  color: #fff;
}

.confirmDialog {
  background-color: #719CC9 !important;
  color: #fff !important;
}

.confirmDialog i {
  color: #fff !important;
}

@media only screen and (min-width: 320px) {
  h1 {
    position: relative;
  }
  .module-name {
    display: none;
  }
  .module-name-top{
    display: block;
    font-size: 15px;
  }
}

@media only screen and (min-width: 558px) {
  .module-name {
    position: absolute;
    font-size: 15px;
    margin-left: 10px;
    display: inline-block;
    line-height: 39px;
    top: 0;
  }
  .module-name-top{
    display: none;
  }
}
