<ng-template #templateList let-item>
  <li class="ui-item-context" (click)="onClickItem(item?.callback)"
      [class.hasChildren]="item?.children"
      [class.no-icon]="!item?.icon || item?.template">

    <ng-container *ngIf="item?.template; else listDefault">
      <ng-container *ngTemplateOutlet="item?.template"></ng-container>
    </ng-container>

    <ng-template #listDefault>
      <tl-icon [color]="item?.iconColor" [size]="'15px'" *ngIf="item?.icon">{{ item?.icon }}</tl-icon>
      <span class="ui-item-label">{{ item?.label }}</span>
      <tl-icon class="ui-item-arrow" *ngIf="item?.children" [lib]="'ion'" [style]="'ios'" [size]="'15px'">arrow-forward</tl-icon>
    </ng-template>

    <ng-container *ngIf="item?.children">
      <ng-container *ngTemplateOutlet="templateUL; context: { $implicit: item?.children }"></ng-container>
    </ng-container>

  </li>
</ng-template>

<div class="ui-menu-context-wrapper">
  <ul class="ui-menu-context">
    <ng-template ngFor let-item [ngForOf]="contextMenu">
      <ng-template
        [ngTemplateOutlet]="templateList"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ul>
</div>

<ng-template #templateUL let-children>
  <ul class="ui-menu-context">
    <ng-template ngFor let-item [ngForOf]="children">
      <ng-template
        [ngTemplateOutlet]="templateList"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ul>
</ng-template>



