<div class="router-outlet">
  <app-showcase-header name="Navigator" module="NavigatorModule">
    Used to move forward and back months, days, years and more.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-4">
              <h6>Basic Usage</h6>
              <tl-navigator [type]="'monthyear'" (clickPrevious)="onClickPrevious($event)" (clickNext)="onClickNext($event)" ></tl-navigator>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-navigator [type]="'monthyear'"></tl-navigator>
              </textarea>
            </div>
            <div class="col-md-4">
              <h6>With RangeYear Type</h6>
              <tl-navigator [type]="'rangeyear'" [range]="10"  (clickPrevious)="onClickPrevious($event)" (clickNext)="onClickNext($event)" ></tl-navigator>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
                <tl-navigator [type]="'rangeyear'" [range]="10"></tl-navigator>
              </textarea>
            </div>
            <div class="col-md-4">
              <h6>With Year Type</h6>
              <tl-navigator [type]="'year'"  (clickPrevious)="onClickPrevious($event)" (clickNext)="onClickNext($event)" ></tl-navigator>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
               <tl-navigator [type]="'year'"></tl-navigator>
              </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-4">
              <h6>With Day Type</h6>
              <tl-navigator [type]="'day'"  (clickPrevious)="onClickPrevious($event)" (clickNext)="onClickNext($event)" ></tl-navigator>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
               <tl-navigator [type]="'day'"></tl-navigator>
              </textarea>
            </div>
            <div class="col-md-8">
              <h6>Without Border</h6>
              <tl-navigator [withBorder]="false"  (clickPrevious)="onClickPrevious($event)" (clickNext)="onClickNext($event)" ></tl-navigator>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
               <tl-navigator [withBorder]="false"></tl-navigator>
              </textarea>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
          <app-card>
            <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
          <app-card>
            <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
