<div class="router-outlet">
  <app-showcase-header name="Menu" module="MenuModule">
    Menu's can be pretty fancy and TrulyUI have a few options to set up
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12 header-menu-title">
              <span>[mode] = 'simple'</span>
              <h3> SimpleMenu </h3>
            </div>
            <div class="col-md-6">
              <div class="col-md-5" style="padding-left: 0">
                <tl-menu
                  [items]="menuItems"
                  [link]="'link'"
                  [width]="'250px'"
                  [label]="'label'"
                  [group]="'category'"
                  [subItem]="'subItem'"
                  [icon]="'icon'">
                </tl-menu>
              </div>
              <div class="col-md-7">
                <div class="spacer"></div>
                <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-menu
  [items]="menuItems"
  [link]="'link'"
  [width]="'250px'"
  [label]="'label'"
  [group]="'category'"
  [subItem]="'subItem'"
  [icon]="'icon'">
</tl-menu>
              </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-2">
                <tl-menu
                  [items]="menuItems"
                  [link]="'link'"
                  [label]="'label'"
                  [docked]="true"
                  [group]="'category'"
                  [subItem]="'subItem'"
                  [icon]="'icon'">
                </tl-menu>
              </div>
              <div class="col-md-10">
                <div class="spacer"></div>
                <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-menu
  [items]="menuItems"
  [link]="'link'"
  [label]="'label'"
  [docked]="true"
  [group]="'category'"
  [subItem]="'subItem'"
  [icon]="'icon'">
</tl-menu>
            </textarea>
              </div>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12 header-menu-title">
              <span>[mode] = 'advanced'</span>
              <h3> AdvancedMenu </h3>
            </div>
            <div class="col-md-6">
              <div class="col-md-5" style="padding-left: 0 ">
                <tl-menu
                  [items]="menuItems"
                  [link]="'link'"
                  [width]="'250px'"
                  [filterEmptyMessage]="'Not Found'"
                  [inputPlaceholder]="'Type something...'"
                  [titleMenu]="'Main Menu'"
                  [label]="'label'"
                  [group]="'category'"
                  [subItem]="'subItem'"
                  [mode]="'advanced'"
                  [icon]="'icon'">
                </tl-menu>
              </div>
              <div class="col-md-7">
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-menu
  [items]="menuItems"
  [link]="'link'"
  [width]="'250px'"
  [filterEmptyMessage]="'Not Found'"
  [inputPlaceholder]="'Type something...'"
  [titleMenu]="'Main Menu'"
  [label]="'label'"
  [group]="'category'"
  [subItem]="'subItem'"
  [mode]="'advanced'"
  [icon]="'icon'">
</tl-menu>
              </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-2">
                <tl-menu
                  [items]="menuItems"
                  [link]="'link'"
                  [width]="'200px'"
                  [filterEmptyMessage]="'Not Found'"
                  [inputPlaceholder]="'Type something...'"
                  [titleMenu]="'Main Menu'"
                  [label]="'label'"
                  [docked]="true"
                  [dockWidth]="'35px'"
                  [group]="'category'"
                  [subItem]="'subItem'"
                  [mode]="'advanced'"
                  [icon]="'icon'">
                </tl-menu>
              </div>
              <div class="col-md-10">
                <div class="spacer"></div>
                <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-menu
  [items]="menuItems"
  [link]="'link'"
  [width]="'200px'"
  [filterEmptyMessage]="'Not Found'"
  [inputPlaceholder]="'Type something...'"
  [titleMenu]="'Main Menu'"
  [label]="'label'"
  [docked]="true"
  [dockWidth]="'35px'"
  [group]="'category'"
  [subItem]="'subItem'"
  [mode]="'advanced'"
  [icon]="'icon'">
</tl-menu>
            </textarea>
              </div>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
