@mixin borderSide {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

.ui-wrapper-item {
  width: auto;
  animation-name: creating;
  animation-duration: 200ms;
  height: 30px;
  box-sizing: border-box;
}

.ui-menu-item {
  position: relative;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #a2a2a2;
  font-size: 1em;
  margin-right: 10px;
  background: #fff;
  padding: 5px 15px;
  @include borderSide;
  &:hover {
    background: #f5f5f5;
    cursor: pointer;
  }
  &:first-child {
    position: relative;
  }
  &:last-child {
    position: relative;
  }

  .ui-icon-right {
    position: absolute;
    padding-right: 5px;
    font-size: 0.7em;
    padding-top: 5px;
    right: 0;
  }

  .ui-label {
    padding-left: 5px;
  }

  .ui-icon-left {
    position: absolute;
    padding-left: 5px;
    left: 0;
  }

}

.borderTop {
  border-top: 1px solid #c3c3c3;;
}

.borderBottom {
  border-bottom: 1px solid #c3c3c3;;
}

@keyframes creating {
  0%   {opacity:0; }
  25%  {opacity:0.25; }
  50%  {opacity:0.5; }
  75%  {opacity:0.75; }
  100% {opacity:1; }
}
