strong{
  font-weight: bold;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home-page {
    margin-bottom: 100px;
    padding: 0;
    margin: 0;
  }
  .banner {
    background-color: #444444;
    .logo {
      position: relative;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 50px;
      color: #66CC99;
      > .logo-img {
        img {
          margin: 0 auto;
          top: 20px;
          left: 80px;
        }
      }
      > .description {
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        color: #fff;
        font-size: 26px;
      }
      .description p:first-child {
        font-family: sans-serif;
        font-size: 1.5em
      }
      > .description p {
        line-height: 1.3em;
        margin: 0;
      }
      > .description p:last-child {
        margin-top: 10px;
        font-size: 20px;
        text-align: right;
      }
    }
    .btn-get-started {
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
      text-transform: uppercase;
      background-color: #66CC99;
      margin-bottom: 20px;
    }
    .btn-get-started:hover {
      background-color: #5DBA8C;
      color: #fff;
      cursor: pointer;
    }
    .desk {
      padding-top: 35px;
      background-color: #4c4c4c;
      z-index: 1;
      > .desk-table img {
        margin: 25px auto 0 auto;
      }
    }
    .desk:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: -25%;
      z-index: -1;
      width: 150%;
      height: 50%;
      background: inherit;
      transform: rotate(4deg);
      transform-origin: 80% 0;
    }
    .info-version-md {
      display: none;
    }
  }
  .info-version {
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    text-align: center;
    color: #8c8c8c;
    margin-bottom: 10px;
    font-size: 11px;
    a:hover {
      color: #66CC99;
    }
  }
  .info-version a {
    color: #8c8c8c;
  }
  .why-truly-ui {
    padding-top: 50px;
    padding-bottom: 35px;
    .logo img {
      width: 50%;
      margin: 0 auto;
    }
    .why-tl {
      text-align: center;
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
      h1 {
        margin-bottom: 15px;
      }
      p {
        font-size: 1.7em;
        line-height: 1.7em;
        color: #444;
        font-weight: 300;
        word-break: normal;
        padding-bottom: 45px;
      }
    }
    .feature-box {
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
      padding-bottom: 15px;
      h3 {
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 5px;
        line-height: 1.1em;
        font-size: 1.8em;
      }
      h3 i {
        padding-right: 5px;
      }
      p {
        font-size: 16px;
        line-height: 1.7em;
        font-weight: 400;
        color: #817f7f;
        letter-spacing: -.02em;
        margin-bottom: 15px;
      }
    }
  }
  .web-components {
    display: block;
    padding-top: 30px;
    padding-bottom: 25px;
    h1 {
      color: #FFF;
    }
    h4 {
      color: #FFF;
      opacity: 0.6;
      margin-top: 20px;
      margin-bottom: 25px;
    }
    .web-components-list {
      margin-bottom: 25px;
      i {
     //   color: #626060;
        font-size: 4em;
      }
      p {
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        color: #fff;
        font-size: 16px;
        margin: 0;
        line-height: 1.8em;
      }
    }
  }
  .git-and-getstarted {
    padding-top: 50px;
    padding-bottom: 25px;
    .list {
      margin-bottom: 25px;
      h2 {
        margin-top: 0;
        color: #8c8c8c;
      }
      h2:hover {
        color: #66CC99;
      }
      i {
        margin-left: -10px;
        color: #626060;
        font-size: 4em;
        margin-top: 4px;
      }
      p {
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        color: #aeafb1;
        font-size: 16px;
        margin: 0;
        line-height: 1.8em;
      }
    }
  }
  .fix-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .ui-box-features {
    padding-left: 90px;
    padding-right: 10px;
    i {
      position: absolute;
      top: 2px;
      left: -75px;
    }
  }
  .tl-dialog i {
    margin-top: -11px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .banner {
    .logo {
      > .description p {
        text-align: center;
      }
      .description p:first-child {
        font-family: sans-serif;
        font-size: 2em
      }
      > .description p:last-child {
        text-align: center;
      }
    }
    .info-version {
      font-size: 13px;
    }
  }
  .why-truly-ui {
    .logo img {
      width: 150px;
    }
  }
  .web-components {
    .web-components-list {
      min-height: 100px;
    }
  }
  .git-and-getstarted {
    .list {
      i {
        font-size: 5em;
      }

    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .banner {
    .info-version {
      font-size: 11px;
      margin-bottom: 40px;
    }
    .btn-get-started {
      padding: 15px 50px;
      font-size: 17px;
    }
  }
  .description p:first-child {
    font-family: sans-serif;
    font-size: 2em
  }
  .why-truly-ui {
    padding-top: 15px;
    .logo img {
      width: 150px;
    }
    .why-tl {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
        padding-bottom: 25px;
      }
    }
    .feature-box {
      text-align: center;
    }
  }
  .ss-style-triangles::after {
    position: relative;
    bottom: 50px;
    z-index: 0;
    background: inherit;
    background-color: #4c4c4c;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .banner {
    height: 350px;
    position: relative;
    width: 100%;
    .banner-separator {
      position: absolute;
      top: 0;
      right: 0;
      height: 350px;
      background-color: #4c4c4c;
      width: 55%;
      float: right;
      -webkit-transform: skew(-20deg) translateX(10px);
      -ms-transform: skew(-20deg) translateX(10px);
      transform: skew(-20deg) translateX(100px);
    }
    .logo {
      .logo-img img {
        position: absolute;
        top: 50px;
        left: 110px;
        user-select: none;
        overflow: hidden;
      }
      .description {
        position: absolute;
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        color: #fff;
        top: 60px;
        left: 110px;
        font-size: 14px;
      }
      .description p:first-child {
        font-family: sans-serif;
        font-size: 5em
      }
      .description p {
        text-align: inherit;
        font-size: 1.5em;
      }
      .description p:last-child {
        text-align: inherit;
        font-size: 1.5em;
      }
    }
    .banner-footer {
      position: absolute;
      height: 70px;
      background-color: #4c4c4c;
      width: 100%;
      bottom: 0;
      a.btn-get-started {
        background-color: #66CC99;
        border-radius: 5px;
        height: 40px;
        line-height: 37px;
        vertical-align: middle;
        text-align: center;
        width: 180px;
        margin-top: 15px;
        padding: 0;
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        font-size: 1.1em;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 80px;
      }
      a.btn-get-started:hover {
        background-color: #5DBA8C;
        color: #FFF;
      }
      .info-version {
        display: none;
      }
    }
    .banner-image {
      position: absolute;
      width: 48%;
      height: 230px;
      right: 0;
      top: 123.5px;
      background: url("../../assets/img/desk.png") no-repeat;
      background-size: 620px;
    }
    .info-version-md {
      display: block;
      position: absolute;
      top: 50px;
      width: 32%;
      right: 50px;
      text-align: center;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      p {
        color: #8c8c8c;
        a {
          color: #8c8c8c;
        }
        a:hover {
          color: #66CC99;
        }
      }
    }
  }
  .why-truly-ui {
    margin-top: 100px;
    margin-bottom: 100px;
    .logo {
      img {
        width: 200px;
      }
    }
    .why-tl {
     // padding-bottom: 100px;
      h1 {
        font-size: 36px;
        text-align: left;
      }
      p {
        font-weight: 300;
        text-align: justify;
        word-break: normal;
        font-size: 1.5em;
        line-height: 45px;
      }
    }
    .feature-box {
      text-align: left;
      h3 {
        i {
          margin-left: -5px;
        }
      }
    }
  }
  .web-components {

    .web-components-header {
      margin: 70px 0 100px 0;
      h1 {
        font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
        font-weight: normal;
        margin: 0 auto;
        color: #fff;
      }
    }
    .web-components-row{
      margin: 80px 20px;
    }
     .ui-box-features {
      padding-left: 90px;
      padding-right: 10px;
    }
  }
  .ss-style-triangles:after {
    display: none;
  }
  .git-and-getstarted {
    padding-top: 40px;
    padding-bottom: 40px;
    .list {
      margin-bottom: 0;
      i {
        margin-left: -35px;
      }
    }
    .list:first-child {
      .getting-started {
        margin-left: -15px;
      }
      p {
        padding-right: 30px;
      }
    }
    .list:last-child {
      margin-left: -20px;
      padding-right: 50px;
    }
    .separator {
      margin: 0 auto;
      margin-left: -18px;
      position: absolute;
      width: 2px;
      height: 140px;
      background: -webkit-linear-gradient(top, rgba(236, 240, 245, 0) 0%, rgba(222, 223, 225, 1) 49%, rgba(255, 255, 255, 0) 100%);
    }
  }
}

/* Fix Version */
@media only screen and (min-width: 1540px) {
  .banner {
    .banner-footer {
      .info-version {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        display: block;
        font-size: 14px;
        padding-top: 25px;
        p {
          text-align: center;
          a:hover {
            color: #66CC99;
          }
        }
      }
    }
    .info-version-md {
      display: none;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/* min 1840w to max 1920w */
@media only screen and (min-width: 1840px) {
  .git-and-getstarted {
    .separator {
      height: 100px;
    }
  }
  .ui-box-features {
    padding-left: 90px;
    padding-right: 83px;
  }
}
