<div class="home-page">
  <div class="row ss-style-triangles">
    <div class="container-fluid banner">
      <div class="col-12 fix-padding">
        <div class="col-12 col-md-6 logo">
          <div class="description">
            <p>TrulyUI</p>
            <p>The Real Desktop Web Framework</p>
            <p>for <strong>Angular</strong></p>
          </div>
        </div>
        <div class="banner-separator"></div>
        <div class="col-12 d-md-none d-lg-none desk">
          <div class="col-12 d-block">
            <tl-button href="/gettingstarted" (click)="onClickGetStarted()" [height]="'40px'" [text]="'GET STARTED'" [color]="'primary'"></tl-button>
          </div>
          <div class="col-12 d-md-none d-lg-none info-version">
            <p><a href="{{lastRelease?.html_url}}" target="_blank">{{lastRelease?.name}}</a> /
              {{lastRelease?.published_at | date:'yyyy-MM-dd'}} /
              <a href="https://github.com/TemainfoSistemas/truly-ui/blob/master/LICENSE.md" target="_blank">MIT
                Licensed</a> /
              <a href="{{lastRelease?.html_url}}" target="_blank">Release Notes</a></p>
          </div>
          <div class="col-12 hidden-sm d-md-none d-lg-none desk-table">
            <img src="../../assets/img/desk.png" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="banner-footer d-none d-lg-block">
        <div class="col-md-6">
          <div class="col-md-5" style="padding-top: 15px;">
            <tl-button style="margin-left: 85px;" href="/gettingstarted" (click)="onClickGetStarted()" [height]="'40px'"
                       [width]="'180px'" [text]="'GET STARTED'" [color]="'primary'"></tl-button>
          </div>
          <div class="col-md-7 d-lg-block">
            <div class="info-version">
              <p><a class="tl-scheme-primary -paint-link" href="{{lastRelease?.html_url}}" target="_blank">{{lastRelease?.name}}</a>
                /
                {{lastRelease?.published_at | date:'yyyy-MM-dd'}} /
                <a class="tl-scheme-primary -paint-link"
                   href="https://github.com/TemainfoSistemas/truly-ui/blob/master/LICENSE.md" target="_blank">MIT
                  Licensed</a> /
                <a class="tl-scheme-primary -paint-link" href="{{lastRelease?.html_url}}" target="_blank">Release
                  Notes</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-image"></div>
      <div class="info-version-md">
        <p><a class="tl-scheme-primary -paint-link" href="{{lastRelease?.html_url}}" target="_blank">{{lastRelease?.name}}</a>
          /
          {{lastRelease?.published_at | date:'yyyy-MM-dd'}} /
          <a class="tl-scheme-primary -paint-link"
             href="https://github.com/TemainfoSistemas/truly-ui/blob/master/LICENSE.md" target="_blank">MIT
            Licensed</a> /
          <a class="tl-scheme-primary -paint-link" href="{{lastRelease?.html_url}}" target="_blank">Release Notes</a>
        </p>
      </div>
    </div>
  </div>

  <!--why-truly-ui-->
  <div class="row">
    <div class="container-fluid why-truly-ui">
      <div class="col-12">
        <div class="row justify-content-md-center " style="margin-bottom: 80px;">
          <div class="col-12 col-md-3 order-md-7 logo" style="display: flex;align-items: center;">
            <div style="width: 100%; text-align: center;">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                   preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="300" height="300">
                <defs>
                  <path class="tl-scheme-primary -paint-svg" d="M307.88 515.47L149.84 427.23L121.08 180.17L307.88 113.51L307.88 515.47Z"
                        id="n1IOXn6Mo"></path>
                  <path class="tl-scheme-primary -paint-svg" d="M307.58 515.47L465.62 427.23L494.38 180.17L307.58 113.51L307.58 515.47Z"
                        id="c2NaDiQeJu"></path>
                  <path d="M307.88 515.47L465.92 427.23L494.68 180.17L307.88 113.51L307.88 515.47Z"
                        id="g43uRwagp7"></path>
                  <path
                    d="M325.53 416.38L325.53 297.63L342.35 297.63L377.93 261.58L234.66 261.58L268.8 297.63L289.47 297.63L289.47 416.38L163.99 227.11L448.6 227.11L325.53 416.38Z"
                    id="a4aZ6TbNkM"></path>
                </defs>
                <g>
                  <g>
                    <g>
                      <use xlink:href="#n1IOXn6Mo" opacity="1" fill="#66cc99" fill-opacity="1"></use>
                      <g>
                        <use xlink:href="#n1IOXn6Mo" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1"
                             stroke-opacity="0"></use>
                      </g>
                    </g>
                    <g>
                      <use xlink:href="#c2NaDiQeJu" opacity="1" fill="#66cc99" fill-opacity="1"></use>
                      <g>
                        <use xlink:href="#c2NaDiQeJu" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1"
                             stroke-opacity="0"></use>
                      </g>
                    </g>
                    <g>
                      <use xlink:href="#g43uRwagp7" opacity="0.06" fill="#000000" fill-opacity="1"></use>
                      <g>
                        <use xlink:href="#g43uRwagp7" opacity="0.06" fill-opacity="0" stroke="#000000" stroke-width="1"
                             stroke-opacity="0"></use>
                      </g>
                    </g>
                    <g>
                      <use xlink:href="#a4aZ6TbNkM" opacity="1" fill="#ffffff" fill-opacity="1"></use>
                      <g>
                        <use xlink:href="#a4aZ6TbNkM" opacity="1" fill-opacity="0" stroke="#000000" stroke-width="1"
                             stroke-opacity="0"></use>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div class="col-12 col-md-5 order-md-2 why-tl">
            <h1>Why TrulyUI ?</h1>
            <p>TrulyUI is an <strong>Angular</strong> UI Framework especially developed for Desktop
              Applications based on Web Components using the greatest technologies of the world.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
       <div class="row">
         <div class="col-12 col-md-4 feature-box">
           <div class="col-12 col-md-10 offset-md-2">
             <h3><i class="ion-md-checkmark tl-scheme-primary -paint-icon"></i>Free & Open Source</h3>
             <p>TrulyUI Framework is a 100% free and open source project, licensed under MIT.
               It will always remain free to use, powered by a massive world-wide community.</p>
           </div>
         </div>
         <div class="col-12 col-md-4 feature-box">
           <div class="col-12 col-md-10 offset-md-1">
             <h3><i class="ion-md-checkmark tl-scheme-primary -paint-icon"></i>Based on Angular</h3>
             <p>TrulyUI is based on Angular, maintained by world-wide community. By the way,
               we believe that Angular is the most promising Web Framework.</p>
           </div>
         </div>
         <div class="col-12 col-md-4 feature-box">
           <div class="col-12 col-md-10">
             <h3><i class="ion-md-checkmark tl-scheme-primary -paint-icon"></i>Desktop Applications</h3>
             <p>We developed TrulyUI thinking to fill a gap on open-source Web Technologies that's poor
               when it's about applications on Desktop.<br><em>Ex: Electron, App.js and NW.js</em></p>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>

  <!--web-components-->
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid web-components tl-scheme-primary -paint-bg">
        <div class="col-12 web-components-header">
          <h1 class="text-center">The Most Complete Open Source UI Library for Desktop Applications</h1>
          <h4 class="text-center">Everything you need to create a complete based on desktop application.</h4>
        </div>
        <div class="col-12 web-components-row">
         <div class="row">
           <div class="col-12 col-md-4 web-components-list ui-box-features">
             <div class="col-12 col-md-10 offset-md-2">
               <i class="fa fa-terminal tl-scheme-primary -paint-font"></i>
               <p><strong>TL-INPUT</strong> Are fields which allow for an input of data, based on a specific and
                 predefined format. With many properties that can be used to different's kind of data or treatment.</p>
             </div>
           </div>
           <div class="col-12 col-md-4 web-components-list ui-box-features">
             <div class="col-12 col-md-10 offset-md-1">
               <i class="fa fa-poll-h tl-scheme-primary -paint-font"></i>
               <p><strong>TL-FORM</strong> It's a rich modal component with many features such as intelligence tabbing,
                 validation of the internal components, window controls and more.</p>
             </div>
           </div>
           <div class="col-12 col-md-4 web-components-list ui-box-features">
             <div class="col-12 col-md-10">
               <i class="fa fa-comment-alt tl-scheme-primary -paint-font"></i>
               <p><strong>TL-DIALOG</strong> It's a service that has your own set up according with it function such as
                 Dialog Info, Alert,
                 Confirm and Error. The dialog's have all control window functions as well.</p>
             </div>
           </div>
         </div>
        </div>
        <div class="col-12 web-components-row">
        <div class="row">
          <div class="col-12 col-md-4 web-components-list ui-box-features">
            <div class="col-12 col-md-10 offset-md-2">
              <i class="fa fa-table tl-scheme-primary -paint-font"></i>
              <p><strong>TL-DATATABLE</strong> As the name describes, represents massive grid data,
                with nice features such as a Intelligence LazyLoad Order, Filter and Keyboard Navigation.</p>
            </div>
          </div>
          <div class="col-12 col-md-4 web-components-list ui-box-features">
            <div class="col-12 col-md-10 offset-md-1">
              <i class="fa fa-bookmark tl-scheme-primary -paint-font"></i>
              <p><strong>TL-SCHEDULE</strong> Displays appointments across the timetable and allows a user to quickly
                change between different timetable views using the View Selector and navigate using the Date Navigator.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 web-components-list ui-box-features">
            <div class="col-12 col-md-10">
              <i class="fa fa-minus-square tl-scheme-primary -paint-font"></i>
              <p><strong>TL-BUTTON</strong> The buttons have many properties to be used, and custom behavior can be
                attached.
                It's intelligence when used with Dialog and Form, creating own actions to return for them.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--git-and-getstarted-->
  <div class="container-fluid git-and-getstarted">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-5 offset-md-1 list">
            <div class="row">
              <div class="col-2 col-sm-2">
                <i class="fa fa-play"></i>
              </div>
              <div class="col-9 col-sm-10 offset-1 offset-sm-0 getting-started">
                <a href="/gettingstarted" target="_blank"><h2 class="tl-scheme-primary -paint-link">Getting Started</h2></a>
                <p>Learn more about how to install TrulyUI Framework. We'll cover the basics and get
                  you started from the ground up.</p>
              </div>
            </div>
          </div>
          <div class="col-md-1 d-md-block d-lg-block">
            <div class="separator"></div>
          </div>
          <div class="col-12 col-md-5 list">
            <div class="row">
              <div class="col-2 col-sm-2">
                <i class="fab fa-github"></i>
              </div>
              <div class="col-9 col-sm-10 offset-1 offset-sm-0">
                <a href="https://github.com/TemainfoSistemas/truly-ui" target="_blank"><h2
                  class="tl-scheme-primary -paint-link">Fork
                  us on Github</h2></a>
                <p>Fork us on Github and Contribute with the project.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
