@import "../core/core";

//Default
.tl-split-button-box{
  display: inline-block;
  position: relative;
  height: 39px;
  > .split-button-actions{
    background-color:#E8E8E8;
    border-top: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    color: #616161;
    height: 39px;
    line-height: 39px;
    cursor: pointer;
    float: right;
  }
  > .split-button-actions:hover, .split-button-actions.ativo{
    background-color: #dedede !important;
  }
  > .split-button-actions:active{
    background-color: #d8d8d8;
  }
}

.actions-menu{
  display:inline;
  list-style: none;
  position: absolute;
  top:39px;
  left:0;
  background-color: #E8E8E8;
  padding: 5px;
  min-width: 102px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  border:1px solid #C8C8C8;
  z-index: 1;
  cursor: auto;
}
.actions-menu li.separator{
  border-bottom:1px solid #C8C8C8 !important;
}
.actions-menu li{
  padding: 0 10px;
  color: black;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.actions-menu li:hover{
  background-color: #dedede;
}
.icon-action{
  padding: 0 5px 0 0;
}