@import "../core/core";

//Default
$button-height: 39px;

.tl-split-button-box{
  display: inline-block;
  position: relative;
  height: $button-height;
  > .split-button-actions{
    background-color:#E8E8E8;
    border-top: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    color: #616161;
    height: $button-height;
    line-height: $button-height;
    cursor: pointer;
    float: right;
    user-select: none;
  }
  > .split-button-actions:hover, .split-button-actions.ativo{
    background-color: #dedede;
  }
  > .split-button-actions:active{
    background-color: #d8d8d8;
  }
  > .split-button-actions i{
    color: #6A6A6A;
  }
}
.actions-menu{
  display:inline;
  list-style: none;
  position: absolute;
  top: $button-height;
  left:0;
  background-color: #E8E8E8;
  padding: 5px;
  min-width: 102px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  border:1px solid #C8C8C8;
  z-index: 1;
  cursor: auto;
}
