<div class="tl-split-button-box">

    <tl-button [text]="text"
               [type]="type"
               [size]="size"
               [disabled]="disabled"
               [buttonClass]="buttonClass"
               [iconAddonBefore]="iconAddonBefore"
               [buttonAddonBeforeClass]="buttonAddonBeforeClass"
               [iconAddonAfter]="iconAddonAfter"
               [buttonAddonAfterClass]="buttonAddonAfterClass"
               [iconLeftTextButton]="iconLeftTextButton"
               [iconRightTextButton]="iconRightTextButton">
    </tl-button>

    <div [ngClass]="{'ativo': showHide === true }"
         [class]="splitButtonClass + ' split-button-actions ' "
         (click)="changeShowStatus($event.stopPropagation())">

        <i class="ion-chevron-up" *ngIf="showHide"></i>
        <i class="ion-chevron-down" *ngIf="!showHide"></i>

        <ul #lista
            *ngIf="showHide"
            [class]="actionMenuClass + ' actions-menu ' "
            [ngStyle]="{'z-index': zIndex}"
            [@enterAnimation]></ul>

    </div>

</div>