
//Default
$button-height: 37px;
$border-default: 1px solid #C8C8C8;
$button-font-family: 'Segoe UI', sans-serif;
$button-font-size: 0.9em;

.tl-split-button-box{
  font-family: $button-font-family;
  font-size: $button-font-size;
  display: inline-block;
  position: relative;
  height: $button-height;
  > .split-button-actions{
    margin: 0;
    padding: 0;
    background-color:#E8E8E8;
    border-top: $border-default;
    border-right: $border-default;
    border-bottom: $border-default;
    color: #6A6A6A;
    line-height: $button-height;
    cursor: pointer;
    float: right;
    user-select: none;

    >.actions-menu{
      position: absolute;
      overflow: hidden;
      top: 39px;
      left:0;
      margin: 0;
      height:auto;
      display:inline;
      padding: 0;
      list-style: none;
      background-color: #E8E8E8;
      min-width: 125px;
      border: $border-default;
      border-top: 0 !important;
      z-index: 1;
      cursor: auto;
    }
  }
  > .split-button-actions:hover, .split-button-actions.ativo{
    background-color: #dedede;
  }
  > .split-button-actions:active{
    background-color: #d8d8d8;
  }
  > .split-button-actions i{
    color: #6A6A6A;
    padding: 0 15px;
  }
}

