<div class="formBox" (keydown)="handleKeysForm($event)">
    <div class="formContent" #content [style.padding]="padding">
        <ng-content></ng-content>
    </div>
    <div class="clearfix"></div>
    <div class="forFooter">
        <div class="controls">
            <tl-button #buttonFormCancel
                       [text]="textCancel"
                       mdResult="MRCANCEL"
                       [shortcut]="closeShortcut"
                       [colorIconBefore]="'#e87272'"
                       [formResult]="formResult"
                       [buttonAddonBeforeClass]="'iconCadUsuario'"
                       [iconAddonBefore]="'ion-close-circled'">
            </tl-button>
            <tl-button #buttonFormOk
                       [style.padding-right]="'5px'"
                       [text]="textConfirm"
                       mdResult="MROK"
                       [shortcut]="submitShortcut"
                       [disabled]="!validForm"
                       [colorIconBefore]="'#24b959'"
                       (keyup)="onKeyDownButtonOk($event)"
                       [formResult]="formResult"
                       [buttonAddonBeforeClass]="'icon'"
                       [iconAddonBefore]="'ion-checkmark'">
            </tl-button>
        </div>
    </div>
</div>
