@import "../core/core";

//Default

@mixin textInput {
  color: #CACACA;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

.tl-autocomplete-box {
  width: 100%;
  display: table;
  border-collapse: separate;
  > .label {
    line-height: 1;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    color: #737373;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    > b.required {
      color: #FF6666;
    }
  }
  > .label.-labeltop {
    text-align: left;
    padding: 0 0 5px 0;
    display: table-caption;
  }
  > .label.-labelleft {
    text-align: right;
    padding: 5px 5px 5px 0;
    display: table-cell;
  }

  > .label.-validation {
    color: #FF6666;
    font-size: 0.7em;
  }
  > .tl-autocomplete-wrapper {
    box-sizing: unset;
    position: relative;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    > i.search-icon{
      background-color: #f6f6f6;
      font-size: 12px;
      padding: 0 5px;
      position: absolute;
      top: 1px;
      left: 1px;
      color: #afadae;
      line-height: 23px;
      border-right: 1px solid #f0f0f0;
    }
    > .tl-autocomplete-list {
      position: absolute;
      cursor: pointer;
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      > .tl-autocomplete-list-items {
        overflow: auto;
        background: #FFF;
        border-radius: 0 0 4px 4px;
        border: 1px solid rgba(0, 0, 0, .13);
        color: #616161;
        border-top: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
          //vertical-align: middle;
          cursor: pointer;
          font-family: 'Segoe UI';
          font-size: 0.9em;
          color: #616161;
          outline: none;
          //line-height: 25px;
          //padding: 0 10px;
          //padding: 5px 0 5px 5px;
          border-bottom: 1px solid #ece8f0;
          position: relative;
          > span {
            position: absolute;
            padding: 0;
            margin: 0;
            font-size: 0.93em;
          }
          > .item-label {
            top: 1px;
            left: 7px;
          }
          > .item-simple-label {
            line-height: 33px;
            padding: 0 7px;
          }
          > .item-description {
            bottom: 2px;
            font-size: 0.73em;
            left: 7px;
            color: #a5a5a5;
          }
          > .item-id {
            top: 6px;
            font-size: 1em;
            right: 7px;
          }
        }
        > li:last-child {
          border-bottom: 0px solid #ece8f0;
        }
        > li:hover {
          color: #FFF;
          background-color: #53C68C;
          cursor: pointer;
          > .item-description {
            color: #f0f0f0;
          }
        }
        > li.item-list {
          //padding: 5px;
        }
        > li.item-add {
          background-color: #E0F0E8;
          padding: 0 7px;
          line-height: 31px;
          > i {
            font-size: 1.1em;
            margin-right: 7px;
          }
        }
        > li:last-child:hover, li.item-add-active{
          color: inherit;
          background-color: #C8E4D6;
        }
        > li.active-item {
          color: #FFF;
          background-color: #53C68C;
          > .item-description {
            color: #f0f0f0;
          }
        }
      }
      > .tl-autocomplete-list-items::-webkit-scrollbar {
        width: 0.6em;
        background: #F1F1F1;
      }
      > .tl-autocomplete-list-items::-webkit-scrollbar-thumb {
        background-color: #66CC99;
      }
      > .tl-autocomplete-list-items::-webkit-scrollbar-track {
        background: #F6F6F6;
        border-left: 1px solid #CACACA;
      }
    }

    > .field {
      display: table-cell;
      border: 1px solid #CACACA;
      height: 25px;
      padding: 4px 24px 4px 12px;
      font-size: 0.9em;
      width: 100%;
      color: #737373;
      font-family: 'Lato', sans-serif;
      -webkit-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
      -moz-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
      box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
    }
    > .field::placeholder {
      @include textInput;
    }
    > .addon {
      position: absolute;
      font-size: 11px;
      font-weight: 400;
      line-height: 21px;
      top: 1px;
      right: 1px;
      margin: 0 5px;
    }
    > .addon.-clearbutton {
      font-family: 'Lato', sans-serif;
      cursor: pointer;
      color: #99a1a4;
    }
    > .addon.-clearbutton:hover {
      color: #6c7477;
    }
  }
}
