@import "../../core/main";

$theme: (

  //STATS AND BASES\\
  active:   (text: #AAAAAA, background: #D8D8D8),
  base:     (text: #616161, background: #E8E8E8),
  checked:  (text: #616161, background: #E8E8E8),
  disable:  (text: #616161, background: #F7F7F7),
  focused:  (text: #AAAAAA, background: #AAAAAA),
  hint:     (text: #616161, background: #E8E8E8),
  hover:    (text: #DEDEDE, background: #DEDEDE),
  icons:    (text: #616161, background: #E8E8E8),
  odd:      (text: #7A838B, background: #FFFFFF),
  even:     (text: #7A838B, background: #E8E8E8),
  selected: (text: #FFFFFF, background: #66CC99),

  //BRAND COLORS\\
  accent:  #F77171,
  info:    #3E80ED,
  success: #66CC99,
  warning: #FCB27E,
  error:   #F77171,

  //STATUS COLORS\\
  online:  #81E2B2,
  offline: #D8D8D8,
  busy:    #F77171,
  away:    #FCB27E,

  //OTHERS\\
  divider: #F1F1F1,
  borders: #C8C8C8,
  bars:    #F2F2F2,
  box:       (text: #616161, background: #FFFFFF, icons: #FFFFFF, hover: #4FBC85, inactive: #d9d9d9),
  scrollbar: (background: #F1F1F1, corner: #F1F1F1, track: #E8E8E8, thumb: #66CC99, arrow: #797979),
);

.tl-default-theme{
  @include theme-builder($theme)
}
