<div class="drag-wrapper">
  <div *ngIf="type === 'dragndrop'" class="dragndrop"
       [style.height]="hasRisize() ? 'calc('+height+' - '+imageList.length * 90 +'px)': height" (click)="open($event)"
       (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <ng-container *ngIf="imageList.length === 0 || showAsList; else imagesContainerTemplate">
      <span><tl-icon class="icon" [lib]="'fa'" [style]="'fas'">inbox</tl-icon></span>
      <p style="white-space: pre-line">{{ boxDescription }}</p>
      <input #inputMultiple type="file" style="display: none;" (change)="onChange($event)" multiple [accept]="acceptFiles">
    </ng-container>

    <ng-template #imagesContainerTemplate>
      <div class="images-container">
        <ng-container *ngFor="let item of imageList">
          <ng-container *ngTemplateOutlet="uploadboxTemplate; context: { $implicit: item }"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="uploadboxTemplate"></ng-container>
      </div>
    </ng-template>
  </div>
  <div class="image-list" *ngIf="showAsList">
    <ng-container *ngFor="let item of imageList">
      <div class="image-item">
        <ng-container *ngTemplateOutlet="uploadboxTemplate; context: { $implicit: item }"></ng-container>
        <tl-textarea class="image-description" [(ngModel)]="item.description" (ngModelChange)="onChangeDescription()" [placeholder]="placeholder"></tl-textarea>
      </div>
    </ng-container>
  </div>
</div>


<div *ngIf="type === 'box'" (click)="open($event)">
  <ng-container *ngTemplateOutlet="uploadboxTemplate"></ng-container>
</div>

<ng-template #uploadboxTemplate let-item>
  <input #inputSingle type="file" style="display: none;" (change)="onChange($event)" [accept]="acceptFiles">
  <tl-thumbnail
    [shape]="'square'"
    [bordered]="!item"
    [image]="item?.file || imageSrc"
    [mimeType]="item?.type || imageSrcMimeType"
    [emptyTemplate]="emptyTemplate"
    [overlayTemplate]="controlsTemplate">
    <ng-template #emptyTemplate>
      <tl-icon [lib]="'dx'">add</tl-icon>
      <div class="upload-title">{{ upload }}</div>
    </ng-template>
    <ng-template #controlsTemplate>
      <tl-icon *ngIf="viewControl"   style="margin-right: 5px; cursor: pointer" (click)="viewImage($event, item || imageSrc)" [lib]="'dx'">find</tl-icon>
      <tl-icon *ngIf="deleteControl" style="cursor: pointer" (click)="remove(item, imageSrc, $event)" [lib]="'dx'">trash</tl-icon>
    </ng-template>
  </tl-thumbnail>
</ng-template>
