<div class="drag-wrapper">
  <div *ngIf="type === 'dragndrop'" class="dragndrop" [style.height]="height" (click)="open($event)" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <ng-container *ngIf="imageList.length === 0 || showAsList; else imagesContainerTemplate">
      <span><tl-icon class="icon" [lib]="'fa'" [style]="'fas'">inbox</tl-icon></span>
      <span>Click or drag file to this area to upload</span>
      <span>Support for a single or bulk upload.</span>
      <input #inputMultiple type="file" style="display: none;" (change)="onChange($event)" multiple>
    </ng-container>

    <ng-template #imagesContainerTemplate>
      <div class="images-container">
        <ng-container *ngFor="let item of imageList">
          <ng-container *ngTemplateOutlet="uploadboxTemplate; context: { $implicit: item }"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="uploadboxTemplate"></ng-container>
      </div>
    </ng-template>
  </div>
  <div class="image-list" *ngIf="showAsList">
    <ng-container *ngFor="let item of imageList">
      <div class="image-item">
        <ng-container *ngTemplateOutlet="uploadboxTemplate; context: { $implicit: item }"></ng-container>
        <tl-textarea class="image-description" [(ngModel)]="item.description" (ngModelChange)="onChangeDescription()" [placeholder]="'Image Description'"></tl-textarea>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="type === 'box'">
  <ng-container *ngTemplateOutlet="uploadboxTemplate"></ng-container>
</ng-container>

<ng-template #uploadboxTemplate let-item>
  <tl-thumbnail
    [shape]="'square'"
    [bordered]="!item"
    [image]="item.image || imageSrc"
    [emptyTemplate]="emptyTemplate"
    [overlayTemplate]="controlsTemplate">
    <ng-template #emptyTemplate>
      <tl-icon [lib]="'dx'">add</tl-icon>
      <div class="upload-title">Upload</div>
    </ng-template>
    <ng-template #controlsTemplate>
      <tl-icon *ngIf="viewControl" style="margin-right: 5px" (click)="viewImage($event, item || imageSrc)" [lib]="'dx'">find</tl-icon>
      <tl-icon *ngIf="deleteControl" class="icon" (click)="remove(item, imageSrc, $event)" [lib]="'dx'">trash</tl-icon>
    </ng-template>
  </tl-thumbnail>
</ng-template>
