<div class="router-outlet">
  <app-showcase-header name="Dialog" module="DialogModule">
    Dialog is an overlay component service that can be used as message, confirmation, alert and
    to show an error exception.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-3">
              <h6>Show Dialog Info</h6>
              <tl-button [text]="'Show Dialog Info'"
                         [color]="'information'"
                         [iconAddonBefore]="'fas fa-info-circle'"
                         (click)="info()"></tl-button>
            </div>
            <div class="col-md-3">
              <h6>Show Dialog Confirmation</h6>
              <tl-button [text]="'Show Dialog Confirmation'"
                         [color]="'success'"
                         [iconAddonBefore]="'fas fa-check'"
                         (click)="confirmation()"></tl-button>
            </div>
            <div class="col-md-3">
              <h6>Show Dialog Alert</h6>
              <tl-button [text]="'Show Dialog Alert'"
                         [color]="'warning'"
                         [iconAddonBefore]="'fas fa-exclamation-circle'"
                         (click)="alert()"></tl-button>
            </div>
            <div class="col-md-3">
              <h6>Show Dialog Error</h6>
              <tl-button [text]="'Show Dialog Error'"
                         [color]="'danger'"
                         [iconAddonBefore]="'fas fa-times-circle'"
                         (click)="error()"></tl-button>
            </div>
          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Making it Work'" [icon]="'ion ion-ios-hammer'">
          <app-card>
            <div class="col-12">
              <h4>Step One</h4>
              <h6>Inject the <code>DialogService</code> in your <code>constructor</code>.</h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  constructor( public dialogService: DialogService ) {}
        </textarea>
              <hr>
              <h4>Final Step</h4>
              <h6>Create an function to call the dialog type method of the DialogService. For example:</h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">

  showDialogConfirmation() {
    this.dialogService.confirmation( 'Are you sure ?', ({
      isYes: (yes) => console.log('yes', yes),
      isNo: (no) => console.log('no', no)
    }));
  }
        </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-12">
              <h6>The others methods types are the same template </h6>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  showDialogInfo() {
    this.dialogService.info( 'This is an Info Dialog' ).then( value => {
      console.log( 'Return', value );
  } );
        </textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <app-showcase-card [title]="'Dialog Results'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <div class="col-12">
          <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
  export enum ModalResult {
      MRFREE = -1,
      MRCUSTOM = 0,
      MROK = 1,
      MRCANCEL = 2,
      MRABORT = 3,
      MRRETRY = 4,
      MRIGNORE = 5,
      MRYES = 6,
      MRNO = 7,
      MRCLOSE = 8,
  }
</textarea>
        </div>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Methods'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-events [data]="dialogEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dialogProp"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <div class="col-12">
          <h4><code>All <b>Modal (tl-modal) Events</b> can be used on this component.</code></h4>
        </div>
      </app-card>
    </app-showcase-card>
  </div>
</div>
