.minimize-box {
  background: #7f7f7f;
  height: 40px;
  position: fixed;
  top: 95%;
}

.minimize-box span {
  text-align: center;
  color: #fff;
  line-height: 40px;
  padding: 10px;
  border-right:  1px solid #BABABA;
}


