<div class="tl-autocomplete-box" #autoComplete>
    <div class="tl-autocomplete-wrapper" #autocompleteList>
        <tl-input #input
                [label]="label"
                (keydown)="onKeyDown($event)"
                (focusout)="onInputFocusOut($event)"
                (focus)="onFocusInput()"
                [name]="name"
                [labelSize]="labelSize"
                [iconBefore]="iconBefore"
                [iconAfter]="iconAfter"
                [textAfter]="textAfter"
                [textBefore]="textBefore"
                [textAlign]="textAlign"
                [labelPlacement]="labelPlacement"
                [validations]="validations"
                [readonly]="readonly ? true : null"
                [disabled]="disabled ? true : null"
                [autocomplete]="autocomplete"
                [placeholder]="placeholder"
                [clearButton]="clearButton">
        </tl-input>
        <div class="autocomplete-listbox"
             [style.width]="getAutoCompleteWidth() + 'px'"
             [style.left]="listPosition + 'px'">
            <tl-listbox
                    [data]="data"
                    [id]="id"
                    [label]="labelName"
                    [labelDetail]="labelDetail"
                    [lazyMode]="lazyMode"
                    [itemsToShow]="5"
                    [dynamicShowHide]="true"
                    (onClickAddNew)="addNew()"
                    (lazyLoad)="onLazyLoadAutocomplete($event)"
                    (onClickItem)="onClickItemList($event)"
                    [searchElement]="input"
                    [listStripped]="listStripped"
                    [showArrows]="false"
                    [fixedHeight]="false"
                    [addNew]="true"
                    [rowHeight]="rowHeight">
            </tl-listbox>
        </div>
    </div>
    <ng-content></ng-content>
</div>
