<div class="router-outlet">
  <app-showcase-header name="AutoComplete" module="AutoCompleteModule">
    The AutoComplete widgets provides suggestions while you type into the field. It can be filtered by a custom Key and
    supports many
    features and events output.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <h6>Normal Usage</h6>
              <form [formGroup]="formGroup">
                <tl-autocomplete [data]="dataBasic"
                                 [rowHeight]="40"
                                 [rowsPage]="50"
                                 [totalLength]="100"
                                 [keyText]="'firstName'"
                                 [keyValue]="'id'"
                                 [searchBy]="'firstName'"
                                 formControlName="client">
                </tl-autocomplete>
              </form>
              <app-showcase-returned-value [value]="formGroup.get('client').value"></app-showcase-returned-value>
              <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
  <tl-autocomplete [data]="dataBasic"
                   [rowHeight]="40"
                   [rowsPage]="50"
                   [totalLength]="length"
                   [keyText]="'firstName'"
                   [keyValue]="'id'"
                   [searchBy]="'firstName'"
                   formControlName="client">
  </tl-autocomplete>
</textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h6>Lazy Load</h6>
              <form [formGroup]="formGroup">
                <tl-autocomplete [data]="lazy"
                                 [rowHeight]="40"
                                 [rowsPage]="50"
                                 [totalLength]="length"
                                 [keyText]="'firstName'"
                                 [keyValue]="'id'"
                                 [searchBy]="'firstName'"
                                 formControlName="clientLazy"
                                 [lazyMode]="true"
                                 (filter)="onFilter($event)"
                                 (lazyLoad)="onLazyLoad($event)">
                </tl-autocomplete>
              </form>
              <app-showcase-returned-value [value]="formGroup.get('clientLazy').value"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{}" [lang]="'html'">
  <tl-autocomplete [data]="lazy"
                   [rowHeight]="40"
                   [rowsPage]="50"
                   [totalLength]="length"
                   [keyText]="'firstName'"
                   [keyValue]="'id'"
                   [searchBy]="'firstName'"
                   formControlName="client"
                   [lazyMode]="true"
                   (filter)="onFilter($event)"
                   (lazyLoad)="onLazyLoad($event)">
  </tl-autocomplete>
</textarea>
              <p><code>Atention:</code> The example above needs to be interpolated <code>{{example}}</code> for example.
                Not
                allowed to used here on highlight code.</p>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
    <div class="setup">
      <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
        <app-card>
          <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
        </app-card>
      </app-showcase-card>
      <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
        <app-card>
          <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
        </app-card>
      </app-showcase-card>
    </div>
  </div>
</div>
