<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">AutoComplete <span class="module-name"><code><u>Module Name</u>: <strong>AutoCompleteModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>AutoCompleteModule</strong></code></p>
    <p class="text-content">The AutoComplete widgets provides suggestions while you type into the field. It can be filtered by a custom Key and supports many
      features and events output.
    </p>
  </div>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <h5>Normal Usage</h5>
              <tl-autocomplete [data]="dataBasic"
                               [modelValue]="'firstName'"
                               [labelSize]="'10px'"
                               [openFocus]="true"
                               [name]="'clients'"
                               [id]="'id'"
                               [label]="'Clients'"
                               [clearButton]="true"
                               [searchQuery]="['firstName']"
                               [rowHeight]="35"
                               [placeholder]="'Search...'"
                               [labelName]="'firstName'"
                               [(ngModel)]="result">
              </tl-autocomplete>
              <app-showcase-returned-value [value]="result"></app-showcase-returned-value>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-autocomplete
  [data]="data"
  [id]="'id'"
  [labelSize]="'10px'"
  [openFocus]="true"
  [name]="'clients'"
  [label]="'Clients'"
  [clearButton]="true"
  [rowHeight]="35"
  [placeholder]="'Search...'"
  [labelName]="'firstName'"
  [(ngModel)]="result">
</tl-autocomplete>
      </textarea>
            </div>
          </app-card>
          <app-card>
            <div class="col-md-12">
              <h5>With Template</h5>
              <tl-autocomplete [data]="dataLazy"
                               [openFocus]="true"
                               [lazyMode]="true"
                               [clearButton]="true"
                               [modelValue]="'name'"
                               [labelSize]="'10px'"
                               [name]="'clients'"
                               [label]="'Clients'"
                               [searchQuery]="['name']"
                               [labelName]="'name'"
                               (lazyLoad)="onLazyLoad($event)"
                               [placeholder]="'Search...'"
                               [rowHeight]="35"
                               [(ngModel)]="result2">
                <ng-template let-item="item" let-index="index">
                  <li class="list-template-demo">
                    <img class="img-circle" src="{{item.country_flag_url}}"
                         height="20"
                         width="20"><span>{{item.name}}</span>
                  </li>
                </ng-template>
              </tl-autocomplete>
              <span class="returned-value">Returned Value: {{result2 | json}}</span>
              <div class="spacer"></div>
              <textarea highlight-js [options]="{}" [lang]="'html'">
<tl-autocomplete
  [data]="dataLazy"
  [openFocus]="true"
  [lazyMode]="true"
  [clearButton]="true"
  [id]="'id'"
  [labelSize]="'10px'"
  [name]="'clients'"
  [label]="'Clients'"
  (lazyLoad)="onLazyLoad($event)"
  [placeholder]="'Search...'"
  [labelName]="'firstName'"
  [rowHeight]="35"
  [(ngModel)]="result2">
<ng-template let-item="item" let-index="index">
  <li class="list-template-demo">
    <img class="img-circle" src="../assets/img/avatar.png"
         width="20">item.firstName - <span>item.lastName</span>
    <span class="list-bagde badge">item.id</span>
  </li>
</ng-template>
</tl-autocomplete>
    </textarea>
              <p><code>Atention:</code> The example above needs to be interpolated <code>{{example}}</code> for example. Not
                allowed to used here on highlight code.</p>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  <div class="setup">
    <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
      <app-card>
        <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
      </app-card>
    </app-showcase-card>
    <app-showcase-card [title]="'Events'" [icon]="'ion ion-ios-radio'">
      <app-card>
        <app-showcase-table-events [data]="dataEvents"></app-showcase-table-events>
      </app-card>
    </app-showcase-card>
  </div>
</div>
</div>
