.list-template-demo {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;

  &:focus {
    background-color: #7598a6;
    outline: none;
    color: #fff;
  }
  &:hover {
    background-color: #f0f0f0;
  }
}


.selected {
  background-color: #7598a6;
  outline: none;
  color: #fff;
}

.list-template-demo img {
  margin: 10px
}

.list-bagde {
  float: right;
  margin: 7px
}


