@import "../core/styles/theming/theming";

@mixin tl-splitbutton-theme($theme) {

  $basic: map-deep-get($theme, 'basic');

  .tl-split-button-box{
    > .split-button-actions{
      background-color: map-deep-get($basic, "default", "background");
      border-top: 1px solid  map-deep-get($basic, "default", "border");
      border-right: 1px solid  map-deep-get($basic, "default", "border");
      border-bottom: 1px solid  map-deep-get($basic, "default", "border");
      color: map-deep-get($basic, "default", "foreground");
      >.actions-menu{
        background-color: map-deep-get($basic, "default", "background");
        border: 1px solid  map-deep-get($basic, "default", "border");
      }
    }
    > .split-button-actions:hover, .split-button-actions.active{
      background-color: map-deep-get($basic, "hover", "background");
    }
    > .split-button-actions:active{
      background-color: map-deep-get($basic, "active", "background");;
    }
    > .split-button-actions i{
      color: map-deep-get($basic, "default", "foreground");
    }
  }

  tl-split-button-action li{
    color: map-deep-get($basic, "default", "foreground");

    &:hover{
      background-color: map-deep-get($basic, "hover", "background");
    }
    &.separator{
      border-bottom: 1px solid  map-deep-get($basic, "default", "border");
    }
    &.icon-action{
      color: map-deep-get($basic, "default", "foreground");
    }
  }
}
