<div class="tl-split-button-box">

    <tl-button [text]="text"
               [width]="width"
               [height]="height"
               [disabled]="disabled"
               [iconAddonBefore]="iconAddonBefore"
               [iconAddonAfter]="iconAddonAfter"
               [iconBeforeText]="iconBeforeText"
               [iconAfterText]="iconAfterText"
               [toggle]="false">
    </tl-button>

    <div [ngClass]="{'active': showHide === true }"
         [class]="' split-button-actions ' "
         (click)="changeShowStatus($event.stopPropagation())"
         [ngStyle]="{'height': height, 'line-height': height}">

        <i class="ion-chevron-up" *ngIf="showHide"></i>
        <i class="ion-chevron-down" *ngIf="!showHide"></i>

        <ul #lista
            *ngIf="showHide"
            [class]="' actions-menu ' "
            [ngStyle]="{'top': height}"
            [@enterAnimation]></ul>

    </div>

</div>
