<div class="router-outlet">
  <div class="header-title-demo">
    <h1 class="title">SplitButton <span class="module-name"><code><u>Module Name</u>: <strong>SplitButtonModule</strong></code></span></h1>
    <p class="module-name-top"><code><u>Module Name</u>: <strong>SplitButtonModule</strong></code></p>
    <p class="text-content">SplitButton is a button with a list of actions. See below</p>
  </div>
    <div class="row">
        <div class="col-md-12">
          <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">
            <app-card>
              <div class="col-md-6">
                <h5>Basic</h5>
                <tl-split-button [text]="'Button'">
                  <tl-split-button-action [label]="'Action 1'"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 3'"></tl-split-button-action>
                </tl-split-button>
                <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-split-button [text]="'Button'">
  <tl-split-button-action [label]="'Action 1'"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 3'"></tl-split-button-action>
</tl-split-button>
</textarea>
              </div>
              <div class="col-md-6">
                <h5>With Action Icons</h5>
                <tl-split-button [text]="'Button'">
                  <tl-split-button-action [label]="'Action 1'" [icon]="'fa fa-refresh'"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 3'" [icon]="'ion-arrow-graph-down-right'"></tl-split-button-action>
                </tl-split-button>
                <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-split-button [text]="'Button'">
  <tl-split-button-action [label]="'Action 1'" [icon]="'fa fa-refresh'"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 3'" [icon]="'ion-arrow-graph-down-right'"></tl-split-button-action>
</tl-split-button>
</textarea>
              </div>
            </app-card>
            <app-card>
              <div class="col-md-6">
                <h5>With Action Separator</h5>
                <tl-split-button [text]="'Button'">
                  <tl-split-button-action [label]="'Action 1'" [separator]="true"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 3'" [separator]="true"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 4'"></tl-split-button-action>
                </tl-split-button>
                <div class="spacer"></div>
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-split-button [text]="'Button'">
  <tl-split-button-action [label]="'Action 1'" [separator]="true"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 2'"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 3'" [separator]="true"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 4'"></tl-split-button-action>
</tl-split-button>
</textarea>
              </div>
              <div class="col-md-6">
                <h5>With Click Event</h5>
                <tl-split-button [text]="'Button'" (click)="callBackDemo($event)">
                  <tl-split-button-action [label]="'Action 1'" (click)="callBackDemo($event)"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 2'" (click)="callBackDemo($event)"></tl-split-button-action>
                  <tl-split-button-action [label]="'Action 3'" (click)="callBackDemo($event)"></tl-split-button-action>
                </tl-split-button>
                <div class="spacer"></div>
                <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'html'">
<tl-split-button [text]="'Button'" (click)="callBackDemo($event)">
  <tl-split-button-action [label]="'Action 1'" (click)="callBackDemo($event)"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 2'" (click)="callBackDemo($event)"></tl-split-button-action>
  <tl-split-button-action [label]="'Action 3'" (click)="callBackDemo($event)"></tl-split-button-action>
</tl-split-button>
</textarea>
              </div>
            </app-card>

          </app-showcase-card>
        </div>
      </div>
  <app-showcase-card [title]="'Properties'" [icon]="'fas fa-clipboard-list'">
    <app-card>
      <h5>tl-split-button</h5>
      <app-showcase-table-properties [data]="dataTableProperties"></app-showcase-table-properties>
    </app-card>
    <app-card>
      <h5>tl-split-button-action</h5>
      <app-showcase-table-properties [data]="dataTableProperties2"></app-showcase-table-properties>
    </app-card>
  </app-showcase-card>
  <app-showcase-card [title]="'Events'" [icon]="'fas fa-broadcast-tower'">
    <app-card>
      <h4><code>All <b>Angular Supported Events</b> can be used on this component.</code></h4>
    </app-card>
  </app-showcase-card>
</div>
