<div [class]="'tl-textarea ' + color">

  <tl-label *ngIf="label"
            [style.vertical-align]="'top'"
            [labelTitle]="label"
            [labelPlacement]="labelPlacement"
            [labelSize]="labelSize"></tl-label>

  <div class="ui-wrapper-textarea" [style.height]="height">
    <textarea #textarea
              class="field"
              [ngClass]="{
                 'invalid': controlName?.control.errors || model?.control.errors,
                 'withValidators': hasValidator,
                 'withoutValidators': !hasValidator,
                 'withBorder': withBorder,
                 'withoutBorder': !withBorder
               }"
              [style.resize]="resize ? 'auto' : 'none'"
              [style.height]="height"
              [style.text-align]="textAlign"
              [tabindex]="tabindex"
              [disabled]="disabled || isDisabled"
              [attr.name]="name"
              [placeholder]="placeholder"
              [attr.readonly]="readonly ? true : null"
              [attr.maxlength]="maxlength"
              [(ngModel)]="value"
              (click)="onTextareaClick($event)"
              (blur)="onTextareaBlur($event)"
              (focus)="onTextareaFocus($event)"></textarea>
    <tl-icon *ngIf="clearButton && value"
             [style.lineHeight]="height"
             (click)="clearTextarea($event)"
             [lib]="'ion'"
             [style]="'ios'"
             class="clearButton">close</tl-icon>
    <div class="count-characters" *ngIf="showCount">
      {{ ( maxlength > 0 ) ? textarea.value.length + '/' + maxlength : textarea.value.length | number }}
    </div>
  </div>
</div>
