
.ui-wrapper-menulist {
  box-sizing: content-box;
  transition: all 150ms ease-in-out;

  .ui-menulist {
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ui-menulist-item {
    position: relative;
    font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
    font-size: 1em;
    display: grid;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-decoration: none;
    grid-template-columns: 50px;
    user-select: none;

    > .icon {
      text-align: center;
    }

    > .label {
      padding: 0;
      font-style: normal;
      font-size: 1em;
      text-align: left;
      font-weight: normal;
      height: 50px;
      line-height: 50px;
    }

    &:hover > ::ng-deep tl-simple-sub-menu {
      visibility: visible;
    }

  }
}


.ui-hidden-icon {
  visibility: hidden;
}

.ui-wrapper-menulist li:hover > ul {
  visibility: visible;
  display: grid;
  position: relative;
}

.ui-wrapper-menulist li:hover li {
  float: none;
  font-size: 12px;
}
