<div class="router-outlet">
  <app-showcase-header name="ContextMenu" module="ContextMenuModule">
    The ContextMenu is used to show some content as 'Menu Modal' relative with target clicked and as context menu.
  </app-showcase-header>
  <div class="showcase">
    <div class="row">
      <div class="col-md-12">
        <app-showcase-card [title]="'Showcase'" [icon]="'fas fa-desktop'">

          <app-card>
            <div class="col-md-12">
              <ul class="list">
                <li #element (contextmenu)="open($event, element, item)" class="list-item" *ngFor="let item of items">{{ item }}</li>
              </ul>
            </div>

          </app-card>
        </app-showcase-card>
        <app-showcase-card [title]="'Menu Configuration'" [icon]="'fas fa-desktop'">
          <app-card>
            <div class="col-md-12">
              <textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
constructor( private contextMenuService: ContextMenuService) {}
              </textarea>
            </div>
            <div class="spacer"></div>
            <div class="col-md-12">
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">
export interface ContextMenuInterface {
  label: string;
  icon?: string;
  callback?: Function;
  children?: ContextMenuInterface[];
  template?: TemplateRef<any>;
}
</textarea>
            </div>
            <div class="col-md-12">
<textarea highlight-js [options]="{'tabReplace': ''}" [lang]="'typescript'">

this.contextMenuService.create($event, element, [
  { label: 'Remove Item', callback: (event) => console.log(`remove item ${event}`) },
  { label: 'View Item', callback: (event) => console.log(`view item ${event}`) },
  { label: 'Open Item', callback: (event) => console.log(`open item ${event}`) }
], context);

</textarea>
            </div>
          </app-card>
        </app-showcase-card>
      </div>
    </div>
  </div>
</div>
