<div class="tl-input-box">
    <label *ngIf="label" class="label -label{{labelPlacement}}" [ngStyle]="{'width' : labelSize + 'px'}">{{label}}
        <b *ngIf="required" style="color: #FF6666">*</b>
    </label>
    <span *ngIf="iconBefore" class="addon -borderleft">
        <i [ngClass]="iconBefore"></i>
    </span>

    <span *ngIf="textBefore" class="addon -borderleft"
          [ngClass]="{'predefined' : textBefore}">{{textBefore}}</span>

    <input #input #model="ngModel"
           [ngClass]="{
               '-cursorblocked' : readonly || disabled,
               '-disabled': disabled,
               '-readonly': readonly,
               '-maskInvalid': validations?.validMask === false,
               '-maskValid': validations?.validMask,
               '-hasValidation': hasValidation()
           }"
           [readonly]="readonly ? true : null"
           [disabled]="disabled ? true : null"
           [autocomplete]="autocomplete"
           [placeholder]="placeholder"
           class="field"
           type="text"
           attr.tabindex="{{tabindex}}"
           attr.name="{{name}}"
           maxlength="{{validations?.maxLength}}"
           minlength="{{validations?.minLength}}"
           required="{{validations?.required}}"
           [(ngModel)]="ngValue"
           (blur)="onBlur()"
           (focus)="onFocus()"
           (keydown)="onKeyInput($event)">

    <span (click)="clearInput()" class="addon -clearbutton" *ngIf="clearButton && ngValue">X</span>
    <span *ngIf="iconAfter" class="addon -borderright"><i [ngClass]="iconAfter"></i></span>
    <span *ngIf="textAfter"
          class="addon -borderright"
          [ngClass]="{'-predefined' : textAfter}">{{textAfter}}
    </span>
</div>

