@import "../core/core";

//Colors Default
$background-addon: #DEDEDE;
$background-gray: #EEE;
$background-white: #FFFFFF;
$background-border: #CACACA;
$error-field: #FF6666;
$error-placeholder: #FFB9B9;
$error-background-color: #FFF1F1;
$success-field: #66CC99;
$success-background-color: #E3F5EC;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin textInput {
  color: #CACACA;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

@mixin actionButtons {
  font-family: 'Lato', sans-serif;
  background: #fff;
  border-right: 1px solid $background-border;
  cursor: pointer;
  color: #99a1a4;
}

.tl-input-box {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;

  // Addon Element
  > .addon {
    border-top: 1px solid $background-border;
    border-bottom: 1px solid $background-border;
    display: table-cell;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #6E6E6E;
    text-align: center;
    background-color: $background-gray;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
  > .addon.-borderleft {
    border-left: 1px solid $background-border;
    border-radius: 2px 0 0 2px;
  }
  > .addon.-borderright {
    border-right: 1px solid $background-border;
    border-radius: 0 2px 2px 0;
  }
  > .addon.-clearbutton {
    font-size: 11px;
    position: absolute;
    border: 0;
    top: 3px;
    right: 4px;
    cursor: pointer;
    background: transparent;
    color: #99a1a4;
  }
  > .addon.-clearbutton:hover{
    color: #6c7477;
  }
  > .addon.-predefined {
    font-family: 'Lato', sans-serif;
    color: #484848;
  }

  //Label
  > .label {
    line-height: 1;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    color: #737373;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
  }
  > .label.-labeltop {
    text-align: left;
    padding: 0 0 5px 0;
    display: table-caption;
  }
  > .label.-labelleft {
    text-align: right;
    padding: 5px 5px 5px 0;
    display: table-cell;
  }

  > .label.-validation {
    color: $error-field;
    font-size: 0.7em;
  }

  // Field Element
  > .field {
    display: table-cell;
    border: 1px solid $background-border;
    height: 25px;
    padding: 4px 12px;
    background: $background-white;
    font-size: 0.9em;
    width: 100%;
    float: right;
    padding-right: 20px;
    color: #737373;
    font-family: 'Lato', sans-serif;
    -webkit-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
  }
  > .field::placeholder {
    @include textInput;
  }
  > .field.-cursorblocked {
    cursor: not-allowed;
  }
  > .field.-disabled {
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    cursor: default !important;
    background-color: #E8E8E8;
    color: #707070;
  }
  > .field.-readonly {
    background-color: $background-gray;
  }
  > .field.-hasValidation.ng-touched.ng-invalid::placeholder {
    color: $error-placeholder;
  }
  > .field.-hasValidation.ng-touched.ng-invalid {
    border: 1px solid $error-field;
    background-color: $error-background-color;
    outline: none;
  }

  > .field.-hasValidation.ng-valid.ng-touched {
    border: 1px solid $success-field;
    background-color: $success-background-color;
    outline: none;
  }

}