<tl-form [lastElement]="lastElement" [showConfirmOnChange]="true">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [(ngModel)]="people.name" [label]="'Nome'"></tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [(ngModel)]="people.lastname" [label]="'Sobrenome'"></tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [(ngModel)]="people.age" [label]="'Idade'"></tl-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [(ngModel)]="people.city" [label]="'Cidade'"></tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <tl-input #lastElement [labelSize]="'80'" [(ngModel)]="people.job" [label]="'Profissão'"></tl-input>
    </div>
  </div>
</tl-form>
