<tl-form [lastElement]="lastElement" [showConfirmOnChange]="true" [messageDialogConfirmation]="'Deseja realmente fechar essa janela ?'">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [ngModel]="pessoa?.name" [label]="'Name'"></tl-input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [validations]="{required: true}" [(ngModel)]="text" [label]="'LastName'"></tl-input>
        LastName: {{text}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [ngModel]="pessoa?.city" [label]="'City'"></tl-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <tl-dropdown-list
                          [labelSize]="'80'"
                          [height]="25"
                          [labelPlacement]="'left'"
                          [placeholder]="'Select Item'"
                          [ngModel]="pessoa?.gender"
                          [data]="data"
                          [label]="'Gender'"
                          [text]="'textItem'"
                          [value]="'valueItem'">
        </tl-dropdown-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [ngModel]="pessoa?.country" [label]="'Country'"></tl-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <tl-input [labelSize]="'80'" [validations]="{required: true}" [(ngModel)]="bt" [label]="'Birthday'" [mask]="{mask: '00/00/0000', withLiteralChar: false }" ></tl-input>
        Birthday: {{bt}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <tl-input #lastElement [labelSize]="'80'" [ngModel]="pessoa?.state" [label]="'State'"></tl-input>
    </div>
  </div>
</tl-form>
