<div class="tl-multiselect-container">
  <div class="-labelTag" [style.width]="labelSize">{{label}}</div>
  <div class="multiselect-wrapper">
    <div
      [ngClass]="{'focused':focused, 'noFocused':!focused,'inputFormOpenFilter': isOpen && filteredItens.length !== 0}"
      class="input-wrapper-multiselect" #element (click)="setInputFocus()">
      <span class="group-tags" *ngIf="hasKeySource">
        <div class="tag" *ngFor="let tag of tags; let i = index"
             (click)="selectTagClick($event,i, tag)"
             [ngStyle]="changeColorTag(tag)">{{tag?.source[labelTag]}}
          <small *ngIf="detailOnTag && detail !== undefined" class="tags-detail">
            <{{tag?.source[detail]}}>
          </small>
          <span (click)="removeTag(i, tag)">X</span>
        </div>
      </span>
      <span class="group-tags" *ngIf="!hasKeySource">
        <div class="tag" *ngFor="let tag of tags; let i = index" (click)="selectTagClick($event, i, tag)"
             [ngStyle]="changeColorTag(tag)">{{tag[labelTag]}}
          <small *ngIf="detailOnTag && detail !== undefined"
                 class="tags-detail"><{{tag[detail]}}>
          </small>
          <span (click)="removeTag(i, tag)">X</span>
        </div>
      </span>
      <input [attr.autocomplete]="'off'" [ngClass]="{'input-empty': isTagsEqualsZero(), 'input': !isTagsEqualsZero()}"
             #model="ngModel"
             #input width="300"
             [(ngModel)]="value"
             (blur)="closeList($event, element)"
             (focus)="handleInputFocus()"
             [attr.placeholder]="placeholder"
             (keyup)="searchItem($event.target.value, $event)"
             (keydown)="handleKeyDown($event)"
             type="text">
    </div>
    <div *ngIf="hasKeySource" [style.display]="isOpen ? 'block' : 'none'">
      <ul #ul class="select-options"
          [style.position]="'fixed'"
          [style.left]="listPosition + 'px'"
          [style.top]="listTopPosition + 25 + 'px'"
          [ngStyle]="calcHeightWidthItem()">
        <li
          [ngStyle]=" {'padding': itemHeight }"
          [ngClass]="{selectedItem:item?.selected}"
          (blur)="closeList($event)"
          tabindex="-1"
          *ngFor="let item of filteredItens; let i = index"
          class="itens" (click)="addTag(item)">

          <i *ngIf="defaultIconTag" style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{defaultIconTag}}"></i>
          <i *ngIf="showIcon && !defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{item?.effect[icon]}}"></i>

          {{item?.source[query]}}
          <small [ngClass]="{selectedItem:item?.selected}">{{item?.source[detail]}}</small>
        </li>
      </ul>
    </div>
    <div *ngIf="!hasKeySource" [style.display]=" isOpen ? 'block' : 'none' ">
      <ul #ul class="select-options"
          [style.position]="'fixed'"
          [style.left]="listPosition + 'px'"
          [style.top]="listTopPosition + 25 + 'px'"
          [ngStyle]="calcHeightWidthItem()">
        <li [ngStyle]="{'padding': itemHeight}"
            [ngClass]="{selectedItem:item?.selected}"
            (blur)="closeList($event)" tabindex="-1"
            (keydown)="handleKeyDown($event, item)"
            *ngFor="let item of filteredItens; let i = index"
            class="itens" (click)="addTag(item)">

          <i *ngIf="defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{defaultIconTag}}">
          </i>
          <i *ngIf="showIcon && !defaultIconTag"
             style="padding: 0 10px"
             [ngClass]="{selectedItem:item?.selected}"
             class="{{item?.effect[icon]}}">
          </i>

          {{item[query]}}
          <small [ngClass]="{selectedItem:item?.selected}">{{item[detail]}}</small>
        </li>
      </ul>
    </div>
  </div>
</div>
