$background-color: #FFFFFF;
$background-border: #CACACA;

@mixin defaultInput() {
    border: 0 !important;
    outline: none;
    height: 21px;
    background: $background-color;
    padding: 5px 5px;
    font-size: 0.9em;
    padding-right: 0;
    color: #737373;
    font-family: 'Lato', sans-serif;
}

.wrapper-container {
    width: 100%;
    display: table;
}

.multiselect-wrapper {
    display: table-cell;
    width: 100%;
}

.-labelTag {
    text-align: right;
    line-height: 1;
    width: 100px;
    padding-right: 5px;
    white-space: nowrap;
    vertical-align: middle;
    color: #737373;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

small {
    opacity: 0.7;
}

.input-wrapper-multiselect {
    padding-left: 5px;
    border: 1px solid $background-border;
    background: $background-color;
    min-height: 25px;
    -webkit-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
    box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.10);
}

.input-wrapper-multiselect input::placeholder {
    font-size: 0.9em;
    color: #d2d4d4;
}

.input {
    @include defaultInput;
    width: 20%;
}

.input-empty {
    @include defaultInput;
    padding-left: 0;
    width: 100%;
}

.input:focus {
  background: #fffbe9;
  outline: none;
}

.input-empty:focus {
  background: #fffbe9;
  outline: none;
}

.inputFormOpenFilter {
    border-top: 1px solid #e3e5e6 !important;
    border-left: 1px solid #e3e5e6 !important;
    border-right: 1px solid #e3e5e6 !important;
    border-bottom: 0 !important;
}

.select-options {
    display: block;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 1000;
    margin: 0 auto;
    padding: 0 !important;
    border: 1px solid #ece8f0;
    border-top: 0;
    cursor: pointer;
}

.select-options::-webkit-scrollbar {
    width: 0.3em;
}

.select-options::-webkit-scrollbar-thumb {
    background-color: #66CC99;
    outline: 1px solid #66CC99;
}

.tags span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 15px;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    margin-left: 3px;
    padding-left: 5px;
    font-family: Verdana;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tags span:first-child {
  margin-left: 0;
}

.tags-detail {
    padding: 5px;
    font-size: 10px;
    opacity: 1 !important;
}

.tags span b {
    padding: 5px;
    margin-left: 7px;
    border-left: 1px solid #fff;
}

.select-options .itens {
    display: list-item;
    list-style: none;
    color: #7a838b;
    background: #fff;
    border-top: 1px solid #ece8f0;
    border-left: 1px solid #ece8f0;
    border-right: 1px solid #ece8f0;
    font-size: 12px;
    font-family: "Segoe UI";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-options small {
    float: right;
    color: #99a1a4;
}

.select-options .itens:last-child {
    border-bottom: 1px solid #ece8f0;
}

.select-options .itens:focus {
    background: #f2f2f2;
    outline: none;
}

.select-options .itens:hover {
    background: #f2f2f2;
}

.dropdown-arrow {
    left: 95%;
    font-size: 1.2em;
    position: absolute;
}
