

@mixin defaultInput() {
  border: 0 !important;
  outline: none;
  height: 21px;
  padding: 5px 5px;
  font-size: 0.9em;
  padding-right: 0;
  font-family: 'Lato', sans-serif;
}

.tl-multiselect-container {
  width: 100%;
  display: table;

  >.-labelTag {
    text-align: right;
    line-height: 1;
    width: 100px;
    padding-right: 5px;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
  }

  >.multiselect-wrapper{
    display: table-cell;
    width: 100%;

    & small {
      opacity: 0.7;
    }

    & .input-wrapper-multiselect {
      padding-left: 5px;
      min-height: 25px;
    }

    & .input-wrapper-multiselect input::placeholder {
      font-size: 0.9em;
    }

    & .input {
      @include defaultInput;
      width: 20%;
    }

    & .input-empty {
      @include defaultInput;
      padding-left: 0;
      width: 100%;
    }

    & .inputFormOpenFilter {
      border-bottom: 0 !important;
    }

    & .select-options {
      display: block;
      position: absolute;
      width: 100%;
      overflow: auto;
      z-index: 1000;
      margin: 0 auto;
      padding: 0 !important;
      border-top: 0;
      cursor: pointer;
    }

    & .select-options::-webkit-scrollbar {
      width: 0.3em;
    }

    & .tags span {
      position: relative;
      display: inline-block;
      cursor: pointer;
      height: 15px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      font-size: 10px;
      margin-left: 3px;
      padding-left: 5px;
      font-family: Verdana;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & .tags span:first-child {
      margin-left: 0;
    }

    & .tags-detail {
      padding: 5px;
      font-size: 10px;
      opacity: 1 !important;
    }

    & .tags span b {
      padding: 5px;
      margin-left: 7px;
    }

    & .select-options .itens {
      display: list-item;
      list-style: none;
      font-size: 12px;
      font-family: "Segoe UI", Lato, 'sans-serif', "Arial";
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & .select-options small {
      float: right;
    }

    & .dropdown-arrow {
      left: 95%;
      font-size: 1.2em;
      position: absolute;
    }
  }



}

