.container-wrapper {
  position: relative;
  > .arrow-right {
    position: absolute;
    line-height: 28px;
    border-left: 0;
    top: 0;
    right: 0;
    padding: 5px;
  }
  >.arrow-right:hover {
    cursor: pointer;
  }
  > .arrow-left {
    position: absolute;
    line-height: 28px;
    border-right: 0;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 100;
  }
  >.arrow-left:hover {
    cursor: pointer;
  }
}

.container-modals {
  width: 100%;
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  min-height: 40px;
  > .wrapper-container-modals {
    display: inline-flex;
    > .container-modal-box {
      cursor: pointer;
      margin: 5px;
      height: 28px;
      line-height: 28px;
      margin-right: 0;
      > .ui-container-item {
        padding: 10px;
        font-family: "Segoe UI";
        font-size: 13px;
      }
      > .ui-container-item:first-child {
        padding: 0 0 0 10px;
      }
    }
    >.container-modal-box:last-child {
      margin-right: 5px;
    }
  }
}

.container-modals::-webkit-scrollbar{
  height: 0;
}
